<div id="vcard_score">

<% collection = current_user.scorecards %>
<% unless collection.empty? %>	

<table id="vcard_score_table">
	<tr>
		<th>&nbsp;</th>
		<th><%= t(:points) %></th>
		<th><%= t(:games_played)  %></th>
		<th><%= t(:games_won)  %></th>
		<th><%= t(:games_tied)  %></th>
		<th><%= t(:games_lost)  %></th>
		<th><%= t(:percentage)  %></th>
	</tr>

	<% first, user_id, swith = 0, 0, false
	collection.each do |scorecard|       
		max_points = (scorecard.wins + scorecard.losses + scorecard.draws) * 3
		coeficient = 0
		coeficient = 100 *(scorecard.points.to_f/max_points.to_f) if (scorecard.played > 0)      
		%>

		<% league = (swith = !swith and user_id != scorecard.user_id) %>	

		<tr>
			<td><%= truncate(scorecard.group.name.rstrip, :omission => "...", :length => 10)%></td>
			<td><%= scorecard.points %></td>
			<td><%= scorecard.played %></td>
			<td><%= scorecard.wins %></td>
			<td><%= scorecard.wins %></td>
			<td><%= scorecard.losses %></td>
			<td><%= sprintf( "%0.00f", coeficient) %><%= "%" %></td>
		</tr>

		<% user_id = scorecard.user_id %>

	<% end %>

	</table>
<% end %>
	
</div>