<div class="row">
<div class="twelve columns">

	<%= set_image_and_link(option_link('group'), 'group') %>
	<%= set_image_and_link(link_to(label_name(:create_join_group), list_groups_url), 'user_add') %>
	<%= set_image_and_link(option_link('invitation'), 'invitation') %>
	
	<% if DISPLAY_FREMIUM_SERVICES %>
		<%= set_image_and_link(link_to(label_name(:create_new_challenge), groups_url), 'classified') %>
		<%= set_image_and_link(option_link('cup'), 'cup') %>
		<%= set_image_and_link(link_to(label_name(:create_new_challenge), cups_url), 'challenge') %>
		<%= set_image_and_link(link_to(label_name(:create_join_challenge), challenges_url), 'challenge_join') %>
	<% end -%>
	
</div>
</div>