<%
	is_cup_visible = !is_mobile_browser
	is_cup_visible = false
	the_subject = "#{CONTACT_RECIPIENT_SUBJECT}#{label_name(:contact_help)}"
%>


<div class="row">
<div class="twelve columns">
	<%= set_image_and_link_h6(option_link('group'), 'group') %><br>
	<%= set_image_and_link_h6(link_to(label_name(:create_join_group), list_groups_url), 'user_add') %><br>
	<%= set_image_and_link_h6(option_link('invitation'), 'invitation') %><br>
	
	<%= set_form_create_id_label_link(Schedule.new, :id, Group.new, "#{label_name(:schedules_create)}") %>
	
	<%= render 'sidebars/sidebar_create_schedule_zurb' if DISPLAY_PROFESSIONAL_SERVICES %>
	
	<% if DISPLAY_PROFESSIONAL_SERVICES %>
	<%= set_image_and_link(link_to(label_name(:create_new_challenge), groups_url), 'classified') %>
	<%= set_image_and_link(link_to(label_name(:create_new_challenge), cups_url), 'challenge') %>
	<%= set_image_and_link(link_to(label_name(:create_join_challenge), challenges_url), 'challenge_join') %>
	<% end -%>
	
	
	<hr>
	<%= set_image_and_link_h6("#{mail_to(the_subject, label_name(:contact_help), :target => '_blank')}", 'help') %>

	<% if is_cup_visible %>
	<hr>
	<%= set_image_and_link_h6(option_link('cup'), 'cup') %>
	
	<% end %>
	
	
</div>
</div>




