<p><%= option_image_link('installation') %>&nbsp;&nbsp;
<%= link_to control_label('create'), new_installation_path(:id => @installation.venue) %>
</p>

<p>
<%= option_image_link('installation') %>&nbsp;&nbsp;
<%= link_to control_label('edit'), edit_installation_path(@installation) %>
</p>  

<p>
<%= option_image_link('schedule_blue') %>&nbsp;&nbsp;
<%= link_to label_name('timetables_create'), new_timetable_path(:id => @installation) %>
</p>
