<% 
	is_user_manager = (current_user.is_manager_of?(@installation))
%>

<div class="block">

  <%= get_secondary_navigation(@venue) %>
  
  <div class="content">
	        
  <h2 class="title"><%= h(@installation.name) %></h2>

  <div class="inner">
	
		<div class="description">
      <span class="q">
				<%=sanitize @installation.description.blank? ? control_label('description_no') : @installation.description %>
			</span>
    </div>

		<div class="columns"> 
			<div class="column left"> 
				<div class="description">
                   <%= image_tag @installation.venue.thumbnail %>
                 </div>
			</div>
		</div>
	
	<table>

	<tr>
	<td>		
		<table border="0">
			<%= tr_td_action(:name, @installation.name) %>
			<tr>
				<%= content_tag :td, label_name(:marker), :class => "label" %>
				<%= content_tag :td, marker_link(@installation.marker), :class => get_the_action %>
			</tr>
			
			<% first = true %>
			<% @installation.timetables.each do |timetable| %>
			
			<tr>
				<%= content_tag :td, label_name(:timetable), :class => "label" if first %>
				<%= content_tag :td, "&nbsp;&nbsp;", :class => "label" unless first %>
				<%= content_tag :td, "#{timetable.day_of_week}, 
								#{nice_simple_time_at(timetable.starts_at)} -  
								#{nice_simple_time_at(timetable.ends_at)}, 
								#{I18n.t(:has_hour, :count => timetable.timeframe)}", :class => get_the_action %>
				
				<%= content_tag :td, link_to(label_name(:edit), edit_timetable_path(:id => timetable)), :class => get_the_action if current_user.is_manager_of?(@installation.venue) %>
			</tr>
			
			<% first = false
				end -%>

		</table>
	</td>
	</tr>
	</table>

			 
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'installations/sidebar_show') -%>
<% content_for :sidebar, render(:partial => 'shared/sidebar_show_reservations', :locals =>{:installations => @installations}) %>
<%# content_for :sidebar, render(:partial => 'shared/sidebar_show_installation', :locals => {:installation => @installation}) if current_user.is_manager_of?(@installation) %>
<% content_for :sidebar, render(:partial => 'shared/share_object', :locals => {:installation => @installation}) if @installation -%>