<% 
	is_user_manager = (is_current_manager_of(@installation))
	is_venue_manager = is_current_manager_of(@venue)
%>


<%= render 'shared/show_description_zurb', :item => @installation %>
	
	
<div class="row">

	<div class="twelve columns"> 
		
		<table>
		<tbody>
		<tr>
		<td>
			
		<%= render_show_detail_zurb(:name, item_name_link(@installation)) %>
		<%= render_show_detail_zurb(:second_team, h(@group.second_team)) %>
		<%= render_show_detail_zurb(:manager, user_list(@group.all_the_managers)) %>

		
		</td>	
		</tr>
		</tbody>
		</table>
		
	</div>
</div>






		<%= render_show_detail_zurb(:td, label_name(:marker), :class => "label" %>
		<%= render_show_detail_zurb(:td, marker_link(@installation.marker), :class => get_the_action %>
</tr>

<% first = true %>
<% @installation.timetables.each do |timetable| %>

<tr>
<%= render_show_detail_zurb(:timetable), :class => "label" if first %>
<%= content_tag :td, "&nbsp;&nbsp;", :class => "label" unless first %>
<%= content_tag :td, "#{timetable.day_of_week}, 
#{nice_simple_time_at(timetable.starts_at)} -  
#{nice_simple_time_at(timetable.ends_at)}, 
#{I18n.t(:has_hour, :count => timetable.timeframe)}", :class => get_the_action %>
<%= render_show_detail_zurb(:edit, link_to(label_name(:edit), edit_timetable_path(:id => timetable)) if is_venue_manager %>
</tr>

<% 
first = false
end 
-%>

