
  <div class="group">
    <%= f.label :message, "Message", :class => :label %>
    <%= f.text_area :message, :class => 'text_area' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :item_type, "Item_type", :class => :label %>
    <%= f.text_field :item_type, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :item_id, "Item_id", :class => :label %>
    <%= f.text_field :item_id, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :starts_at, "Starts_at", :class => :label %>
    <%= f.datetime_select :starts_at, :class => 'datetime_select' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :ends_at, "Ends_at", :class => :label %>
    <%= f.datetime_select :ends_at, :class => 'datetime_select' %>
    <span class="description">Ex: a simple text</span>
  </div>
        
<div class="group navform">
  <input type="submit" class="button" value="Save &rarr;" /> or <%= link_to 'Cancel', classifieds_path %>
</div>