<% @group ? check = true : check = false %>

<% unless @recipient %>
<%= hidden_field :recipient, :id %>
<% end %>

<% unless @schedule %>
<%= hidden_field :schedule, :id %>
<% end %>

<% unless @match %>
<%= hidden_field :match, :id %>
<% end %>

<% unless @scorecard %>
<%= hidden_field :scorecard, :id %>
<% end %>

<% unless @challenge %>
<%= hidden_field :challenge, :id %>
<% end %>

<div class="columns"> 

  <div class="column left"> 

  <div class="group">
    <%= f.label :subject, label_name(:subject), :class => :label %>
    <%= f.text_field :subject, :class => 'textfield' unless @message.reply? %>
	<%= @message.subject if @message.reply? %><br />
    <span class="description"><%= label_name('subject', 'description') %></span>
  </div>

  <div class="group">
    <%= f.label :body, label_name(:body), :class => :label %>
    <%= f.text_area :body, :class => 'textfield' %><br />
    <span class="description"><%= label_name('body', 'description') %></span>
  </div>

  <div class="group navform">
	<%= submit_tag @message.new_record? ? control_label('send') : control_label('edit'), 
	:class => "button" %> <%= label_name(:or) %> <%= link_to label_name(:cancel), messages_path %>
  </div>
	
  </div> 
  
  <div class="column right">
		
	<% if @scorecard 
		@schedule = @scorecard
	%>
			
	<%= render :partial => "/messages/message_item_list", :locals => {:recipients => @recipients, :checked => check} %>
	<%= hidden_field :scorecard, :id %>
	
	<% elsif @match %>
	<%= render :partial => "/messages/message_item_list", :locals => {:recipients => @recipients, :checked => check} %>
	<%= hidden_field :match, :id %>
	<%= hidden_field :schedule, :id %>

	<% elsif @schedule %>
	<%= render :partial => "/messages/message_item_list", :locals => {:recipients => @recipients, :checked => check, :convocados => true} %>
	<%= hidden_field :schedule, :id %>

	<% elsif @challenge %>
	<%= render :partial => "/messages/message_item_list", :locals => {:recipients => @recipients, :checked => check} %>
	<%= hidden_field :challenge, :id %>
	
	<% elsif @recipient %>
	<%= hidden_field :recipient, :id %>
	
	<% elsif @the_schedule 
		@schedule = @the_schedule
	%>	 
	<%= render :partial => "/messages/message_item_list", :locals => {:recipients => @recipients, :checked => check} %>
	
	<% else %>
	<%= render :partial => "/messages/message_item_list", :locals => {:recipients => @recipients, :checked => check} %>
	
	<% end %>


	
  </div> 
  
</div>

<div class="clear"></div> 



