<% full_message ||= false 
	the_message = message.body	
	the_message = "#{the_message.strip[0..140]}..." if the_message.length > 140 and !full_message
%>
<tr>
	
	<%= set_content_tag_safe(:td, item_image_link_small(message.other_user(current_user))) %>
	
	
	<td>
			<%= link_to h(message.subject), message unless full_message %><br />						
				<%=sanitize the_message %>	
	</td>
	
	<td><%= message_image_link(message) unless message.trashed?(current_user) %><br/>
		<%= option_image_small_link('message') %>&nbsp;&nbsp;<%= link_to(label_name(:send_message_to), new_message_path(message.recipient)) %>
	</td>

</tr>


