<% full_message ||= false 
	the_message = message.body	
	the_message = "#{the_message.strip[0..55]}..." if the_message.length > 55 and !full_message
%>
<tr>
	<td>
		<%= image_link_small message.other_user(current_user) %>
	</td>

	<td class="name_and_date">
		<%= message_icon(message) %>
		<%- if current_user == message.sender -%>
			<span class="label"><%= label_name(:to) %>:</span>
			<%= user_link message.recipient %>
		<%- else -%>
			<span class="label"><%= label_name(:from) %>:</span>
			<%= user_link message.sender %>
		<%- end -%>
	
		<br />
		<span class="date">
			<%= nice_day_of_week(message.created_at) %>
		</span>
	</td>
	<td>
		<span class="">
			<%= link_to h(message.subject), message unless full_message %><br />
			<span class="">							
				<%#= link_to h(truncate(message.body.gsub('<br>', ' ').rstrip, 55, '...')), message unless full_message %>
				<%= link_to the_message, message unless full_message %>
				<%= the_message if full_message %>							
			</span>
		</span>
	</td>
	<td class="last">
		<%= render :partial => 'action', :locals => {:message => message} %>
	</td>
</tr>


