<% full_message ||= false 
	the_message = message.body	
	the_message = "#{the_message.strip[0..140]}..." if the_message.length > 140 and !full_message
%>
<tr>
	<td>
		<%= image_link_small message.other_user(current_user) %>
	</td>

	<td>
		<%= message_icon(message) %>
		<%- if current_user == message.sender -%>
			<span class="label"><%= label_name(:to) %>:</span>
			<%= user_link message.recipient %>
		<%- else -%>
			<span class="label"><%= label_name(:from_up) %>:</span>
			<%= user_link message.sender %>
		<%- end -%>
	
		<br />
		<span class="date">
			<%= nice_full_date(message.created_at) %>
		</span>
	</td>
	<td>
		<span class="">
			<%= link_to h(message.subject), message unless full_message %><br />
			<span class="">							
				<%#= link_to sanitize(the_message), message unless full_message %>
				<%=sanitize the_message %>							
			</span>
		</span>
	</td>
	<td>
		<%#= render :partial => 'action', :locals => {:message => message} %>
		<%= message_image_link(message) unless message.trashed?(current_user) %>
	</td>
</tr>


