<% if current_user.is_member_of?(@schedule.group) or current_user.is_member_of?(@schedule.group_visit) %>

	<% unless @schedule.convocados.empty? %>
	
		<tr><label class="label"><%= t(:roster) %>:</label></tr>
	
		<%= render :partial => '/messages/recipient_roster_list', 
				   :locals => {:recipients => @schedule.the_roster, :checked => checked } %>
		<br/>
	<% end %>

	<% unless @schedule.last_minute.empty?  %>
		
		<tr><label class="label"><%= t(:last_minute) %>:</label></tr>
		
		<%= render :partial => '/messages/recipient_roster_list', 
				   :locals => {:recipients => @schedule.the_last_minute, :checked => false } %>
		<br/>
	<% end %>

	<% unless @schedule.no_shows.empty?  %>
	
		<tr><label class="label"><%= t(:no_shows) %>:</label></tr>
		
		<%= render :partial => '/messages/recipient_roster_list', 
				   :locals => {:recipients => @schedule.the_no_show, :checked => false } %>
		<br/>
	<% end %> 

<% end %>