<%= stylesheet_link_tag 'item_list' %>

<% convocados ||= false %>

<style type="text/css">
	.table .checkbox {  margin-left: 1px; }
	.table td { padding: 4px; text-align: left; font-size: 12.5px; }
</style>

<body class="js">
	<div id="abook-group">
		<div id="abook-wrapper">
			<div class="abook-column-headers">
				<h3 class="filter-header"><%= label_name(:users) %></h3>

				<h3 style="visibility: visible;" class="list-header">
					<%= render :partial => '/shared/check_radio_button' if @recipients %>
				</h3>

			</div>
			<div id="filter-list-panel">
				<div id="list-panel" class="abook-column">
					<ul>
						<fieldset id="roster">

							<table class="table">
								<tbody>
									<% 
									first_character = ''
									counter = 0
									@recipients.each do |recipient| 

										if (first_character != recipient.name.chars.first.upcase)
											first_character = recipient.name.chars.first.upcase
											counter = 0
										else
											counter = 1
										end 
										if (counter == 0)
											%>
											<tr>
												<td class="letter-divider">	
													<span class="<%= first_character %>"><%= first_character %></span>
												</td> 
											</tr>
											<% 
										end
										%>	
											<%= render :partial => "/messages/recipient_item_single", 
													   :locals => {:recipient => recipient, :checked => false, :convocados => convocados} %>
										<%
									end
									%>		
								</tbody>
							</table>

						</fieldset>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
