<% 
	checked ? checkmark = 'checked' : checkmark = '' 
	checkmark = 'checked' if (convocados and recipient.type_id.to_i == 1)
%>

<label for="niceFieldsetInput">
	<input type="checkbox" id="roster" name="recipient_ids[]" value="<%= recipient.id %>" <%= checkmark %> >
	
	<%= item_image_link_small(recipient) %>&nbsp;&nbsp;
	<%= item_name_link(recipient) %>&nbsp;&nbsp;
	<%= "<br/>#{label_name(recipient.types_name)}" if convocados %>
</label>




