<% counter = 0 
show_label = true
%>


<% @schedule.matches.each do |match| %>
  <% if [1].include?(match.type_id) %>

    <%= render :partial => '/messages/separate_label', :locals => {:roster => 'rosters'} if show_label %>
    <% show_label = false %>
    
    <tr class="text name">
      <td></td>
      <td><input type="checkbox" id="<%= counter += 1 %>" name="user_ids[]" value="<%= match.user.id %>">
        <%= nav_show(match.user.name, 'user', match.user.id) %>
      </td>
    </tr>
  <% end %>
<% end %> 

<% show_label = true
   @schedule.matches.each do |match| %>
  <% if [4,5].include?(match.type_id) %>

    <%= render :partial => '/messages/separate_label', :locals => {:roster => 'last_minute'} if show_label %>
    <% show_label = false %>
    
    <tr class="text name">
      <td></td>
      <td><input type="checkbox" id="<%= counter += 1 %>" name="user_ids[]" value="<%= match.user.id %>">
            <%= nav_action(match.user.name, 'match', 'set_team', match.id, t(:change_group)) %>
            <%= view_spaces(30-match.user.name.length) %>  
            <%= nav_action(globalite_l(match.type.name), 'match', 'set_type', match.id) %>
      </td>
    </tr>    
  <% end %> 
<% end %>

<% show_label = true
   @schedule.matches.each do |match| %>
  <% if [2,3].include?(match.type_id) %>

    <%= render :partial => '/messages/separate_label', :locals => {:roster => 'no_shows'} if show_label %>
    <% show_label = false %>
    
    <tr class="text name">
      <td></td>
      <td><input type="checkbox" id="<%= counter += 1 %>" name="user_ids[]" value="<%= match.user.id %>">
        <%= nav_show(match.user.name, 'user', match.user.id) %>
      </td>
    </tr>
  <% end %> 
<% end %>
                
<tr>
  <td></td>
  <td><div class="divider" style="">&nbsp;</div></td>
</tr>  