<div class="block">

	<%= get_secondary_navigation %>

	<div class="content">  

		<h2 class="title">
			<% if @scorecard %>
		    <%= "#{label_name(:send_scorecard)} #{label_name(:from)} #{group_link(@group)}" if @scorecard %>
			<% elsif @match %>
		    <%= "#{label_name(:send_match)} #{schedule_link(@schedule)}" if @match %>
			<% elsif @schedule %>
			<%= "#{label_name(:send_pre_match)} #{schedule_link(@schedule)}" unless @schedule.played? %>
			<% elsif @challenge %>
			<%= "#{label_name(:message)} #{item_name_link(@challenge)}" %>			
			<% elsif @group %>
			<%= "#{label_name(:message)} - #{item_concept_link(@the_schedule)}" if @the_schedule %>	
			<%= "#{label_name(:message)} - #{item_name_link(@group)}" unless @the_schedule %>	
			<% else %>
			<%= "#{label_name(:message)} "  %>
			<% end %>
			
			<%= "#{label_name(:to)} #{user_link(@recipient)}" if @recipient %>

		</h2>

		<div class="inner">
		
	      <% form_for :message, :url => messages_path, :html => { :class => :form } do |f| -%>
	        <%= render :partial => "form", :locals => {:f => f} %>

			<%- if @message.reply? -%>
		        <%= f.hidden_field :parent_id %>
			<% end %>
		
	      <% end -%>

		</div>

	</div>

</div>

<%# content_for :sidebar, render(:partial => 'sidebar') -%>
