<div class="block">

	<%= render :partial => 'secondary_navigation' %>

	<div class="content">  

		<h2 class="title">
			<% if @scorecard %>
		    <%= label_name(:send_scorecard) if @scorecard %>
			<% elsif @match %>
		    <%= label_name(:send_match) if @match %>
			<% elsif @schedule %>
			<%= label_name(:send_pre_match) unless @schedule.played? %>
			<% else %>
			<%= "#{label_name(:message)} "  %>
			<% end %>
			<%= " #{label_name(:to)} " %>
			
			<%= user_link @recipient if @recipient %>
			<%= group_link @group if @group %>
			
			<%  if @scorecard %>
			
			<%  elsif @match %>
				<%= "( #{schedule_link @schedule} )" %>
			<% elsif @schedule %>
				<%= "( #{schedule_link @schedule} )"  %>
			<% end %>
		</h2>

		<div class="inner">
		
	      <% form_for :message, :url => messages_path, :html => { :class => :form } do |f| -%>
	        <%= render :partial => "form", :locals => {:f => f} %>

			<%- if @message.reply? -%>
		        <%= f.hidden_field :parent_id %>
			<% end %>
		
	      <% end -%>

		</div>

	</div>

</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
