<% full_announcement ||= false 
	the_announcement = sanitize(announcement.message)	
	the_announcement = "#{the_announcement.strip[0..255]}..." if the_announcement.length > 255 and !full_announcement
%>
<tr>
	<td class="first">&nbsp;</td>

	<td class="name_and_date">
		<span class="date">
			<%= nice_full_date(announcement.created_at) %>
		</span>
	</td>

	<td class="name_and_date">
		<span class="date">
			<%= nice_full_date(announcement.starts_at) %>
		</span><br/>
		<span class="date">
			<%= nice_full_date(announcement.ends_at) %>
		</span>
	</td>
	<td><%=sanitize the_announcement %></td>
	<td class="last">
		<%= link_to image_tag("icons/email_delete.png"), announcement_path(announcement), 
														:method => :delete, 
														:confirm => %(#{label_name(:announcements_delete) }?),
														:title => label_name(:announcements_delete) %>
	</td>
</tr>
