<div class="columns"> 

  <div class="column left"> 

  <div class="group">
    <%= f.label :starts_at, label_name('starts_at'), :class => :label %>
    <%= f.date_select :starts_at, :class => 'datetime_select' %><br />
    <span class="description"><%= label_name('starts_at', 'description') %></span>
  </div>

  <div class="group">
    <%= f.label :ends_at, label_name('ends_at'), :class => :label %>
    <%= f.date_select :ends_at, :class => 'datetime_select' %><br />
    <span class="description"><%= label_name('ends_at', 'description') %></span>
  </div>

  <div class="group">
    <%= f.label :message, label_name(:message), :class => :label %>
    <%= f.text_area :message, :class => 'text_area' %><br />
    <span class="description"><%= label_name('message', 'description') %></span>
  </div>

  <div class="group navform">
	<%= submit_tag @announcement.new_record? ? control_label('create') : control_label('edit'), 
	:class => "button" %> <%= label_name(:or) %> <%= link_to label_name(:cancel), announcements_path %>
  </div>
	
  </div> 
  
  <div class="column right">
	
  </div> 
  
</div>

<div class="clear"></div> 



