<%
	is_not_new_item = !is_action('new')
%>

<div class="secondary-navigation">

<ul>	
	<%= item_new(item) %>
	
	<% if is_not_new_item %>	
	<li class="<%= get_first_active %>"><%= link_to(label_name(:announcements) , announcements_path) %></li>
	<li class="<%= get_active('announcement_list') %>"><%= link_to(label_name(:announcements_previous) , list_announcements_path) %></li>
	<% end -%>
</ul>

<div class="clear"></div>

</div>