<%
	the_label = label_name(:announcements)
	content_for(:title, the_label)
%>

<div class="row">

	<div class="twelve column">   

		<%= set_title_class(get_collection_label(@announcements)) %>

		<div class="inner">

			<% if object_counter(@announcements) > 0 %>

			<table>
				<tr> 
					<%= set_content_tag_safe(:th, "&nbsp;", "first") %>
					<%= content_tag :th, label_name(:created_at), :class => "heading" %>
					<%= content_tag :th, "#{label_name(:starts_at)}<br/>#{label_name(:ends_at)}", :class => "heading" %>
					<%= content_tag :th, label_name(:message), :class => "heading" %>
					<%= set_content_tag_safe(:th, "&nbsp;", "last") %>
				</tr>

			<%= render 'announcement_zurb', :collection => @announcements %>
				
			</table>

			<% end %>
			<%= render 'shared/action_bar_zurb', :locals => { :collection => @announcement } %>

		</div>
	</div>
</div>
