
  <div class="group">
    <%= f.label :group_id, "Group_id", :class => :label %>
    <%= f.text_field :group_id, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :user_id, "User_id", :class => :label %>
    <%= f.text_field :user_id, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :wins, "Wins", :class => :label %>
    <%= f.text_field :wins, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :draws, "Draws", :class => :label %>
    <%= f.text_field :draws, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :losses, "Losses", :class => :label %>
    <%= f.text_field :losses, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :points, "Points", :class => :label %>
    <%= f.text_field :points, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :ranking, "Ranking", :class => :label %>
    <%= f.text_field :ranking, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :played, "Played", :class => :label %>
    <%= f.text_field :played, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :assigned, "Assigned", :class => :label %>
    <%= f.text_field :assigned, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :goals_for, "Goals_for", :class => :label %>
    <%= f.text_field :goals_for, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :goals_against, "Goals_against", :class => :label %>
    <%= f.text_field :goals_against, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :goals_scored, "Goals_scored", :class => :label %>
    <%= f.text_field :goals_scored, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :previous_points, "Previous_points", :class => :label %>
    <%= f.text_field :previous_points, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :previous_ranking, "Previous_ranking", :class => :label %>
    <%= f.text_field :previous_ranking, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :previous_played, "Previous_played", :class => :label %>
    <%= f.text_field :previous_played, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :payed, "Payed", :class => :label %>
    <%= f.text_field :payed, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :archive, "Archive", :class => :label %>
    <%= f.check_box :archive, :class => 'check_box' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :deleted_at, "Deleted_at", :class => :label %>
    <%= f.datetime_select :deleted_at, :class => 'datetime_select' %>
    <span class="description">Ex: a simple text</span>
  </div>
        
<div class="group navform">
  <input type="submit" class="button" value="Save &rarr;" /> or <%= link_to 'Cancel', scorecards_path %>
</div>