<%
 	mailer ||= false
	switch ||= false
	# max_points = scorecard.played.to_i * group.points_for_win.to_i
	# coeficient = 0
	# coeficient = 100 *(scorecard.points.to_f/max_points.to_f) 
	# coeficient_points = scorecard.points.to_f * (scorecard.points.to_f/max_points.to_f) 
	# coeficient_played = 100 *(scorecard.played.to_f / games_played.to_f)
	
	unless mailer
		image = scorecard_image_link("arrow_down.png") if (scorecard.ranking > scorecard.previous_ranking) 
		image = scorecard_image_link("arrow_up.png") if (scorecard.ranking < scorecard.previous_ranking)  		
		image = scorecard_image_link("arrow_right.png") if (scorecard.ranking == scorecard.previous_ranking) 
		image = scorecard_image_link("arrow_right.png") if (scorecard.previous_ranking == 0) 
	end

	ranking_change = "-#{scorecard.ranking - scorecard.previous_ranking}" if (scorecard.ranking > scorecard.previous_ranking)  
	ranking_change = "+#{scorecard.previous_ranking - scorecard.ranking}" if (scorecard.ranking < scorecard.previous_ranking)  	
	ranking_change = " " if (scorecard.ranking == scorecard.previous_ranking or scorecard.previous_ranking == 0)
	user_played = scorecard.type_id.to_i == 1 
%>

<tr>
	<td class="puntos" align="center">
		<%= scorecard.ranking %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<%= subscription_image_link(scorecard.user, user_played ? "orange_#{user_played}" : "#{user_played}", I18n.t("game_played_#{user_played}")) unless mailer %>		
	</td>
	<td class="equipos"><%= mailer ? "&nbsp;" : item_image_link_tiny(scorecard.user) %></td>
	<td class="equipos">
		<span>
		<% if mailer %>
		<%= link_to((scorecard.user.name.to_s.length > 14) ? "#{scorecard.user.name.to_s.strip[0..12]}..." : scorecard.user.name, {:host => 'haypista.com', :controller => 'users', :action => 'show', :id => scorecard.user}) %>
		<% else %>
		<%= user_link_limit(scorecard.user) %>
		<% end %>
		</span>
	</td>
	<td class="jugados"><%= mailer ? "&nbsp;" : image %>&nbsp;<%= mailer ? "&nbsp;" : ranking_change %></td>
	<td class="puntos"><%= scorecard.points.round %></td>
	<td class="ganados"><%= scorecard.wins %></td>
	<td class="empatados"><%= scorecard.draws %></td>
	<td class="perdidos"><%= scorecard.losses %></td>
	
	<%  if group.is_futbol?  %>
	<td class="jugados"><%= scorecard.goals_scored %></td>
	<!-- <td class="jugados"><%#= scorecard.assists %></td> -->
	<!-- <td class="afavor"><%#= scorecard.goals_for %></td> -->
	<!-- <td class="encontra"><%#= scorecard.goals_against %></td> -->
	<!-- <td class="encontra"><%#= scorecard.goals_for - scorecard.goals_against %></td> -->
	<% end %>
		
	<td class="jugados"><%= scorecard.played %></td>
	<!-- <td class="jugados"><%#= scorecard.assigned %></td> -->
	<td class="puntos"><%= mailer ? sprintf( "%0.0f", scorecard.coeficient_points)  : scorecard.coeficient_points.to_f.round %></td>
	<td class="jugados"><%= sprintf( "%0.00f", scorecard.coeficient_played) %><%= "%" %></td>
</tr>

