<tr>           
	<th class="first" title="<%= label_name(:ranking_full) %>"><%= label_name(:ranking) %></th>
	<th>&nbsp;</th>
	<th><span><%= label_name(:name) %></span></th>
	<th>&nbsp;</th>
	<th>&nbsp;</th>
	<th title="<%= label_name(:points_full) %>"><%= label_name(:points) %></th>
	<th title="<%= label_name(:games_won_full) %>"><%= label_name(:games_won) %></th>
	<th title="<%= label_name(:games_tied_full) %>"><%= label_name(:games_tied) %></th>
	<th title="<%= label_name(:games_lost_full) %>"><%= label_name(:games_lost) %></th>
	
	<th title="<%= label_name(:coeficient_full) %>"><%= label_name(:coeficient) %></th>
	<th title="<%= label_name(:games_played_full) %>"><%= label_name(:games_played) %></th>
	<th title="<%= label_name(:games_assigned_full) %>"><%= label_name(:games_assigned) %></th>
	<th title="<%= label_name(:coeficient_full) %>"><%= label_name(:coeficient_points) %></th>
	<th title="<%= label_name(:participation_full) %>"><%= label_name(:participation) %></th>
</tr>
