<tr>           
	<th class="first" title="<%= label_name(:ranking_full) %>"><%= label_name(:ranking) %></th>
	<th><span><%= label_name(:name) %></span></th>
	<th title="<%= label_name(:points_full) %>"><%= label_name(:points) %></th>
	<th title="<%= label_name(:games_won_full) %>"><%= label_name(:games_won) %></th>
	<th title="<%= label_name(:games_lost_full) %>"><%= label_name(:games_lost) %></th>
	<th title="<%= label_name(:field_goal_made_full) %>"><%= label_name(:field_goal_made) %></th>
	<th title="<%= label_name(:field_goal_attempt_full) %>"><%= label_name(:field_goal_attempt) %></th>
	<th title="<%= label_name(:field_goal_percentage_full) %>"><%= label_name(:field_goal_percentage) %></th>
	<th title="<%= label_name(:three_point_made_full) %>"><%= label_name(:three_point_made) %></th>
	<th title="<%= label_name(:three_point_attempt_full) %>"><%= label_name(:three_point_attempt) %></th>
	<th title="<%= label_name(:three_point_percentage_full) %>"><%= label_name(:three_point_percentage) %></th>
	<th title="<%= label_name(:free_throw_made_full) %>"><%= label_name(:free_throw_made) %></th>
	<th title="<%= label_name(:free_throw_attempt_full) %>"><%= label_name(:free_throw_attempt) %></th>
	<th title="<%= label_name(:free_throw_percentage_full) %>"><%= label_name(:free_throw_percentage) %></th>
	<th title="<%= label_name(:rebounds_offense_full) %>"><%= label_name(:rebounds_offense) %></th>
	<th title="<%= label_name(:rebounds_defense_full) %>"><%= label_name(:rebounds_defense) %></th>
	<th title="<%= label_name(:rebounds_full) %>"><%= label_name(:rebounds) %></th>
	<th title="<%= label_name(:minutes_played_full) %>"><%= label_name(:minutes_played) %></th>
	<th title="<%= label_name(:assists_full) %>"><%= label_name(:assists) %></th>
	<th title="<%= label_name(:steals_full) %>"><%= label_name(:steals) %></th>
	<th title="<%= label_name(:blocks_full) %>"><%= label_name(:blocks) %></th>
	<th title="<%= label_name(:turnovers_full) %>"><%= label_name(:turnovers) %></th>
	<th title="<%= label_name(:personal_fouls_full) %>"><%= label_name(:personal_fouls) %></th>
	<th title="<%= label_name(:assist_turnover_ratio_full) %>"><%= label_name(:assist_turnover_ratio) %></th>
	<th title="<%= label_name(:games_played_full) %>"><%= label_name(:games_played) %></th>
	<th title="<%= label_name(:games_started_full) %>"><%= label_name(:games_started) %></th>
</tr>

