<%
 	mailer ||= false
	switch ||= false
	max_points = scorecard.played.to_i * group.points_for_win.to_i
	coeficient = 0
	coeficient = 100 *(scorecard.points.to_f/max_points.to_f) 
	coeficient_points = scorecard.points.to_f * (scorecard.points.to_f/max_points.to_f) 
	#coeficient_played = games_played > 0 ? scorecard.played / games_played : 0
	coeficient_played = 100 *(scorecard.played.to_f / games_played.to_f)
	
	image = "table-arrow-bottom.gif" if (scorecard.ranking > scorecard.previous_ranking) 
	image = "table-arrow-top.gif" if (scorecard.ranking < scorecard.previous_ranking)  		
	image = "table-arrow-right.gif" if (scorecard.ranking == scorecard.previous_ranking) 
	image = "table-arrow-right.gif" if (scorecard.previous_ranking == 0) 
	
	ranking_change = "-#{scorecard.ranking - scorecard.previous_ranking}" if (scorecard.ranking > scorecard.previous_ranking)  
	ranking_change = "+#{scorecard.previous_ranking - scorecard.ranking}" if (scorecard.ranking < scorecard.previous_ranking)  	
	ranking_change = "=" if (scorecard.ranking == scorecard.previous_ranking or scorecard.previous_ranking == 0) 
%>

<tr>
	<td class="puntos"><%= "*" if ((scorecard.played.to_i + less_games) < games_played.to_i) %>&nbsp;<%= scorecard.ranking %></td>
	<td class="equipos"><%= mailer ? "&nbsp;" : image_link_tiny(scorecard.user) %></td>
	<td class="equipos">
		<span>
		<% if mailer %>
		<%= link_to(scorecard.user.name, {:host => 'haypista.com', :controller => 'users', :action => 'show', :id => scorecard.user}) %>
		<% else %>
		<%= user_link(scorecard.user) %>
		<% end %>
		</span>
	</td>
	<td class="jugados"><%= mailer ? "&nbsp;" : image_tag(image) %></td>
	<td class="jugados"><%= ranking_change %></td>
	<td class="puntos"><%= scorecard.points.round %></td>
	<td class="ganados"><%= scorecard.wins %></td>
	<td class="empatados"><%= scorecard.draws %></td>
	<td class="perdidos"><%= scorecard.losses %></td>
	
	<%  if group.is_futbol?  %>
	<td class="puntos"><%= scorecard.goals_scored %></td>
	<td class="afavor"><%= scorecard.goals_for %></td>
	<td class="encontra"><%= scorecard.goals_against %></td>
	<td class="encontra"><%= scorecard.goals_for - scorecard.goals_against %></td>
	<% end %>
		
	<td class="puntos"><%= sprintf( "%0.00f", coeficient) %><%= "%" %></td>
	<td class="jugados"><%= scorecard.played %></td>
	<td class="jugados"><%= scorecard.assigned %></td>
	<!-- <td class="jugados"><%#= scorecard.previous_ranking %></td> -->
	<td class="puntos"><%= mailer ? sprintf( "%0.0f", coeficient_points)  : coeficient_points.round %></td>
	<td class="puntos"><%= sprintf( "%0.00f", coeficient_played) %><%= "%" %></td>
	<!-- <td class="last">&nbsp;</td> -->
</tr>

