<% 
	all_actions = ['show', 'show_archive'] 
	the_action = get_the_action.gsub(' ', '_')
	the_label = "scorecard_#{the_action}"
%>
<div class="secondary-navigation">

<ul>
	<li class="<%= get_first_active %>"><%= link_to(control_label('index') , scorecards_path) %></li>
	<li class="<%= get_active('scorecard_list') %>"><%= link_to(label_name(:scorecard_list) , list_scorecards_path) %></li>
	
	<% if all_actions.include?(the_action) %>
		<li class="<%= get_active(the_label) %>"><%=  group_link @group %></li>
	<% end %>
</ul>

<div class="clear"></div>

</div>