<div class="row">

	<%= set_title_class(the_label) %>
	
<div class="twelve columns">
<%	
	if current_user.is_member_of?(@group)  %> 
	<%= option_image_link('message') %>&nbsp;&nbsp;<%= link_to(label_name(:send_message_to), new_message_path(:group_id => @group)) %>
	<%= option_image_link('invitation') %>&nbsp;&nbsp;<%= link_to(label_name(:invitations_create_group) , new_invitation_url(:group_id => @group)) %>
	<% unless @group.schedules.blank? %>
	<%= option_image_link('scorecard') %>&nbsp;&nbsp;<%= link_to label_name(:send_scorecard), new_message_path(:scorecard_id => @group.schedules.first) %>
	<% end -%>
<% 
	else
%>
	<%= option_image_link('message') %>&nbsp;&nbsp;<%= link_to(label_name(:send_message_to), new_message_path(:id => @group.all_the_managers.first)) %>
<%
	unless current_user.has_item_petition?(current_user, @group)
		# the_label = label_with_name('add_to_group', @group.name)
		# the_confirmation = "#{ label_name(:petition_to_join) } #{current_user.name} #{ label_name(:to) } #{@group.name}?"
%> 
		
		<%= option_image_link('group') %>&nbsp;&nbsp;<%= join_item_link_to(current_user, @group, true) %>
		<%#= link_to(the_label, join_item_path(:id => @group, :item => @group.class.to_s, :teammate => current_user), :confirm => the_confirmation) %>
		
<% 
	end 
end 
%>
</div>
	
</div>