<% 
@archive ||= false 
@less_games = 5
%>

<div class="block">

<%= render :partial => 'secondary_navigation' %>  

<% 
@games_played = @scorecards.first.group.games_played
scorecards = false
@scorecards.each {|card| scorecards = true }

if scorecards	
%>
<div class="content">   

	<h2 class="title">
		<% unless @archive %>
			<%= link_to @scorecards.first.group.name, 
				{:controller => 'scorecards', :action => 'show', :id => @scorecards.first.group} %>
		<% else %>
			<%= link_to @scorecards.first.group.name, 
					{:controller => 'scorecards', :action => 'show_archive', :id => @scorecards.first.group} %>
		<% end %>
	</h2>

	<div class="inner">

		<table class="table">

			<tr>           
				<th class="first" title="<%= label_name(:ranking_full) %>"><%= label_name(:ranking) %></th>
				<th>&nbsp;</th>
				<th><span><%= label_name(:name) %></span></th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th title="<%= label_name(:points_full) %>"><%= label_name(:points) %></th>
				<th title="<%= label_name(:games_won_full) %>"><%= label_name(:games_won) %></th>
				<th title="<%= label_name(:games_tied_full) %>"><%= label_name(:games_tied) %></th>
				<th title="<%= label_name(:games_lost_full) %>"><%= label_name(:games_lost) %></th>
				<th title="<%= label_name(:goals_scored_full) %>"><%= label_name(:goals_scored) %></th>
				<th title="<%= label_name(:goals_for_full) %>"><%= label_name(:goals_for) %></th>
				<th title="<%= label_name(:goals_against_full) %>"><%= label_name(:goals_against) %></th>
				<th title="<%= label_name(:goal_difference_full) %>"><%= label_name(:goal_difference) %></th>
				<th title="<%= label_name(:coeficient_full) %>"><%= label_name(:coeficient) %></th>
				<th title="<%= label_name(:coeficient_full) %>"><%= label_name(:coeficient_points) %></th>
				<th title="<%= label_name(:games_played_full) %>"><%= label_name(:games_played) %></th>
				<th title="<%= label_name(:games_assigned_full) %>"><%= label_name(:games_assigned) %></th>
				<th title="<%= label_name(:previous_ranking_full) %>"><%= label_name(:previous_ranking) %></th>
				<!-- <th class="last">&nbsp;</th> -->
			</tr>

			<%= render :partial => 'scorecard', :collection => @scorecards, 
									:locals => {:group => @scorecards.first.group, :games_played => @games_played, :less_games => @less_games} %>        
		</table>
		<%#= render :partial => 'shared/action_bar', :locals => { :collection => @scorecards } %>
		<p><em style="color: rgb(153, 153, 153);">
			<%= "(*) #{label_name(:player_with)} #{@less_games} #{label_name(:player_with_less_games)}" %>
			</em>
		</p>
	</div>

	</div>
<% 
end 
-%>

</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>





