<% 
	@archive ||= false 
	# @less_games = 5 
	# @games_played = @group.games_played
	scorecards = false
	@scorecards.each {|card| scorecards = true }
	
	the_label = label_name(:scorecard)
	content_for(:title, the_label)
	even_or_odd = true
	
	return unless scorecards
	
%>

<div class="row">


<%
	if scorecards	
%>
<div class="twelve column">   

	<h2 class="title"><%= item_name_link(@group) %></h2>


<% if @group.is_futbol? %>
<%= render 'scorecard_futbol_label_zurb' %>
<% @scorecards.each do |scorecard| %>
<%= render 'scorecard', 
:scorecard => scorecard, :group => @group, :games_played => @games_played, :less_games => @less_games, :even_or_odd => (even_or_odd = !even_or_odd) %>
<% end %>
<% end %>

<%  if @group.is_basket?  %>
<% @scorecard_baskets = @scorecards %>
<%= render 'scorecard_basket_label_zurb' %>
<%= render 'scorecard_basket_zurb', :collection => @scorecard_baskets, 
:group => @group, :games_played => @games_played, :less_games => @less_games %>       
<% end %> 

<% unless @group.is_futbol? or @group.is_basket? %>
<% @scorecard_others = @scorecards %>
<%= render 'scorecard_other_label_zurb' %>
<%= render 'scorecard_other_zurb', :collection => @scorecard_others, 
:group => @group, :games_played => @games_played, :less_games => @less_games %>       
<% end %>
<% 
end 
-%>
