<% 
	@archive ||= false 
	@less_games = 5 
	@games_played = @group.games_played
	scorecards = false
	@scorecards.each {|card| scorecards = true }
	
	the_label = label_name(:scorecard)
	content_for(:title, the_label)
%>

<div class="block">

<%= render :partial => 'secondary_navigation' %>  

<%
	if scorecards	
%>
<div class="content">   

	<h2 class="title"><%= group_link @group %></h2>

	<div class="inner">

		<table class="table" id="<%= get_the_controller.gsub(' ','_') %>">

			<% if @group.is_futbol? %>
			<%= render :partial => 'scorecard_futbol_label' %>
			<%= render :partial => 'scorecard', :collection => @scorecards, 
							:locals => {:group => @group, :games_played => @games_played, :less_games => @less_games} %>
			<% end %>
			
			<%  if @group.is_basket?  %>
			<% @scorecard_baskets = @scorecards %>
			<%= render :partial => 'scorecard_basket_label' %>
			<%= render :partial => 'scorecard_basket', :collection => @scorecard_baskets, 
							:locals => {:group => @group, :games_played => @games_played, :less_games => @less_games} %>       
			<% end %> 
			
			<% unless @group.is_futbol? or @group.is_basket? %>
			<% @scorecard_others = @scorecards %>
			<%= render :partial => 'scorecard_other_label' %>
			<%= render :partial => 'scorecard_other', :collection => @scorecard_others, 
							:locals => {:group => @group, :games_played => @games_played, :less_games => @less_games} %>       
			<% end %>
			
		</table>
		
		<%# if @group.is_futbol? %>
		<!-- <p><em style="color: rgb(153, 153, 153);">
			<%#= "(*) #{label_name(:player_with)} #{@less_games} #{label_name(:player_with_less_games)}" %>
			</em>
		</p> -->
		<%# end %>
		
	</div>

	</div>
<% 
end 
-%>

</div>

<% content_for :sidebar, render(:partial => 'sidebar_show') if @group.is_futbol? -%>
<% content_for :sidebar, render(:partial => 'sidebar_show_basket') if @group.is_basket? -%>





