<tr>
	<td>
		<%= image_link_small comment.user %>
	</td>

	<td class="name_and_date">
		<span class="label"><%= label_name(:from) %>:</span>
		<%= user_link comment.user %>	
		<span class="date_created_at">
			<%= nice_full_date(comment.created_at) %>
		</span>
	</td>
	<td>
		<span class="">							
			<%=sanitize comment.body %>							
		</span>
	</td>
	<td class="last">
		<%= comment_image_link(comment) %>
	</td>
</tr>


<%= stylesheet_link_tag 'comment' %>

<script type="text/javascript">
$(document).ready(function()
{
	$(".comment_button").click(function(){

		var element = $(this);
		var I = element.attr("id");

		$("#slidepanel"+I).slideToggle(300);
		$(this).toggleClass("active"); 

		return false;
	});
});
</script>

<div align="center">
	<table cellpadding="0" cellspacing="0" width="500px">
		<tr>
			<td>
				<!-- <div> <h1>Click Comment Button</h1> </div> -->
				<!-- <div style="height:7px">asdfasdfasdf</div> -->

				<ol  id="update" class="timeline">
					
					<% comments.each do |comment| %>

						<li>
							<div align="left">
								<h1><%=sanitize(comment.body) %></h1>
								<a href="#" class="comment_button" id="<%= comment.id%>">Comment</a>
							</div>
						</li>
						
						<div class='panel' id="slidepanel<%= comment.id%>">
						
							<!-- <form action="" method="post">
							<textarea style="width:390px;height:23px"></textarea><br />
							<input type="submit" value=" Comment "  class="comment_submit" />
							</form> -->
						
							<%= render :partial => 'comments/new', :locals => { :label => label_name(:write_comment) } %>

						</div>
						
					<% end %>

				</ol>

			</td>
		</tr>
	</table>
</div>