<div class="block">

  <%= render :partial => 'secondary_navigation' if current_user %>  

  <div class="content">   
  
    <h2 class="title"><%= get_collection_label(@forums) %></h2>
	
    <div class="inner">
	
      <table class="table">
	  
        <tr>        
          <th class="first">ID</th>
          <th>Name</th>
          <th>Created at</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @forums.each do |forum| -%>
        <tr>
          <td>
            <%= forum.id %>
          </td>
          <td>
            <%= link_to forum.name, forum_path(forum) %>
          </td>
          <td>
            <%= forum.created_at %>
          </td>
          <td class="last">
            <%= link_to label_name(:show), forum_path(forum) %> |
            <%= link_to label_name(:edit), edit_forum_path(forum) %> |
            <%= link_to label_name(:destroy), forum_path(forum), :method => :delete, :confirm => label_name(:are_you_sure) %>
          </td>
        </tr>          
		        <% end -%>

		      </table>
			  <%= render :partial => 'shared/action_bar', :locals => { :collection => @forum } %>

		    </div>

		  </div>

		</div>

		<% content_for :sidebar, render(:partial => 'sidebar') -%>