<% 
	the_label = "#{control_action_label("#{@has_a_roster}")} #{label_name(:in)} #{sanitize(@schedule.concept)} (#{h(@schedule.group.name)})"
	
	# content_for(:title, sanitize(@schedule.concept))
	
	has_been_played = @schedule.played? 
	is_manager = current_user.is_manager_of?(@schedule.group)
	is_squad = get_the_action.gsub(' ','_') == 'team_roster'
	
	the_sport = ""
    the_missing = ""
    
    unless @schedule.played?
      the_sport = "#{label_name(:rosters)}:  #{@schedule.convocados.count}"
      the_missing = ", #{I18n.t(:missing)}:  #{@schedule.player_limit.to_i - @schedule.convocados.count}" if @schedule.player_limit.to_i > @schedule.convocados.count
      the_missing = ", #{I18n.t(:excess)}:  #{@schedule.convocados.count - @schedule.player_limit.to_i}" if @schedule.player_limit.to_i < @schedule.convocados.count
    end
    
	the_span = "#{the_sport} #{the_missing}".html_safe
	the_start_at_label = "#{nice_day_of_week(@schedule.starts_at)}<br/>#{the_span}".html_safe
%>

<%= stylesheet_link_tag 'comment' %>

<div class="block">
	<%= render "shared/previous_next_message", :schedule => @schedule, :the_previous => @the_previous, :the_next => @the_next -%>
	<%= show_heading(the_label) %> 
	
	<div class="inner">
		
		<div class="columns"> 
				<table class="table">
				<tr>
					<%= set_content_tag_safe(:td, the_start_at_label, "first_left") %>
					<%= set_content_tag_safe(:td, match_all_my_link(@schedule, current_user, false), "last_left") %>
				</tr>
				</table>
		</div>
		
		<%#= render 'schedules/game_played' %>
		<%= render 'comments/disqus' %>
		<%= render 'comments/discussion', :comments => @comments %>

	</div>
</div>
</div>

<%= render 'schedules/sidebar_schedule' %>
