<%
	the_label = label_with_name('note', sanitize(@schedule.concept))

	the_comments = []
	items = []

	@comments.each do |item| 
		if item.created_at >= THREE_WEEKS_AGO

			# only add unique values
			has_the_item = false
			the_comments.each do |comment|             
				has_the_item = (comment.user_id == item.user_id and comment.body == item.body ) if !has_the_item          
			end           
			items << item unless has_the_item
			the_comments << item

		end
	end
%>

<div class="block">
	<%= render "shared/previous_next_message", :schedule => @schedule, :the_previous => @the_previous, :the_next => @the_next -%>

	<h2 class="title"><%= the_label %></h2>

	<div class="inner">

		<%= render 'forums/disqus' unless production? %>

		<%= render :partial => 'comments/new', :locals => { :label => label_name(:write_comment) } if production? %>

		<table class="table">
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td class="last"></td>
			</tr>
			
			
			<% items.each do |comment| -%> 
						<%= render :partial => 'forums/comment', :locals => {:comment => comment} %>
			<% end %>
			
			<%#= render :partial => 'comments/comments', :locals => { :comments => @comments } %>
			<%#= render :partial => 'new_comment', :locals => { :comments => @comments } %>
			
		</table>			

	</div>
</div>
</div>

<% content_for :sidebar, render(:partial => '/schedules/sidebar_show') -%>
