<%
the_label = label_with_name('note', sanitize(@schedule.concept))
%>
<div class="block">
	<%= render "shared/previous_next_message", :schedule => @schedule, :the_previous => @the_previous, :the_next => @the_next -%>

	<h2 class="title"><%= the_label %></h2>

	<div class="inner">

		<%= render :partial => 'comments/new', :locals => { :label => label_name(:write_comment) } %>

		<table class="table">
			<tr>             
				<%= content_tag :th, "&nbsp;", :class => "clear" %>
				<%= content_tag :th, "&nbsp;", :class => "clear" %>
				<%= content_tag :th, "&nbsp;", :class => "clear" %>
				<%= content_tag :th, "&nbsp;", :class => "clear" %>
			</tr>
			<%= render :partial => 'comments/comments', :locals => { :comments => @comments } %>
		</table>			

	</div>
</div>
</div>

<% content_for :sidebar, render(:partial => '/schedules/sidebar_show') -%>
