<div id="home">
	<div class="features">

		<%= content_tag 'h2', "<strong>#{label_name(:password_change)}</strong>" %>	

		<div class="inner">

			<%= form_for (@user), :url => password_reset_path, :method => :put do |f| %>

				<div class="group">
					<%= f.label :password, label_name(:password), :class => :label %>
					<%= f.password_field :password, :class => 'textfield' %>	    
				</div>

				<br />
				<br />
			
				<div class="group">
					<%= f.label :password_confirmation, label_name(:password_confirmation), :class => :label %>
					<%= f.password_field :password_confirmation, :class => 'textfield' %>   
				</div>

				<%= render 'utilities/recaptcha' %>

				<div class="group navform"> 
					<%= submit_tag label_name(:password_update_and_login), :class => "button" %>
				</div>

			<% end -%>

		</div>

	</div>

</div>