<div id="home">
	<div class="features">

		<%= content_tag 'h2', "<strong>#{control_action_label}</strong>" %>		
		<%= content_tag 'p', label_name(:password_reset_instructions) %>

		<div class="inner">

			<% form_tag password_resets_path do %>

			<div class="group">
				<%= label :email, label_name(:email) %>&nbsp;&nbsp;<%= text_field_tag :email, nil, :class => 'textfield' %>	    
			</div>

			<br />
			<br />

			<div class="clear"></div>

			<br/>
			<%= label_name(:recaptcha_type_words) %>
			<br/>
			<%= recaptcha_tags %>

			<br />
			<br />

			<div class="group navform"> 
				<%= submit_tag label_name(:password_reset), :class => "button" %>
			</div>

			<% end -%>

		</div>

	</div>

</div>