<%
	the_label = ""
	is_same_user = false

	case @blog.item.class.to_s
	when "User"
		@user = @blog.item
		is_same_user = (@user == current_user)
		the_label = label_with_name('the_wall', h(@user.name))
		the_label = control_label('my_wall') if is_same_user
		
	when "Group"
		@group = @blog.item  
		the_label = label_with_name('the_wall', h(@group.name))
		   
	when "Challenge"
		@challenge = @blog.item
		the_label = label_with_name('the_wall', h(@challenge.name))
		   
	when "Venue"
		@venue = @blog.item
		the_label = label_with_name('the_wall', h(@venue.name))
	else
	end
	content_for(:title, the_label)	
%>
<div class="block">

  <%= get_secondary_navigation(@user) if @user %>
  <%= get_secondary_navigation(@group) if @group %>
  <%= get_secondary_navigation(@challenge) if @challenge %>
  <%= get_secondary_navigation(@venue) if @venue %>

  <div class="content">
	
    <div class="inner">
	
	<%= render 'comments/disqus' %>			
	<%= render 'comments/discussion', :comments => @comments %>

					
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => '/users/sidebar_show') if @user -%>
<% content_for :sidebar, render(:partial => '/groups/sidebar_show') if @group -%>
<% content_for :sidebar, render(:partial => '/challenges/sidebar_show') if @challenge -%>
<% content_for :sidebar, render(:partial => '/venues/sidebar_show') if @venue -%>