<%
	the_label = ""
	is_same_user = false

	case @blog.item.class.to_s
	when "User"
		@user = @blog.item
		is_same_user = (@user == current_user)
		the_label = label_with_name('the_wall', h(@user.name))
		the_label = control_label('my_wall') if is_same_user
		
	when "Group"
		@group = @blog.item  
		the_label = label_with_name('the_wall', h(@group.name))
		   
	when "Challenge"
		@challenge = @blog.item
		the_label = label_with_name('the_wall', h(@challenge.name))
	else
	end
	content_for(:title, the_label)
%>
<div class="block">

  <%= render :partial => '/users/secondary_navigation' if @user %>
  <%= render :partial => '/groups/secondary_navigation' if @group %>
  <%= render "challenges/secondary_navigation", :challenge => @challenge if @challenge %>

  <div class="content">
	
	<h2 class="title"><%= the_label %></h2>
	
    <div class="inner">
	
	<%= render :partial => 'comments/new', :locals => { :label => label_name(:what_are_you_practicing), :textfield => true } if is_same_user %>

      <table class="table">
		<tr>             
          <th class="first">&nbsp;</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th class="last">&nbsp;</th>
        </tr>

		<%= render :partial => 'comments/comments', :locals => { :comments => @comments } %>
      </table>

	<%= render :partial => 'comments/new', :locals => { :label => label_name(:write_comment) } unless is_same_user %>
					
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => '/users/sidebar_show') if @user -%>
<% content_for :sidebar, render(:partial => '/groups/sidebar_show') if @group -%>
<% content_for :sidebar, render(:partial => '/challenges/sidebar_show') if @challenge -%>
