<%
	label = ""
	is_same_user = false
	
	if @user
		is_same_user = (@user == current_user)
		label = label_with_name('the_wall', h(@user.name))
		label = control_label('my_wall') if is_same_user	
	end	
	
	if @group
		label = label_with_name('the_wall', h(@group.name))
	end	

	# the_item = @blog.item
	case @blog.item.class.to_s     
	when "Challenge"
		@challenge = @blog.item
	else
	end
%>
<div class="block">

  <%= render :partial => '/users/secondary_navigation' if @user %>
  <%= render :partial => '/groups/secondary_navigation' if @group %>
  <%= render :partial => '/challenges/secondary_navigation' if @challenge %>
  <%= render :partial => '/tournaments/secondary_navigation' if @tournament %>

  <div class="content">
	
	<h2 class="title"><%= label %></h2>
	
    <div class="inner">
	
	<%= render :partial => 'comments/new', :locals => { :label => label_name(:what_are_you_practicing), :textfield => true } if is_same_user %>

      <table class="table">
		<tr>             
          <th class="first">&nbsp;</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th class="last">&nbsp;</th>
        </tr>

		<%= render :partial => 'comments/comments', :locals => { :comments => @comments } %>
      </table>

	<%= render :partial => 'comments/new', :locals => { :label => label_name(:write_comment) } unless is_same_user %>
					
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => '/users/sidebar_show') if @user -%>
<% content_for :sidebar, render(:partial => '/groups/sidebar_show') if @group -%>
<% content_for :sidebar, render(:partial => '/challenges/sidebar_show') if @challenge -%>
<% content_for :sidebar, render(:partial => '/tournaments/sidebar_show') if @tournament -%>
