<% if development? %>

<!--  SOCCERWAY FREE SCRIPT STARTS -->
<!-- <iframe src="http://www.soccerway.com/freeresults.php" width="280" scrolling="auto" frameborder="0" height="1500">[Your user agent does not support frames or is currently configured not to display frames. However, you may visit <A href="http://www.soccerway.com/freeresults.php">this link.</A>]</iframe> -->
<!--  SOCCERWAY FREE SCRIPT ENDS -->



<style type="text/css">
.debug_dump {
	text-align: center;
	border-top: 1px dashed blue;
	background: @ccc;
	margin: 0;
	padding: 0.5em;
	font-size: 12px;
}
</style>

<% if development? %>

RECAPTCHA_PUBLIC_KEY <%= RECAPTCHA_PUBLIC_KEY %><br />
RECAPTCHA_PRIVATE_KEY <%= RECAPTCHA_PRIVATE_KEY %><br />

<%= debug(params) %>

 <%= "#{t(:current_user) }:  #{current_user.name}" if current_user %><br/>
 <%= "#{t(:current_time_zone) }: #{Time.zone.name}" %><br/>
 <%= "#{t(:current_time) }: #{nice_day_of_week(Time.zone.now)}" %><br/>
<hr />


<% end %>

<% if display %>
<h3> Browser Info </h3>
<br>
<script language="JavaScript" type="text/javascript">
<!--
document.write("navigator.appName " + navigator.appName + "<BR>");
document.write("navigator.userAgent " + navigator.userAgent + "<BR>");
document.write("navigator.appVersion " + navigator.appVersion + "<BR>");
//-->
</script>
<h3> Resolution Info </h3>
<script language="JavaScript" type="text/javascript">
<!--
document.write("screen.width " + screen.width + "<BR>");
document.write("screen.height " + screen.height + "<BR>");
document.write("document.body.clientWidth" + document.body.clientWidth + "<BR>");
document.write("document.body.clientHeight" + document.body.clientHeight + "<BR>");
//-->
</script>
<% end %>

<% end %>