<!-- http://jqueryui.com/datepicker/#default -->

<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.8.2.js"></script>
<script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>

<script>
$(function() {

	$( "#starts_at_datepicker" ).datepicker({

		firstDay: 1,
		// gotoCurrent: true,
		showOtherMonths: true,
		selectOtherMonths: true,
		dayNamesMin: ["<%= t('sunday_short') %>", 
					  "<%= t('monday_short') %>", 
					  "<%= t('tuesday_short') %>", 
					  "<%= t('wednesday_short') %>", 
					  "<%= t('thursday_short') %>", 
					  "<%= t('friday_short') %>", 
					  "<%= t('saturday_short') %>" ],

		monthNames: ["<%= t('january') %>", "<%= t('february') %>", "<%= t('march') %>", "<%= t('april') %>", 
					 "<%= t('may') %>", "<%= t('june') %>", "<%= t('july') %>", "<%= t('august') %>",
					 "<%= t('september') %>", "<%= t('october') %>", "<%= t('november') %>", "<%= t('december') %>"],

		// showOn: "button",
		// buttonImage: "/assets/icons/schedule.png",
		// buttonImageOnly: true,
		dateFormat: "dd-mm-yy",
		navigationAsDateFormat: true,
		nextText: "Later" 
		// numberOfMonths: [ 1, 2 ]

	});

	$( "#ends_at_datepicker" ).datepicker({

		firstDay: 1,
		// gotoCurrent: true,
		showOtherMonths: true,
		selectOtherMonths: true,
		dayNamesMin: ["<%= t('sunday_short') %>", 
					  "<%= t('monday_short') %>", 
					  "<%= t('tuesday_short') %>", 
					  "<%= t('wednesday_short') %>", 
					  "<%= t('thursday_short') %>", 
					  "<%= t('friday_short') %>", 
					  "<%= t('saturday_short') %>" ],

		monthNames: ["<%= t('january') %>", "<%= t('february') %>", "<%= t('march') %>", "<%= t('april') %>", 
					 "<%= t('may') %>", "<%= t('june') %>", "<%= t('july') %>", "<%= t('august') %>",
					 "<%= t('september') %>", "<%= t('october') %>", "<%= t('november') %>", "<%= t('december') %>"],

		// showOn: "button",
		// buttonImage: "/assets/icons/schedule.png",
		// buttonImageOnly: true,
		dateFormat: "dd-mm-yy",
		navigationAsDateFormat: true,
		nextText: "Later" 
		// numberOfMonths: [ 1, 2 ]

	});

});
</script>

 
<!-- <p>Date: <input type="text" id="datepicker" /></p> -->