




<div class="row">
	<div class="three columns">
	<%= the_form.text_field the_date, :id => '<%= the_datetime %>_datepicker', 
							:class => 'small input-text', 
							:value => the_date_value %>
	</div>
	
	<div class="three columns">
	<%= the_form.text_field the_time, :id => '<%= the_datetime %>_timepicker', 
							:class => 'small input-text', 
							:value => the_time_value %>
	</div>
	
	<div class="six columns">
	</div>
	
</div>


<%= render 'utilities/datetimepicker', :the_datetime => the_datetime %>