<% 
if SHOW_LOGIN 
%>

<h3><%= I18n.t(:use_login) %></h3>

<div class="group">		
  <div class="left"> 		  
	<%= f.label :email, field_label_name(:email) , :class => :label %>			
  </div>		  
  <div class="right"> 		  
	<%= f.text_field :email, :class => 'text_field' %>			
	<span class="description"><%= field_label_name(:email, 'description') %></span> 			
  </div> 		  
  <div class="clear"></div> 		  
</div>

<div class="group">		
  <div class="left"> 		  
	<%= f.label :password, field_label_name(:password) , :class => :label %>			
  </div>		  
  <div class="right"> 		  
	<%= f.password_field :password, :class => 'text_field' %>			
	<span class="description"><%= field_label_name(:password, 'description') %></span> 			
  </div> 		  
  <div class="clear"></div> 		  
</div>

<% if is_action('signup') %>

<div class="group">		
  <div class="left"> 		  
	<%= f.label :password_confirmation, field_label_name(:password_confirmation) , :class => :label %>			
  </div>		  
  <div class="right"> 		  
	<%= f.password_field :password_confirmation, :class => 'text_field' %>			
	<span class="description"><%= field_label_name(:password_confirmation, 'description') %></span> 			
  </div> 		  
  <div class="clear"></div> 		  
</div>

<% elsif controller.action_name == 'rpx_new' or is_action('create') %>

<% else %>

<div class="group">
	<div class="left">
		&nbsp;
	</div>
	<div class="right">
  		<%= f.check_box :remember_me %>&nbsp;&nbsp;<%= f.label :remember_me %><br />
	</div>
	
	<div class="clear">
	</div>
</div>

<div class="group">
	<div class="left">
		&nbsp;
	</div>
	<div class="right">
  		<%= link_to(label_name(:password_forgotten), :controller => 'password_resets', :action => 'new') if ("#{get_the_controller}_#{ get_the_action}" != "user_signup") %>
	</div>

	<div class="clear">
	</div>
</div>

<div class="group">
	<div class="left">
		&nbsp;
	</div>
	<div class="right">
  		<%= link_to(label_name(:no_account_yet), signup_path) if ("#{get_the_controller}_#{ get_the_action}" != "user_signup") %>
	</div>
	
	<div class="clear">
	</div>
</div>

<% end %>

<div class="group navform"> 
	<%= submit_tag the_label, :class => "button" %>	 
</div>

<% 
end 
%>

