<%= stylesheet_link_tag  'scorecard' %>

<div class="partyrow">   
    
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody> 
      <tr>
        <td class="leagueheaderright">&nbsp;</td>
	    <td class="leagueheaderright">&nbsp;</td>
        <td class="leagueheaderright">&nbsp;</td>
        <td class="leagueheaderright">&nbsp;</td>
        <td class="leagueheaderright" title="<%= I18n.t(:points_full) %>"><%= I18n.t(:points) %></td>
        <td class="leagueheaderright" title="<%= I18n.t(:games_played_full) %>"><%= I18n.t(:games_played) %></td>
        <td class="leagueheaderright" title="<%= I18n.t(:games_won_full) %>"><%= I18n.t(:games_won) %></td>
        <td class="leagueheaderright" title="<%= I18n.t(:games_tied_full) %>"><%= I18n.t(:games_tied) %></td>
        <td class="leagueheaderright" title="<%= I18n.t(:games_lost_full) %>"><%= I18n.t(:games_lost) %></td>
        <td class="leagueheaderright" title="<%= I18n.t(:percentage_full) %>"><%= I18n.t(:percentage) %></td>
      </tr>
          
      <% first, user_id, swith = 0, 0, false
      collection.each do |scorecard| 
        
        max_points = (scorecard.wins + scorecard.losses + scorecard.draws) * 3
        coeficient = 0
        coeficient = 100 *(scorecard.points.to_f/max_points.to_f) if (scorecard.played > 0)        
      %>
        <% if first != scorecard.group_id 
          first = scorecard.group_id
        %>
		<tr><td class="leagueheaderright">&nbsp;</td></tr>	
			     
          <tr class="leaguedisplayedteam"> 
            <td class="leagueitemright">
              <span id="">&nbsp;</span>
            </td>   
           
            <td class="leagueheaderleft">                    
              <%= scorecard.group.name %>
            </td>
                
            <td class="leagueheaderright">&nbsp;</td>
            <td class="leagueheaderright">&nbsp;</td>
            <td class="leagueitemright">&nbsp;</td>
            <td class="leagueitemright">&nbsp;</td>
            <td class="leagueitemright">&nbsp;</td>
            <td class="leagueitemright">&nbsp;</td>
            <td class="leagueitemright">&nbsp;</td>
            <td class="leagueitemright">&nbsp;</td>
            <td class="leagueitemright">&nbsp;</td>
          </tr>
	        <tr>
           <td class="leagueitemright">
             <span id="">&nbsp;</span>
           </td>
         </tr>

        <% end %>
       	  
		  <% league = (swith = !swith and user_id != scorecard.user_id) %>
		  <tr class="league_<%= league %>">
          <td class="leagueitemright">
            <span id=""><%= scorecard.ranking %>&nbsp;&nbsp;</span>
          </td>
              
          <td class="leagueitemleft">                    
            <%= scorecard.user.name %>
          </td>
              
          <td class="leagueitemright">
			<%= "-#{scorecard.ranking - scorecard.previous_ranking}" if (scorecard.ranking > scorecard.previous_ranking)  %>
			<%= "+#{scorecard.previous_ranking - scorecard.ranking}" if (scorecard.ranking < scorecard.previous_ranking)  %>		
			<%= "=" if (scorecard.ranking == scorecard.previous_ranking)  %>
		  </td>	
		  <td class="leagueitemright">&nbsp;</td>
          <td class="leagueitemright"><%= scorecard.points %></td>
          <td class="leagueitemright"><%= scorecard.played %></td>
          <td class="leagueitemright"><%= scorecard.wins %></td>
          <td class="leagueitemright"><%= scorecard.draws %></td>
          <td class="leagueitemright"><%= scorecard.losses %></td>
          <td class="leagueitemright"><%= sprintf( "%0.00f", coeficient) %><%= "%" %> </td>
          <td class="leagueitemright">&nbsp;</td>
        </tr>   

	      <% user_id = scorecard.user_id %>

	  <% end %>
          
    </tbody>
  </table>
</div>
