<% counter = 0 %>
<p style="margin: 15px 0 2px 0"><strong><%= label %>:</strong></p>

<table width="100%" border="0" cellpadding="0" cellspacing="0" style="font: 13px arial;">
	<% the_roster.each do |match| %>
	<tr>    
		<td style="width:1%; color:#999999; vertical-align: top;">•&nbsp;</td>
		<td style="width:25%"><%= counter += 1 %>.&nbsp;&nbsp;
			
			<%= link_to((match.user.name.to_s.length > 14) ? "#{match.user.name.to_s.strip[0..12]}..." : match.user.name, :host => 'haypista.com', :controller => 'users', :action => 'show', :id => match.user) %>
			
		</td>
		<td style="width:25%"><%= match.team_name(@schedule) %></td>
		<% if @schedule.played? %>
          	<td style="width:25%"><%= match.win_loose_draw_label %></td>
		<% elsif @receiver == match.user %>
			<td style="width:25%"><a href="<%= schedule_url %>"><%= I18n.t(:not_able_to_attend) %></a></td>
		<% end %>
	</tr>
	<% end %>  
</table>

<div style="margin-top: 6px; border-bottom: 3px solid #ddd; line-height:3px">&nbsp;</div> 
