<table border="0" cellpadding="0" cellspacing="0" style="width:550px; border-top:4px solid #39C; font: 12px arial, sans-serif; margin: 0 auto;">
<tr>
  
_______________________________________________
<%= "#{I18n.t(:the_haypista_team)}" %>
http://www.haypista.com/ 

<%= "#{I18n.t(:modo)} " %>

<%= "#{I18n.t(:aunque_estamos) } " %>
<%= "#{I18n.t(:tu_punto_de_vista) }  " %><%= CONTACT_RECIPIENT %>

<div style="margin-top: 6px; border-bottom: 3px solid #ddd; line-height:3px">&nbsp;</div>
<br>
  <p style="margin: 10px 0;"><%= I18n.t(:cancel_email_subscription) %> <a href="https://www.HayPista.com/" style="color:#0066CC;"><%= I18n.t(:change_email_configuration) %></a></p>
  <p style="color:#999999; font-size:11px;"><%= I18n.t(:protect_your_privacy) %> </p>  

</td>
</tr>
</table>