
<br>

<% if @schedule.played? %>  

	<p style="margin: 15px 0 2px 0"><strong><%= "#{I18n.t(:score)}:  ".html_safe %></strong></p>

	<table width="100%" border="0" cellpadding="0" cellspacing="0" style="font: 13px arial;">
	  <tr>
	    <td style="width:1%; color:#999999; vertical-align: top;">• </td>
	    <td>
			<%= "#{link_to(@schedule.group.name, group_url(@schedule.group.name))}  ".html_safe %>
			<%= "#{@schedule.matches.first.group_score}  -  ".html_safe %>
			<%= "#{@schedule.matches.first.invite_score}  ".html_safe %>
			<%= "#{@schedule.group.second_team}".html_safe %>          
	    </td>
	  </tr>
	  <tr/>
	  <br />
	</table>
	
	<br>
	
	<br>
<% end %>  

<% unless @schedule.convocados.empty? %>  
	<%= render :partial => 'message_list_box', 
			   :locals => { :label => I18n.t(:rosters), :the_roster => @schedule.the_roster, :schedule => @schedule } %>
<% end %>

<% unless @schedule.last_minute.empty? or @schedule.played? %>   
	<%= render :partial => 'message_list_box', 
			   :locals => { :label => I18n.t(:last_minute), :the_roster => @schedule.the_last_minute, :schedule => @schedule } %>
<% end %>

<%= render :partial => 'the_match_status' %>