<% 	
	scorecards = false
	collection.each {|card| scorecards = true }
%> 


<% 
	if scorecards	
%>

<p style="font-size:14px;font-family:&quot;Helvetica Neue&quot;,helvetica,arial,sans-serif;line-height:20px;margin:10px 0;background-color:#eee;border-radius:5px;padding:10px">
	
	<%= "#{link_to(@group.name, group_url(@group))}".html_safe %>
	
</p>
				
	<table>
		<thead>
			<tr>           

				<%= content_tag(:th, I18n.t(:ranking), :align => 'center') %>
				<%= content_tag(:th, "&nbsp;".html_safe) %>
				<%= content_tag(:th, I18n.t(:name), :align => 'left') %>
				<%= content_tag(:th, "&nbsp;".html_safe) %>
				<%= content_tag(:th, I18n.t(:points), :align => 'center') %>
				<%= content_tag(:th, "&nbsp;".html_safe) %>
				<%= content_tag(:th, I18n.t(:games_played), :align => 'center') if DISPLAY_FREMIUM_SERVICES %>
				<%= content_tag(:th, "&nbsp;".html_safe) if DISPLAY_FREMIUM_SERVICES %>
				<%= content_tag(:th, I18n.t(:games_won), :align => 'center') %>
				<%= content_tag(:th, "&nbsp;".html_safe) %>
				<%= content_tag(:th, I18n.t(:games_tied), :align => 'center') %>
				<%= content_tag(:th, "&nbsp;".html_safe) %>
				<%= content_tag(:th, I18n.t(:games_lost), :align => 'center') %>
				<%= content_tag(:th, "&nbsp;".html_safe) %>
				<%= content_tag(:th, I18n.t(:goals_scored), :align => 'center') %>
				<%= content_tag(:th, "&nbsp;".html_safe) %>
				<%= content_tag(:th, I18n.t(:games_won_avg), :align => 'center') %>
				<%= content_tag(:th, "&nbsp;".html_safe) %>
				<%= content_tag(:th, I18n.t(:games_points_avg), :align => 'center') %>

			</tr>
		</thead>

		<tbody>

			<% @scorecards.each do |scorecard| %>
			
			<%
				user_played = scorecard.type_id.to_i == 1 

				the_player_link = ""
				the_name = scorecard.user.name.split.collect {|i| i.capitalize}.join(' ') 
				the_name = (the_name.to_s.length > 14) ? "#{the_name.to_s.strip[0..12]}..." : the_name
				the_player_link = "#{link_to(the_name, user_url(scorecard.user))}"

				# the_coeficient_percent = (scorecard.points.to_f / (scorecard.played.to_f * scorecard.group.points_for_win) * 100)
				the_coeficient_percent = scorecard.coeficient_percent.to_i

				the_coeficient_percent_full = "#{sprintf( '%0.00f', the_coeficient_percent)}%"
				if the_coeficient_percent.to_f < 40
					the_coeficient_percent_full = "<font color='red'>#{the_coeficient_percent_full}</font>"
				elsif the_coeficient_percent > 39 and the_coeficient_percent < 60
					the_coeficient_percent_full = "<font color='orange'>#{the_coeficient_percent_full}</font>"
				elsif the_coeficient_percent > 59
					the_coeficient_percent_full = "<font color='green'>#{the_coeficient_percent_full}</font>"
				end

				the_coeficient_points_full = "#{sprintf( '%0.00f', scorecard.coeficient_points)}"
			%>


			<tr>	
				<%= content_tag(:td, "#{scorecard.ranking}.".html_safe, :align => 'center') %>
				<%= content_tag(:td, "&nbsp;".html_safe) %>
				<%= content_tag(:td, "#{the_player_link}".html_safe, :align => 'left') %>
				<%= content_tag(:td, "&nbsp;".html_safe) %>
				<%= content_tag(:td, "#{scorecard.points.round}".html_safe, :align => 'center') %>
				<%= content_tag(:td, "&nbsp;".html_safe) %>
				<%= content_tag(:td, "#{scorecard.played}".html_safe, :align => 'center') if DISPLAY_FREMIUM_SERVICES %>
				<%= content_tag(:td, "&nbsp;".html_safe) if DISPLAY_FREMIUM_SERVICES %>
				<%= content_tag(:td, "#{scorecard.wins}".html_safe, :align => 'center') %>
				<%= content_tag(:td, "&nbsp;".html_safe) %>
				<%= content_tag(:td, "#{scorecard.draws}".html_safe, :align => 'center') %>
				<%= content_tag(:td, "&nbsp;".html_safe) %>
				<%= content_tag(:td, "#{scorecard.losses}".html_safe, :align => 'center') %>
				<%= content_tag(:td, "&nbsp;".html_safe) %>
				<%= content_tag(:td, "#{scorecard.goals_scored}".html_safe, :align => 'center') %>
				<%= content_tag(:td, "&nbsp;".html_safe) %>
				<%= content_tag(:td, "#{the_coeficient_percent_full}".html_safe, :align => 'center') %>
				<%= content_tag(:td, "&nbsp;".html_safe) %>
				<%= content_tag(:td, "#{the_coeficient_points_full}".html_safe, :align => 'center') %>
			</tr>
			
			
			
			<% end %>

		</tbody>
	</table>
	

<% 
end 
-%>




