
<%= stylesheet_link_tag 'application' %>
<%= stylesheet_link_tag 'web_app_theme', 'themes/djime-cerulean/style' %>
<%= stylesheet_link_tag 'show' %>

<% 
@archive ||= false 
@less_games = 5 
%> 
<div class="block">

<% 
	@games_played = @group.games_played	
	the_value = group.is_futbol?
	scorecards = false
	collection.each {|card| scorecards = true }

	if scorecards	
%>
<div class="content">   

	<h2 class="title"><a href="<%= @group_url %>" title="<%= @group.name %>"><%= @group.name %></a></h2>

	<div class="inner">

		<table class="table">

			<tr>           
				<th class="first" title="<%= I18n.t(:ranking_full) %>"><%= I18n.t(:ranking) %></th>
				<th>&nbsp;</th>
				<th><span><%= I18n.t(:name) %></span></th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th title="<%= I18n.t(:points_full) %>"><%= I18n.t(:points) %></th>
				<th title="<%= I18n.t(:games_won_full) %>"><%= I18n.t(:games_won) %></th>
				<th title="<%= I18n.t(:games_tied_full) %>"><%= I18n.t(:games_tied) %></th>
				<th title="<%= I18n.t(:games_lost_full) %>"><%= I18n.t(:games_lost) %></th>
				
				<%  if group.is_futbol?  %>
				<th title="<%= I18n.t(:goals_scored_full) %>"><%= I18n.t(:goals_scored) %></th>
				<th title="<%= I18n.t("goals_for_full_#{the_value}") %>"><%= I18n.t("goals_for_#{the_value}") %></th>
				<th title="<%= I18n.t("goals_against_full_#{the_value}") %>"><%= I18n.t("goals_against_#{the_value}") %></th>
				<th title="<%= I18n.t("goal_difference_full_#{the_value}") %>"><%= I18n.t("goal_difference_#{the_value}") %></th>
				<% end %>
				
				<th title="<%= I18n.t(:coeficient_full) %>"><%= I18n.t(:coeficient) %></th>
				<th title="<%= I18n.t(:games_played_full) %>"><%= I18n.t(:games_played) %></th>
				<th title="<%= I18n.t(:games_assigned_full) %>"><%= I18n.t(:games_assigned) %></th>
				<!-- <th title="<%#= I18n.t(:previous_ranking_full) %>"><%#= I18n.t(:previous_ranking) %></th> -->
				<th title="<%= I18n.t(:coeficient_full) %>"><%= I18n.t(:coeficient_points) %></th>
				<th title="<%= I18n.t(:participation_full) %>"><%= I18n.t(:participation) %></th>
				<!-- <th class="last">&nbsp;</th> -->
			</tr>

			<%= render :partial => '/scorecards/scorecard', :collection => collection, 
							:locals => {:group => @group, :games_played => @games_played, :less_games => @less_games, :mailer => true} %>        
		</table>
	
		<p><em style="color: rgb(153, 153, 153);">
			<%= "(*) #{I18n.t(:player_with)} #{@less_games} #{I18n.t(:player_with_less_games)}" %>
			</em>
		</p>
		
	</div>

	</div>
<% 
end 
-%>

</div>




