
<p style="font-size:14px;font-family:&quot;Helvetica Neue&quot;,helvetica,arial,sans-serif;line-height:20px;margin:10px 0;background-color:#eee;border-radius:5px;padding:10px">

<% if @schedule %>	
	
	<%= "#{link_to(@schedule.group.name, group_url(@schedule.group))}".html_safe  %>
	<br>
	<%= "#{I18n.l(@schedule.starts_at, :format => :day_time_wo_year_exact)}".html_safe %>

<% end -%>

<% if @schedule.played? %>  


	<br>
	<%= "<STRONG>#{I18n.t(:score)}</STRONG>:  ".html_safe %>

	<table width="100%" border="0" cellpadding="0" cellspacing="0" style="font: 13px arial;">
	  <tr>
	    <td style="width:1%; color:#999999; vertical-align: top;">• </td>
	    <td>
			<%= "#{link_to(@schedule.group.name, group_url(@schedule.group.name))}  ".html_safe %>
			<%= "#{@schedule.matches.first.group_score}  -  ".html_safe %>
			<%= "#{@schedule.matches.first.invite_score}  ".html_safe %>
			<%= "#{@schedule.group.second_team}".html_safe %>          
	    </td>
	  </tr>
	  <tr/>
	  <br>
	</table>
	
	<br>
	
<% end %>  


</p>


<% unless @schedule.convocados.empty? %>  
	<%= render 'user_mailer/message_list_box', :label => I18n.t(:rosters), :the_roster => @schedule.the_roster, :schedule => @schedule %>
<% end %>

<% unless @schedule.last_minute.empty? or @schedule.played? %>   
	<%= render 'user_mailer/message_list_box', :label => I18n.t(:last_minute), :the_roster => @schedule.the_last_minute, :schedule => @schedule %>
<% end %>

<%= render 'user_mailer/the_match_status' %>

