<table width="100%" border="0" cellpadding="0" cellspacing="0" style="font: 13px arial;">
  <tr>
    <td style="width:1%; color:#999999; vertical-align: top;">&nbsp;</td>
    <td style="width:99%">&nbsp;<%= "#{@message.body}".html_safe %></td>
  </tr><tr>
    <td style="width:1%; color:#999999; vertical-align: top;">&nbsp;</td>
    <td style="width:99%">&nbsp;</td>
  </tr><tr>
    <td style="width:1%; color:#999999; vertical-align: top;">&nbsp;</td>
    <td style="width:99%">&nbsp;
		<%= "#{link_to(I18n.t(:reply), message_url(@message))}".html_safe unless (@schedule or !@message.recipient_deleted_at.nil?) %>
		
		<% if @schedule %>		
			<%= "#{link_to(@schedule.group.name, group_url(@schedule.group))}".html_safe  %><br/>
			<%= "#{I18n.l(@schedule.starts_at, :format => :day_time_wo_year_exact)}".html_safe %><br/>
			<%= "#{@schedule.group.marker.city.capitalize}".html_safe %><br>
			<%= "#{link_to(@schedule.group.marker.name, marker_url(@schedule.group.marker))}".html_safe %><br/>
		<% end -%>
		
	</td>
  </tr>
</table>