<link href="http://haypista/stylesheets/main.css" media="screen" rel="stylesheet" type="text/css" />
<link href="http://haypista/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
<!-- <link href="http://haypista/stylesheets/themes/djime-cerulean/style.css" media="screen" rel="stylesheet" type="text/css" /> -->
<link href="http://haypista/stylesheets/show.css" media="screen" rel="stylesheet" type="text/css" />

<% 
	@archive ||= false 
	@less_games = 5 
	@games_played = @group.games_played	
	scorecards = false
	collection.each {|card| scorecards = true }
%> 
<div class="block">

<% 
	if scorecards	
%>
<div class="content">   

	<h2 class="title"><%= link_to(@group.name, group_url(@group)) %></h2>
	<p><%= link_to(I18n.t(:scorecard), scorecard_url(@group)) %></p>
	
	<div class="inner">

		<table class="table">

			<% if @group.is_futbol? %>
			<%= render :partial => '/scorecards/scorecard_futbol_label' %>
			<%= render :partial => '/scorecards/scorecard', :collection => collection, 
							:locals => {:group => @group, :games_played => @games_played, :less_games => @less_games, :mailer => true} %>
			<% end %>
			
			<%  if @group.is_basket?  %>
			<% @scorecard_baskets = @scorecards %>
			<%= render :partial => '/scorecards/scorecard_basket_label' %>
			<%= render :partial => '/scorecards/scorecard_basket', :collection => @scorecard_baskets, 
							:locals => {:group => @group, :games_played => @games_played, :less_games => @less_games, :mailer => true} %>
			<% end %> 
			
			<% unless @group.is_futbol? or @group.is_basket? %>
			<% @scorecard_others = @scorecards %>
			<%= render :partial => '/scorecards/scorecard_other_label' %>
			<%= render :partial => '/scorecards/scorecard_other', :collection => @scorecard_others, 
							:locals => {:group => @group, :games_played => @games_played, :less_games => @less_games, :mailer => true} %>     
			<% end %>
      
		</table>
		
	</div>

	</div>
<% 
end 
-%>

</div>




