<%= "#{I18n.t(:hi_email_header)} #{@friend.name}, ".html_safe %>	
<br>
<br>

<%= "#{I18n.t(:request_petition)} #{@user.name} #{I18n.t(:to_join_email)} #{@group.name}".html_safe %>	
<br>
<br>

<a href="<%= @teammate_accept_url %>"><%= I18n.t(:accept_player) %></a>  
<a href="<%= @teammate_decline_url %>"><%= I18n.t(:deny_player) %></a>	
<br>
<br>

<%= "#{link_to(@group.name, group_url(@group))}".html_safe %>	
<br>
<br>