<%
	the_label = I18n.t(:request_petition) 
%>

<%= render  'user_mailer/header' %>

<%= render  'user_mailer/title', :the_label => the_label %>

<%= "#{I18n.t(:hi_email_header)} #{@friend.name}, " %><br/>
<%= "#{I18n.t(:request_petition)} #{@user.name} #{I18n.t(:to_join_email)} #{@group.name}" %><br/>

<a href="<%= @teammate_accept_url %>"><%= I18n.t(:accept_player) %></a><br/>
<a href="<%= @teammate_decline_url %>"><%= I18n.t(:deny_player) %></a><br/>



<%= render 'user_mailer/user' %>


<%= render 'user_mailer/group' %>


<%= render 'user_mailer/footer' %>