<%= render :partial => 'header' %>

<h2 style="margin:0; padding:0; font:17px arial; color:#069;"><%= I18n.t(:topic) %>:&nbsp;&nbsp;</h2>

<p style="margin: 15px 0 2px 0"><strong>&nbsp;</strong></p>

<table width="100%" border="0" cellpadding="0" cellspacing="0" style="font: 13px arial;">
  <tr>
    <td style="width:1%; color:#999999; vertical-align: top;">&nbsp;</td>
    <td style="width:99%">&nbsp;<%= "#{@user.name} #{I18n.t(:writes)}: " %></td>
  </tr>
  <tr>
    <td style="width:1%; color:#999999; vertical-align: top;">&nbsp;</td>
    <td style="width:99%">&nbsp;</td>
  </tr>
  <tr>
    <td style="width:1%; color:#999999; vertical-align: top;">&nbsp;</td>
    <td style="width:99%">&nbsp;<%#= @message.subject %></td>
  </tr>
  <tr>
    <td style="width:1%; color:#999999; vertical-align: top;">&nbsp;</td>
    <td style="width:99%">&nbsp;<%= @message.body %></td>
  </tr>
  <tr>
    <td style="width:1%; color:#999999; vertical-align: top;">&nbsp;</td>
    <td style="width:99%">&nbsp;</td>
  </tr>
  <!-- <tr>
      <td style="width:1%; color:#999999; vertical-align: top;">&nbsp;</td>
      <td style="width:99%">&nbsp;<a href="<= @reply_url %>"><= " #{to(:reply)}" %></a></td>
    </tr> -->
</table>

<!-- <div style="margin-top: 6px; border-bottom: 3px solid #ddd; line-height:3px">&nbsp;</div> -->

<%= render :partial => 'footer' %>