
<% comments.each do |comment| 
	if comment.created_at >= THREE_WEEKS_AGO 
	-%>
<tr>  
	<td>
			<% if comment.user %>
				<%= image_link_small comment.user %>
			<% elsif @group %>
				<%= group_image_link_small @group %>
			<% elsif @tournament %>
				<%= tournament_image_link_small @tournament %>		
			<% end %>
	</td>

	<td class="name_and_date">
		
		<span class="label"><%= label_name(:from) %>:</span>
		<% if comment.user %>
			<%= user_link comment.user %>
		<% elsif @group %>
			<%= group_link @group %>
		<% elsif @tournament %>
			<%= tournament_link @tournament %>	
		<% end %>
		
		<span class="date">
			<%= nice_day_of_week(comment.created_at) %>
		</span>
	</td>
	
	<td>				
		<%=sanitize(comment.body) %>			
	</td>
	
	
	<td class="last">
		<%#= render :partial => 'action', :locals => {:comment => comment} %>
	</td>
</tr>
<% 
	end
	end 
-%>

