<ul id="dsq-comments">
	<li id="dsq-comment-<%= comment.id %>" data-dsq-comment-id="<%= comment.id %>" class="dsq-comment dsq-clearfix dsq-moderator" style="margin-left: 0px;">
		
		<div class="dsq-avatar dsq-tt">
			<%= image_link_small comment.user %>
		</div>
		
		<div id="dsq-comment-body-<%= comment.id %>" class="dsq-comment-body">
			
			<div class="dsq-comment-header">
				<span class="dsq-commenter-name">
					<%= h(comment.user.name) %>
				</span>
					<ul class="dsq-comment-actions">					
						<li class="name_and_date">
							<span class="date">
								<%= nice_day_time_wo_year(comment.created_at) %>
							</span>	
						</li>
					</ul>
			</div>
			
			<div class="dsq-comment-message" id="dsq-comment-message-<%= comment.id %>">
				<div class="dsq-comment-text" id="dsq-comment-text-<%= comment.id %>">
					<%=sanitize comment.body %>		
				</div>
			</div>
			
			<!-- edit box dynamically inserted here -->
			
			<div id="dsq-append-edit-<%= comment.id %>"></div>
			
			<!-- reply box dynamically inserted here -->
			<!-- <div id="dsq-append-reply-<%= comment.id %>">
					
					<div id="comment<%= comment.id %>" style='display:none;'>			
						<%#= render 'comments/discuss_form' %>	
					</div>
						
			</div> -->
			
		</div>
		
	</li>
	
	<!-- new replies dynamically inserted here -->
	<li id="dsq-append-post-<%= comment.id %>">
	</li>
</ul>
