<%= stylesheet_link_tag 'comment' %>

<% 
	the_label = ""
	the_label = sanitize(@schedule.concept) if @schedule
	the_label = sanitize(@user.name) if @user
	the_label = sanitize(@group.name) if @group
	the_label = sanitize(@challenge.name) if @challenge
	the_label = sanitize(@venue.name) if @venue
	the_label = "#{label_name(:reminder_wall_message)} - #{the_label}"

	the_comments = []
	items = []
	item_counter = 0

	unless @comments.nil?
		
	@comments.each do |item| 

		has_the_item = false
		the_comments.each do |comment|             
			has_the_item = (comment.user_id == item.user_id and comment.body == item.body ) if !has_the_item          
		end           
		unless has_the_item
			items << item 
			item_counter += 1
		end
		the_comments << item

	end
	
	end

	#  create new comment for fomr
	@comment = Comment.new
	@item = @comment
	
	(game_played =  @schedule.played?) if @schedule
%>


<div class="row">
	<div class="twelve columns">
		
		<%= content_tag :h4, the_label %>
		<hr />
		
		<div class="row">
			<div class="one columns">
				<%= image_link(current_user) %>
			</div>

			<div class="eleven columns">
				<%= render 'shared/new_edit_multipart_zurb', :item => @item %>
			</div>
		</div>	
		<hr />
		
	</div>
</div>

<% if game_played %>

	<div class="row">
		<div class="twelve columns">
			
			<%= render 'comments/game_played_zurb' %>
			
		</div>
	</div>


<div class="row">
	<div class="twelve columns">
		
		<%= content_tag :h4, I18n.t(:has_comments, :count => item_counter) %>
		<hr />
		
		<%= render 'comments/game_played_zurb' if @schedule and @schedule.played? %>
		<hr />
		
	</div>
</div>	
	
<% end -%>

<% if item_counter.to_i > 0 %>

	<div class="row">
		<div class="twelve columns">
		
			<%= content_tag :h4, item_counter %>
		
			<% items.each do |comment| %>
			<%= render 'comments/discussion_thread_zurb', :comment => comment %>
			<% end %>
		
		</div>
	</div>

<% end -%>
