
  <div class="group">
    <%= f.label :entry_id, "Entry_id", :class => :label %>
    <%= f.text_field :entry_id, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :user_id, "User_id", :class => :label %>
    <%= f.text_field :user_id, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :group_id, "Group_id", :class => :label %>
    <%= f.text_field :group_id, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :body, "Body", :class => :label %>
    <%= f.text_area :body, :class => 'text_area' %>
    <span class="description">Ex: a simple text</span>
  </div>
        
<div class="group navform">
  <input type="submit" class="button" value="Save &rarr;" /> or <%= link_to 'Cancel', comments_path %>
</div>