<% 
	is_user_manager = current_user.is_manager_of?(@schedule.group)
	the_label = sanitize(@schedule.concept)
	content_for(:title, sanitize(@schedule.concept))	

	show_start_rating = (current_user.is_member_of?(@schedule.group) and @schedule.game_played?)
	show_individual_score = (@schedule.group.is_futbol? and @schedule.played?)
	
	if show_individual_score
		@the_home_score = ""
		@the_away_score = ""
		@has_score = false
		the_spaces = "&nbsp;&nbsp;-&nbsp;&nbsp;".html_safe

		@schedule.matches.find(:all, :conditions => ["goals_scored > 0"]).each do |match| 			
			@the_home_score += "#{item_name_link(match.user)}#{the_spaces}#{match.goals_scored}, " if match.group_id != 0
			@the_away_score += "#{item_name_link(match.user)}#{the_spaces}#{match.goals_scored}, " if match.group_id == 0
			@has_score = true
		end
		@the_home_score = @the_home_score.chop.chop.html_safe
		@the_away_score = @the_away_score.chop.chop.html_safe
		
		show_individual_score = (show_individual_score and @has_score)
	end
	
%>
<h3><%= label_name(:match) %></h3>

<ul id="dsq-comments">
	<li id="dsq-comment-<%= @schedule.id %>" data-dsq-comment-id="<%= @schedule.id %>" class="dsq-comment dsq-clearfix dsq-moderator" style="margin-left: 0px;">
		
		<div class="dsq-avatar dsq-tt">
			<%= group_image_link_small(@schedule.group) %>
		</div>
		
		<div id="dsq-comment-body-<%= @schedule.id %>" class="dsq-comment-body">
			
			<div class="dsq-comment-header">
				<span class="dsq-commenter-name">
					<%= item_name_link(@schedule.group) %>
			          &nbsp;&nbsp;
			          <%= @schedule.home_score %>
					&nbsp;&nbsp;-&nbsp;&nbsp;
					<%= @schedule.away_score %>
			          &nbsp;&nbsp;
			          <%= link_to h(@schedule.group.second_team), group_path(@schedule.group) %>
				</span>
					<ul class="dsq-comment-actions">					
						<li class="name_and_date">
							<span class="date">
								<%= nice_day_time_wo_year(@schedule.ends_at) %>
							</span>	
						</li>
					</ul>
			</div>
			
			<div class="dsq-comment-message" id="dsq-comment-message-<%= @schedule.id %>">
				<div class="dsq-comment-text" id="dsq-comment-text-<%= @schedule.id %>">

					<% if show_individual_score %>	

							<%= @schedule.home_group %>:&nbsp;&nbsp;<%= @the_home_score %><br/>
							<%= @schedule.away_group %>:&nbsp;&nbsp;<%= @the_away_score %>	

					<% end %>
				</div>
			</div>
		</div>
	</li>
</ul>