<% 
	@comments = Comment.new 
	textfield ||= false
%>
<div class="inner">

<% form_for :comments, :url => comments_path, :html => { :class => :form } do |f| -%>
	<h5 class="title"><%= label %></h5>
	<br />
<% 
	if textfield 
%>
		<%= f.text_field :body, :class => 'textfield' -%>&nbsp;&nbsp;<%= f.submit label_name(:comment) %>		
<% 
	else 
%>
		<%= f.text_area :body, :class => 'textfield' -%>
		<br /><br />
		<%= f.submit label_name(:comment) %>
<% 
	end 
%>
	<%= hidden_field :blog, :id  %>
	<%= hidden_field :forum, :id  %>
<% end -%>

	<div class="clear"></div>
</div>
