<%
	if @user
		label = label_with_name('the_wall', h(@user.name))
		label = control_label('my_wall') if @user == current_user	
	end	
	if @group
		label = label_with_name('the_wall', h(@group.name))
	end
%>
<div class="block">

  <%= render :partial => '/users/secondary_navigation' if @user %>
  <%= render :partial => '/groups/secondary_navigation' if @group %>

  <div class="content">
	
	<h2 class="title"><%= label %></h2>
	
    <div class="inner">
	
	<%= render :partial => 'comments/new', 
		:locals => { :blog_id => @entry.blog_id, :label => label_name(:what_are_you_practicing), :textfield => true } if @user == current_user %>

	<%= render :partial => 'comments/comments' %>

	<%= render :partial => 'comments/new', 
		:locals => { :blog_id => @entry.blog_id, :label => label_name(:write_comment), :textfield => false } if @user != current_user %>

    </div>
  </div>
</div>

<%# content_for :sidebar, render(:partial => '/users/sidebar_show') if @user -%>
<%# content_for :sidebar, render(:partial => '/groups/sidebar_show') if @group -%>
