<%
	if @user
		label = label_with_name('the_wall', h(@user.name))
		label = control_label('my_wall') if @user == current_user	
	end	
	if @group
		label = label_with_name('the_wall', h(@group.name))
	end	
	if @tournament
		label = label_with_name('the_wall', h(@tournament.name))
	end
%>
<div class="block">

  <%= render :partial => '/users/secondary_navigation' if @user %>
  <%= render :partial => '/groups/secondary_navigation' if @group %>
  <%= render :partial => '/tournaments/secondary_navigation' if @tournament %>

  <div class="content">
	
	<h2 class="title"><%= label %></h2>
	
    <div class="inner">
	
	<%= render :partial => 'comments/new', 
		:locals => { :blog_id => @entry.blog_id, :label => label_name(:what_are_you_practicing), 
					 :textfield => true } if @user == current_user %>

      <table class="table">
		<tr>             
          <th class="first">&nbsp;</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th class="last">&nbsp;</th>
        </tr>

		<%= render :partial => 'comments/comments' %>
      </table>

	<%= render :partial => 'comments/new', 
		:locals => { :blog_id => @entry.blog_id, :label => label_name(:write_comment), :textfield => false } if @user != current_user %>
		
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => '/users/sidebar_show') if @user -%>
<% content_for :sidebar, render(:partial => '/groups/sidebar_show') if @group -%>
<% content_for :sidebar, render(:partial => '/tournaments/sidebar_show') if @tournament -%>
