<div id="header">
	
	<div id="logo"><p><%= image_tag('basegif.gif', options={:style => "height: 50px; width: 135px;"}) %></p></div>
	
	<% unless logged_in? %>	
	
	<div id="NavOne">
		<ul>
		    <%=content_tag('li', link_to(t(:home), home_url)) %>
		    <%=content_tag('li', link_to(t(:features), groups_url)) %>
		    <%=content_tag('li', link_to(t(:log_in), sessions_url)) %>
		</ul>
	</div>

	<!-- <div id="flags">
			<a href="/set_locale?locale=en">ENG</a>
			<a href="/set_locale?locale=de">GER</a>
			<a href="/set_locale?locale=es">ESP</a>
	</div> -->
	
	<% else %>
		<%= render :partial => '/layouts/vcard/vcard_profile' %>
	<% end %>

</div> <!-- end header -->