
  <div class="group">
    <%= f.label :name, "Name", :class => :label %>
    <%= f.text_field :name, :class => 'text_field' %>
    <span class="description"><%= label_name('name', 'description') %></span>
  </div>

  <div class="group">
    <%= f.label :description, "Description", :class => :label %>
    <%= f.text_area :description, :class => 'text_area' %>
    <span class="description"><%= label_name('name', 'description') %></span>
  </div>

  <div class="group">
    <%= f.label :icon, "Icon", :class => :label %>
    <%= f.text_field :icon, :class => 'text_field' %>
    <span class="description"><%= label_name('name', 'description') %></span>
  </div>

  <div class="group">
    <%= f.label :points_for_win, "Points_for_win", :class => :label %>
    <%= f.text_field :points_for_win, :class => 'text_field' %>
    <span class="description"><%= label_name('name', 'description') %></span>
  </div>

  <div class="group">
    <%= f.label :points_for_lose, "Points_for_lose", :class => :label %>
    <%= f.text_field :points_for_lose, :class => 'text_field' %>
    <span class="description"><%= label_name('name', 'description') %></span>
  </div>

  <div class="group">
    <%= f.label :points_for_draw, "Points_for_draw", :class => :label %>
    <%= f.text_field :points_for_draw, :class => 'text_field' %>
    <span class="description"><%= label_name('name', 'description') %></span>
  </div>

  <div class="group">
    <%= f.label :deleted_at, "Deleted_at", :class => :label %>
    <%= f.datetime_select :deleted_at, :class => 'datetime_select' %>
    <span class="description"><%= label_name('name', 'description') %></span>
  </div>
        
<div class="group navform">
  <input type="submit" class="button" value="Save &rarr;" /> or <%= link_to 'Cancel', sports_path %>
</div>