<%
	the_label = label_name(:sports)
	content_for(:title, the_label)
%>

<div class="block">

  <%= render :partial => 'secondary_navigation' %>  

  <div class="content">   
  
    <h2 class="title"><%= get_collection_label(@sports) %></h2>
	
    <div class="inner">
	
      <table class="table">
	  
        <tr>            
          <th class="first">&nbsp;</th>
          <th><%= label_name(:name) %></th>
          <th><%= label_name(:points_for_win)%></th>
          <th><%=label_name(:points_for_lose)%></th>
          <th><%=label_name(:points_for_draw) %></th>
          <th><%= label_name(:icon_name) %></th>
          <th class="last"><%= label_name(:icon) %></th>
        </tr>
        <% @sports.each do |sport| -%>
		<tr>
			<td><%= sport.id %></td>
			<td><%= link_to sport.name, sport_path(sport) %></td>
			<td><%= sport.points_for_win %></td>
			<td><%= sport.points_for_lose %></td> 
			<td><%= sport.points_for_draw %></td>
			<td><%= sport.icon %></td>
			<td class="last"><%= image_tag(sport.icon, options={:style => "height: 15px; width: 15px;"}) %></td>
        </tr>          
		        <% end -%>

		      </table>
			  <%= render :partial => 'shared/action_bar', :locals => { :collection => @user } %>

		    </div>

		  </div>

		</div>

		<% content_for :sidebar, render(:partial => 'sidebar') -%>