<div class="block">

  <%= render :partial => 'secondary_navigation' %>  

  <div class="content">   
  
    <h2 class="title"><%= get_collection_label(@sports) %></h2>
	
    <div class="inner">
	
      <table class="table">
	  
        <tr>            
          <th class="first">&nbsp;</th>
          <th>Name</th>
          <th>Created at</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @sports.each do |sport| -%>
        <tr>
          <td>
            <%= sport.id %>
          </td>
          <td>
            <%= link_to sport.name, sport_path(sport) %>
          </td>
          <td>
            <%= sport.created_at %>
          </td>
          <td class="last">
            <%= link_to label_name(:show), sport_path(sport) %> |
            <%= link_to label_name(:edit), edit_sport_path(sport) %> |
            <%= link_to label_name(:destroy), sport_path(sport), :method => :delete, :confirm => label_name(:are_you_sure) %>
          </td>
        </tr>          
		        <% end -%>

		      </table>
			  <%= render :partial => 'shared/action_bar', :locals => { :collection => @user } %>

		    </div>

		  </div>

		</div>

		<% content_for :sidebar, render(:partial => 'sidebar') -%>