<%
the_label = label_name(:sports)
content_for(:title, the_label)
%>

<div class="row">
	<div class="twelve column">   

<%= get_secondary_navigation %>

		<%= set_title_class(the_label, 'sport') %>
		
		<!-- <div class="inner"> -->

			<table>

				<tr>   
					<%= set_content_tag_safe(:th, "&nbsp;", "first") %>
					<%= content_tag :th, label_name(:name), :class => "heading" %>
					<%= content_tag :th, label_name(:points_for_win), :class => "heading" %>
					<%= content_tag :th, label_name(:points_for_lose), :class => "heading" %>
					<%= content_tag :th, label_name(:points_for_draw), :class => "heading" %>
					<%= content_tag :th, label_name(:player_limit), :class => "heading" %>
					<%= content_tag :th, label_name(:icon), :class => "heading" %>
					<%= content_tag :th, "&nbsp;&nbsp;", :class => "last" %>
				</tr>
				<% @sports.each do |sport| -%>
				<tr>
					<%= content_tag :td, "" %>
					<td><%= link_to sport.name, sport_path(sport) %></td>
					<td align="center"><%= sport.points_for_win %></td>
					<td align="center"><%= sport.points_for_lose %></td> 
					<td align="center"><%= sport.points_for_draw %></td>
					<td align="center"><%= sport.player_limit %></td>
					<td align="left"><%= image_tag(sport.icon, options={:style => "height: 15px; width: 15px;"}) %></td>
					<td>
						<span class="action">
							<strong><%= link_to label_name(:sports_edit), edit_sport_path(:id => sport) %></strong>
						</span>
					</td>
				</tr>          
				<% end -%>

			</table>

		

		<!-- </div> -->

	</div>

</div>
