<div class="block">

  <%= get_secondary_navigation %>   
  
  <div class="content">
    <div class="inner">

	<p>
	  <b><%= label_name(:name) %>:</b>
	  <%=h @sport.name %>
	</p>

        <p>
          <b><%= label_name(:description) %>:</b>
          <%=h @sport.description %>
        </p>

        <p>
          <b><%= label_name(:icon) %>:</b>
          <%=h @sport.icon %>
        </p>

        <p>
          <b><%= label_name(:points_for_win) %>:</b>
          <%=h @sport.points_for_win %>
        </p>

        <p>
          <b><%= label_name(:points_for_lose) %>:</b>
          <%=h @sport.points_for_lose %>
        </p>

        <p>
          <b><%= label_name(:points_for_draw) %>:</b>
          <%=h @sport.points_for_draw %>
        </p>
  
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar_show') -%>