

<%= render 'shared/show_description_zurb', :item => @sport %>
	
	
<div class="row">

	<div class="twelve columns"> 
		
		<table>
		<tbody>
		<tr>
		<td>
			
		<%= render_show_detail_zurb(:name, item_name_link(@sport)) %>
		<%= render_show_detail_zurb(:description, sanitize(@sport.description)) %>
		<%= render_show_detail_zurb(:icon) %>:</b><%=h @sport.icon %>
		<%= render_show_detail_zurb(:points_for_win, @sport.points_for_win %>
		<%= render_show_detail_zurb(:points_for_lose, @sport.points_for_lose %>
		<%= render_show_detail_zurb(:points_for_draw, @sport.points_for_draw %>
		<%= render_show_detail_zurb(:player_limit, @sport.player_limit %>

		</td>	
		</tr>
		</tbody>
		</table>
		
	</div>
</div>










        
 