
<% if @installation %>
	<%= hidden_field :timetable, :installation_id %>
<% end %>

<% if @group %>
	<%= hidden_field :timetable, :item_id %>
	<%= hidden_field :timetable, :item_type %>
<% end %>



<div class="row">
	<div class="three columns">
		<%= set_form_label(the_form, :type_id, :timetable) %>
		<%= set_form_select(the_form, :type_id, Type.timetable_type_weekdays, @timetable.type_id, false) %>
	</div>

	<div class="nine columns">
		
		<div class="row">
			<div class="three columns">

				<%= set_form_label(the_form, :starts_at) %>
				<div class="row">
					<div class="twelve columns">
						<%= the_form.text_field :starts_at_time, :id => 'starts_at_timepicker', 
						:class => 'small input-text', 
						:value => @timetable.starts_at.strftime("%H:%M") %>
					</div>
				</div>
				
			</div>

			<div class="one columns"></div>
			
				<div class="three columns">

					<%= set_form_label(the_form, :ends_at) %>
					<div class="row">
						<div class="twelve columns">
							<%= the_form.text_field :ends_at_time, :id => 'ends_at_timepicker', 
							:class => 'small input-text', 
							:value => @timetable.ends_at.strftime("%H:%M") %>
						</div>
					</div>

				</div>
				
			
			<div class="two columns"></div>
		</div>
	
	</div>
	
</div>

<%= render 'utilities/datepicker' %>
<%= render 'utilities/timepicker' %>

<%#= set_form_label(the_form, :timeframe) %>
<%#= set_form_text_field(the_form, :timeframe, 'small input-text') %>
