
  <div class="group">
    <%= f.label :forum_id, "Forum_id", :class => :label %>
    <%= f.text_field :forum_id, :class => 'text_field' %>
    <span class="description"><%= label_name('name', 'description') %></span>
  </div>

  <div class="group">
    <%= f.label :user_id, "User_id", :class => :label %>
    <%= f.text_field :user_id, :class => 'text_field' %>
    <span class="description"><%= label_name('name', 'description') %></span>
  </div>

  <div class="group">
    <%= f.label :name, "Name", :class => :label %>
    <%= f.text_field :name, :class => 'text_field' %>
    <span class="description"><%= label_name('name', 'description') %></span>
  </div>

  <div class="group">
    <%= f.label :posts_count, "Posts_count", :class => :label %>
    <%= f.text_field :posts_count, :class => 'text_field' %>
    <span class="description"><%= label_name('name', 'description') %></span>
  </div>
        

<div class="clear"></div> 

<div class="group navform">
	<%= submit_tag @topic.new_record? ? label_name(:create) : label_name(:edit), 
			:class => "button" %> <%= label_name(:or) %> <%= link_to label_name(:cancel), topics_path %>
</div>