<script type="text/javascript" src="javascripts/jquery-ui-1.8.12.custom.min.js"></script>        
<%= stylesheet_link_tag 'jquery-ui-1.8.12.custom' %>

<% the_label = "#{I18n.t(:create)} #{I18n.t(:marker)}".capitalize %>

<%#= link_to(the_label, new_marker_url(:lat => 'lat', :lng => 'lng')) %>

	
    <style>
      *{
        font-family: verdana;
        font-size: 12px;
      }
      body{
        text-align:center;
      }
      .ui-menu .ui-menu-item{
        text-align: left;  
        font-weight: normal;
      }
      .ui-menu .ui-menu-item a.ui-state-hover{
        border: 1px solid red; 
        background: #FFBFBF; 
        color: black;
        font-weight:bold;
      }
    </style>
    
    <script type="text/javascript">


      $(function(){
          
		$('#googleMap').gmap3(
			
			
			// add markers from database table
			{ action: 'addMarkers',
			markers:[	

			<% @the_markers.each do |marker| %>
			<%= "{lat:#{marker.latitude}, lng:#{marker.longitude}, data:'#{marker.description}'}," %>
			<% end -%>	

			],
			marker:{
				options:{
					draggable: false
				},
				events:{
					mouseover: function(marker, event, data){
						var map = $(this).gmap3('get'),
						infowindow = $(this).gmap3({action:'get', name:'infowindow'});
						if (infowindow){
							infowindow.open(map, marker);
							infowindow.setContent(data);
						} else {
							$(this).gmap3({action:'addinfowindow', anchor:marker, options:{content: data}});
						}
					},
					mouseout: function(){
						var infowindow = $(this).gmap3({action:'get', name:'infowindow'});
						if (infowindow){

							setTimeout(function() {
								// Do something after 5 seconds
								infowindow.close();
								}, 5000);

							}
						}
					}
				}
			}
					
			//  get user geo location  
			,{ action : 'geoLatLng',
				callback : function(latLng){
					if (latLng){						
						$(this).gmap3({
							action: 'addMarker', 
							latLng:latLng		
						},
						"autofit");
					} else {
						$('#googleMap-result').html('not localised !');
					}
				}
			}
			
		// 	,{ action: 'addMarker',
		// 		latLng: [40.4855346857, -3.7153476477],
		// 		map:{
		// 			center: true,
		// 			zoom: 14
		// 		},
		// 		marker:{
		// 			options:{
		// 				draggable:true
		// 			},
		// 			events:{
		// 				dragend: function(marker){
		// 					$(this).gmap3({
		// 						action:'getAddress',
		// 						latLng:marker.getPosition(),
		// 						callback:function(results){
		// 							var map = $(this).gmap3('get'),
		// 							infowindow = $(this).gmap3({action:'get', name:'infowindow'}),
		// 							content = results && results[1] ? results && results[1].formatted_address : 'no address';
		// 							if (infowindow){
		// 								infowindow.open(map, marker);
		// 								infowindow.setContent(content);
		// 							} else {
		// 								$(this).gmap3({action:'addinfowindow', anchor:marker, options:{content: content}});
		// 							}
		// 						}
		// 					});
		// 				}
		// 			}
		// 		}
		// 
		// 	
		// }
		
		);
		

          $('#address').autocomplete({
            //This bit uses the geocoder to fetch address values
            source: function(request, response) {
              $("#googleMap").gmap3({
                action:'getAddress',
                address: request.term,
                callback:function(results){
                  if (!results) return;
                  response($.map(results, function(item) {
                    return {
                      label:  item.formatted_address,
                      value: item.formatted_address,
                      latLng: item.geometry.location
                    }
                  }));
                }
              });
            },

            //This bit is executed upon selection of an address
            select: function(event, ui) {
			  $("#googleMap").gmap3(
                {action:'clear', name:'marker'},
                {action:'addMarker',
                  latLng:ui.item.latLng,
                  map:{center:true, zoom: 14},
				  marker:{
					options:{
						draggable:true
					},
					events:{
						dragend: function(marker){
							$(this).gmap3({
								action:'getAddress',
								latLng:marker.getPosition(),
								callback:function(results){
									var map = $(this).gmap3('get'),
									infowindow = $(this).gmap3({action:'get', name:'infowindow'}),
									
									label = results[1].formatted_address;
									coordinance = results[1].geometry.location;
									
									content = results && results[1] ? results && results[1].formatted_address : 'no address';
	
									// content = "***" + results[1].formatted_address + "***";
									// content = "***" + results[1].geometry.location + "***";
									content = label + "<br/><br/><br/>" + "<a href='<%= new_marker_url %>?lat=" + coordinance.lat() + "&lng=" + coordinance.lng() + "'><%=the_label%></a>";
												
									if (infowindow){
										infowindow.open(map, marker);
										infowindow.setContent(content);
									} else {
										$(this).gmap3({action:'addinfowindow', anchor:marker, options:{content: content}});
									}
								}
							});
						}
					}
				}



                }
				,{
					action:'addInfoWindow',
					latLng:ui.item.latLng,
					infowindow:{
						options:{
						// content: ui.item.label + "<br/>" + ui.item.latLng + "<br/>" + ui.item.latLng.lat() + "<br/>" + ui.item.latLng.lng()
						content: ui.item.label + "<br/><br/><br/>" + "<a href='<%= new_marker_url %>?lat=" + ui.item.latLng.lat() + "&lng=" + ui.item.latLng.lng() + "'><%=the_label%></a>"
						}
					}
				}

              );
            }
          });
          
      });
    </script>


<div id="googleMap"></div>	
<div id="googleMap1-result"></div>
