<div class="block">

  <%= render :partial => 'secondary_navigation' if current_user %>  

  <div class="content">   
  
    <h2 class="title"><%= get_collection_label(@posts) %></h2>
	
    <div class="inner">
	
      <table class="table">
	  
        <tr>           
          <th class="first">ID</th>
          <th>Topic_id</th>
          <th>Created at</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @posts.each do |post| -%>
        <tr>
          <td>
            <%= post.id %>
          </td>
          <td>
            <%= link_to post.topic_id, post_path(post) %>
          </td>
          <td>
            <%= post.created_at %>
          </td>
          <td class="last">
            <%= link_to label_name(:show), post_path(post) %> |
            <%= link_to label_name(:edit), edit_post_path(post) %> |
            <%= link_to label_name(:destroy), post_path(post), :method => :delete, :confirm => label_name(:are_you_sure) %>
          </td>
        </tr>          
		        <% end -%>

		      </table>
			  <%= render :partial => 'shared/action_bar', :locals => { :collection => @post } %>

		    </div>

		  </div>

		</div>

		<% content_for :sidebar, render(:partial => 'sidebar') -%>