
<%= set_form_label(the_form, :name) %>
<%= set_form_text_field(the_form, :name, 'large input-text', true) %><br/>

<%= set_form_label(the_form, :starts_at) %>
<div class="row">
	<div class="three columns">
	<%= the_form.text_field :starts_at_date, :id => 'starts_at_datepicker', 
							:class => 'small input-text', 
							:value => @cup.starts_at.strftime("%d-%m-%Y") %>
	</div>
	
	<div class="three columns">
		<%= the_form.text_field :starts_at_time, :id => 'starts_at_timepicker', 
								:class => 'small input-text', 
								:value => @cup.starts_at.strftime("%H:%M") %>
	</div>
	
	<div class="three columns"></div>
	
	<div class="three columns"></div>
	
</div>

<%= set_form_label(the_form, :ends_at) %>
<div class="row">
	<div class="three columns">
	<%= the_form.text_field :ends_at_date, :id => 'ends_at_datepicker', 
							:class => 'small input-text', 
							:value => @cup.ends_at.strftime("%d-%m-%Y") %>
	</div>
	
	<div class="three columns">
		<%= the_form.text_field :ends_at_time, :id => 'ends_at_timepicker', 
								:class => 'small input-text', 
								:value => @cup.ends_at.strftime("%H:%M") %>
	</div>
	
	<div class="three columns">
	</div>
	
	<div class="three columns"></div>
	
</div>


<br>


<%= set_form_label(the_form, :sport) %>
<%= the_form.select(:sport_id, Sport.sport_name, {:selected => @cup.sport_id, :include_blank => true}) %><br />


<%= set_form_label(the_form, :description) %>
<%= set_form_text_area(the_form, :description, true) %><br/>

<%= set_form_label(the_form, :conditions) %>
<%= set_form_text_area(the_form, :conditions, true) %><br/>

<%= set_form_label(the_form, :photo, 'photo') %>
<%= set_form_file_field(the_form, :photo) %><br/><br/>


<%= set_form_label(the_form, :points_for_win) %>
<%= set_form_text_field(the_form, :points_for_win, 'small input-text', true) %><br />


<%= set_form_label(the_form, :points_for_draw) %>
<%= set_form_text_field(the_form, :points_for_draw, 'small input-text', true) %><br />


<%= set_form_label(the_form, :points_for_lose) %>
<%= set_form_text_field(the_form, :points_for_lose, 'small input-text', true) %><br />


<% if the_maximo %>

	<%= set_form_label(the_form, :official) %>
	<%= set_form_checkbox(the_form, :official) %><br />

	<%= set_form_label(the_form, :group_stage_advance) %>
	<%= set_form_text_field(the_form, :group_stage_advance, 'small input-text', true) %><br />

	<%= set_form_label(the_form, :group_stage) %>
	<%= set_form_checkbox(the_form, :group_stage) %><br />

	<%= set_form_label(the_form, :group_stage_single) %>
	<%= set_form_checkbox(the_form, :group_stage_single) %><br />

	<%= set_form_label(the_form, :second_stage_single) %>
	<%= set_form_checkbox(the_form, :second_stage_single) %><br />

	<%= set_form_label(the_form, :final_stage_single) %>
	<%= set_form_checkbox(the_form, :final_stage_single) %><br />

	<%= set_form_label(the_form, :archive) %>
	<%= set_form_checkbox(the_form, :archive) %><br />

<% end %>


<%= render 'utilities/datepicker' %>
<%= render 'utilities/timepicker' %>