<h2 class="title"><%= get_collection_label(@cups) %></h2>

<div class="inner">
	
	<table>

	  <tr>         
		<%= set_content_tag_safe(:th, "&nbsp;", "first") %>
		<%= content_tag :th, "#{label_name(:name)}<br />#{label_name(:gameday_at)}", :class => "heading" %>
		<%= content_tag :th, "#{label_name(:manager)}<br />#{label_name(:sports)}", :class => "heading" %>
		<%= content_tag :th, label_name(:time_zone), :class => "heading" %>
		<%= content_tag :th, label_name(:general_information), :class => "heading" %>	
		<%= content_tag :th, "&nbsp;", :class => "heading" %>	
		<%= set_content_tag_safe(:th, "&nbsp;", "last") %>
	  </tr>

	  <% @cups.each do |cup| %>
		<%= render 'cups/cup_full', :cup => cup, :display_icons => true %>  
	  <% end -%>

	</table>	
	
	<%= render :partial => 'shared/action_bar', :locals => { :collection => @cups } %>

</div>