<h2 class="title"><%= get_collection_label(@cups) %></h2>

<div class="inner">
	
	<table class="table">

	  <tr>             
	    <th class="first">&nbsp;</th>
	    <th><%= label_name(:name) %>&nbsp;/<br />
			  <%#= label_name(:gameday_at) %></th>
	    <th><%= label_name(:manager) %>&nbsp;/<br />
			  <%= label_name(:sport) %></th>
	    <th><%= label_name(:time_zone) %></th>
	    <th><%= label_name(:general_information) %></th>
	    <th><%= label_name(:last_game_played) %></th>
	    <th class="last">&nbsp;</th>
	  </tr>

	  <% @cups.each do |cup| 
		game = Game.last_game_cup_played(cup)
		-%>

	  <tr>  
			<td>
				<%= cup_image_link_small cup %>
			</td>

			<td class="name_and_date">
				<%= cup_link(cup) %>
				<span class="date">
					<%= nice_day_time cup.gameday_at %>
				</span>
			</td>

			<td>
				<%= user_list cup.all_the_managers %><br />
				<%= cup.sport.name %>
			</td>

			<td>
				<%= cup.time_zone %>
			</td>

			<td>
				<%= I18n.t(:has_cup_users, :count => object_counter(cup.users)) %><br />
				<%= I18n.t(:has_cup_games, :count => object_counter(cup.games)) %>
			</td>

			<td class="name_and_date">
				<%= link_to(label_name(:standing), standing_path(:id => cup)) %>
				<span class="date">
					<%= nice_full_date(game.starts_at) unless game.nil? %> 
				</span>
			</td>

	       <td class="last">
				<span class="action">
					<% if current_user.is_member_of?(cup) %>
						<%= link_to(label_name(:send_message_to_cup), new_message_path(:cup_id => cup)) %><br />
					<% else %>
						<%= link_to(label_name(:send_message_to_cup), new_message_path(:id => cup.all_the_managers.first)) %><br />
				
					<% 	# unless current_user.has_pending_petition?(current_user) 
						unless current_user.has_cup_petition?(current_user, cup) 
							the_label = label_with_name('add_to_cup', cup.name)
							the_confirmation = "#{ label_name(:petition_to_join_cup) } #{current_user.name} #{ label_name(:to) } #{cup.name}?"
					%> 
							<%= link_to(the_label, join_team_path(:id => cup, :teammate => current_user), :confirm => the_confirmation) %>
					<% 	end 
					   end
					-%>
				
					<% if current_user.is_manager_of?(cup) %> 
						<%= link_to label_name(:games_create), new_game_path(:id => cup)  %><br />
			        <% end %>
					
				</span>
	       </td>
	  </tr>   
 
	  <% end -%>

	</table>	
	
	<%= render :partial => 'shared/action_bar', :locals => { :collection => @cups } %>

</div>