<h2 class="title"><%= get_collection_label(@cups) %></h2>

<div class="inner">
	
	<table class="table">

	  <tr>             
	    <th class="first">&nbsp;</th>
	    <th><%= label_name(:name) %></th>
	    <th><%= label_name(:time_zone) %></th>
	    <th><%= label_name(:general_information) %></th>
	    <th><%#= label_name(:last_game_played) %></th>
	    <th class="last">&nbsp;</th>
	  </tr>

	  <% @cups.each do |cup| -%>

	  <tr>  
			<td>
				<%= cup_image_link_small cup %>
			</td>

			<td class="name_and_date">
				<%= cup_link(cup) %><br />
				<span class="date">
				<%= cup.sport.name %>
				</span>
			</td>

			<td class="name_and_date">
				<%= nice_day_of_week(cup.starts_at) %><br />
				<span class="date">
				<%= has_left(cup.starts_at) if Time.zone.now < cup.starts_at %>
				</span>
			</td>

			<td class="name_and_date">
				<%= I18n.t(:has_cup_escuadras, :count => object_counter(cup.escuadras)) %><br />
				<span class="date">
				<%= I18n.t(:has_cup_games, :count => object_counter(cup.games)) %>
				</span>
			</td>

			<td class="name_and_date">
				<%= link_to(label_name(:scorecards), standing_path(:id => cup)) %>
				<span class="date">
				</span>
			</td>

	       <td class="last">
				<span class="action">
					<%= link_to label_name(:challenges_create), new_challenge_path(:id => cup) %>
				
					<% if current_user.is_manager_of?(cup) %>
					 	<br/>
						<%= link_to label_name(:games_create), new_game_path(:id => cup)  %><br/>
						<%= link_to label_name(:escuadras_create), new_escuadra_path(:id => cup)  %>
			        <% end %>
					
				</span>
	       </td>
	  </tr>   
 
	  <% end -%>

	</table>	
	
	<%= render :partial => 'shared/action_bar', :locals => { :collection => @cups } %>

</div>