<%

	is_official = @cup.official
	final_played ||= false
	the_game = Game.final_game(@cup)
	final_played = the_game.played unless (the_game.nil? or the_game.blank?)
	
	the_cup = h(@cup.name)
	the_label = label_with_name('create_game', @cup.name)
	the_confirmation = "#{ label_name(:cups_destroy) } #{the_cup}" 
	has_escuadras = (object_counter(@cup.escuadras) > 0)
	
	final_played ||= false
	the_game = Game.final_game(@cup)
	final_played = the_game.played unless (the_game.nil? or the_game.blank?)
	
%>

<div class="row">
<div class="twelve columns">


		<%= set_image_and_link(link_to(label_name(:cups_create), new_cup_url), 'cup') if the_maximo %>
		<%= set_image_and_link(link_to(label_name(:challenges_create), new_challenge_path(@cup)), 'challenge') %>
		<%#= set_image_and_link(link_to(label_name(:invitations_create_cup), new_invitation_url(:cup_id => @cup)), 'invitation') %>


<% if is_current_manager_of(@cup) %>

	
	<% 	unless final_played  %>	

	<%= set_image_and_link(link_to(label_name(:games_create), new_game_path(:id => @cup)), 'schedule') if has_escuadras %>
	<%= set_image_and_link(link_to(label_name(:escuadras_create), new_escuadra_path(:id => @cup)), 'group_add') if is_official %>
	<%= set_image_and_link(link_to(label_name(:group_stage_set), set_group_stage_url(:id => @cup), :title => "#{label_name(:group_stage_set_full) }"), 'cup') %>
	
	<%#= set_image_and_link(link_to(the_confirmation, cup_path(:id => @cup), :method => :delete, :confirm => "#{the_confirmation}?"), 'cup') unless @cup.has_game? %>
	<%= set_image_and_link(link_to(label_name(:cups_edit), edit_cup_path(@cup)), 'cup') %>
	
	<% end  %>



<% end %>

<% unless final_played %>
		<% unless is_official 
			@item = @cup 
			the_groups = []
			current_user.groups.each {|group| the_groups << group if is_current_manager_of(group)}		
		%>
			<%= render("sidebars/sidebar_show_item_zurb", :cup => @cup, :items => the_groups) %>
		<% end -%>	
<% 
	end 
%>
<%#= render 'cups/sidebar_legend_zurb', :item => @cup %>
</div>
</div>