<div class="block">
	<div class="sidebar-block" class="extra">
	<a href="#" onclick="toggle_visibility('abc');"><h5><%= label_name(:cups_howto) %></h5></a>
	<div id="abc" style='display:none;'>

		<p>
			<b>1.&nbsp;</b>
			<%= label_name(:cups_howto_create) %>
		<p>
				
		<p>
			<b>2.&nbsp;</b>
			<%= label_name(:cups_howto_fillin) %>
		<p>
			
		<p>
			<b>3.&nbsp;</b>
			<%= label_name(:cups_howto_show) %>
		<p>

		<p>
			<b>4.&nbsp;</b>
			<%= label_name(:cups_howto_event) %>
		<p>

		<p>
			<b>5.&nbsp;</b>
			<%= label_name(:cups_howto_fillin) %>
		<p>
				
		<p>
			<b>6.&nbsp;</b>
			<%= "#{label_name(:invitations_your_friend)} #{label_name(:your).downcase} #{label_name(:cup).downcase}." %>
		<p>

		<p>
			<b>7.&nbsp;</b>
			<%= label_name(:cups_howto_petition) %>
		<p>
		</div>
	</div>
</div>



