<div class="block">
	<h3><%= label_name(:cups_howto) %></h3>
	<div class="content">
		
		<p>
			<b>1.&nbsp;</b>
			<%= label_name(:cups_howto_create) %>
		<p>
				
		<p>
			<b>2.&nbsp;</b>
			<%= label_name(:cups_howto_fillin) %>
		<p>
			
		<p>
			<b>3.&nbsp;</b>
			<%= label_name(:cups_howto_show) %>
		<p>

		<p>
			<b>4.&nbsp;</b>
			<%= label_name(:cups_howto_event) %>
		<p>

		<p>
			<b>5.&nbsp;</b>
			<%= label_name(:cups_howto_fillin) %>
		<p>
				
		<p>
			<b>6.&nbsp;</b>
			<%= "#{label_name(:invitations_your_friend)} #{label_name(:your).downcase} #{label_name(:cup).downcase}." %>
		<p>

		<p>
			<b>7.&nbsp;</b>
			<%= label_name(:cups_howto_petition) %>
		<p>

		<!-- <p>
			<b>* &nbsp;</b>
			<%#= label_name(:cups_howto_gameday) %>
		<p> -->

	</div>
</div>

