<%
	the_label = label_name(:cups)
	content_for(:title, the_label)
	has_cups = (object_counter(@cups) > 0)
%>

<div class="row">
	 
	<div class="twelve column">  
			<% if has_cups %>
				
				<%= render('shared/index_total_header_zurb', :items => @cups) %>

				<div class="row">
					<div class="twelve columns"> 

						<table>
						  	<thead>
							<tr>             
								<%= set_content_tag_safe(:th, "&nbsp;") %>
								<%= set_content_tag_safe(:th, "#{label_name(:name)}") %>
								<%= set_content_tag_safe(:th, "#{label_name(:manager)}") %>
								<%= set_content_tag_safe(:th, "&nbsp;") %>
								<%= set_content_tag_safe(:th, "&nbsp;") %>
								<%= set_content_tag_safe(:th, "&nbsp;") %>
							</tr>
							</thead>

						<tbody>

							<% @cups.each do |cup| -%>		
							
								<%= render 'cups/cup_full_zurb', :cup => cup, :display_icons => true %> 
								
								
								
								<% cup.challenges.each do |challenge| -%>		
									<%= render 'challenges/challenge_full_zurb', :challenge => challenge, :display_icons => true %>
							  	<% end -%>
								
								
								
						  	<% end -%>

						</tbody>
						</table>

					</div>
				</div>

				<%= render 'shared/action_bar_zurb', :collection => @cups %>
				
			<% else %>
				
				<% the_label = label_name(:cups_options_without) %>

				<div class="row">

					<div class="twelve columns">

					<%= set_title_class(the_label, 'cup') %>

						<table>
							<tr><%= content_tag :td, link_to("#{label_name(:you_can)} #{label_name(:create_your_own)} #{label_name(:cup).downcase}", new_cup_url) %></tr>
							<tr><%= content_tag :td, link_to("#{label_name(:you_can)} #{label_name(:to_join_cup)}", list_cups_path) %></tr>
							<tr><%= content_tag :td, link_to("#{label_name(:you_can)} #{label_name(:view).downcase} #{label_name(:the_los)} 
													 #{label_name(:upcoming).downcase} and join a team", upcoming_path) if DISPLAY_UPCOMING %></tr>
							<tr><%= content_tag :td, link_to("#{label_name(:you_can)} invite your friends and setup a team", list_cups_path) %><%#= option_link('invitation') %></tr>
						</table>

					</div>

				</div>
				
			<% end %>
	</div>	
</div>

