<% 
	is_user_manager = (current_user.is_manager_of?(@cup))
%>

<div class="block">

  <%= render :partial => 'secondary_navigation' %>   
  
  <div class="content">
	        
  <h2 class="title"><%= @cup.name %></h2>

    <div class="inner">

	<!-- new table -->
	<table>
	<thead>

	<tr>
	<th colspan="2">
		<div class="description">
			<span class="q">
				<%=sanitize @cup.description.blank? ? control_label('description_no') : @cup.description %>
			</span>
		</div>
	</th>

	</tr>
	</thead>

	<tr>
	<td valign="top" width="105"><%= cup_show_photo(@cup, current_user) %></td>

	<td>
	<table border="1">
		
		<%= tr_td_action(:name, @cup.name) %>
		<%= tr_td_action(:sports, @cup.sport.name) %>
		<%= tr_td_action(:time_zone, @cup.time_zone) %>
		<%= tr_td_action(:starts_at, nice_day_of_week(@cup.starts_at)) %>
		<%= tr_td_action(:ends_at, nice_day_of_week(@cup.ends_at)) %>
		<%= tr_td_action(:deadline_at, nice_day_of_week(@cup.deadline_at)) %>
		<%= tr_td_action(:escuadras, t(:has_cup_escuadras, :count => @cup.escuadras.count)) %>
		<%= tr_td_action(:games, t(:has_cup_games, :count => @cup.games.count)) %>		
		
		<tr>
			<%= content_tag :td, link_to(label_name(:standing), standing_path(:id => @cup)), :class => "label" %>
		</tr>
		
		<tr>
		     <%= content_tag :td, label_name(:escuadras_available), :class => "label" %>
		     <%= content_tag :td, escuadra_list(@cup.escuadras), :class => get_the_action %>
		</tr>

		<tr>
		<%= render :partial => 'shared/show_images', :locals => {:collection => @cup.escuadras} %>			
		</tr>

		</table>

	</td>
	</tr>

	</table>
	<!-- new table -->
			 
    </div>
  </div>
</div>

<%# content_for :sidebar, render(:partial => 'cups/sidebar_show') -%>
<% content_for :sidebar, render(:partial => 'shared/invite') -%>
<% content_for :sidebar, render(:partial => 'shared/share_object') -%>

<%  if @cup  %>
<%# content_for :sidebar, render(:partial => 'shared/share_object', :locals => {:cup => @cup}) -%>
<% content_for :sidebar, render(:partial => 'cups/sidebar_cup_additional', :locals => {:cup => @cup}) if current_user.is_manager_of?(@cup) -%>
<% content_for :sidebar, render(:partial => 'shared/sidebar_show_cup', :locals => {:cup => @cup}) if current_user.is_manager_of?(@cup) -%>
<% end -%>