<% 
	is_edit = is_action('edit')

%>
<div class="columns"> 

  <div class="column left"> 	

  <div class="group">
    <%= f.label :name, label_name('name'), :class => :label %>
    <%= f.text_field :name, :class => 'textfield' %>
  </div>

  <div class="group">
    <%= f.label :address, label_name('address'), :class => :label %>
    <%= f.text_field :address, :class => 'textfield' %>
  </div>

  <div class="group">
    <%= f.label :city, label_name('city'), :class => :label %>&nbsp;&nbsp;<%= @marker.city %>
  </div>

  <div class="group">
    <%= f.label :region, label_name('region'), :class => :label %>&nbsp;&nbsp;<%= @marker.region %>
  </div>

  <div class="group">
    <%= f.label :zip, label_name('zip'), :class => :label %>&nbsp;&nbsp;<%= @marker.zip %>
  </div>

  <div class="group">
    <%#= f.label :latitude, label_name('latitude'), :class => :label %>&nbsp;&nbsp;<%#= @marker.latitude %>
    <%= f.hidden_field :latitude %>
  </div>

  <div class="group">
    <%#= f.label :longitude, label_name('longitude'), :class => :label %>&nbsp;&nbsp;<%#= @marker.longitude %>
    <%= f.hidden_field :longitude %>
  </div>

  </div> 

</div>
 
<div class="clear"></div> 
<br/>
<br/>

<div class="group navform">
	<%= submit_tag @marker.new_record? ? control_label('create') : control_label('edit'), 
			:class => "button" %> <%= label_name(:or) %> <%= link_to label_name(:cancel), markers_path %>
</div>

