<% 
	is_edit = is_action('edit')

%>
<div class="columns"> 

  <div class="column left"> 	

  <div class="group">
    <%= f.label :name, label_name('name'), :class => :label %>
    <%= f.text_field :name, :class => 'textfield' %>
  </div>

  <div class="group">
    <%= f.label :address, label_name('address'), :class => :label %>
    <%= f.text_field :address, :class => 'textfield' %>
  </div>


  <% if current_user.is_maximo? %>

	<div class="group">
		<%= f.label :city, label_name('city'), :class => :label %>
		<%= f.text_field :city, :class => 'textfield' %>
	</div>

	<div class="group">
		<%= f.label :region, label_name('region'), :class => :label %>
		<%= f.text_field :region, :class => 'textfield' %>
	</div>

	<div class="group">
		<%= f.label :zip, label_name('zip'), :class => :label %>
		<%= f.text_field :zip, :class => 'textfield' %>
	</div>

	<div class="group">
		<%= f.label :latitude, label_name('latitude'), :class => :label %>
		<%= f.text_field :latitude, :class => 'textscore' %><br />
		<span class="description"><%= label_name('latitude', 'description') %></span>
	</div>

	<div class="group">
		<%= f.label :longitude, label_name('longitude'), :class => :label %>
		<%= f.text_field :longitude, :class => 'textscore' %><br />
		<span class="description"><%= label_name('longitude', 'description') %></span>
	</div>

  <% else %>

	<div class="group">
		<%= f.label :city, label_name('city'), :class => :label %>
		<%= @marker.city %>
	</div>

	<div class="group">
		<%= f.label :region, label_name('region'), :class => :label %>
		<%= @marker.region %>
	</div>

	<div class="group">
		<%= f.label :zip, label_name('zip'), :class => :label %>
		<%= @marker.zip %>
	</div>

	<div class="group">
		<%= f.label :latitude, label_name('latitude'), :class => :label %>
		<%= @marker.latitude %>
	</div>

	<div class="group">
		<%= f.label :longitude, label_name('longitude'), :class => :label %>
		<%= @marker.longitude %>
	</div>
	
  <% end -%>

  </div> 

</div>
 
<div class="clear"></div> 
<br/>
<br/>

<%= f.hidden_field :latitude %>
<%= f.hidden_field :lat %>
<%= f.hidden_field :longitude %>
<%= f.hidden_field :lng %>


<div class="group navform">
	<%= submit_tag @marker.new_record? ? control_label('create') : control_label('edit'), 
			:class => "button" %> <%= label_name(:or) %> <%= link_to label_name(:cancel), markers_path %>
</div>

