<% the_label = label_name(:markers_list) %>

<%= set_title_class(the_label) %>

<div class="inner">
	
	<table class="table">

	  <tr>     
		<%= set_content_tag_safe(:th, "&nbsp;", "first") %>
		<%= content_tag :th, label_name(:name), :class => "heading" %>
		<%= content_tag :th, label_name(:address), :class => "heading" %>
		<%= content_tag :th, "#{label_name(:latitude)}<br/>#{label_name(:longitude)}", :class => "heading" if the_maximo %>
		<%= set_content_tag_safe(:th, "&nbsp;", "last") %>
	  </tr>

	  <% @markers.each do |marker| -%>		
		<%= render 'markers/marker_full_zurb', :marker => marker, :display_icons => true %> 
	  <% end -%>

	</table>	
	
	<%= render 'shared/action_bar_zurb', :collection => @markers %>

</div>