<tr>  
	<td>
		<%= option_image_link('installation') %>
	</td>

	<td>
		<%= marker_link(marker) %>
		<span class="date">
		</span>
	</td>

	<td>
		<%= marker.address %>
		<span class="date">
			<%= "#{marker.city}, #{marker.region}, #{marker.zip}" %>
		</span>
	</td>

	<td>
		<%= "#{marker.latitude}<br/>#{marker.longitude}" if the_maximo %>
	</td>

	<% if display_icons %>
	<td>
		<span class="action" align="left">
			<% if the_maximo %> 
			<strong><%= option_image_small_link('marker') %>&nbsp;&nbsp;<%= link_to label_name(:markers_edit), edit_marker_path(:id => marker) %></strong>
			<% end %>
		</span>
	</td>
	<% end -%>

</tr>