<div class="secondary-navigation">
<ul>	
	<li class="<%= get_first_active %>"><%= link_to(control_label('index') , markers_path) %></li>
	<li class="<%= get_active('marker_search')  %>"><%= link_to(control_label('search') , search_map_url) %></li>
	<li class="<%= get_active('marker_addres')  %>"><%= link_to(control_label('address') , address_map_url) %></li>
</ul>
<div class="clear"></div>
</div>