<!-- maps api, ajax search api, map search solution code -->  
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=<%= APP_CONFIG['google_api']['key'] %>" type="text/javascript"></script> 

<script src="http://maps.google.com/maps?file=api&amp;v=2.92&amp;key=<%= APP_CONFIG['google_api']['key'] %>"></script>
<script src="http://maps.google.com/intl/en_ALL/mapfiles/92/maps2.api/main.js"></script>

<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=<%= APP_CONFIG['google_api']['key'] %>" type="text/javascript"></script>
<script src="http://gmaps-utility-library.googlecode.com/svn/trunk/dragzoom/release/src/dragzoom.js" type="text/javascript"></script>

<%= javascript_include_tag('gmap', 'prototype') %>

<div class="block">

	<%= render :partial => 'secondary_navigation' %>  

	<div class="content">
		<div class="inner">

			<%= GMap.header %>
			<%= @map.to_html %>        
			<%= @map.div(:width => '948px', :height => '400px') %>

		</div>
	</div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>