<%
	the_label = label_name(:markers)
	content_for(:title, the_label)
%>

<div class="block">

	<%= render :partial => 'secondary_navigation' %>

	<div class="content">
		<%= GMap.header(:local_search => true) %>
		<%= GMap.header %>
		<%= @map.to_html unless @map.blank? %>
		
		<%= @map.div(:width => "99.5%", :height => 400) %>		
	</div>
	
	
	[<%= @coord %>]<br>
	<%= @location.city if @location.respond_to? :city %>
	
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>