<div class="block">

  <%= render :partial => 'secondary_navigation' %>   
  
  <div class="content">
    <div class="inner">

	<p>
	  <b><%= label_name(:name) %>:</b>
	  <%=h @marker.name %>
	</p>

        <p>
          <b><%= label_name(:latitude) %>:</b>
          <%=h @marker.latitude %>
        </p>

        <p>
          <b><%= label_name(:longitude) %>:</b>
          <%=h @marker.longitude %>
        </p>

        <p>
          <b><%= label_name(:url) %>:</b>
          <%=h @marker.url %>
        </p>

        <p>
          <b><%= label_name(:address) %>:</b>
          <%=h @marker.address %>
        </p>

        <p>
          <b><%= label_name(:city) %>:</b>
          <%=h @marker.city %>
        </p>

        <p>
          <b><%= label_name(:zip) %>:</b>
          <%=h @marker.zip %>
        </p>
  
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar_show') -%>