
  <div class="group">
    <%= f.label :name, "Name", :class => :label %>
    <%= f.text_field :name, :class => 'text_field' %>
    <span class="description"><%= label_name('name', 'description') %></span>
  </div>

  <div class="group">
    <%= f.label :table_type, "Table_type", :class => :label %>
    <%= f.text_field :table_type, :class => 'text_field' %>
    <span class="description"><%= label_name('name', 'description') %></span>
  </div>

  <div class="group">
    <%= f.label :table_id, "Table_id", :class => :label %>
    <%= f.text_field :table_id, :class => 'text_field' %>
    <span class="description"><%= label_name('name', 'description') %></span>
  </div>
        
<div class="group navform">
  <input type="submit" class="button" value="Save &rarr;" /> or <%= link_to 'Cancel', types_path %>
</div>