<div class="block">

  <%= render :partial => 'secondary_navigation' %>   
  
  <div class="content">
    <div class="inner">

	<p>
	  <b><%= label_name(:name) %>:</b>
	  <%=h @type.name %>
	</p>
	
        <p>
          <b><%= label_name(:name) %>:</b>
          <%=h @type.description %>
        </p>

        <p>
          <<b><%= label_name(:table_type) %>:</b>
          <%= @type.table_type %>
        </p>

        <p>
          <b><%= label_name(:table_id) %>:</b>
          <%= @type.table_id %>
        </p>
  
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar_show') -%>