<div class="columns"> 

  <div class="column left"> 	

  <div class="group">
    <%= f.label :name, label_name('name'), :class => :label %>
    <%= f.text_field :name, :class => 'text_field' %><br />
    <span class="description"><%= control_label('name_description') %></span>
  </div>

  <div class="group">
    <%= f.label :phase, label_name('phase'), :class => :label %>
    <%= f.text_field :phase, :class => 'textscore' %><br />
    <span class="description"><%= control_label('phase_description') %></span>
  </div>

  </div>

  <div class="column right"></div> 

</div>
        
<div class="clear"></div> 

<div class="group navform">
	<%= submit_tag @round.new_record? ? control_label('create') : control_label('edit'), 
			:class => "button" %> <%= label_name(:or) %> <%= link_to label_name(:cancel), tournaments_path %>
</div>