<% 
	is_group_edit = is_action('edit')

%>
<div class="columns">

  <div class="column left"> 	

  <div class="group">
    <%= f.label :name, label_name('name'), :class => :label %>
    <%= f.text_field :name, :class => 'textfield' %>
  </div>

	<% if is_group_edit %>
	
  <div class="group">
    <%= f.label :second_team, label_name('second_team'), :class => :label %>
    <%= f.text_field :second_team, :class => 'textfield' %>
  </div>

  <div class="group">
    <%= f.label :gameday_at, label_name('gameday_at'), :class => :label %>
    <%= f.datetime_select :gameday_at, :class => 'datetime_select' %><br />
    <span class="description"><%= label_name('gameday_at', 'description') %></span>
  </div>

<div class="group">
  <%= f.label :time_zone, label_name('time_zone'), :class => :label %>
  <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %><br />
  <span class="description"><%= label_name('time_zone', 'description') %></span>
</div>
	
	<% end -%>

  <div class="group">
    <%= f.label :sport_id, label_name('sport'), :class => :label %>
   	<%= f.select(:sport_id, Sport.sport_name, {:selected => @group.sport_id, :include_blank => true}) %><br />
    <span class="description"><%= label_name('sport', 'description') %></span>
  </div>
<%# end %>

  <div class="group">
    <%= f.label :marker_id, label_name('marker'), :class => :label %>
    <%= f.select(:marker_id, Marker.marker_name, {:selected => @group.marker_id, :include_blank => true})%><br/>
	<%= link_to label_name(:search_maps), search_map_url %><br />
    <span class="description"><%= label_name('marker', 'description') %></span>
  </div>

<% if is_group_edit %>

<div class="group">
	<%= f.label :description, label_name('description'), :class => :label %>
	<%= f.text_area :description, :class => 'textfield' %><br />
	<span class="description"><%= label_name('description') %></span>
</div>

<div class="group">
	<%= f.label :conditions, label_name('conditions'), :class => :label %>
	<%= f.text_area :conditions, :class => 'text_message' %><br />
	<span class="description"><%= label_name('conditions') %></span>
</div>


<% end -%>
	
  </div> 

  <div class="column right"> 
	
	<% if is_group_edit %>
	
	<div class="group">
	  <%= f.label :photo, label_name('photo'), :class => :label %>
	  <%= f.file_field :photo, :class => 'textphoto' %><br />
	  <span class="description"><%= label_name('photo', 'description') %></span>
	</div>

  <div class="group">
    <%= f.label :points_for_win, label_name('points_for_win'), :class => :label %>
    <%= f.text_field :points_for_win, :class => 'textscore' %><br />
    <span class="description"><%= label_name('points_for_win', 'description') %></span>
  </div>

  <div class="group">
    <%= f.label :points_for_draw, label_name('points_for_draw'), :class => :label %>
    <%= f.text_field :points_for_draw, :class => 'textscore' %><br />
    <span class="description"><%= label_name('points_for_draw', 'description') %></span>
  </div>

  <div class="group">
    <%= f.label :points_for_lose, label_name('points_for_lose'), :class => :label %>
    <%= f.text_field :points_for_lose, :class => 'textscore' %><br />
    <span class="description"><%= label_name('points_for_lose', 'description') %></span>
  </div>

  <div class="group">
    <%= f.label :player_limit, label_name('player_limit'), :class => :label %>
    <%= f.text_field :player_limit, :class => 'textscore' %><br />
    <span class="description"><%= label_name('player_limit', 'description') %></span>
  </div>

  <div class="group">
    <%= f.label :automatic_petition, label_name('automatic_petition'), :class => :label %>
    <%= f.check_box :automatic_petition, :class => 'check_box' %>
    <span class="description"><%= label_name('automatic_petition', 'description') %></span>
  </div>

  <div class="group">
    <%= f.label :looking_for_user, label_name('looking_for_user'), :class => :label %>
    <%= f.check_box :looking, :class => 'check_box' %><br />
    <span class="description"><%= label_name('looking_for_user', 'description') %></span>
  </div>

  <% end -%>

  </div> 

</div>
 
<div class="clear"></div> 
<br/>
<br/>

<div class="group navform">
	<%= submit_tag @group.new_record? ? control_label('create') : control_label('edit'), 
			:class => "button" %> <%= label_name(:or) %> <%= link_to label_name(:cancel), groups_path %>
</div>