<%  
	schedule = Schedule.last_schedule_group_played(group) 
	is_member_group = is_current_member_of(group)
	
	is_group_manager = group ? is_current_manager_of(group) : false
	is_group_member = group ? is_current_member_of(group) : false
	has_group = group ? true : false
	
	the_group_name = ""	
	the_manager_label = ""
	the_confirmation = ""
	
	
	if has_group
		the_group_name = h(group.name) 

		the_manager_label = label_name(:options_for_manager)
		the_confirmation = "#{ label_name(:destroy_group) } #{the_group_name}?"
		
		has_schedule_blank = group.schedules.blank? 
		has_user_petition = current_user.has_item_petition?(current_user, group)
		the_confirmation = label_with_name(:do_leave_item, "#{group.name}?")
	end
	
	the_group_sport = "#{item_name_link(group)} <br/> 
						#{content_tag(:span, group.marker.city, :class =>'date')} <br/> 
						#{content_tag(:span, group.sport.name)}"
	the_manager_city = "#{item_list(group.all_the_managers)} <br/> #{I18n.t(:has_group_users, :count => object_counter(group.users))}"
	the_scorecard_players_count = "#{link_to(label_name(:scorecard), scorecard_path(:id => group))}"
-%>


 <tr>  
	<%#= view_schedule_icon(group.schedules.first) %>
	<%= set_content_tag_safe(:td, item_image_link_small(group)) %>
	<%= set_content_tag_safe(:td, the_group_sport, :class => 'name_and_date') %>
	<%= set_content_tag_safe(:td, the_manager_city, :class => 'name_and_date') %>
	<%= set_content_tag_safe(:td, the_scorecard_players_count) %>
	

   <% if display_icons %>
      <td class="last">
		<span class="action" align="left">
			<% unless is_member_group %>
		
			<%
				unless has_current_item_petition(group) 							
			%> 
				<%= option_image_small_link('user_add') %>&nbsp;&nbsp;<strong><%= join_item_link_to(current_user, group) %></strong>
			<% 	end 
			   end
			-%>
			<%= option_image_small_link('message') %>&nbsp;&nbsp;<%= link_to(label_name(:send_message_to), new_message_path(:group_id => group)) %><br />

		</span>
      
   <% end -%>

 </tr>