<% the_label = label_name(:groups_options_without) %>

<div class="row">

	<div class="twelve columns">

	<%= set_title_class(the_label, 'group') %>

		<table>
			<tr><%= content_tag :td, link_to("#{label_name(:you_can)} #{label_name(:create_your_own)} #{label_name(:group).downcase}", new_group_url) %></tr>
			<tr><%= content_tag :td, link_to("#{label_name(:you_can)} #{label_name(:to_join_group)}", list_groups_path) %></tr>
			<tr><%= content_tag :td, link_to("#{label_name(:you_can)} #{label_name(:view).downcase} #{label_name(:the_los)} 
									 #{label_name(:upcoming).downcase} and join a team", upcoming_path) if DISPLAY_UPCOMING %></tr>
			<tr><%= content_tag :td, link_to("#{label_name(:you_can)} invite your friends and setup a team", list_groups_path) %><%#= option_link('invitation') %></tr>
		</table>

	</div>

</div>

