<h2 class="title"><%= get_collection_label(@groups) %></h2>

<div class="inner">
	
	<table class="table">

	  <tr>             
	    <th class="first">&nbsp;</th>
	    <th><%= label_name(:name) %>&nbsp;/<br />
			  <%= label_name(:gameday_at) %></th>
	    <th><%= label_name(:manager) %>&nbsp;/<br />
			  <%= label_name(:sport) %></th>
	    <th><%= label_name(:time_zone) %></th>
	    <th><%= label_name(:general_information) %></th>
	    <th><%= label_name(:created_at) %></th>
	    <th class="last">&nbsp;</th>
	  </tr>

	  <% @groups.each do |group| -%>

	  <tr>  
			<td>
				<%= group_image_link_small group %>
			</td>

			<td class="name_and_date">
				<%= group_link(group) %>
				<span class="date">
					<%= nice_day_time group.gameday_at %>
				</span>
			</td>

			<td>
				<%= user_list group.all_the_managers %><br />
				<%= group.sport.name %>
			</td>

			<td>
				<%= group.time_zone %>
			</td>

			<td>
				<%= I18n.t(:has_group_users, :count => object_counter(group.users)) %><br />
				<%= I18n.t(:has_group_schedules, :count => object_counter(group.schedules)) %>
			</td>

			<td class="name_and_date">
				<span class="date">
					<%= nice_full_date group.created_at %> 
				</span>
			</td>

	       <td class="last">
				<span class="action">
					<% if current_user.is_member_of?(group) %>
						<%= link_to(label_name(:send_message_to_group), new_message_path(:group_id => group.id)) %><br />
					<% else %>
						<%= link_to(label_name(:send_message_to_group), new_message_path(:id => group.all_the_managers.first)) %><br />
				
					<% 	# unless current_user.has_pending_petition?(current_user) 
						unless current_user.has_group_petition?(current_user, group) 
							the_label = label_with_name('add_to_group', group.name)
							the_confirmation = "#{ label_name(:petition_to_join_group) } #{current_user.name} #{ label_name(:to) } #{group.name}?"
					%> 
							<%= link_to(the_label, join_team_path(:id => group.id, :teammate => current_user.id), :confirm => the_confirmation) %>
					<% 	end 
					   end
					-%>
				
					<% if current_user.is_manager_of?(group) %> 
						<%= link_to label_name(:create_schedule), new_schedule_path(:id => group.id)  %><br />
			        <% end %>
					
				</span>
	       </td>
	  </tr>   
 
	  <% end -%>

	</table>	
	
	<%= render :partial => 'shared/action_bar', :locals => { :collection => @groups } %>

</div>