<h2 class="title"><%= get_collection_label(@groups) %></h2>

<div class="inner">
	
	<table class="table">

	  <tr>     
		<%= content_tag :th, "&nbsp;", :class => "first" %>
		<%= content_tag :th, "#{label_name(:name)}<br />#{label_name(:sport)}", :class => "heading" %>
		<%= content_tag :th, "#{label_name(:manager)}<br />#{label_name(:city)}", :class => "heading" %>
		<%= content_tag :th, label_name(:general_information), :class => "heading" %>
		<%= content_tag :th, "#{label_name(:scorecard)}<br />#{label_name(:last_game_played)}", :class => "heading" %>
		<%= content_tag :th, "&nbsp;", :class => "last" %>
	  </tr>

	  <% @groups.each do |group| -%>		
		<%= render 'groups/group_full', :group => group, :display_icons => true %> 
	  <% end -%>

	</table>	
	
	<%= render :partial => 'shared/action_bar', :locals => { :collection => @groups } %>

</div>