
<%= render('shared/index_total_header_zurb', :items => @groups) %>

<div class="row">
	<div class="twelve columns"> 
		
		<table>
		  	<thead>
			<tr>             
				<%= set_content_tag_safe(:th, "&nbsp;") %>
				<%= set_content_tag_safe(:th, "#{label_name(:name)}<br />#{label_name(:sport)}") %>
				<%= set_content_tag_safe(:th, "#{label_name(:manager)}<br/>#{label_name(:city)}") %>
				<%= set_content_tag_safe(:th, "&nbsp;") %>
				<%= set_content_tag_safe(:th, "&nbsp;") %>
			</tr>
			</thead>
			
		<tbody>
			
			<% @groups.each do |group| -%>		
				<%= render 'groups/group_full_zurb', :group => group, :display_icons => true %> 
		  	<% end -%>
		
		</tbody>
		</table>
		
	</div>
</div>

<%= render 'shared/action_bar_zurb', :collection => @groups %>
	  



	 