<%
	the_label = get_collection_label(@groups)
%>

<div class="row">
	
	<div class="twelve columns">
		
		<div class="foundation-header">
			
			<%= content_tag :h5, the_label %>
			
			<hr />
			
			<%#= content_tag :h6, the_total_label, :class => "subheader" %>
			
		</div>
	</div>
	
</div>


<div class="row">
	<div class="twelve columns"> 
		
		<table>
		  	<thead>
			<tr>             
				<%= set_content_tag_safe(:th, "&nbsp;") %>
				<%= set_content_tag_safe(:th, "#{label_name(:name)}<br />#{label_name(:sport)}") %>
				<%= set_content_tag_safe(:th, "#{label_name(:manager)}<br/>#{label_name(:city)}") %>
				<%= set_content_tag_safe(:th, "&nbsp;") %>
				<%= set_content_tag_safe(:th, "&nbsp;") %>
			</tr>
			</thead>
			
		<tbody>
			
			<% @groups.each do |group| -%>		
				<%= render 'groups/group_full_zurb', :group => group, :display_icons => true %> 
		  	<% end -%>
		
		</tbody>
		</table>
		
	</div>
</div>

<hr/>

<%= render 'shared/action_bar_zurb', :collection => @groups %>
	  



	 