<h2 class="title"><%= get_collection_label(@groups) %></h2>

<div class="inner">
	
	<table class="table">

	  <tr>     
		<%= content_tag :th, "&nbsp;", :class => "first" %>
		<%= content_tag :th, "#{label_name(:name)}<br />#{label_name(:sport)}", :class => "heading" %>
		<%= content_tag :th, "#{label_name(:manager)}<br />#{label_name(:time_zone)}", :class => "heading" %>
		<%= content_tag :th, label_name(:general_information), :class => "heading" %>
		<%= content_tag :th, "#{label_name(:scorecard)}<br />#{label_name(:last_game_played)}", :class => "heading" %>
		<%= content_tag :th, "&nbsp;", :class => "last" %>
	  </tr>

	  <% @groups.each do |group| 
		schedule = Schedule.last_schedule_group_played(group)
		-%>
	  <tr>  
			<td>
				<%= item_image_link_small(group) %>
			</td>

			<td class="name_and_date">
				<%= group_link(group) %>
				<span class="date">
					<%= group.sport.name %>
				</span>
			</td>

			<td class="name_and_date">
				<%= item_list(group.all_the_managers) %><br />
				<span class="date">
				<%#= group.sport.name %>
				<%= group.time_zone %>
				</span>
			</td>
			
			  <td class="name_and_date">
				<%= I18n.t(:has_group_users, :count => object_counter(group.users)) %><br />
				<span class="date">										
					<%= I18n.t(:has_group_schedules, :count => object_counter(group.schedules)) %>
				</span>
			  </td>

			<td class="name_and_date">
				<%= link_to(label_name(:scorecard), scorecard_path(:id => group)) %>
				<span class="date">
					<%= nice_full_date(schedule.starts_at) unless schedule.nil? %> 
				</span>
			</td>

	       <td class="last">
				<span class="action">
					<% if current_user.is_member_of?(group) %>
						<%= link_to(label_name(:send_message_to), new_message_path(:group_id => group)) %><br />
					<% else %>
						<%#= link_to(label_name(:send_message_to), new_message_path(:id => group.all_the_managers.first)) %>
				
					<%
						unless current_user.has_item_petition?(current_user, group) 							
					%> 
						<strong><%= join_item_link_to(current_user, group) %></strong>
					<% 	end 
					   end
					-%>
				
					<% if current_user.is_manager_of?(group) %> 
						<strong><%= link_to label_name(:schedules_create), new_schedule_path(:id => group) %></strong>
						<%#= link_to label_name(:classifieds_create), new_classified_path(:id => group) %>
			        <% end %>
				</span>
	       </td>
	  </tr>   
 
	  <% end -%>

	</table>	
	
	<%= render :partial => 'shared/action_bar', :locals => { :collection => @groups } %>

</div>