<h2 class="title"><%= get_collection_label(@groups) %></h2>

<div class="inner">
	
	<table class="table">

	  <tr>     
		<%= set_content_tag_safe(:th, "&nbsp;", "first") %>
		<%= set_content_tag_safe(:th, "#{label_name(:name)}<br />#{label_name(:sport)}", "heading") %>
		<%= set_content_tag_safe(:th, "#{label_name(:manager)}<br />#{label_name(:city)}", "heading") %>
		<%= set_content_tag_safe(:th, label_name(:general_information), "heading") %>
		<%= set_content_tag_safe(:th, "#{label_name(:scorecard)}<br />#{label_name(:last_game_played)}", "heading") %>
		<%= set_content_tag_safe(:th, "&nbsp;", "last") %>
	  </tr>

	  <% @groups.each do |group| -%>		
		<%= render 'groups/group_full', :group => group, :display_icons => true %> 
	  <% end -%>

	</table>	
	
	<%= render :partial => 'shared/action_bar', :locals => { :collection => @groups } %>

</div>