<div class="secondary-navigation">
	
<ul>
	
	<li class="<%= get_first_active %>"><%=  link_to(label_name(:my_group), groups_path) %></li>
	<li class="<%= get_active('group_list') %>"><%=  link_to(label_name(:all_group) , list_groups_path) %></li>	
<% 
	the_label = "" 
	the_action = ['show','edit', 'team list']
	
	if the_action.include?(get_the_action) 
		if current_user.is_member_of?(@group) 
		# the_label = label_with_name('the_wall', h(@group.name))
		the_label = label_name(:wall)
%>		
		<li class="<%= get_active('group_show') %>"><%=  group_link @group %></li>
		<li class="<%= get_active('entry_show') %>"><%=  link_to(the_label, blog_path(@group.blog)) %></li>
		<li class="<%= get_active('group_team_list') %>"><%=  link_to(label_name(:users) , team_list_path(:id => @group)) %></li>
<% 
		else 
			unless current_user.has_pending_petition?(current_user) %>
				<li class="<%= get_active('petition') %>"><%= link_to(label_name(:petitions), petition_path)  %></li>
<%
			end
		end
	end 
%>

</ul>

<div class="clear"></div>

</div>
