<% 		
	get_first_active ||=""
	get_first_active = get_active("#{get_the_controller}_#{get_the_action}") if is_controller('group') and is_action('index') 
	is_not_new_item = !is_action('new')
	
	has_classifieds = false
	
	if DISPLAY_CLASSIFIEDS
		the_classifieds = Classified.item_classifieds(@group) 
		has_classifieds = !the_classifieds.nil? or !the_classifieds.blank?
	end
	
	the_label = "" 
	the_action = ['show','edit', 'team list', 'schedule list', 'group current list', 'group previous list']
	the_controller = ['blog', 'classified', 'fee', 'payment', 'schedule']
	
	if DISPLAY_CLASSIFIEDS
		active_classified ||= ""
		active_classified = get_active("#{get_the_controller}_#{get_the_action}") if is_controller('classified')
	end

	is_new_group = (is_action('new') or is_action('create'))
	unless is_new_group
		content_for(:description, "#{h(@group.name)} / #{@group.sport.name},  #{h(@group.description) }.  #{@group.marker.name}, #{@group.time_zone}") if @group
	end
%>

<div class="secondary-navigation">
	
<ul>
	<%= item_new(@group) %>		
	
	<% unless is_new_group %>
		<li class="<%= get_first_active %>"><%=  link_to(label_name(:my_group), groups_path) unless @group %></li>
		<li class="<%= get_active('group_list') %>"><%=  link_to(label_name(:all_group) , list_groups_path) unless @group %></li>
		<li class="<%= get_active('group_show') %>"><%=  group_link(@group) if @group and is_not_new_item %></li>
	<% end %>
<% 	
	if the_action.include?(get_the_action) or the_controller.include?(get_the_controller)
		if current_user.is_member_of?(@group) 
			the_blog = Blog.find_item(@group)
%>		
		<li class="<%= get_active('blog_show') %>"><%=  blog_link(the_blog) %></li>
		<li class="<%= get_active('group_team_list') %>"><%=  link_to(label_name(:users) , team_list_path(:id => @group)) %></li>
		<li class="<%= get_active('schedule_group_current_list') %>"><%=  link_to(label_name(:upcoming_schedules) , group_current_path(:id => @group)) %></li>
		<li class="<%= get_active('schedule_group_previous_list') %>"><%=  link_to(label_name(:previous_schedules) , group_previous_path(:id => @group)) %></li>
		
		<% if current_user.is_manager_of?(@group)  %>
		<li class="<%= get_active('fee_list') %>"><%= link_to(label_name(:fees) , list_fees_path(:id => @group)) %></li>
		<li class="<%= get_active('fee_due') %>"><%= link_to(label_name(:fees_due) , due_fees_path(:id => @group)) %></li>
		<% end -%>		
		<li class="<%= get_active('scorecard_show') %>"><%= link_to(label_name(:scorecard), scorecard_path(:id => @group)) %></li>
<%			
		end
	end
	
	if has_classifieds and is_not_new_item 
%>
	<li class="<%= active_classified %>">
		<%= link_to(label_name(:classifieds), classifieds_url(:id => @group)) if @group and is_not_new_item %>
	</li>
<%
	end
%>
</ul>

<div class="clear"></div>

</div>
