<div class="secondary-navigation">
<ul>
	<li class="<%= get_action_first %>">  <%= link_to(label_name(:my_group) , groups_url) %></li>	
<% 
	the_label = "" 
	the_action = ['show','edit', 'team list', 'list']
	
	if the_action.include?(get_the_action) and current_user.is_member_of?(@group) 
		the_label = label_name_with('the_wall', h(@group.name))
%>
		<li class="<%= get_action_first %>">  <%= link_to(the_label, blog_path(@group.blog)) %></li>
		<li class="<%= get_action_active %>">  <%= group_link @group %></li>
		<!-- <li class="<%#= get_action_active %>">  <%#= link_to(label_name(:users) , list_groups_path(:id => @group)) %></li> -->
		<li class="<%= get_action_active %>">  <%= link_to(label_name(:users) , team_list_path(:id => @group)) %></li>
<% 
	end 
%>
	
</ul>

<div class="clear"></div>

</div>
