<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tbody>
    <tr>	
		<td class="tunaimage" width="100">
			<%= group_show_photo @group %>	    
		</td>
              
      <td class="info">
        <table class="infotable" border="0" cellpadding="0" cellspacing="0" width="96%">
          <tbody>
          
            <tr>
              <td class="eventtitle" colspan="2">
                <h3><%= @group.name %></h3>
              
                <div class="share_media" style="padding-top: 2px; color: gray;">
                  <div class="owner_comment">
                    <span class="q"><%= h(@group.description) %></span>
                  </div>
                </div>
              </td>
            </tr>

            <tr valign="top">
              <td class="label"><%= t(:manager) %>:</td>
              <td><%= user_list @group.all_the_managers %></td>
            </tr>
          
            <tr valign="top">
              <td class="label"><%= t(:marker) %>:</td>
              <td><%= marker_link @group.marker %></td>
            </tr>
          
            <tr valign="top">
              <td class="label"><%= t :sports %>:</td>
              <td><%= h(@group.sport.name) %></td>
            </tr>
          
            <tr valign="top">
              <td class="label"><%= t :game_day %>:</td>
              <td><%= nice_day_date @group.gameday_at %></td>
            </tr>
          
            <tr valign="top">
              <td class="label"><%= t :t_zone %>:</td>
              <td><%= @group.time_zone %></td>
            </tr>
          
            <tr valign="top">
              <td class="label"><%= t :users %>:</td>
              <td><%= t(:has_group_users, :count => @group.users.count) %></td>
            </tr>
        
          <tr valign="top">
            <td class="label"><%= t :schedules %>:</td>
            <td><%= t(:has_group_schedules, :count => @group.schedules.count) %></td>
          </tr>
         
			<% if current_user.is_member_of?(@group) %>
            <tr valign="top">
              <td class="label"><%= t :list_user %>:</td>
              <td><%= user_list @group.available_users %></td>
            </tr>
          <% end %>

          </tbody>
        </table>
      </td>
		
    </tr>
  
  </tbody>
</table>
