<%
	is_group_manager = @group ? is_current_manager_of(@group) : false
	is_group_member = @group ? is_current_member_of(@group) : false
	is_new_group = (get_controller_action =='group_new' or get_controller_action == 'group_create')
	has_group = @group ? is_new_group ? false : true : false
	
	the_group_name = ""
	the_manager_label = ""
	the_confirmation = ""	
	
	if has_group
		the_group_name = h(@group.name) 
		the_manager_label = label_name(:options_for_manager)
		the_confirmation = "#{ label_name(:destroy_group) } #{the_group_name}?"
		
		has_schedule_blank = @group.schedules.blank? 
		has_user_petition = has_current_item_petition(@group) 
		the_confirmation = label_with_name(:do_leave_item, "#{@group.name}?")
	end
%>


<% if has_group %>



	<div class="row">
		<div class="twelve columns">
	
			<% if is_group_member %>
				<%= set_form_create_id_image_link(Message.new, :group_id, @group, :send_message_to) %>
				<%= set_form_create_id_image_link(Invitation.new, :group_id, @group, :invitations_create_group) %>

			<% else %>	
				<%= set_form_create_id_image_link(Message.new, :id, @group.all_the_managers.first, :send_message_to) %>
				<%= set_image_and_link(join_item_link_to(current_user, @group, true), 'user_add') if has_user_petition %>

			<% end %>
	
		</div>
	</div>




<% if is_group_manager %>

<%= set_title_class(the_manager_label) %>
<hr/>

<div class="row">	
	<div class="twelve columns">

		<%= set_form_create_id_image_link(Schedule.new, :id, @group, :schedules_create) %>
		<%= set_form_edit_image_link(@group, :groups_edit) %>		
		
		<%  if DISPLAY_FREMIUM_SERVICES %>
		    
		<%= set_form_create_id_image_link(Fee.new, :id, @group, :fee_user_for_group) %>		
		<%= set_image_and_link(link_to(the_confirmation, group_path(@group), :method => :delete, :confirm => the_confirmation), 'group') if has_schedule_blank %>
		<% end %>
		
	</div>	
</div>

<hr/>
<br/>

<% end -%>


<% end -%>

<%#= render 'shared/sidebar_create_zurb', :item => Group.new unless has_group %>

<%= render('shared/sidebar_geo_group_zurb', :group => @group) if has_group and DISPLAY_FREMIUM_SERVICES -%>
<%= render('shared/share_object_zurb', :group => @group) if has_group and DISPLAY_FREMIUM_SERVICES -%>
<%#= render('groups/sidebar_legend_zurb') unless has_group and DISPLAY_FREMIUM_SERVICES %>