<%
	is_group_manager = @group ? is_current_manager_of(@group) : false
	is_group_member = @group ? is_current_member_of(@group) : false
	is_new_group = (get_controller_action =='group_new' or get_controller_action == 'group_create')
	has_group = @group ? is_new_group ? false : true : false
			
	the_group_name = ""
	the_manager_label = ""
	the_confirmation = ""	
	
	if has_group
		the_group_name = h(@group.name) 
		the_manager_label = label_name(:options_for_manager)
		the_confirmation = "#{ label_name(:destroy_group) } #{the_group_name}?"
		
		has_schedule_blank = @group.schedules.blank? 
		has_user_petition = has_current_item_petition(@group) 
		the_confirmation = label_with_name(:do_leave_item, "#{@group.name}?")
	end
	
	

%>

<% unless has_group %>
	
	<%= render 'sidebars/sidebar_create_schedule_zurb'%>
	
<% end %>


<% if has_group %>

	<%= set_form_create_id_image_link(Message.new, :scorecard_id, @group.schedules.first, :send_scorecard, 'scorecard') unless @group.schedules.blank? %>

	<div class="row">
		<div class="twelve columns">
	
			<% unless is_group_member %>
			
				
				<%= set_image_and_link(join_item_link_to(current_user, @group, true), 'user_add') if has_user_petition %>

			<% end %>
	
		</div>
	</div>


	<% if is_group_manager %>

	<hr/>

	<div class="row">	
		<div class="twelve columns">

			<%= set_form_create_id_image_link(Schedule.new, :id, @group, :schedules_create) %>
			
			<%= set_form_edit_image_link(@group, :groups_edit) %>		
		
			<%  if DISPLAY_FREMIUM_SERVICES %>
		    
			<%= set_form_create_id_image_link(Fee.new, :id, @group, :fee_user_for_group) %>		
			<%= set_image_and_link(link_to(the_confirmation, group_path(@group), :method => :delete, :confirm => the_confirmation), 'group') if has_schedule_blank %>
			<% end %>
		
		</div>	
	</div>



	<% end -%>


	<% if the_maximo %>
	
		<% @the_venues = Venue.find(:all, :conditions => "venues.archive = false", :order => "name") %>
	
		<% @the_venues.each do |venue| %>
		<% is_group_subscriber =  @group.is_subscriber_of?(venue) %>
		<%= set_image_and_link(set_role_add_venue_subscription(@group, venue), 'group_add') unless is_group_subscriber %>
		<%= set_image_and_link(set_role_remove_venue_subscription(@group, venue), 'group_remove') if is_group_subscriber %>
		<% end %>
		
	<% end %>
	
<% end -%>

