<div class="block">
	<div class="sidebar-block" class="extra">
	<a href="#" onclick="toggle_visibility('abc');"><h5><%= label_name(:groups_howto) %></h5></a>
	<div id="abc" style='display:none;'>
		
		<p>
			<b>1.&nbsp;</b>
			<%= label_name(:groups_howto_create) %>
		<p>
				
		<p>
			<b>2.&nbsp;</b>
			<%= label_name(:groups_howto_fillin) %>
		<p>
			
		<p>
			<b>4.&nbsp;</b>
			<%= label_name(:groups_howto_show) %>
		<p>

		<p>
			<b>5.&nbsp;</b>
			<%= label_name(:groups_howto_event) %>
		<p>

		<p>
			<b>6.&nbsp;</b>
			<%= label_name(:groups_howto_fillin) %>
		<p>
				
		<p>
			<b>8.&nbsp;</b>
			<%= "#{label_name(:invitations_your_friend)} #{label_name(:your).downcase} #{label_name(:group).downcase}." %>
		<p>

		<p>
			<b>9.&nbsp;</b>
			<%= label_name(:groups_howto_petition) %>
		<p>

		<p>
			<b>* &nbsp;</b>
			<%= label_name(:groups_howto_gameday) %>
		<p>

		</div>
	</div>
</div>

