<div class="block">
	<h3><%= label_name(:groups_howto) %></h3>
	<div class="content">
		
		<p>
			<b>1.&nbsp;</b>
			<%= label_name(:groups_howto_create) %>
		<p>
				
		<p>
			<b>2.&nbsp;</b>
			<%= label_name(:groups_howto_fillin) %>
		<p>
			
		<p>
			<b>4.&nbsp;</b>
			<%= label_name(:groups_howto_show) %>
		<p>

		<p>
			<b>5.&nbsp;</b>
			<%= label_name(:groups_howto_event) %>
		<p>

		<p>
			<b>6.&nbsp;</b>
			<%= label_name(:groups_howto_fillin) %>
		<p>

		<p>
			<b>7.&nbsp;</b>
			<%= label_name(:groups_howto_convocatoria) %>
		<p>
				
		<p>
			<b>8.&nbsp;</b>
			<%= "#{label_name(:invitations_your_friend)} #{label_name(:your).downcase} #{label_name(:group).downcase}." %>
		<p>

		<p>
			<b>9.&nbsp;</b>
			<%= label_name(:groups_howto_petition) %>
		<p>

		<p>
			<b>10.&nbsp;</b>
			<%= label_name(:challenges_howto_petition_done) %>
		<p>			

		<p>
			<b>11.&nbsp;</b>
			<%= label_name(:challenges_howto_petition_accept) %>
		<p>

		<p>
			<b>12.&nbsp;</b>
			<%= label_name(:groups_howto_gameday) %>
		<p>

	</div>
</div>

