<div class="block">

<h3><%= label_name("groups_option") %></h3>

<ul class="navigation">
<% 
	if current_user.is_member_of?(@group) 
		the_confirmation = label_with_name(:do_leave_group, "#{@group.name}?")
%>
		<li><%= link_to(label_name(:send_message_to_group), new_message_path(:group_id => @group.id)) %> 
		<li><%= link_to(label_name(:leave_group), leave_team_path(:id => @group.id, :teammate => current_user.id), 
													:confirm => the_confirmation) %></li>
<% 
	elsif !current_user.has_pending_petition?(current_user) 
		the_label = label_with_name('add_to_group', @group.name)
		the_confirmation = "#{ label_name(:petition_to_join_group) } #{current_user.name} #{ label_name(:to) } #{@group.name}?"
%> 
		<li><%= link_to(the_label, join_team_path(:id => @group.id, :teammate => current_user.id), :confirm => the_confirmation) %></li>
<% 
	end 

	if current_user.is_manager_of?(@group)
		the_label = label_with_name('create_schedule', @group.name)
		the_confirmation = "#{ label_name(:destroy_group) } #{ label_name(:to) } #{@group.name}?" 
%>                    
		<li><%= link_to label_name(:create_schedule), new_schedule_path(:id => @group.id) %></li>
		<li><%= link_to(label_name('groups_edit'), edit_group_path(@group)) if current_user.is_manager_of?(@group) %></li>  
		<li><%= link_to(control_label('destroy'), 
				{:controller => 'groups', :action => 'destroy', :id => @group}, 
				:confirm => the_confirmation) unless @group.has_schedule? %></li>
<% 
	end 
%>
</ul>

</div>