<%
	is_group_manager = @group ? current_user.is_manager_of?(@group) : false
	is_group_member = @group ? current_user.is_member_of?(@group) : false
	has_group = @group ? true : false
	
	the_group_name = ""
	the_label = label_name(:options)
	the_manager_label = ""
	the_confirmation = ""
	
	
	if has_group
		the_group_name = h(@group.name) 

		# the_label = label_with_name('create_schedule', @group.name)
		the_manager_label = label_name(:options_for_manager)
		the_confirmation = "#{ label_name(:destroy_group) } #{the_group_name}?"
		
		has_schedule_blank = @group.schedules.blank? 
		has_user_petition = current_user.has_item_petition?(current_user, @group)
		the_confirmation = label_with_name(:do_leave_item, "#{@group.name}?")
	end
%>


<% if has_group %>

<%= set_title_class(the_label) %>
<hr/>

<div class="row">
	<div class="twelve columns">
	
		<% if is_group_member %>
			<%= set_form_create_id_image_link(Message.new, :group_id, @group, :send_message_to) %>
			<%= set_form_create_id_image_link(Invitation.new, :group_id, @group, :invitations_create_group) %>
			<%#= set_form_create_id_image_link(Message.new, :scorecard_id, @group.schedules.first, :send_scorecard, 'scorecard') unless has_schedule_blank %>

		<% else %>	
			<%= set_form_create_id_image_link(Message.new, :id, @group.all_the_managers.first, :send_message_to) %>
			<%= set_image_and_link(join_item_link_to(current_user, @group, true), 'user_add') if has_user_petition %>

		<% end %>
	
	</div>
</div>

<hr/>
<br/>

<% end -%>


<% if is_group_manager %>

<%= set_title_class(the_manager_label) %>
<hr/>

<div class="row">	
	<div class="twelve columns">

		<%= set_form_create_id_image_link(Schedule.new, :id, @group, :schedules_create) %>
		<%#= set_form_create_id_image_link(Classified.new, :id, @group, :classifieds_create)  if DISPLAY_CLASSIFIEDS %>
		<%= set_form_edit_image_link(@group, :groups_edit) %>		
		<%= set_form_create_id_image_link(Fee.new, :id, @group, :fee_user_for_group) %>
		
		<%= set_image_and_link(link_to(the_confirmation, group_path(group), :method => :delete, :confirm => the_confirmation), 'group') if has_schedule_blank %>
		
	</div>	
</div>

<hr/>
<br/>

<% end -%>



<%= render('shared/sidebar_geo_group_zurb', :group => @group) if has_group -%>
<%= render('shared/share_object_zurb', :group => @group) if has_group -%>
<%= render 'shared/sidebar_create_zurb', :item => Group.new unless has_group %>


<%#= render('groups/sidebar_legend_zurb') unless has_group -%>