<% 
	the_label = "#{label_name(:users)} #{label_name(:from)} #{sanitize(@group.name)}"
	content_for(:title, sanitize(@group.name))
%>

<div class="block">

	<%= get_secondary_navigation(@schedule) %>

	<div class="content">   

		<h2 class="title"><%= the_label %></h2>

		<div class="inner">

			<%= get_class_table_id_controller %>

				<tr>   
					<%= set_content_tag_safe(:th, "&nbsp;", "first") %>
					<%= set_content_tag_safe(:th, "&nbsp;", "heading") %>
					<%= set_content_tag_safe(:th, "&nbsp;", "heading") %>
					<%= set_content_tag_safe(:th, label_name(:technical), "heading") %>	
					<%= set_content_tag_safe(:th, "&nbsp;", "heading") %>				
					<%= set_content_tag_safe(:th, label_name(:physical), "heading") %>
					<%= set_content_tag_safe(:th, "&nbsp;|&nbsp;", "heading") %>
					<%= set_content_tag_safe(:th, label_name(:profile_technical_average), "heading") %>	
					<%= set_content_tag_safe(:th, "&nbsp;", "heading") %>
					<%= set_content_tag_safe(:th, label_name(:profile_physical_average), "heading") %>
					<%= content_tag :th, "&nbsp;".html_safe, :class => "last", :width => "400" %>
				</tr>

				
				<% @matches.each do |match| %>
					<%= render "groups/profile", :match => match %>
				<%- end -%>

			</table>

			<div class="clear"></div> 

		</div>

	</div>

</div>

<%= render 'schedules/sidebar_schedule' %>