<% 
	the_label = "#{label_name(:users)} #{label_name(:from)} #{sanitize(@group.name)}"
	content_for(:title, sanitize(@group.name))
%>

<div class="row">

	<div class="twelve column">   

		<%= set_title_class(the_label) %>

		<div class="inner">

			<%= get_class_table_id_controller %>

				<tr>   
					<%= set_content_tag_safe(:th, "&nbsp;", "first") %>
					<%= content_tag :th, "&nbsp;", :class => "heading" %>
					<%= content_tag :th, "&nbsp;", :class => "heading" %>
					<%= content_tag :th, label_name(:technical), :class => "heading" %>	
					<%= content_tag :th, "&nbsp;", :class => "heading" %>				
					<%= content_tag :th, label_name(:physical), :class => "heading" %>
					<%= content_tag :th, "&nbsp;|&nbsp;", :class => "heading" %>			
					<%= content_tag :th, label_name(:moral), :class => "heading" %>
					<%= content_tag :th, "&nbsp;|&nbsp;", :class => "heading" %>
					<%= content_tag :th, label_name(:profile_technical_average), :class => "heading" %>	
					<%= content_tag :th, "&nbsp;", :class => "heading" %>
					<%= content_tag :th, label_name(:profile_physical_average), :class => "heading" %>	
					<%= content_tag :th, "&nbsp;", :class => "last", :width => "400" %>
					<%= content_tag :th, label_name(:profile_moral_average), :class => "heading" %>	
					<%= content_tag :th, "&nbsp;", :class => "last", :width => "400" %>
				</tr>

				
				<% @matches.each do |match| %>
				<%= render "groups/profile_zurb", :match => match %>
				<%- end -%>

			</table>

			<div class="clear"></div> 

		</div>

	</div>

</div>

