<div class="block">

  <%= render :partial => 'secondary_navigation' %>   
  
  <div class="content">
    <div class="inner">
		
	<% if @group.photo_file_name %>
	  <p><%= image_tag @group.photo.url %></p>
	<% else %>
	  <p><%= label_name(:no_photo_for, get_the_controller) %>. <%= link_to label_name(:upload), edit_group_path(@group) %></p>
	<% end %>
	
	<p>
	  <b><%= label_name(:name) %>:</b>
	  <%=h @group.name %>
	</p>

        <p>
          <b><%= label_name(:second_team) %>:</b>
          <%= @group.second_team %>
        </p>

        <p>
          <b><%= label_name(:gameday_at) %>:</b>
          <%= nice_day_date @group.gameday_at %>
        </p>

        <p>
          <b><%= label_name(:available) %>:</b>
          <%= label_name(@group.available, 'value') %>
        </p>

        <p>
          <b><%= label_name(:points_for_win) %>:</b>
          <%= @group.points_for_win %>
        </p>

        <p>
          <b><%= label_name(:points_for_draw) %>:</b>
          <%= @group.points_for_draw %>
        </p>

        <p>
          <b><%= label_name(:points_for_lose) %>:</b>
          <%= @group.points_for_lose %>
        </p>

        <p>
          <b><%= label_name(:time_zone) %>:</b>
          <%= @group.time_zone %>
        </p>

        <p>
          <b><%= label_name(:sport) %>:</b>
          <%= @group.sport.name %>
        </p>

        <p>
          <b><%= label_name(:marker) %>:</b>
          <%= marker_link @group.marker %>
        </p>

        <p>
          <b><%= label_name(:description) %>:</b>
          <%= @group.description %>
        </p>

        <p>
          <b><%= label_name(:conditions) %>:</b>
          <%= @group.conditions %>
        </p>

        <p>
          <b><%= label_name(:player_limit) %>:</b>
          <%= @group.player_limit %>
        </p>


        <p>
          <b><%= label_name(:enable_comments) %>:</b>
          <%= label_name(@group.enable_comments, 'value') %>
        </p>

  
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar_show') -%>