<% 
	is_user_manager = (is_current_manager_of(@group)) 
	is_venue_maximo = @group.venue 
	is_member = is_current_member_of(@group) 
	
	the_venue_link = ""
	
	if is_venue_maximo
		the_venue_link = item_name_link(@group.venue)
		the_venue_link = item_name_link(@group.venue.name, reservations_path(:id => @group.installation)) if @group.installation
	end
	
	
	the_automatic_petition = h(label_name(@group.automatic_petition, 'value'))
	the_confirmation = label_with_name('automatic_petition', "#{@group.name}?")
	
%>

<%= render 'shared/show_description_zurb', :item => @group %>
	


<table>
<tbody>
<tr>
<td>

<div class="two columns">
	<%= image_tag @group.photo %>
</div>

<div class="ten columns">
			
		<%= render_show_detail_zurb(:name, item_name_link(@group)) %>
		<%= render_show_detail_zurb(:second_team, h(@group.second_team)) %>
		<%= render_show_detail_zurb(:manager, item_list(@group.all_the_managers)) %>

		<%  if is_venue_maximo %>
		<%= render_show_detail_zurb(:venue, the_venue_link) %>
		<% else %>
		<%= render_show_detail_zurb(:marker, marker_link(@group.marker)) %>
		<% end %>
		
		<%= render_show_detail_zurb(:sports, @group.sport.name) %>
		<%= render_show_detail_zurb(:scorecard, link_to(label_name(:scorecard), scorecard_path(:id => @group))) %>
		<%= render_show_detail_zurb(:game_day, nice_day_time(@group.schedules.first.starts_at)) unless @group.schedules.blank? %>
		<%= render_show_detail_zurb(:city, @group.marker.city) %>

		<%= render_show_detail_zurb(:automatic_petition, 
		(is_user_manager ? link_to(the_automatic_petition, set_automatic_petition_path(:id => @group)) : the_automatic_petition)) if @group.payed_service %>  

		<%= render_show_detail_zurb(:users, t(:has_group_users, :count => @group.users.count)) %>
		<%= render_show_detail_zurb(:blank, t(:has_group_active_users, 
								:count => object_counter(Scorecard.get_active_players(@group)))) %>
		
		<%= render_show_detail_zurb(:schedules, t(:has_group_schedules, :count => @group.schedules.count)) unless @group.schedules.blank? %>
		<%= render_show_detail_zurb(:points_for_win_all, "#{@group.points_for_win.to_i} / #{@group.points_for_draw.to_i} / #{@group.points_for_lose.to_i}") %>		
		<%= render_show_detail_zurb(:player_limit, @group.player_limit) %>
		<%= render_show_detail_zurb(:conditions, sanitize(@group.conditions)) %>	
		<%= render_show_detail_zurb(:users_available, render('/shared/show_images_zurb', :collection => @group.users)) if is_member %>	
		
</div>
		
</td>	
</tr>
</tbody>
</table>


