<% 
	is_user_manager = (current_user.is_manager_of?(@group))
%>

<div class="block">

  <%= render :partial => 'secondary_navigation' %>   
  
  <div class="content">
	        
  <h2 class="title"><%= @group.name %></h2>

    <div class="inner">

	<!-- new table -->
	<table>
	<thead>

	<tr>
	<th colspan="2">
		<div class="description">
			<span class="q">
				<%=sanitize @group.description.blank? ? control_label('description_no') : @group.description %>
			</span>
		</div>
	</th>

	</tr>
	</thead>

	<tr>
	<td valign="top" width="105"><%= group_show_photo(@group, current_user) %></td>

	<td>
	<table border="1">

		
		<%= tr_td_action(:name, @group.name) %>
		<%= tr_td_action(:second_team, @group.second_team) %>

		<tr>
			<%= content_tag :td, label_name(:manager), :class => "label" %>
			<%= content_tag :td, user_list(@group.all_the_managers), :class => get_the_action %>
		</tr>

		<tr>
			<%= content_tag :td, label_name(:marker), :class => "label" %>
			<%= content_tag :td, marker_link(@group.marker), :class => get_the_action %>
		</tr>

		<%= tr_td_action(:sports, @group.sport.name) %>
		<%= tr_td_action(:game_day, nice_day_time(@group.schedules.first.starts_at)) unless @group.schedules.blank? %>
		<%= tr_td_action(:time_zone, @group.time_zone) %>

	<% 
		the_label = h(label_name(@group.looking, 'value'))
		the_confirmation = label_with_name('looking_for_user', "#{@group.name}?") 
	%>
		<tr>
		  <%= content_tag :td, label_name(:looking_for_user), :class => "label" %>
		  <%= content_tag :td, 
				(is_user_manager ? link_to(the_label, set_group_looking_path(:id => @group), :confirm => the_confirmation) : the_label), 
				:class => get_the_action %>
		</tr>
		
		<%= tr_td_action(:users, t(:has_group_users, :count => @group.users.count)) %>
		<%= tr_td_action(:schedules, t(:has_group_schedules, :count => @group.schedules.count)) unless @group.schedules.blank? %>
		<%= tr_td_action(:points_for_win, @group.points_for_win) %>
		<%= tr_td_action(:points_for_draw, @group.points_for_draw) %>
		<%= tr_td_action(:points_for_lose, @group.points_for_lose) %>		
		<%= tr_td_action(:player_limit, @group.player_limit) %>
		
		<tr>
			<%= content_tag :td, link_to(label_name(:scorecard), scorecard_path(:id => @group)), :class => "label" %>
		</tr>
		
		<tr>
			<%= content_tag :td, label_name(:conditions), :class => "label" %>
			<%= content_tag :td, sanitize(@group.conditions), :class => get_the_action %>	
		</tr>

	 <% if current_user.is_member_of?(@group) and !@group.available_users.empty? %>
	   <tr>
	     <%= content_tag :td, label_name(:users_available), :class => "label" %>
	     <%= content_tag :td, user_list(@group.available_users), :class => get_the_action %>
	   </tr>
	 <% end %>

		<% 
			# the_label = h(label_name(@group.available, 'value'))
			# the_confirmation = label_with_name('set_available', "#{@group.name}?") 
		%>
			<!-- <tr>
			  <%#= content_tag :td, label_name(:available), :class => "label" %>
			  <%#= content_tag :td, 
					(is_user_manager ? link_to(the_label, set_group_available_path(:id => @group.id), :confirm => the_confirmation) : the_label), 
					:class => get_the_action %>
			</tr> -->

		<% 
			# the_label = h(label_name(@group.enable_comments, 'value'))
			# the_confirmation = label_with_name('enable_comments', "#{@group.name}?") 
		%>
			<!-- <tr>
			  <%#= content_tag :td, label_name(:enable_comments), :class => "label" %>
			  <%#= content_tag :td, 
					(is_user_manager ? link_to(the_label, set_group_enable_comments_path(:id => @group.id), :confirm => the_confirmation) : the_label), 
					:class => get_the_action %>
			</tr> -->

		</table>

	</td>
	</tr>

	</table>
	<!-- new table -->


			 
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar_show') -%>
<% content_for :sidebar, render(:partial => '/fees/sidebar_show_team') if current_user.is_manager_of?(@group) %>