<%
	the_label = sanitize(@group.name)
	the_total_label = I18n.t(:has_group_users, :count => @total)
%>

<div class="row">
	
	<div class="twelve columns">
		
		<div class="foundation-header">
			
			<%= content_tag :h5, the_label %>
			
			<hr />
			
			<%= content_tag :h6, the_total_label, :class => "subheader" %>
			
		</div>
	</div>
	
</div>


<div class="row">
	<div class="twelve columns"> 
		
		<table>
		  	<thead>
			<tr>             
				<%= set_content_tag_safe(:th, "&nbsp;") %>
				<%= set_content_tag_safe(:th, "#{label_name(:name)}<br />#{label_name(:last_game_played)}") %>
				<%= set_content_tag_safe(:th, "#{label_name(:group)}<br />#{label_name(:city)}") %>
				<%= set_content_tag_safe(:th, "&nbsp;") %>
			</tr>
			</thead>
			
		<tbody>
			
			<% @users.each do |user| 
				schedule = Schedule.last_schedule_played(user)
				the_date = schedule.nil? ? '' : nice_full_date(schedule.starts_at)
		    -%>
		
			<tr>
				<%= set_content_tag_safe(:td, image_link_small(user)) %>					
				<%= set_content_tag_safe(:td, "#{item_name_link(user)} <br/> #{content_tag(:span, the_date, :class =>'date')}", :class => 'name_and_date') %>
				<%= set_content_tag_safe(:td, "#{(user.has_group? ? group_list(user.groups) : label_name('groups_none'))}<br/>#{user.city.name}" ) %>
				<%= set_content_tag_safe(:td, link_to(label_name(:send_message_to), new_message_path(:id => user))) %>	
			</tr>
			
			<% end -%>
		
		</tbody>
		</table>
		
	</div>
</div>

<hr/>

<%= render 'shared/action_bar_zurb', :collection => @users %>
	  
