
<!-- check_box -->
<div class="group">
  <%= f.label :available, label_name('available'), :class => :label %>
  <%= f.check_box :available, :class => 'text_field' %>
  <span class="description"><%= label_name('available', 'description') %></span>
</div>

 <!-- check_box -->
<div class="group">
  <%= f.label :private_phone, label_name('private_phone'), :class => :label %>
  <%= f.check_box :private_phone, :class => 'text_field' %>
  <span class="description"><%= label_name('private_phone', 'description') %></span>
</div>  

 <!-- check_box -->
<div class="group">
  <%= f.label :private_profile, label_name('private_profile'), :class => :label %>
  <%= f.check_box :private_profile, :class => 'text_field' %>
  <span class="description"><%= label_name('private_profile', 'description') %></span>
</div>  

<!-- check_box -->
<div class="group">
  <%= f.label :teammate_notification, label_name('teammate_notification'), :class => :label %>
  <%= f.check_box :teammate_notification, :class => 'text_field' %>
  <span class="description"><%= label_name('teammate_notification', 'description') %></span>
</div> 

<!-- check_box -->
<div class="group">
  <%= f.label :message_notification, label_name('message_notification'), :class => :label %>
  <%= f.check_box :message_notification, :class => 'text_field' %>
  <span class="description"><%= label_name('message_notification', 'description') %></span>
</div>
