
<div class="group">
  <%= f.label :photo, label_name('photo'), :class => :label %>
  <%= f.file_field :photo, :class => 'text_field' %>
  <span class="description"><%= label_name('photo', 'description') %></span>
</div>

<div class="group">
  <%= f.label :name, label_name('name'), :class => :label %>
  <%= f.text_field :name, :class => 'text_field' %>
  <span class="description"><%= label_name('name', 'description') %></span>
</div>
  
<div class="group">
  <%= f.label :email, label_name('email'), :class => :label %>
  <%= f.text_field :email, :class => 'text_field' %>
  <span class="description"><%= label_name('email', 'description') %></span>
</div>

<div class="group">
  <%= f.label :description, label_name('description'), :class => :label %>
  <%= f.text_area :description, :class => 'text_field' %>
  <span class="description"><%= label_name('description') %></span>
</div>

<div class="group">
  <%= f.label :language, label_name('language'), :class => :label %>
  <%#= f.text_field :language, :class => 'text_field' %>
<%  options = ""
	languages = ['spanish', 'english', 'french', 'german', 'italian'].each do |language|
		options += "<option>" + label_name(language) + "</option>"
	end
%>
  <%= select_tag "user[language]", options %>

  <span class="description"><%= label_name('language', 'description') %></span>
</div>
  
<div class="group">
  <%= f.label :country, label_name('country'), :class => :label %>
  <%= f.text_field :country, :class => 'text_field' %>
  <span class="description"><%= label_name('country', 'description') %></span>
</div>
  
<div class="group">
  <%= f.label :time_zone, label_name('time_zone'), :class => :label %>
  <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %>
  <span class="description"><%= label_name('time_zone', 'description') %></span>
</div>
  
<div class="group">
  <%= f.label :phone, label_name('phone'), :class => :label %>
  <%= f.text_field :phone, :class => 'text_field' %>
  <span class="description"><%= label_name('phone', 'description') %></span>
</div>

<div class="group">
  <%= f.label :dorsal, label_name('dorsal'), :class => :label %>
  <%= f.text_field :dorsal, :class => 'text_field' %>
  <span class="description"><%= label_name('dorsal', 'description') %></span>
</div>

<div class="group">
  <%= f.label :position, label_name('position'), :class => :label %>
  <%= f.text_field :position, :class => 'text_field' %>
  <span class="description"><%= label_name('position', 'description') %></span>
</div>

<div class="group">
  <%= f.label :technical, label_name('technical'), :class => :label %>
  <%= f.text_field :technical, :class => 'text_field' %>
  <span class="description"><%= label_name('technical', 'description') %></span>
</div>

 <div class="group">
  <%= f.label :physical, label_name('physical'), :class => :label %>
  <%= f.text_field :physical, :class => 'text_field' %>
  <span class="description"><%= label_name('physical', 'description') %></span>
</div>

 <div class="group">
  <%= f.label :gender, label_name('gender'), :class => :label %>
  <%= "#{label_name(:male)}  " %><%= radio_button("user", "gender", "male") %><br/>
  <%= "#{label_name(:female)}  " %><%= radio_button("user", "gender", "female") %>
</div>  

 <div class="group">
  <%= f.label :birth_at, label_name('birth_at'), :class => :label %>
  <%= date_select :user, :birth_at, :start_year => (Time.now.year.to_i - 70), :end_year => Time.now.year.to_i, :class => 'text_field' %>
  <span class="description"><%= label_name('birth_at', 'description') %></span>
</div>