<table class="table">

	<tr>             
		<th class="first">&nbsp;</th>
		<th><%=label_name(:name) %></th>
		<th><%#=label_name(:group) %></th>
		<th><%=label_name(:petition_at) %></th>
		<th><%=label_name(:general_information) %></th>
		<th class="last">&nbsp;</th>
	</tr>

	<% teammates.each do |teammate| 
		item_link = ''
		manager_link = "#{link_to(label_name(:petition_join_item_accept), join_item_accept_path(teammate))}  /  " if current_user.is_manager_of?(teammate.item)
		
		case teammate.item.class.to_s  
		when 'Group' 
			# item_link = group_link(teammate.group)
			item_link = group_link(teammate.item)
		when 'Challenge' 
			item_link = challenge_link(teammate.item)
		else
		end
	%>	
	<tr>
		<td>
			<%= image_link_small teammate.user %>
		</td>

		<td>
			<%= user_link teammate.user %>
		</td>
		
		<td>
			<%= item_link %>
		</td>

		<td>
			<%= nice_day_date teammate.created_at %>
		</td>

		<td>
			<%= label_name(:petition_to_join) %>&nbsp;<br/>
			<%= item_link %>
		</td>			  

		<td class="last">	
			<%= manager_link %>	
			<%= link_to label_name(:petition_join_item_decline), join_item_decline_path(teammate) %>
		</td>	

	</tr>
	<% end -%>	


</table>




