<%
	has_sub_item = teammate.sub_item.nil?

	request_image = item_image_link_small(teammate.user)
	request_link = item_name_link(teammate.user)

	item_link = item_name_link(teammate.item)
	item_image = item_image_link_small(teammate.item)

	sub_item_link = has_sub_item ?  "" : item_name_link(teammate.sub_item) 
	sub_item_image = has_sub_item ? "" : item_image_link_small(teammate.sub_item)

	manager_link = "#{link_to(label_name(:petition_join_item_accept), join_item_accept_path(teammate))}  /  " if current_user.is_manager_of?(teammate.item)
	
	has_joined ||= false
	has_joined = (teammate.status == 'accepted')
%>	

<tr>
	<td>
		<% if has_sub_item %>		
		<%= request_image %>
		<% else %>
		<%= sub_item_image %>
		<% end %>
	</td>

	<td class="name_and_date">
		<%= request_link %>&nbsp;
		<%= has_joined ? "#{label_name(:petition_to_join_accepted).downcase} <wbr/> #{item_link}" : "#{label_name(:petition_to_join)} <wbr/> #{item_link}" %>
		<span class="date">
			<% unless has_sub_item %>
			<br/>
			<%= sub_item_link %>
			<br/>
			<% end %>
		<%= has_joined ? nice_full_date(teammate.accepted_at) : nice_full_date(teammate.created_at) %>	
		</span>
	</td>

	<td>&nbsp;</td>		  	
	<td>&nbsp;</td>  

	<td class="last">
		<% unless has_joined %>
		<%= manager_link %>	
		<%= link_to label_name(:petition_join_item_decline), join_item_decline_path(teammate) %>
		<% end %>
	</td>
</tr>





