
<table class="table">

	<tr>             
		<th class="first">&nbsp;</th>
		<th><%=label_name(:name) %></th>
		<th><%=label_name(:group) %></th>
		<th><%=label_name(:petition_at) %></th>
		<th><%=label_name(:general_information) %></th>
		<th class="last">&nbsp;</th>
	</tr>

	<% teammates.each do |teammate| %>	
	<tr>
		<td>
			<%= image_link_small teammate.user %>
		</td>

		<td>
			<%= user_link teammate.user %>
		</td>
		
		<td>
			<%= group_link teammate.group if teammate.group %>
			<%= tournament_link teammate.tournament if teammate.tournament %>
		</td>

		<td>
			<%= nice_day_date teammate.created_at %>
		</td>

		<td>
			<%= label_name(:petition_to_join) %>&nbsp;
				<%= group_link teammate.group if teammate.group %>
				<%= tournament_link teammate.tournament if teammate.tournament %>
		</td>			  

		<td class="last">
			<% if teammate.group %>	
				<% if current_user.is_manager_of?(teammate.group) %>		
					<%= link_to label_name(:petition_join_team_accept), join_team_accept_path(teammate) %>
					<%= "  /  " %>
				<% end %>	

				<%= link_to label_name(:petition_join_team_decline), join_team_decline_path(teammate) %>		
			<% elsif teammate.tournament %>
				<% if current_user.is_manager_of?(teammate.tournament) %>		
					<%= link_to label_name(:petition_join_team_accept), join_tour_accept_path(teammate) %>
					<%= "  /  " %>
				<% end %>

				<%= link_to label_name(:petition_join_team_decline), join_tour_decline_path(teammate) %>
			<% end %>		
		</td>	

	</tr>
	<% end -%>	


</table>




