<div class="secondary-navigation">
<ul>
<%
    display ||= false
	the_label = "" 
	my_openid = false
	
	# will display info only if user belongs to group
	if current_user 
		display = current_user.has_group? 
	end
	
	user_access = ['login','logout','signup']
	control_path = ['users', 'user_sessions'] 

	the_controller = controller.controller_name
	the_action = controller.action_name
	
	controls = ['blogs', 'entries', 'comments', 'fees', 'payments'] 
	actions = ['show','edit','third_party', 'recent_activity']
	the_user = (@user ? @user : current_user)
%>
	<li class="<%= get_first_active('user_index') %>">  <%= link_to(label_name(:users_teammate), users_url) %></li>
	<li class="<%= get_active('user_list') %>"><%=  link_to(label_name(:all_user) , list_users_path) %></li>
	<li class="<%= get_active('third_party') %>"><%= link_to(t(:myopenid) , third_party_url(:id => the_user.id)) if the_user == current_user %></li>
<%
	unless actions.include?(the_action) or controls.include?(the_controller) 
		the_label = label_name(:my_wall)
%>
		<li class="<%= get_active('entry_show') %>">  <%= link_to(the_label, blog_path(current_user.blog)) %></li>
<% 		
	else 
		the_label = (the_user == current_user ? label_name(:my_wall) : "#{label_name(:the_wall)} #{h(the_user.name)}")	
%>
		<li class="<%= get_active('entry_show') %>">  <%= link_to(the_label, blog_path(the_user.blog)) %></li>
<% 
	end
%>
	<li class="<%= get_active('user_show') %>">
		<%= user_link("#{label_name(:profile)} #{label_name(:from)} #{h(the_user.name)}", the_user) %>
	</li>
	
	<% if current_user.is_user_manager_of?(the_user) or the_user == current_user %>
	<li class="<%= get_active('fee_index') %>">
		<%= link_to("#{label_name(:fees)} #{label_name(:from)} #{h(the_user.name)}", fees_url(:id => the_user)) %>
	</li>
	<li class="<%= get_active('payment_index') %>">
		<%= link_to("#{label_name(:payments)} #{label_name(:from)} #{h(the_user.name)}", payments_url) %>
	</li>
	<% end %>
	
	<li class="<%= get_active('invitation_index') %>"><%= link_to(label_name(:invitations), invitations_url) %></li>
	
	<% if current_user.has_pending_petition?(current_user) %>
	<li class="<%= get_active('user_petition') %>">
		<%= link_to(label_name(:petitions), petition_path(current_user)) %>
	</li>
	<% end %>
</ul>
<div class="clear"></div>
</div>