<div class="secondary-navigation">
<ul>
<%
    display ||= false
	the_label = "" 
	my_openid = false
	
	# will display info only if user belongs to group
	if current_user 
		display = current_user.has_group? 
	end
	
	user_access = ['login','logout','signup']
	control_path = ['users', 'user_sessions'] 

	the_controller = controller.controller_name
	the_action = controller.action_name
	
	controls = ['blog', 'comments', 'fees', 'payments'] 
	actions = ['show','edit','third_party', 'recent_activity']
	the_user = (@user ? @user : current_user)
	label_the_user = (the_user == current_user ? "" : "#{label_name(:from)} #{h(the_user.name)}")
	
	the_invitation = ""
	case get_the_controller
	when "invitation"
		the_invitation = "active"
	end
%>
	<li class="<%= get_first_active('user_index') %>">  <%= link_to(label_name(:users_teammate), users_url) %></li>
	<li class="<%= get_active('user_list') %>"><%=  link_to(label_name(:all_user) , list_users_path) %></li>
	<li class="<%= get_active('user_third_party') %>">
			<%= link_to(label_name(:myopenid) , third_party_url(:id => the_user)) if the_user == current_user and current_user.is_maximo? %>
	</li>
<%
 	if current_user.is_user_member_of?(the_user) 
		unless actions.include?(the_action) or controls.include?(the_controller) 
			the_blog = Blog.find_item(current_user)
		else
			the_blog = Blog.find_item(the_user)
		end		
%>
		<li class="<%= get_active('blog_show') %>"><%= blog_link(the_blog) %></li>
<% 
	end
%>
	<li class="<%= get_active('user_show') %>">
		<%= user_link("#{label_name(:profile)}", the_user) if current_user.is_user_member_of?(the_user) %>
	</li>
	
	<% if current_user.is_user_manager_of?(the_user) or the_user == current_user %>
		<!-- <li class="<%#= get_active('fee_index') %>"><%#= link_to("#{label_name(:fees)}", fees_url(:id => the_user)) %></li> -->
		<li class="<%= get_active('fee_item_list') %>">
			<%= link_to(label_name(:fees), item_list_fees_path(:id => the_user, :item => the_user.class.to_s)) %>
		</li>
	<% end -%>
	
	<li class="<%= the_invitation %>"><%= link_to(label_name(:invitations), invitations_url) %></li>
	
	<% if current_user.has_pending_petition?(current_user) %>
	<li class="<%= get_active('user_petition') %>">
		<%= link_to(label_name(:petitions), petition_path(current_user)) %>
	</li>
	<% end %>
</ul>
<div class="clear"></div>
</div>