<%
	the_label = "" 
	my_openid = false

	the_profile = ["blog_show", "user_show", "fee_item_list", "fee_index", "user_petition", "schedule_my_list", "payment_new", "user_edit", "user_update", "fee_item"]
	is_profile = (the_profile.include?(get_controller_action))? true : false
		
	user_access = ['login','logout','signup']
	control_path = ['users', 'user_sessions'] 
	
	the_controller = controller.controller_name
	the_action = controller.action_name
	
	the_fee = ["fee_item_list", "fee_index", "payment_new"]
	the_active_fee =  get_active(get_controller_action) if the_fee.include?(get_controller_action)
	
	controls = ['blog', 'comments', 'fees', 'payments'] 
	actions = ['show','edit','third_party', 'recent_activity']
	the_user = (@user ? @user : current_user)
	label_the_user = (the_user == current_user ? "" : "#{label_name(:from_de)} #{h(the_user.name)}")
%>

<div class="secondary-navigation">
<ul>
<%
	unless is_profile 
%>
		<li class="<%= get_first_active('user_index') %>"><%= link_to(label_name(:users_teammate), users_url) %></li>
		<li class="<%= get_active('user_list') %>"><%= link_to(label_name(:all_user) , list_users_path) %></li>
<% 
	else 
%>
		<li class="<%= get_active('user_show') %>">
			<%= user_link("#{label_name(:profile)}", the_user) %>
		</li>
<%
		if DISPLAY_USER_BLOG
		 	if current_user.is_user_member_of?(the_user) 
				unless actions.include?(the_action) or controls.include?(the_controller) 
					the_blog = Blog.find_item(current_user)
				else
					the_blog = Blog.find_item(the_user)
				end		
%>
				<li class="<%= get_active('blog_show') %>"><%= blog_link(the_blog) %></li>
				<!-- <li class="<%#= get_active('schedule_my_list') %>"><%#= link_to(label_name(:schedules) , my_list_schedules_path(:id => the_user)) %></li> -->
<% 
			end
		
		end
		
		if current_user.is_user_manager_of?(the_user) or the_user == current_user 
%>
		<li class="<%= the_active_fee %>"><%= link_to(label_name(:fees), fees_path(:id => the_user)) %></li>
		<li class="<%= get_active('fee_item') %>"><%= link_to(label_name(:payments), item_fees_path(:id => the_user)) %></li>
<% 
		end 

		if current_user.has_pending_petition?(current_user) and the_user == current_user 
%>
			<li class="<%= get_active('user_petition') %>">
				<%= link_to(label_name(:petitions), petition_path(current_user)) %>
			</li>
<% 		
		end 
	end 
%>
</ul>
<div class="clear"></div>
</div>