<div class="block">
	
<ul class="navigation">
<%
	current_user.groups.each do |group| 
		the_group = h(group.name)

 		unless @user.is_member_of?(group)  
			the_label = label_with_name('petition_to_join', group.name)
			the_confirmation = "#{ label_name(:petition_to_join)} #{h(@user.name)} #{ label_name(:to) } #{the_group}?"
%>
			<li>
				<%#= link_to(the_label, join_team_path(:id => group, :teammate => current_user), :confirm => the_confirmation) %>
				<%= link_to(the_label, join_item_path(:id => group, :item => group.class.to_s, :teammate => current_user), 
						:confirm => the_confirmation) %>
			</li>
<% 
		else 
			the_label = label_with_name('fire_from_item', group.name)
			the_confirmation = "#{ label_name(:fire_from_item)} #{the_group} #{ label_name(:to)} #{h(@user.name)}?"
%> 
		<li>
			<%#= link_to(the_label, leave_team_path(:id => group, :teammate => @user), :confirm => the_confirmation) %>
			<%= link_to(the_label, leave_item_path(:id => group, :item => group.class.to_s, :teammate => current_user), :confirm => the_confirmation) %>
		</li>
<% 
		end 
		
		if @user == current_user and @user.is_creator_of?(group)  
			if @user.is_manager_of?(group)
				the_label = "#{ label_name(:role_remove_manager)} #{ label_name(:for) } #{the_group}"
				the_confirmation = "#{ label_name(:role_remove_manager)}, #{h(@user.name)} #{ label_name(:for) } #{the_group}?"
%>					
				<li><%= link_to(the_label , remove_manager_path(:id => @user, :group => group), :confirm => the_confirmation) %></li>
<% 
			else
				the_label = "#{ label_name(:role_add_manager)} #{ label_name(:from) } #{the_group}"
				the_confirmation = "#{ label_name(:role_add_manager)} #{ label_name(:to) } #{@user.name} #{ label_name(:to) } #{the_group}?"
%>		
				<li><%= link_to(the_label , set_manager_path(:id => @user, :group => group), :confirm => the_confirmation) %></li>		
<% 
			end 
		end
	
		if @user != current_user  and @user.is_member_of?(group) and current_user.is_creator_of?(group)
			if @user.is_manager_of?(group)
				the_label = "#{ label_name(:role_remove_manager)} #{ label_name(:from) } #{the_group}"
				the_confirmation = "#{ label_name(:role_remove_manager)} #{ label_name(:from) } #{the_group}?"
%>					
			<li><%= link_to(the_label , remove_manager_path(:id => @user, :group => group), :confirm => the_confirmation) %></li>		
<%
			else
				unless @user.is_manager_of?(group) and group.total_managers.to_i <= 2
				the_label = "#{ label_name(:role_add_manager)} #{ label_name(:for) } #{the_group}"
				the_confirmation = "#{ label_name(:role_add_manager)} #{ label_name(:for) } #{the_group}?"
%>		
					<li><%= link_to(the_label , set_manager_path(:id => @user, :group => group), :confirm => the_confirmation) %></li>
<% 
				end
			end		
		end	
%>
<li>&nbsp;</li>
<%	
	end 
%>

</ul>
	
</div>
<!-- </div> -->