<div class="block">
	
	<h3><%= label_name("user_options") %></h3>
	
<ul class="navigation">
		
<% 
	if @user.can_modify?(current_user) %>		
		<li><%= link_to label_name('users_edit'), edit_user_path(@user) %></li>
<% 
	else 
%>
	<li><%= link_to label_name(:send_message), new_message_path(@user) %></li>
<% 
	end 

@user.groups.each do |group| 
%>
<li><%= group_link group %></li>
<%
end
%>

</ul>
	
</div>

<%= render :partial => '/users/sidebar_show_team' %>