
<div class="block">
	<h3><%= label_name("user_options") %></h3>
	<div class="content">
<% 
	if @user.can_modify?(current_user) 
%>		
	<p><%= option_image_link('user') %>&nbsp;&nbsp;<%= link_to label_name('users_edit'), edit_user_path(@user) %></p>
<% 
	else 
		
		if @user != current_user
%>
		<p><%= option_image_link('message') %>&nbsp;&nbsp;<%= link_to label_name(:send_message_to), new_message_path(:id => @user)  %></p>
<% 
		end
	end 
%>

<%
	current_user.groups.each do |group| 
		the_group = h(group.name)

 		unless @user.is_member_of?(group)  
%>
			<p><%= option_image_link('user_add') %>&nbsp;&nbsp;<%= join_item_link_to(@user, group, true) %></p>
<% 
		end 
	end 
%>

	</div>
</div>
