<div class="block">
		<h3><%= label_name(:join_option) %></h3>
<div class="content">
<%
	current_user.groups.each do |group| 
		the_group = h(group.name)

 		unless @user.is_member_of?(group)  
			
			if current_user.is_manager_of?(group)
			the_label = label_with_name('petition_to_join', group.name)
			the_confirmation = "#{ label_name(:petition_to_join)} #{h(@user.name)} #{ label_name(:to) } #{the_group}?"
%>
			<p>
				<%= option_image_link('group_add') %>&nbsp;&nbsp;<%= link_to(the_label, join_item_path(:id => group, :item => group.class.to_s, :teammate => @user), 
						:confirm => the_confirmation) %>
			</p>
<% 
			end
		else 
			if current_user.is_manager_of?(group)
			the_label = label_with_name('fire_from_item', group.name)
			the_confirmation = "#{ label_name(:fire_from_item)} #{the_group} #{ label_name(:to)} #{h(@user.name)}?"
%> 
		<p>
				<%= option_image_link('group_remove') %>&nbsp;&nbsp;<%= link_to(the_label, leave_item_path(:id => group, :item => group.class.to_s, :teammate => @user), 
						:confirm => the_confirmation)  %>
		</p>
<% 
			end
		end 
	end 
%>

</div>
	
</div>
