<% unless items.nil? or items.blank? %>
<div class="block">
	<h3><%= label_name("#{items.first.class.to_s.downcase}_option") %></h3>
	<div class="content">
		
<%
	items.each do |item| 
		the_item = h(item.name)

		unless @user.is_member_of?(item)  
			%>
			<p><%= option_image_link('user_add') %>&nbsp;&nbsp;<%= join_item_link_to(@user, item, true) %></p>
			<% 
		else
			%> 
			<p><%= option_image_link('user_remove') %>&nbsp;&nbsp;<%= leave_item_link_to(@user, item) %></p>
			<% 
		end 
	end 
%>

</div>
</div>

<% end -%>