<% schedule = Schedule.last_schedule_played(user) -%>	
	<tr>
	  <td>
		<%= image_link_small(user) %>
	  </td>			
	  <td>
		<%= user_link(user) %>
		<span class="date">
			<%#= nice_full_date(user.current_login_at) %> 
		</span>
	  </td>
	  <td>
		<%= user.has_group? ? group_list(user.groups) : label_name('groups_none') %><br />
		<span class="date">
			<%= user.has_sport? ? sport_list(user.groups) : label_name('sports_none') %>
		</span><br />
	  </td>			  

	  <td>
		<%= user.city.name %>
	  </td>

		<td>
			<% counter = 0; user.scorecards.each {|scorecard| counter += scorecard.played} %>
			<%= I18n.t(:has_user_scorecard_played, :count => counter) %>
			<span class="date">						
				<%#= nice_full_date(schedule.starts_at) unless schedule.nil? %> 
			</span>			
		</td>
	
	<% if display_icons %>
	  <td>
		<span class="action">
			<%  if user != current_user %>
				<%= link_to label_name(:send_message_to), new_message_path(:id => user.id) %>			
			<% end %>
		</span>
      </td>	
	<% end -%>
	
	</tr>