<%
	the_label = label_name(:users)
	content_for(:title, the_label)
%>

<div class="row">
  <div class="twelve column">   

		<%= set_title_class(the_label, 'user') %>
		
	
    <!-- <div class="inner"> -->
	
	<%= get_class_table_id_controller %>
	  
		<tr>   
			<%= set_content_tag_safe(:th, "&nbsp;", "first") %>
			<%= set_content_tag_safe(:th, "#{label_name(:name)}<br />#{label_name(:last_login_at)}", "heading") %>
			<%= set_content_tag_safe(:th, "#{label_name(:groups)}<br />#{label_name(:sports)}", "heading") %>
			<%= set_content_tag_safe(:th, label_name(:time_zone), "heading") %>
			<%= set_content_tag_safe(:th, "#{label_name(:event_participation)}<br />#{label_name(:last_game_played)}", "heading") %>	
			<%= set_content_tag_safe(:th, "&nbsp;", "last") %>
		</tr>
		
        <% @users.each do |user| %>
			<%= render 'users/user_full', :user => user, :display_icons => true %>
        <% end -%>
		
      </table>
	  
    <!-- </div> -->
	
  </div>
  
</div>

