<%
	the_label = label_name(:users)
	content_for(:title, the_label)
%>

<div class="block">

    <%= get_secondary_navigation(User.new) %>

  <div class="content">   
  
    <h2 class="title"><%= get_collection_label(@users) %></h2>
	
    <div class="inner">
	
	<%= get_class_table_id_controller %>
	  
		<tr>   
			<%= content_tag :th, "&nbsp;", :class => "first" %>
			<%= content_tag :th, "#{label_name(:name)}<br />#{label_name(:last_login_at)}", :class => "heading" %>
			<%= content_tag :th, "#{label_name(:groups)}<br />#{label_name(:sports)}", :class => "heading" %>
			<%= content_tag :th, label_name(:time_zone), :class => "heading" %>
			<%= content_tag :th, "#{label_name(:event_participation)}<br />#{label_name(:last_game_played)}", :class => "heading" %>	
			<%= content_tag :th, "&nbsp;", :class => "last" %>
		</tr>
		
        <% @users.each do |user| 
			schedule = Schedule.last_schedule_played(user)
	    -%>	
			<tr>
			  <td>
				<%= image_link_small(user) %>
			  </td>			
			  <td class="name_and_date">
				<%= user_link(user) %>
				<span class="date">
					<%= nice_full_date(user.current_login_at) %> 
				</span>
			  </td>
			  <td class="name_and_date">
				<%= user.has_group? ? group_list(user.groups) : label_name('groups_none') %><br />
				<span class="date">
					<%= user.has_sport? ? sport_list(user.groups) : label_name('sports_none') %>
				</span><br />
			  </td>			  

			  <td>
				<%= user.time_zone %>
			  </td>

				<td class="name_and_date">
					<% counter = 0; user.scorecards.each {|scorecard| counter += scorecard.played} %>
					<%= I18n.t(:has_user_scorecard_played, :count => counter) %>
					<span class="date">						
						<%= nice_full_date(schedule.starts_at) unless schedule.nil? %> 
					</span>
					</td>
					
				</td>
			
			  <td class="last">
				<span class="action">
					<%  if user.available and user != current_user %>
						<%= link_to label_name(:send_message_to), new_message_path(:id => user.id) %>			
					<% end %>
				</span>
	          </td>	
	  
			</tr>
        <% end -%>
		
      </table>
	  <%= render :partial => 'shared/action_bar', :locals => { :collection => @user } %>
	  
    </div>
	
  </div>
  
</div>

<% content_for :sidebar, render('/shared/sidebar_index') -%>