<%
	the_label = label_name(:users)
	content_for(:title, the_label)
%>

<div class="block">

  <%= render :partial => 'secondary_navigation' %>  

  <div class="content">   
  
    <h2 class="title"><%= get_collection_label(@users) %></h2>
	
    <div class="inner">
	
      <table class="table">
	  
		<tr>             
			<th class="first">&nbsp;</th>
			<th><%=label_name(:name) %>&nbsp;/<br />
				<%=label_name(:event_participation) %>
			</th>
			<th><%=label_name(:group) %>&nbsp;/<br />
				<%=label_name(:sport) %>
			</th>
			<th><%=label_name(:time_zone) %></th>
			<th><%=label_name(:last_game_played) %></th>
			<th class="last">&nbsp;</th>
		</tr>
		
        <% @users.each do |user| 
			schedule = Schedule.last_schedule_played(user)
	    -%>	
			<tr>
			  <td>
				<%= image_link_small user %>
			  </td>
			
				<td class="name_and_date">
					<%= user_link user %>
					<span class="date">
						<% counter = 0; user.scorecards.each {|scorecard| counter += scorecard.played} %>
						<%= I18n.t(:has_user_scorecard_played, :count => counter) %>
					</span>
				</td>

			  <td>
				<%= user.has_group? ? group_list(user.groups) : label_name('groups_none') %><br />
				<span class="date">
					<%= user.has_sport? ? sport_list(user.groups) : label_name('sports_none') %>
				</span><br />
			  </td>			  

			  <td>
				<%= user.time_zone %>
			  </td>

				<td class="name_and_date">
					<span class="date">
						<%= nice_full_date(schedule.starts_at) unless schedule.nil? %> 
					</span>
					</td>
					
				</td>
			
			  <td class="last">
				<span class="action">
	            <%= link_to label_name(:send_message_to), new_message_path(:id => user.id) if user.available %>				
				</span>
	          </td>	
	  
			</tr>
        <% end -%>
		
      </table>
	  <%= render :partial => 'shared/action_bar', :locals => { :collection => @user } %>
	  
    </div>
	
  </div>
  
</div>

<% content_for :sidebar, render(:partial => '/shared/sidebar_index') -%>
<%# content_for :search, render(:partial => 'shared/search') -%>
<%# content_for :sidebar, render(:partial => '/shared/active_comment') if current_user and @has_activities  -%>