<div class="block">

  <%= render :partial => 'shared/secondary_navigation' %>
  
  <div class="content"> 
  
	<h2 class="title">Lists</h2> 
	
	<div class="inner"> 
	
	  <ul class="list"> 
	  	  
		<li> 

		  <div class="left"> 
		  
			<a href="#"><img class="avatar" src="images/avatar.png" alt="avatar" /></a> 
			<%= link_to image_tag(user.the_avatar, options={:style => "height: 55px; width: 55px;"}), user_path(user) %>
			<%= image_link user %>
			
		  </div> 
		  
		  <div class="item"> 
		  
			<p>Lorem ipsum dolor sit ametn culpa qui officia deserunt mollit anim id est laborum.</p> 
			
			
			<table class="table">
						  
				<tr>
					<td>
					  <h3><%#= @non_member ? user.name : user_link(user) %></h3>
					</td>
				</tr>

				<tr>
					<td><%= field_label_name(user.name) %></td>
					<td><%= user_link user %></td>
				</tr>

			</table>
			
		  </div> 
		  
		</li> 
		
	  </ul> 
	  
	</div> 
	
  </div> 
  
</div> 