<%
	# the_label = sanitize(@group.name)
	the_total_label = I18n.t(:has_group_users, :count => @total)
	counter = 0
%>

<div class="row">
	<div class="twelve columns">
	
			<%= render('shared/index_total_header_zurb', :items => @users) %>


	<div class="row">
		<div class="twelve columns"> 
		
			<table>
			  	<thead>
				<tr>             
					<%= set_content_tag_safe(:th, "&nbsp;") %>
					<%= set_content_tag_safe(:th, label_name(:coeficient_points)) %>
					<%= set_content_tag_safe(:th, label_name(:user)) %>
					<%= set_content_tag_safe(:th, label_name(:groups)) %>
				</tr>
				</thead>
			
			<tbody>
			
				<% @users.each do |user| 
					schedule = Schedule.last_schedule_played(user)
					the_date = schedule.nil? ? '' : nice_full_date(schedule.starts_at)
					has_phone = user.my_members?(current_user)	? (!user.phone.blank?) : (false)
								
					# the_whatsapp_label = label_name(:whatsapp)
					the_whatsapp_link = ""
					# the_whatsapp_link = "#{image_tag('icons/whatsapp.png', options={:title => the_whatsapp_label, :style => 'height: 15px; width: 15px;'})}" if (user.whatsapp and !user.phone.blank?)
					the_user_link = "#{user_link_limit(user)}  #{the_whatsapp_link}"
					the_user_link = "#{phone_user_link(user)}  #{the_whatsapp_link}" if has_phone
				
					the_infringe_label = label_name(:infringe_true)
					no_jugado_image = ""				
					the_group_link = ""
					subscription_image = ""	
							
					the_coeficient = 0.0
					game_number = ""
					user_scorecard_link = ""		
				
					if @scorecards
						@scorecards.each do |scorecard|
							if scorecard.user == user and scorecard.group == @group
								the_coeficient = "#{sprintf('%0.00f', scorecard.coeficient_played)}%" 

								if scorecard.coeficient_played.to_f < COEFICIENT_LOW
									game_number = the_font_red(the_coeficient)
								elsif scorecard.coeficient_played.to_f > COEFICIENT_MEDIUM_LOW and scorecard.coeficient_played.to_f < COEFFICIENT_FULL_MEDIUM_HIGH
									game_number = the_font_yellow(the_coeficient)
								elsif scorecard.coeficient_played.to_f > COEFFICIENT_FULL_HIGH
									game_number = the_font_green(the_coeficient)
								end

								user_played = scorecard.type_id.to_i == 1 
								user_scorecard_link = subscription_image_link(user, user_played ? "orange_#{user_played}" : "#{user_played}", I18n.t("game_played_#{user_played}"))		
							end			
						end
					end
					
					user.groups.each do |group|
						
						unless group.is_branch?

							the_group_link     += " , " unless the_group_link.blank?
							is_subscriber       = user.is_subscriber_of?(group)						
							the_label           = label_name("subscription_#{is_subscriber}")
							subscription_image  = "#{item_name_link(group)} "
							the_group_link 	   += "#{subscription_image}"  

						end
					
					end
					the_group_link.chop.chop.chop
				
					the_counter_link = "#{counter +=1}. #{user_scorecard_link}"
			    -%>
		
		
				<tr>
					<%= content_tag_safe(:td, image_link_smaller(user), '', '') %>
					<%= content_tag_safe(:td, the_counter_link, '','') %>
					<%= content_tag_safe(:td, the_user_link, '','') %>
					<%= content_tag_safe(:td, the_group_link, '','') %>
				</tr>
			
				<% end -%>
		
			</tbody>
			</table>
		
		</div>
	</div>
	  	

</div>	
</div>
