<div class="block">

	<%= render :partial => '/users/secondary_navigation' %>  

	<div class="content">   

		<h2 class="title">
		<%= @requested_teammates ? (get_collection_label(@requested_teammates)) : (@pending_teammates ? get_collection_label(@pending_teammates) : " ") %>
		</h2>

		<div class="inner">
			<table class="table">

				<tr>             
					<th class="first">&nbsp;</th>
					<th><%=label_name(:name) %></th>
					<th><%=label_name(:petition_at) %></th>
					<th>&nbsp;</th>
					<th class="last">&nbsp;</th>
				</tr>

				<%= render :partial => 'petition_box', :locals => {:teammates => @requested_teammates}  if @requested_teammates %>
				<%= render :partial => 'petition_box', :locals => {:teammates => @pending_teammates}  if @pending_teammates %>

			</table>	  
		</div>

	</div>

</div>
