<div class="row">

	<div class="twelve column">   

		<h2 class="title">
		<%= @requested_teammates ? (get_collection_label(@requested_teammates)) : (@pending_teammates ? get_collection_label(@pending_teammates) : " ") %>
		</h2>

		<div class="inner">
			<table class="table">

				<tr>             
					<%= content_tag :th, "&nbsp;", :class => "clear" %>
					<%= content_tag :th, "&nbsp;", :class => "clear" %>
					<%= content_tag :th, "&nbsp;", :class => "clear" %>
					<%= content_tag :th, "&nbsp;", :class => "clear" %>
				</tr>

				<% if @requested_teammates %>				
					<% @requested_teammates.each do |teammate| %>
						<%= render :partial => '/users/petition_box', :locals => {:teammate => teammate} %>
					<% end %>
				<% end %>
				
				<% if @pending_teammates %>				
					<% @pending_teammates.each do |teammate| %>
						<%= render :partial => '/users/petition_box', :locals => {:teammate => teammate} %>
					<% end %>
				<% end %>

			</table>	  
		</div>

	</div>

</div>
