<% 
	can_modify = (@user == current_user) 
	is_user_manager = current_user.is_user_manager_of?(@user)
	the_label = h(@user.name)
	content_for(:title, the_label)
	is_group_manager =  false
%>
<div class="block">

  <%= render :partial => 'users/secondary_navigation' %>   

  <div class="content">
	
  <%= show_heading(the_label) %>
  
    <div class="inner">
	
		<div class="description">
        <span class="q">
				<%=sanitize @user.description.blank? ? control_label('description_no') : @user.description %>
			</span>
      </div>

		<div class="columns"> 
			<div class="column left"> 
				<div class="description">
                     <%= image_tag @user.thumbnail %>
                   </div>
			</div>
		</div>
		

	<!-- new table -->
		<table>
			<tr>
				<td>
					<table border="1">
						
						<%= tr_td_action(:name, @user.name) %>
						<%= tr_td_action(:language, label_name(@user.language)) %>						
						
						<tr>
							<td class="label"><%= label_name(:groups) %></td>
							<td class="show"><%= @user.has_group? ? group_list(@user.groups) : label_name('groups_none') %></td>
						</tr>

						<tr>
							<td class="label"><%= label_name(:event_participation) %></td>
							<td class="show">
								<% counter = 0; @user.scorecards.each {|scorecard| counter += scorecard.played} %>
								<%= I18n.t(:has_user_scorecard_played, :count => counter) %>
							</td>
						</tr>
						
						<%#= tr_td_action(:position, @user.position) %>
						
						<!-- <tr>
							<td class="label"><%#= "#{label_name(:profile_technical)}  /  #{label_name(:profile_physical)}" %></td>
							<td class="show">
								<%#= "#{ @user.technical}  /  #{ @user.physical}" %>
							</td>
						</tr> -->						
						
						<%= tr_td_action(:time_zone, @user.time_zone) %>
						<%= tr_td_action(:phone, @user.phone) unless @user.private_phone %>
						<%= tr_td_action(:company, @user.company) %>		

						<% 
							the_label = h(label_name(@user.available, 'value'))
							# the_confirmation = label_with_name('set_available', "#{@user.name}?") 
						%>			
						<tr>
							<%= content_tag :td, label_name(:available), :class => "label" %>
							<%= content_tag :td, (is_user_manager ? link_to(the_label, set_available_path(:id => @user)) : the_label), :class => get_the_action %>
						</tr>
						<% 
							the_label = h(label_name(@user.looking, 'value'))
							# the_confirmation = label_name(:change_option) 
						%>
						<tr>
							  <%= content_tag :td, label_name(:looking_for_my_group), :class => "label" %>
							  <%= content_tag :td, (@user == current_user ? link_to(the_label, set_user_looking_path(:id => @user)) : the_label), :class => get_the_action %>
						</tr>
		
						<% 
							the_label = h(label_name(@user.private_phone, 'value'))
							# the_confirmation = label_with_name('set_private_phone', "#{@user.name}?") 
						%>
						<tr>
							<%= content_tag :td, label_name(:private_phone), :class => "label" %>
							<%= content_tag :td, (can_modify ? link_to(the_label, set_private_phone_path(:id => @user)) : the_label), :class => get_the_action %>
						</tr>

						<% 
							the_label = h(label_name(@user.private_profile, 'value'))
							# the_confirmation = label_with_name('set_private_profile', "#{@user.name}?") 
						%>
						<tr>
							<%= content_tag :td, label_name(:private_profile), :class => "label" %>
							<%= content_tag :td, (can_modify ? link_to(the_label, set_private_profile_path(:id => @user)) : the_label), :class => get_the_action %>
						</tr>

						<% if @user.has_role?('manager') %>
						<%
							the_label = h(label_name(@user.teammate_notification, 'value'))
							# the_confirmation = label_with_name('set_teammate_notification', "#{@user.name}?") 
						%>
						<tr>
							<%= content_tag :td, label_name(:teammate_notification), :class => "label" %>
							<%= content_tag :td, (can_modify ? link_to(the_label, set_teammate_notification_path(:id => @user)) : the_label), :class => get_the_action %>
						</tr>
						<% end %>
						
						<% 
							the_label = h(label_name(@user.message_notification, 'value'))
							# the_confirmation = label_with_name('set_message_notification', "#{@user.name}?") 
						%>
						
						<tr>
							<%= content_tag :td, label_name(:message_notification), :class => "label" %>
							<%= content_tag :td, (can_modify ? link_to(the_label, set_message_notification_path(:id => @user)) : the_label), :class => get_the_action %>
						</tr>

						<% 
							the_label = h(label_name(@user.blog_comment_notification, 'value'))
							# the_confirmation = label_with_name('set_blog_notification', "#{@user.name}?") 
						%>
						<tr>
							<%= content_tag :td, label_name(:blog_notification), :class => "label" %>
							<%= content_tag :td, (can_modify ? link_to(the_label, set_blog_notification_path(:id => @user)) : the_label), :class => get_the_action %>
						</tr>
		
						<% 
							the_label = h(label_name(@user.forum_comment_notification, 'value'))
							# the_confirmation = label_with_name('set_forum_notification', "#{@user.name}?") 
						%>
						<tr>
							<%= content_tag :td, label_name(:forum_notification), :class => "label" %>
							<%= content_tag :td, (can_modify ? link_to(the_label, set_forum_notification_path(:id => @user)) : the_label), :class => get_the_action %>
						</tr>
						
						<tr>
					     <%= content_tag :td, label_name(:users_teammate), :class => "label" %>
					     <%= content_tag :td, item_list(@user.friends), :class => get_the_action %>
					    </tr>
					
						<%= render :partial => 'show_admin' if current_user.is_maximo? %>
											   
					    <tr>
						<%= render :partial => '/shared/show_images', :locals => {:collection => @user.friends} %>			
					    </tr>
	
					</table>
					
				</td>
			</tr>
			
		</table>
	<!-- new table -->
	  
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar_show') -%>

<% if current_user.is_group_manager_of? %>
<% content_for :sidebar, render(:partial => '/users/sidebar_show_subscription') if current_user.is_user_manager_of?(@user) %>
<% content_for :sidebar, render(:partial => '/users/sidebar_show_join')  %>
<% content_for :sidebar, render(:partial => '/users/sidebar_show_manager') if current_user.is_user_manager_of?(@user) %>
<% content_for :sidebar, render('users/sidebar_show_item_manager', :items => current_user.challenges) %>
<% end %>

<% content_for :sidebar, render(:partial => '/shared/sidebar_index') -%>