<% 
	can_modify = (@user == current_user) 
	is_user_manager = current_user.is_user_manager_of?(@user)
	the_label = h(@user.name)
	content_for(:title, the_label)
	
	is_group_manager =  false
	participation = 0; @user.scorecards.each {|scorecard| participation += scorecard.played}
	the_participation_label = I18n.t(:has_user_scorecard_played, :count => participation)
		

	the_sport = ""
	the_sport = @user.sport.strip.chomp(',') unless @user.sport.blank? or @user.sport.nil?
	is_notice = get_controller_action == 'user_notice'
		
	the_whatsapp_label = label_name(@user.whatsapp, 'value') 
	the_last_minute_label = label_name(@user.last_minute_notification, 'value') 
	the_teammmate_label = label_name(@user.teammate_notification, 'value') 
		
	the_whatsapp_link = (can_modify ? link_to(the_whatsapp_label, set_whatsapp_path(:id => @user)) : the_whatsapp_label)
	the_last_minute_link = (can_modify ? link_to(the_last_minute_label, set_last_minute_notification_path(:id => @user)) : the_last_minute_label)
	the_teammmate_link = (can_modify ? link_to(the_teammmate_label, set_teammate_notification_path(:id => @user)) : the_teammmate_label)
	
	has_phone = @user.my_members?(current_user)	? (!@user.phone.blank?) : (false)	
	
	# has_statistics = @user_hash_grid_statistics.count > 1
	
	
	has_enough_statistics = false

	@user_hash_grid_statistics.each do |user_individual_statistic| 
		the_true_true = user_individual_statistic['TT'].to_i
		the_true_false = user_individual_statistic['TF'].to_i
		the_false_true = user_individual_statistic['FT'].to_i
		the_false_false = user_individual_statistic['FF'].to_i
		has_enough_statistics = (the_true_true + the_false_true + the_true_false + the_false_false) > HAS_USER_STATISTICS unless has_enough_statistics
	end 
		
	
%>

<table>
	<tbody>
		<tr>
			<td>
				
	<div class="two columns">
		<%= image_tag @user.photo %>
	</div>

	<div class="ten columns">
	
		<%#= render 'shared/show_description_zurb', :item => @user, :the_label => the_label %>
	
		<%= render_show_detail_zurb(:groups, (@user.has_group? ? "#{group_list(@user.groups)}".html_safe : "#{label_name('groups_none')}".html_safe)) %>
		<%= render_show_detail_zurb(:sports, (@user.has_group? ? "#{group_sport_list(@user.groups)}".html_safe : "#{label_name('groups_none')}".html_safe)) %>
		
		<%= render_show_detail_zurb(:email, @user.email) if @user == current_user %>
		<%= render_show_detail_zurb("#{label_name(:phone)}  #{option_image_small_link('whatsapp') if @user.whatsapp}", phone_number_link(@user.phone), true) if has_phone %>	
	
		<%= render_show_detail_zurb(:whatsapp, the_whatsapp_link) if has_phone %>
		<%= render_show_detail_zurb(:last_minute_notification, the_last_minute_link) if DISPLAY_FREMIUM_SERVICES %>
		<%= render_show_detail_zurb(:teammate_notification, the_teammmate_link) %>

		<%= render_show_detail_zurb(:event_participation, (participation.to_i > 0 ? the_participation_label : the_participation_label)) %>


		<% if @user.has_group? and DISPLAY_USER_GROUP_FULL							
		group_scorecards = []
		Match.last_games_played(@user).each {|match| group_scorecards << match.group_id unless group_scorecards.include?(match.group_id)}
		%>

		<%= label_name(:groups_full) %>

			<% @user.groups.each do |group| 
				if group_scorecards.include?(group.id) 
			%>
	
				<td class="show">
				<%= item_name_link(group) %>
				<span class="date">
					<%= "<br/>#{group.sport.name}<br/>#{item_name_link(group.marker)}<br/>#{link_to(label_name(:scorecard), scorecard_path(:id => group))}".html_safe %>
				</span>
									      	
	
			<% end 
			end %>
				
		<%= render_show_detail_zurb(:city, @user.city.name) %>	
		<%= render_show_detail_zurb(:language, label_name(@user.language)) if current_user == @user %>

		<% end -%>

		<%= render_show_detail_zurb(:users_teammate, render('shared/show_images_zurb', :collection => @user.friends)) if @user.friends.count > 0 %>
	
		<%= render :partial => 'show_admin_zurb' if the_maximo %>

	</div>


			</td>	
		</tr>
	</tbody>
</table>



<% if has_enough_statistics %>

<br/>
<%= content_tag :h5, "#{label_name(:games_statistics)} #{label_name(:from)} #{@user.name}" %>
<hr />
<%#= content_tag :h6, label_name(:games_statistics), :class => "subheader" %>

	<div class="row">
		<div class="twelve columns">
			<%= render 'user_statistics' %>
		</div>
	</div>
<% end %>