<% 
	can_modify = (@user == current_user) 
	is_user_manager = current_user.is_user_manager_of?(@user)
	the_label = h(@user.name)
	content_for(:title, the_label)
	is_group_manager =  false
	participation = 0; @user.scorecards.each {|scorecard| participation += scorecard.played}
	the_participation_label = I18n.t(:has_user_scorecard_played, :count => participation)
%>
<div class="block">
  
  <%= get_secondary_navigation(@user) %>

  <div class="content">
	
  <%= show_heading(the_label) %>
  
    <div class="inner">
	
		<div class="description">
			<span class="q">
				<%=sanitize @user.description.blank? ? control_label('description_no') : @user.description %>
			</span>
		</div>

		<div class="columns"> 
			<div class="column left"> 
				<div class="description">
                	<%= image_tag @user.thumbnail %>
                </div>
			</div>
		</div>

		<table>
			<tr>
				<td>
					<table border="0">
						
						<%= tr_td_action(:name, @user.name) %>
						<%= tr_td_action(:email, @user.email) if @user == current_user %>
		
						<% 	
							if @user.private_phone
								the_label = label_name(:display)
							else
								the_label = "&nbsp;&nbsp;&nbsp;&nbsp;#{label_name(:hide)}"
							end
						%>						
						<tr>
							<td class="label"><%= label_name(:phone) %></td>
							<td class="show">
								<%= h(@user.phone) unless @user.private_phone %>
								<%= link_to(the_label, set_private_phone_path(:id => @user)) if can_modify and !@user.phone.blank? %>
							</td>
						</tr>
						
						<%= tr_td_action(:company, @user.company) %>			
											
						<tr>
							<td class="label"><%= label_name(:groups) %></td>
							<td class="show"><%= @user.has_group? ? group_list(@user.groups) : label_name('groups_none') %></td>
						</tr>

						<tr>
							<td class="label"><%= label_name(:event_participation) %></td>
							<td class="show"><%= participation.to_i > 0 ? link_to(the_participation_label, my_list_schedules_path(:id => @user)) : the_participation_label %></td>
						</tr>

						<tr>
							<%= content_tag :td, get_cluetip_show('evaluation'), :class =>"label" %>
							<%= content_tag :td, ratings_for( @user, :static, :dimension => :evaluation, :small => true), :class => get_the_action %>
						</tr>
						
						<% if @user.has_group? 							
							group_scorecards = []
							Match.last_games_played(@user).each {|match| group_scorecards << match.group_id unless group_scorecards.include?(match.group_id)}
						%>
						<tr>
							<td class="label"><%= label_name(:groups_full) %></td>
							<td>
								<table border="0">
						
								<% @user.groups.each do |group| 
									if group_scorecards.include?(group.id) 
								%>
								<tr>
									<td class="show">
									<%= item_name_link(group) %>
									<span class="date">
										<%= "<br/>#{group.sport.name}<br/>#{item_name_link(group.marker)}<br/>#{link_to(label_name(:scorecard), scorecard_path(:id => group))}" %>
									</span>
									</td>							      	
								</tr>
								<% end 
								end %>
						
								</table>
							</td>
						</tr>		
						<% end %>				
												
						<%= tr_td_action(:time_zone, @user.time_zone) %>
						<%= tr_td_action(:language, label_name(@user.language)) %>

						<% 
							the_label = h(label_name(@user.forum_comment_notification, 'value'))
						%>
						<tr>
							<%= content_tag :td, get_cluetip_show('forum_notification'), :class =>"label" %>
							<%= content_tag :td, (can_modify ? link_to(the_label, set_forum_notification_path(:id => @user)) : the_label), :class => get_the_action %>
						</tr>

						<% 
							the_label = h(label_name(@user.blog_comment_notification, 'value'))
						%>
						<tr>
							<%= content_tag :td, get_cluetip_show('blog_notification'), :class =>"label" %>
							<%= content_tag :td, (can_modify ? link_to(the_label, set_blog_notification_path(:id => @user)) : the_label), :class => get_the_action %>
						</tr>

						<% 
							the_label = h(label_name(@user.message_notification, 'value'))
						%>
						<tr>
							<%= content_tag :td, get_cluetip_show('message_notification'), :class =>"label" %>
							<%= content_tag :td, (can_modify ? link_to(the_label, set_message_notification_path(:id => @user)) : the_label), :class => get_the_action %>
						</tr>
						
						<% if @user.has_role?('manager') %>
						<%
							the_label = h(label_name(@user.teammate_notification, 'value'))
						%>
						<tr>
							<%= content_tag :td, get_cluetip_show('teammate_notification'), :class =>"label" %>
							<%= content_tag :td, (can_modify ? link_to(the_label, set_teammate_notification_path(:id => @user)) : the_label), :class => get_the_action %>
						</tr>
						<% end %>
					
						<% 
							the_label = h(label_name(@user.looking, 'value'))
						%>
						<tr>
							<%= content_tag :td, get_cluetip_show('looking_for_my_group'), :class =>"label" %>
							<%= content_tag :td, (@user == current_user ? link_to(the_label, set_user_looking_path(:id => @user)) : the_label), :class => get_the_action %>
						</tr>
						
						<tr>
					     	<%= content_tag :td, label_name(:users_teammate), :class => "label" %>
							<%= render :partial => '/shared/show_images', :locals => {:collection => @user.friends} %>
					    </tr>
					
						<%= render :partial => 'show_admin' if current_user.is_maximo? %>
	
					</table>
					
				</td>
			</tr>
			
		</table>
	
	  
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'users/sidebar_show') -%>

<% content_for :sidebar, render('shared/completeness', :user => @user) unless @user.percent_complete == 100 or @user != current_user -%>

<% if current_user.is_group_manager_of? %>
	<% content_for :sidebar, render('/users/sidebar_show_subscription') if current_user.is_user_manager_of?(@user) %>
	<% content_for :sidebar, render('/users/sidebar_show_join')  %>
	<% content_for :sidebar, render('/users/sidebar_show_sub_manager') if current_user.is_user_manager_of?(@user) and current_user != @user %>
	<% content_for :sidebar, render('/users/sidebar_show_manager') if current_user.is_user_manager_of?(@user) %>
	<% content_for :sidebar, render('users/sidebar_show_item_manager', :items => current_user.challenges.find(:all, :conditions => ["ends_at > ?", Time.zone.now])) %>
<% end %>

<% content_for :sidebar, render(:partial => '/shared/sidebar_index') if @user == current_user -%>