<% 
	can_modify = (@user == current_user) 
	is_user_manager = (current_user.has_role?(:manager))
%>

<div class="block">

  <%= render :partial => 'secondary_navigation' %>   

  <div class="content">
	<p>
		<b><%= link_to "", user_path(:id => @next), :class => 'previous_message' if @next %></b>
	</p>
	<p>
		<b><%= link_to "", user_path(:id => @previous), :class => 'next_message' if @previous %></b>
	</p>
	<br />
  <h2 class="title"><%= @user.name %></h2>  
  
    <div class="inner">
	
	<p>
		<b><%= label_name(:photo) %>:</b>
		<%= user_show_photo(@user) %>
	</p>
	
	<p>
	  <b><%= label_name(:name) %>:</b>
	  <%=h @user.name %>
	</p>

	<p>
	  <b><%= label_name(:language) %>:</b>
	  <%=h label_name(@user.language) %>
	</p>

	<p>
		<b><%= label_name(:groups) %>:</b>
		<%= @user.has_group? ? group_list(@user.groups) : label_name('groups_none') %>
	</p>

	<p>
	  <b><%= label_name(:time_zone) %>:</b>
	  <%=h @user.time_zone %>
	</p>

	<p>
	  <b><%= label_name(:phone) %>:</b>
	  <%=h @user.phone %>
	</p>

	<p>
	  <b><%= label_name(:position) %>:</b>
	  <%=h @user.position %>
	</p>

	<p>
	  <b><%= label_name(:dorsal) %>:</b>
	  <%=h @user.dorsal %>
	</p>

	<% if development? %>
	<p>
	  <b><%= label_name(:technical) %>:</b>
	  <%=h @user.technical %>
	</p>

	<p>
	  <b><%= label_name(:physical) %>:</b>
	  <%=h @user.physical %>
	</p>
	<% end %>
	
	<p>
	  <b><%= label_name(:description) %>:</b>
	  <%=h @user.description.blank? ? control_label('description_no') : @user.description %>
	</p>

	<p>
	  <b><%= label_name(:gender) %>:</b>
	  <%=h label_name(@user.gender) unless @user.gender.blank? %>
	</p>

<% 
	the_label = h(label_name(@user.available, 'value'))
	the_confirmation = label_with_name('set_available', "#{@user.name}?") 
%>
	<p>
	  <b><%= label_name(:available) %>:</b>
		<%= is_user_manager ? link_to(the_label, set_available_path(:id => @user.id), :confirm => the_confirmation) : the_label %>
	</p>

<% 
	the_label = h(label_name(@user.private_phone, 'value'))
	the_confirmation = label_with_name('set_private_phone', "#{@user.name}?") 
%>
	<p>
	  <b><%= label_name(:private_phone) %>:</b>
	  <%= can_modify ? link_to(the_label, set_private_phone_path(:id => @user.id), :confirm => the_confirmation) : the_label %>
	</p>

<% 
	the_label = h(label_name(@user.private_profile, 'value'))
	the_confirmation = label_with_name('set_private_profile', "#{@user.name}?") 
%>
	<p>
	  <b><%= label_name(:private_profile) %>:</b>
	  <%= can_modify ? link_to(the_label, set_private_profile_path(:id => @user.id), :confirm => the_confirmation) : the_label %>
	</p>
	
<% 
	the_label = h(label_name(@user.enable_comments, 'value'))
	the_confirmation = label_with_name('set_enable_comments', "#{@user.name}?") 
%>
	<p>
	  <b><%= label_name(:enable_comments) %>:</b>
	  <%= can_modify ? link_to(the_label, set_enable_comments_path(:id => @user.id), :confirm => the_confirmation) : the_label %>
	</p> 

<% 
	the_label = h(label_name(@user.teammate_notification, 'value'))
	the_confirmation = label_with_name('set_teammate_notification', "#{@user.name}?") 
%>
	<p>
	  <b><%= label_name(:teammate_notification) %>:</b>
	  <%= can_modify ? link_to(the_label, set_teammate_notification_path(:id => @user.id), :confirm => the_confirmation) : the_label %>
	</p> 

<% 
	the_label = h(label_name(@user.message_notification, 'value'))
	the_confirmation = label_with_name('set_message_notification', "#{@user.name}?") 
%>
	<p>
	  <b><%= label_name(:message_notification) %>:</b>
	  <%= can_modify ? link_to(the_label, set_message_notification_path(:id => @user.id), :confirm => the_confirmation) : the_label %>
	</p> 

<% 
	the_label = h(label_name(@user.blog_comment_notification, 'value'))
	the_confirmation = label_with_name('set_blog_comment_notification', "#{@user.name}?") 
%>
	<p>
	  <b><%= label_name(:blog_comment_notification) %>:</b>
	  <%= can_modify ? link_to(the_label, set_comment_notification_path(:id => @user.id), :confirm => the_confirmation) : the_label %>
	</p> 

	<%= render :partial => 'show_admin' if current_user.is_maximo? %>
  
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar_show') -%>