<tr>
	<td>
		<%=event_home_link(schedule)%>
	</td>

	<td class="name_and_date">
		<%=schedule.group.name%>
		<br>
		<span class="date"><%=schedule.sport.name%></span>
	</td>

	<td class="name_and_date">
		<%=nice_day_time_wo_year_exact(schedule.starts_at)%>
		<br>
		<span class="date"><%=get_installation_name(schedule)%></span>
	</td>

	<td>
		<%= get_event_options(schedule) %>
	</td>

</tr>