
<div class="row">
	<div class="twelve columns">
		
		<%if current_user%>
		<p>Esta loggeado <%=root_url%></p>
		<%else%>
		<p>NO Esta loggeado <%=root_url%></p>
		<%end%>
		
		<%if !@schedulesPerWeekDay.nil? and @schedulesPerWeekDay.any?%>
		
		<table>

		<%@schedulesPerWeekDay.each do |index, weekdaySchedules|%>
			<tr>
				<td>
					<%= "(#{weekdaySchedules.length}) #{index}"%>
					<a href="#" class="toogle_day_view_link">toggle</a>
				</td>
			</tr>
			
			<%if weekdaySchedules.any?%>
			<tr class="week_day_detail">
				<td>
					<table>
						<tbody>
							<%weekdaySchedules.each do |schedule|%>

							<tr>
								<td>
									<%=link_to(sanitize(limit_url_length(schedule.name, 25)), team_roster_path(:id => schedule))%>
									<br>
									<%=set_content_tag_safe('span', "#{get_missing_detail(schedule)}", 'date')%>
								</td>
								
								<td class="name_and_date">
									<%=item_name_link(schedule.group)%>
									<br>
									<span class="date"><%=schedule.sport.name%></span>
								</td>
								
								<td class="name_and_date">
									<%=nice_day_time_wo_year_exact(schedule.starts_at)%>
									<br>
									<span class="date"><%=get_installation_link(schedule)%></span>
								</td>
								
								<td>
									<a href="#" class="auth_popup">Apuntate</a>
								</td>
								
							</tr>

							<%end # iterate over events of the day%>
						</tbody>
					</table>
				</td>
			</tr>
			<%end # if there is events for this day%>
			
		<%end # Iterates over map of events%>

		</table>
		
		
		<%else%>
		
		<p>No hay eventos que mostrar</p>
		
		<%end # if the map of events could be obtained%>
		
		
	</div>
</div>

<script>
	if(window.opener) {
	    window.opener.location.reload(true);
	    window.close()
	}
</script>