<h2 class="title"><%= get_collection_label(@tournaments) %></h2>

<div class="inner">
	
	<table class="table">

	  <tr>             
	    <th class="first">&nbsp;</th>
	    <th><%= label_name(:name) %></th>
	    <th><%= label_name(:manager) %>&nbsp;/<br />
			  <%= label_name(:sport) %></th>
	    <th><%= label_name(:time_zone) %></th>
	    <th><%= label_name(:general_information) %></th>
	    <th><%= label_name(:tournament_starts_ends_at) %></th>
	    <th class="last">&nbsp;</th>
	  </tr>

	  <% @tournaments.each do |tournament| -%>

	  <tr>  
			<td>
				<%= tournament_image_link_small tournament %>
			</td>

			<td class="name_and_date">
				<%= tournament_link(tournament) %>
				<span class="date">
					<%#= nice_day_time tournament.gameday_at %>
				</span>
			</td>

			<td>
				<%= user_list tournament.all_the_managers %><br />
				<%= tournament.sport.name %>
			</td>

			<td>
				<%= tournament.time_zone %>
			</td>

			<td>
				<%= I18n.t(:has_tournament_users, :count => object_counter(tournament.users)) %><br />
				<%#= I18n.t(:has_tournament_meets, :count => object_counter(tournament.meets)) %>
			</td>

			<td class="name_and_date">
				<span class="date">
					<%= "#{nice_full_date(tournament.starts_at)} - #{nice_full_date(tournament.ends_at)}" %>
				</span>
			</td>

	       <td class="last">
				<span class="action">
					<% if current_user.is_tour_member_of?(tournament) %>
						<%= link_to(label_name(:send_message_to_tournament), new_message_path(:tour_id => tournament)) %><br />
					<% else %>
						<%= link_to(label_name(:send_message_to_tournament), new_message_path(:id => tournament.all_the_managers.first)) %><br />
				
					<% 	unless current_user.has_tournament_petition?(current_user, tournament) 
							the_label = label_with_name('add_to_tournament', tournament.name)
							the_confirmation = "#{ label_name(:petition_to_join_tournament) } #{current_user.name} #{ label_name(:to) } #{tournament.name}?"
					%> 
							<%= link_to(the_label, join_team_path(:id => tournament.id, :teammate => current_user.id), :confirm => the_confirmation) %>
					<% 	end 
					   end
					-%>
				
					<% if current_user.is_tour_manager_of?(tournament) %> 
						<%#= link_to label_name(:create_meet), new_meet_path(:id => tournament.id)  %><br />
			        <% end %>
					
				</span>
	       </td>
	  </tr>   
 
	  <% end -%>

	</table>	
	
	<%= render :partial => 'shared/action_bar', :locals => { :collection => @tournaments } %>

</div>