<div class="block">

<h3><%= control_label('option') %></h3>

<ul class="navigation">
<% 
	if current_user.is_member_of?(@tournament) 
		the_confirmation = label_with_name(:do_leave_tournament, "#{@tournament.name}?")
%>
		<li><%= link_to(label_name(:send_message_to_tournament), new_message_path(:tour_id => @tournament)) %></li>
		<li><%= link_to(label_name(:invitations_create_tournament) , new_invitation_url(:tour_id => @tournament)) %></li>
<% 
	else
%>
		<li><%= link_to(label_name(:send_message_to_tournament), new_message_path(:id => @tournament.all_the_managers.first)) %></li>
<%
		unless current_user.has_tournament_petition?(current_user, @tournament)
			the_label = label_with_name('add_to_tournament', @tournament.name)
			the_confirmation = "#{ label_name(:petition_to_join_tournament) } #{current_user.name} #{ label_name(:to) } #{@tournament.name}?"
%> 
			<li><%= link_to(the_label, join_team_path(:id => @tournament.id, :teammate => current_user.id), :confirm => the_confirmation) %></li>
<% 
		end 
	end
	
	if current_user.is_sub_manager_of?(@tournament)
%>
	<li><%#= link_to label_name(:send_scorecard), new_message_path(:scorecard_id => @tournament.meets.first.id) unless @tournament.meets.blank? %></li>
<%
    end
 
	if current_user.is_manager_of?(@tournament)
		the_label = label_with_name('create_meet', @tournament.name)
		the_confirmation = "#{ label_name(:destroy_tournament) } #{ label_name(:to) } #{@tournament.name}?" 
%>              
		<li><%= link_to label_name(:rounds_create), new_round_path(:id => @tournament) %></li>      
		<li><%#= link_to label_name(:meets_create), new_meet_path(:id => @tournament.id) %></li>
		<li><%= link_to(label_name('tournaments_edit'), edit_tournament_path(@tournament)) if current_user.is_manager_of?(@tournament) %></li>  
		<li><%#= link_to(control_label('destroy'), 
				{:controller => 'tournaments', :action => 'destroy', :id => @tournament}, 
				:confirm => the_confirmation) unless @tournament.has_meet? %></li>
<% 
	end 
%>
</ul>

</div>