<% 
	is_user_manager = (current_user.is_manager_of?(@tournament))
%>

<div class="block">

  <%= render :partial => 'secondary_navigation' %>   
  
  <div class="content">
	        
  <h2 class="title"><%= @tournament.name %></h2>

    <div class="inner">

	<!-- new table -->
	<table>
	<thead>

	<tr>
	<th colspan="2">
		<div class="description">
			<span class="q">
				<%=sanitize @tournament.description.blank? ? control_label('description_no') : @tournament.description %>
			</span>
		</div>
	</th>

	</tr>
	</thead>

	<tr>
	<td valign="top" width="105"><%= group_show_photo(@tournament, current_user) %></td>

	<td>
	<table border="1">
		
		<%= tr_td_action(:name, @tournament.name) %>
		<tr>
			<%= content_tag :td, label_name(:manager), :class => "label" %>
			<%= content_tag :td, user_list(@tournament.all_the_managers), :class => get_the_action %>
		</tr>
		<tr>
			<%= content_tag :td, label_name(:marker), :class => "label" %>
			<%= content_tag :td, marker_link(@tournament.marker), :class => get_the_action %>
		</tr>

		<%= tr_td_action(:sports, @tournament.sport.name) %>
		<%= tr_td_action(:signup_at, nice_day_of_week(@tournament.signup_at)) %>
		<%= tr_td_action(:deadline_at, nice_day_of_week(@tournament.deadline_at)) %>
		<%= tr_td_action(:starts_at, nice_day_of_week(@tournament.starts_at)) %>
		<%= tr_td_action(:ends_at, nice_day_of_week(@tournament.ends_at)) %>

		<% @tournament.rounds.each do |round| %>
			<tr>
				<%= content_tag :td, 
						(link_to "#{label_name(:round)} (#{round.phase})", 
								edit_round_path(round), 
								:title => label_name(:rounds_edit)), 
								:class => "label" %>	

				<%= content_tag :td, 
						(link_to h(round.name), new_meet_path(:id => round), :title => label_name(:meets_create)), 
								:class => get_the_action if current_user.is_tour_manager_of?(@tournament) %>
								
				<%= content_tag :td, 
						(link_to h(round.name), meet_path(:id => round), :title => label_name(:meets_show)), 
								:class => get_the_action unless current_user.is_tour_manager_of?(@tournament) %>															
			</tr>
			
			<% round.meets.each do |meet| %>
			<tr>
				<%= content_tag :td, "", :class => "label" %>
				<%= content_tag :td, 
						(link_to meet.concept, 
								meet_path(meet), 
								:title => label_name(:meets_show)), 
								:class => get_the_action %>
			</tr>
			<% end%>
		<% end %>
		
		

		<%= tr_td_action(:fee_per_tour, number_to_currency(@tournament.fee_per_tour)) %>
		<%= tr_td_action(:time_zone, @tournament.time_zone) %>
		<%= tr_td_action(:users, t(:has_tournament_users, :count => @tournament.users.count)) %>
		<%#= tr_td_action(:meets, t(:has_group_meets, :count => @tournament.meets.count)) unless @tournament.meets.blank? %>
		<%= tr_td_action(:points_for_win, @tournament.points_for_win) %>
		<%= tr_td_action(:points_for_draw, @tournament.points_for_draw) %>
		<%= tr_td_action(:points_for_lose, @tournament.points_for_lose) %>		
		<%= tr_td_action(:player_limit, @tournament.player_limit) %>
		
		<tr>
			<%= content_tag :td, label_name(:conditions), :class => "label" %>
			  <%= content_tag :td, sanitize(@tournament.conditions) %>
		</tr>

	 <% if current_user.is_member_of?(@tournament) and !@tournament.available_users.empty? %>
	   <tr>
	     <%= content_tag :td, label_name(:users_available), :class => "label" %>
	     <%= content_tag :td, user_list(@tournament.available_users), :class => get_the_action %>
	   </tr>
	 <% end %>

		</table>

	</td>
	</tr>

	</table>
	<!-- new table -->






			 
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => '/tournaments/sidebar_show') -%>
<% content_for :sidebar, render(:partial => '/fees/sidebar_show_tour') if current_user.is_manager_of?(@tournament) %>