<% 
	is_user_manager = (current_user.is_manager_of?(@tournament))
%>

<div class="block">

  <%= render :partial => 'secondary_navigation' %>   
  
  <div class="content">
	        
  <h2 class="title"><%= @tournament.name %></h2>

    <div class="inner">

	<!-- new table -->
	<table>
	<thead>

	<tr>
	<th colspan="2">
		<div class="description">
			<span class="q">
				<%=sanitize @tournament.description.blank? ? control_label('description_no') : @tournament.description %>
			</span>
		</div>
	</th>

	</tr>
	</thead>

	<tr>
	<td valign="top" width="105"><%= group_show_photo(@tournament, current_user) %></td>

	<td>
	<table border="1">

		
		<%= tr_td_action(:name, @tournament.name) %>
		<%= tr_td_action(:second_team, @tournament.second_team) %>

		<tr>
			<%= content_tag :td, label_name(:manager), :class => "label" %>
			<%= content_tag :td, user_list(@tournament.all_the_managers), :class => get_the_action %>
		</tr>

		<tr>
			<%= content_tag :td, label_name(:marker), :class => "label" %>
			<%= content_tag :td, marker_link(@tournament.marker), :class => get_the_action %>
		</tr>

		<%= tr_td_action(:sports, @tournament.sport.name) %>
		<%= tr_td_action(:game_day, nice_day_time(@tournament.schedules.first.starts_at)) unless @tournament.schedules.blank? %>
		<%= tr_td_action(:time_zone, @tournament.time_zone) %>
		<%= tr_td_action(:users, t(:has_group_users, :count => @tournament.users.count)) %>
		<%= tr_td_action(:schedules, t(:has_group_schedules, :count => @tournament.schedules.count)) unless @tournament.schedules.blank? %>
		<%= tr_td_action(:points_for_win, @tournament.points_for_win) %>
		<%= tr_td_action(:points_for_draw, @tournament.points_for_draw) %>
		<%= tr_td_action(:points_for_lose, @tournament.points_for_lose) %>		
		<%= tr_td_action(:player_limit, @tournament.player_limit) %>
		
		<tr>
			<%= content_tag :td, label_name(:conditions), :class => "label" %>
			  <%= content_tag :td, sanitize(@tournament.conditions) %>
		</tr>

	 <% if current_user.is_member_of?(@tournament) and !@tournament.available_users.empty? %>
	   <tr>
	     <%= content_tag :td, label_name(:users_available), :class => "label" %>
	     <%= content_tag :td, user_list(@tournament.available_users), :class => get_the_action %>
	   </tr>
	 <% end %>

		<% 
			the_label = h(label_name(@tournament.available, 'value'))
			the_confirmation = label_with_name('set_available', "#{@tournament.name}?") 
		%>
			<tr>
			  <%= content_tag :td, label_name(:available), :class => "label" %>
			  <%= content_tag :td, 
					(is_user_manager ? link_to(the_label, set_group_available_path(:id => @tournament.id), :confirm => the_confirmation) : the_label), 
					:class => get_the_action %>
			</tr>

		<% 
			the_label = h(label_name(@tournament.enable_comments, 'value'))
			the_confirmation = label_with_name('enable_comments', "#{@tournament.name}?") 
		%>
			<tr>
			  <%= content_tag :td, label_name(:enable_comments), :class => "label" %>
			  <%= content_tag :td, 
					(is_user_manager ? link_to(the_label, set_group_enable_comments_path(:id => @tournament.id), :confirm => the_confirmation) : the_label), 
					:class => get_the_action %>
			</tr>

		</table>

	</td>
	</tr>

	</table>
	<!-- new table -->






			 
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar_show') -%>
<% content_for :sidebar, render(:partial => '/fees/sidebar_show_team') if current_user.is_manager_of?(@tournament) %>