
<div class="columns"> 

  <div class="column left"> 	

  <div class="group">
    <%= f.label :number, label_name('purchases_card_number'), :class => :label %>
    <%= f.text_field :number, :class => 'textfield' %>
  </div>

  <div class="group">
    <%= f.label :purchases_type_of_card, label_name('purchases_type_of_card'), :class => :label %>
   	<%= f.select :type, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]] %><br />
  </div>

  <div class="group">
    <%= f.label :purchases_expiration, label_name('purchases_expiration'), :class => :label %>
    <%= f.select :month, (1 .. 12) %>
  	<%= f.select :year, (Time.now.year .. 10.years.from_now.year) %><br />
  </div>

  <div class="group">
    <%= f.label :purchases_card_security_code, label_name('purchases_card_security_code'), :class => :label %>
	<%= f.text_field :verification_value, :class => 'textscore' %><br />
  </div>

  <div class="group">
    <%= f.label :purchases_card_name, label_name('purchases_card_name'), :class => :label %>
    <%= f.text_field :first_name, :class => 'textscore' %>&nbsp;&nbsp;<%= f.text_field :last_name, :class => 'textscore' %><br />
  </div>

  </div> 

  <div class="column right">

  </div> 

</div>
        
<div class="clear"></div> 

<div class="group navform">
	<%= submit_tag control_label('create'), :class => "button" %> <%= label_name(:or) %> <%= link_to label_name(:cancel), root_url %>
</div>

