
<%= the_form.hidden_field :group_id %>
<%= the_form.hidden_field :sport_id %>
<%= the_form.hidden_field :time_zone %>
<%= the_form.hidden_field :season %>
<%= the_form.hidden_field :jornada %>


<% if @group.is_branch? %>
<%= the_form.hidden_field :block_token %>

<%= render_show_detail_zurb(:name, @schedule.name) %>
<%= render_show_detail_zurb(:group, @schedule.group_name) %>
<%= render_show_detail_zurb(:starts_at, nice_day_of_week(@schedule.starts_at)) %>
<%= render_show_detail_zurb(:ends_at, nice_day_of_week(@schedule.ends_at)) %>
<%= render_show_detail_zurb(:player_limit, @schedule.player_limit) %>

<hr/>

<% else %>

<%= set_form_label(the_form, :name) %>
<%= set_form_text_field(the_form, :name, 'input-text') %><br>


<div class="row">
	<div class="three columns">
		<%= set_form_label(the_form, :starts_at) %>
		<div class="row">
			<div class="three columns">
			<%= the_form.text_field :starts_at_date, :id => 'starts_at_datepicker', 
									:class => 'small input-text', 
									:value => @schedule.starts_at.strftime("%d-%m-%Y") %>
			</div>
		</div>
	</div>

	<div class="nine columns">
		
		<div class="row">
			<div class="three columns">

				<%= set_form_label(the_form, :starts_at) %>
				<div class="row">
					<div class="twelve columns">
						<%= the_form.text_field :starts_at_time, :id => 'starts_at_timepicker', 
						:class => 'small input-text', 
						:value => @schedule.starts_at.strftime("%H:%M") %>
					</div>
				</div>
				
			</div>

			<div class="one columns"></div>
			
				<div class="three columns">

					<%= set_form_label(the_form, :ends_at) %>
					<div class="row">
						<div class="twelve columns">
							<%= the_form.text_field :ends_at_time, :id => 'ends_at_timepicker', 
							:class => 'small input-text', 
							:value => @schedule.ends_at.strftime("%H:%M") %>
						</div>
					</div>

				</div>
				
			
			<div class="two columns"></div>
		</div>
	
	</div>
	
</div>


<br>

<% if DISPLAY_FREMIUM_SERVICES %>

<%= set_form_label(the_form, :reminder_at) %>
<%= the_form.datetime_select :reminder_at %>

<%= render 'utilities/form_datetime', :the_form => the_form, 
			:the_starts_at => 'reminder_at',
			:the_date_value => @schedule.reminder_at.strftime("%d-%m-%Y"),
			:the_time_value => @schedule.reminder_at.strftime("%H:%M") %>


<%= set_form_label(the_form, :description) %>
<%= set_form_text_area(the_form, :description) %><br><br>


<%= set_form_label(the_form, :fee_per_pista) %>
<%= set_form_text_field(the_form, :fee_per_pista, 'small input-text', true) %><br><br>


<% end %>


<%= set_form_label(the_form, :fee_per_game) %>
<%= set_form_text_field(the_form, :fee_per_game, 'small input-text', true) %><br>


<%= set_form_label(the_form, :player_limit) %>
<%= set_form_text_field(the_form, :player_limit, 'small input-text', true) %><br>


<%= render 'utilities/datepicker' %>
<%= render 'utilities/timepicker' %>

<% end %>