
<div class="inner">

<!-- new table -->
<table>
<thead>

<tr>
<th colspan="2">

	<div class="description">
		<span class="q">
			...<%=h @schedule.description.blank? ? control_label('description_no') : @schedule.description %>
		</span>
	</div>


</th>

</tr>
</thead>

<tr>
<td valign="top" width="105"><%#= group_show_photo(@schedule.group, current_user) %></td>

<td>
<table border="1">

	<%= tr_td_show(:concept, @schedule.concept) %>	
	<%= tr_td_show(:game_notes, @schedule.matches.first.description) if @schedule.played? %>	
	
    <% if @schedule.game_played? %>

      <tr>
        <%= content_tag :td, label_name(:group), :class => "label" %>
        
		<td class="<%= get_the_action%>">
          <%= group_link @schedule.group %>
          &nbsp;&nbsp;
          <%= @schedule.matches.first.group_score %>&nbsp;&nbsp;-&nbsp;&nbsp;<%= @schedule.matches.first.invite_score %>
          &nbsp;&nbsp;
          <%= link_to h(@schedule.group.second_team), group_path(@schedule.group) %>
		</td>
      </tr>
    <% else %>

      <tr>
        <%= content_tag :td, label_name(:home_group), :class => "label" %>            
		<%= content_tag :td, group_link(@schedule.group), :class => get_the_action %>
      </tr>

    <% end %>

	<%= tr_td_show(:sport, @schedule.sport.name) %>

    <tr>
      <%= content_tag :td, label_name(:marker), :class => "label" %>       
      <%= content_tag :td, marker_link(@schedule.group.marker), :class => get_the_action %>
    </tr>

	<%= tr_td_show(:starts_at, nice_day_of_week(@schedule.starts_at)) %>
	<%= tr_td_show(:ends_at, nice_day_of_week(@schedule.ends_at)) %>

	<% unless @schedule.convocados.empty? %>
	<tr>
		<%= content_tag :td, "#{label_name(:convocados)}  (#{@schedule.convocados.count})", :class => "label" %>
		<%= content_tag :td, user_list(@schedule.convocados), :class => get_the_action %>
	</tr>
	<% end %>

	<% unless @schedule.last_minute.empty? %>
	<tr>
		<%= content_tag :td, "#{label_name(:last_minute)}  (#{@schedule.last_minute.count})", :class => "label" %>
		<%= content_tag :td, user_list(@schedule.last_minute), :class => get_the_action %>
	</tr>
	<% end %>
	<% unless @schedule.no_shows.empty? %>
	<tr>
		<%= content_tag :td, "#{label_name(:no_shows)}  (#{@schedule.no_shows.count})", :class => "label" %>
		<%= content_tag :td, user_list(@schedule.no_shows), :class => get_the_action %>
	</tr>
	<% end %>

	<%#= tr_td_show(:subscription_at, nice_day_of_week(@schedule.subscription_at)) %>
	<%#= tr_td_show(:non_subscription_at, nice_day_of_week(@schedule.non_subscription_at)) %>
	<%= tr_td_show(:fee_per_game, @schedule.fee_per_game) %>
	<%= tr_td_show(:fee_per_pista, @schedule.fee_per_pista) %>
	<%= tr_td_show(:season, @schedule.season) %>
	<%= tr_td_show(:jornada, @schedule.jornada) %>
	<%= tr_td_show(:time_zone, @schedule.time_zone) %>
	<%= tr_td_show(:player_limit, @schedule.player_limit) %>
	<%= tr_td_show(:public, label_name(@schedule.public)) %>
	<%#= tr_td_show(:season_ends_at, nice_day_date(@schedule.season_ends_at)) %>

</table>

</td>
</tr>

</table>
<!-- new table -->

</div>
