<%
	is_user_manager = current_user.is_manager_of?(@schedule.group)
	the_label = "#{h(@schedule.group.name)} - #{sanitize(@schedule.concept)}"
	show_start_rating = (current_user.is_member_of?(@schedule.group) and @schedule.game_played?)	
	show_individual_score = (@schedule.group.is_futbol? and @schedule.played?)
	
	if show_individual_score
		@the_home_score = ""
		@the_away_score = ""
		
		@has_score = false

		@schedule.matches.find(:all, :conditions => ["group_id != 0 and goals_scored > 0"]).each do |match| 
			@the_home_score += "#{item_name_link(match.user)}&nbsp;&nbsp;-&nbsp;&nbsp;#{match.goals_scored}, " 
			@has_score = true
		end

		@schedule.matches.find(:all, :conditions => ["group_id = 0 and goals_scored > 0"]).each do |match| 
			@the_away_score += "#{item_name_link(match.user)}&nbsp;&nbsp;-&nbsp;&nbsp;#{match.goals_scored}, " 
			@has_score = true
		end
		@the_home_score = @the_home_score.chop.chop
		@the_away_score = @the_away_score.chop.chop
		
		show_individual_score = (show_individual_score and @has_score)
	end
	
%>

<div class="block">

	<h3><%= sanitize(@schedule.concept) %></h3>
	
<div class="content">
		
		<p>		
		
		<table>		

			<tr>
				<td class="name_and_date">
					<%= item_name_link(@schedule.group) %>&nbsp;&nbsp;<%= content_tag 'td', link_to(label_name(:scorecard), scorecard_path(:id => @schedule.group)), :class=> 'last' %>	
				</td>
			</tr>

			<tr>
				<td class="name_and_date">
					<span class="strong"><%= label_name(:sport) %></span>:
					<%= @schedule.sport.name %>
				</td>
			</tr>
			
			<tr>
				<td class="name_and_date">
					<span class="strong"><%= label_name(:starts_at) %></span>:
					<%= nice_day_time_wo_year_exact(schedule.starts_at) %>
				</td>
			</tr>
			
			<tr>
				<td class="name_and_date">
					<span class="strong"><%= label_name(:convocado) %></span>:
					<%= @schedule.convocados.count %>&nbsp;/&nbsp;<%= @schedule.player_limit %>
				</td>
			</tr>

		    <% if @schedule.game_played? %>

		      <tr>
				<td>
		          <%= item_name_link(@schedule.group) %>&nbsp;&nbsp;
		          <%= @schedule.home_score %>&nbsp;&nbsp;-&nbsp;&nbsp;<%= @schedule.away_score %>&nbsp;&nbsp;
		          <%= link_to h(@schedule.group.second_team), group_path(@schedule.group) %>
				</td>
		      </tr>

				<% if show_individual_score %>	
					<tr>	
						<td><%= @the_home_score %></td>		
					</tr>
					<tr>
						<td><%= @the_away_score %></td>		
					</tr>
				<% end %>

		    <% end %>
			
		</table>
		
		</p>
		
</div>
	
</div>




