<%
	is_user_manager = is_current_manager_of(@schedule.group)
	the_label = "#{h(@schedule.group.name)} - #{sanitize(@schedule.name)}"
	show_start_rating = (is_current_member_of(@schedule.group) and @schedule.game_played?)	
	show_individual_score = (@schedule.group.is_futbol? and @schedule.played?)
	is_played =  @schedule.game_played?
	
	if show_individual_score
		@the_home_score = ""
		@the_away_score = ""
		
		@has_score = false

		@schedule.matches.find(:all, :conditions => ["group_id != 0 and goals_scored > 0"]).each do |match| 
			@the_home_score += "#{item_name_link(match.user)}&nbsp;&nbsp;-&nbsp;&nbsp;#{match.goals_scored}, " 
			@has_score = true
		end

		@schedule.matches.find(:all, :conditions => ["group_id = 0 and goals_scored > 0"]).each do |match| 
			@the_away_score += "#{item_name_link(match.user)}&nbsp;&nbsp;-&nbsp;&nbsp;#{match.goals_scored}, " 
			@has_score = true
		end
		@the_home_score = @the_home_score.chop.chop
		@the_away_score = @the_away_score.chop.chop
		
		show_individual_score = (show_individual_score and @has_score)
	end
	
	the_label = sanitize(@schedule.name)
%>




<div class="row">
	<div class="twelve columns">

		<%= "#{item_name_link(@schedule.group)}".html_safe %><br/>
		<%= "#{@schedule.sport.name}".html_safe %><br/>
		<%= "#{nice_day_time_wo_year_exact(schedule.starts_at)}".html_safe %><br/>
		<%= label_name(:convocado) %>:  <%= @schedule.convocados.count %>&nbsp;/&nbsp;<%= @schedule.player_limit %><br/>

		<% if is_played %>
		<%= "#{item_name_link(@schedule.group)}  ".html_safe %>
		<%= "#{@schedule.home_score}  -  #{@schedule.away_score}".html_safe %>
		<%= "#{link_to(@schedule.group.second_team, group_path(@schedule.group))}".html_safe %><br/>
		<%= "#{@the_home_score}".html_safe %> <%= "#{@the_away_score}".html_safe if show_individual_score %>		
		<% end %>

	</div>
</div>

<!-- <hr/>
<br/> -->



