<% if current_user.is_member_of?(@group)  or current_user.is_manager_of?(@group)  %>

<div class="block">

	<h3><%= label_name(:options) %></h3>
	
<div class="content">
<%	
	if current_user.is_member_of?(@group) %> 
		<p><%= option_image_link('message') %>&nbsp;&nbsp;<%= link_to label_name(:send_message_to), new_message_path(:group_id => @group, :roster_id => @schedule) %></p>
		<p><%= option_image_link('invitation') %>&nbsp;&nbsp;<%= link_to(label_name(:invitations_create_schedule) , new_invitation_url(:schedule_id => @schedule)) %></p>
		<% unless @schedule.played? %>
		<p><%= option_image_link('schedule') %>&nbsp;&nbsp;<%= link_to label_name(:send_pre_match), new_message_path(:schedule_id => @schedule) %></p>
		<% end -%>
		<% if @schedule.played? %>
		<p><%= option_image_link('schedule') %>&nbsp;&nbsp;<%= link_to label_name(:send_match), new_message_path(:match_id => @schedule.matches.first) %></p>
		<% end -%>
		<p><%= option_image_link('scorecard') %>&nbsp;&nbsp;<%= link_to label_name(:send_scorecard), new_message_path(:scorecard_id => @schedule) %></p>
<% 
	end 
	
	if current_user.is_manager_of?(@group) and !is_controller('forum')
		the_confirmation = "#{ label_name(:destroy_schedule) } #{ label_name(:from) } #{@group.name}?" 
		unless @schedule.last_season?(current_user)
%> 
		<p><%= option_image_link('schedule') %>&nbsp;&nbsp;<%= link_to control_label('create'), new_schedule_path(:id => @schedule.group) %></p>
<%
		end
%>
		<p>
		<%= option_image_link('schedule') %>&nbsp;&nbsp;
		<%= link_to control_label('edit'), edit_schedule_path(@schedule) unless @schedule.last_season?(current_user) %>
		</p>  
		
		<%  unless get_the_controller == 'topic' %> 
		<p>
		<%= option_image_link('schedule') %>&nbsp;&nbsp;
		<%= link_to control_label('destroy'), schedule_path(@schedule), :method => :delete, :confirm => label_name(:are_you_sure) unless @schedule.played? %>
		</p>
		<% end -%>
		
		<% unless @schedule.last_season?(current_user)  %>
		<p>
		<%= option_image_link('schedule') %>&nbsp;&nbsp;
		<%= link_to label_name(:matches), edit_match_path(@schedule.matches.first)  %>
		</p>
		<% end -%>
<% 
	end 
%>
</div>
	
</div>
<% end -%>