<% 
	counter = 0

	roster_count, is_squad, has_been_played, show_right_evaluation, is_manager, is_member, home, away, group_games_played, schedule_number, 
    group, has_been_played_squad, show_right_border, show_right_evaluation, show_deviation, show_mean = set_team_roster_box(the_roster, @schedule)

	is_the_squad = (is_squad and !has_been_played) ? "#{label_name(:name)}" : "#{label_name(:name)}"
	
	it_has_played = has_been_played ? label_name(:score) : is_squad ? sort_link(label_name(:group), :group_id) : label_name(:group)
	the_status = "#{sort_link(label_name(:change_at), :status_at)}"
	
	has_not_been_played_manager = !has_been_played and is_manager
	
	display_team_link = get_controller_action == 'schedule_team_roster'
%>

<% if roster_count %>	  


<table>
	
	<thead>
		<tr>
			<%= content_tag_safe(:th, "&nbsp;") %>
			<%= content_tag_safe(:th, "&nbsp;") %>
			<%= content_tag_safe(:th, label_name(:user)) %>
			<%= content_tag_safe(:th, the_status) %>
			<%= content_tag_safe(:th, label_name(:percentage_played)) %>
			<%= content_tag_safe(:th, it_has_played) %>
			<%= content_tag_safe(:th, "&nbsp;") if has_not_been_played_manager %>
			
		</tr>
	</thead>

	<tbody>
				
<% 
the_roster.each do |match| 
	
	the_user = match.user
	
	if match.type_id == 1
		is_second_team = !(match.group_id > 0)
	end

	second_team = ""
	second_team = "second_team" if is_second_team

	puntos = "puntos"
	puntos = "second_team_puntos" if is_second_team

	name_and_date = "name_and_date"
	name_and_date = "name_and_date_second_team" if is_second_team

	last_roster = "last"
	last_roster = "second_team_last_roster" if is_second_team
	
	game_number = 1

	coeficient_played = 100 *(match.scorecard_played.to_f / group_games_played)
	previous_user_match = Match.get_previous_user_match(match, schedule_number, group)
	the_user_match = Match.get_rating_average(match, group)
	
	game_number = previous_user_match.game_number unless previous_user_match.nil?

	is_subscriber = the_user.is_subscriber_of?(group)	
	the_label =  label_name("subscription_#{is_subscriber}")
	
	game_number = "#{match.scorecard_played}"
	the_coeficient = "#{sprintf('%0.00f', match.coeficient_played)}%" 
	
	if match.coeficient_played.to_f < 20
		game_number = "<font color='red'>#{the_coeficient}</font>" 
	elsif match.coeficient_played.to_f > 19 and match.coeficient_played.to_f < 50
		game_number = "<font color='orange'>#{the_coeficient}</font>"
	elsif match.coeficient_played.to_f > 49
		game_number = "<font color='green'>#{the_coeficient}</font>"
	end	
	
	@roster = match	
	can_evaluate = current_user != the_user and the_roster.include?(current_user)
	was_convocado =  match.type_id == 1	
	
	the_match_status = ""
	the_match_status = ago(match.status_at) #unless has_been_played
	the_match_status = "#{the_match_status} <br /> ( #{label_name(:no_jugado)} )" if match.type_id == 4
	
	the_user_link = "#{user_link_limit(the_user)}"
	the_match_status = "#{the_match_status}"
	
	not_played = "<br />(#{label_name(:no_jugado)})"
	
	change_group_link = (is_member & display_team_link) ? link_to(match.team_name(@schedule), match_team_path(:id => match.id), :title => label_name(:change_group)) :  match.team_name(@schedule)
	
	is_different_user_manager = (current_user != the_user and is_manager)
	subscription_image = "#{counter +=1}. #{subscription_image_link(the_user, is_subscriber, the_label)}"
-%>

<tr class='<%= second_team %>'>
	<%= content_tag_safe(:td, image_link_smaller(the_user), '', '') %>
	<%= content_tag_safe(:td, subscription_image, '','') %>
	<%= content_tag_safe(:td, the_user_link, '','') %>
	<%= content_tag_safe(:td, the_match_status, '','') %>
	<%= content_tag_safe(:td, game_number, '','') %>
	<%= content_tag_safe(:td, change_group_link, '','') unless has_been_played %>
	<%= content_tag_safe(:td, was_convocado ? (group_score_link(@schedule, is_second_team)) : '', '','') if has_been_played %>	
	
	<%= content_tag_safe(:td, is_different_user_manager ? (match_all_my_link(@schedule, the_user, true)) : '', '','') if has_not_been_played_manager %>
	
</tr>

<% end %>

</tbody>
</table>

<% end %>




















