<% 
	counter = 0 
	roster_count = (object_counter(the_roster) > 0)

	type_id = [1, 4]
	
	defense, center, attack, technical, physical = 0, 0, 0, 0, 0
	difference, minimum, percentage = 0.0, 0.0, 0.0
	home = %w(defense, center, attack, technical, physical)
	away = %w(defense, center, attack, technical, physical)
	technical = %w(difference, minimum, percentage)
	physical = %w(difference, minimum, percentage)
	
		
	position_id = [18, 19, 20]
	
	
if roster_count 
%>
      <table class="table">
	  
		<tr>
		 <th class="first">&nbsp;</th>
		 <th>&nbsp;</th>
		 <th><%= label_name(:name) %></th>
		 <th align="center" title = "<%= label_name(:games_played_full) %>"><%= label_name(:games_played) %></th>
		 <th align="center" title = "<%= label_name(:defense) %>"><%= label_name(:defense) %></th>
		 <th align="center" title = "<%= label_name(:center) %>"><%= label_name(:center) %></th>
		 <th align="center" title = "<%= label_name(:attack) %>"><%= label_name(:attack) %></th>
		 <th align="center" title = "<%= label_name(:technical) %>"><%= label_name(:technical) %></th>
		 <th align="center" title = "<%= label_name(:physical) %>"><%= label_name(:physical) %></th>
		 <th><%= label_name(:group) %></th>
		 <%= content_tag 'th', label_name(:score), :align =>"center" if @schedule.played? %>
		 <th><%= label_name(:change_at) %></th>
		 <th class="last"><%= label_name(:change_your_roster_status) %></th>
		</tr>

        
       	<% the_roster.each do |match| -%>
        <tr>
			<td>
				<%= image_link_small match.user %>
			</td>
			
			<%  sub_manager = match.user.is_sub_manager_of?(@schedule.group)
		    	the_label =  label_name("sub_#{sub_manager}") unless sub_manager 
				the_klass = "sub_#{sub_manager}" unless sub_manager
				
				subscriber = match.user.is_subscriber_of?(@schedule.group)
			    the_label =  label_name("subscription_#{subscriber}") unless subscriber 
				the_klass = "subscription_#{subscriber}" unless subscriber 
			%>
			
			<td class="<%= the_klass %>" title = "<%= the_label %>">
				<%= counter +=1 %>.
			</td>
			
			<td>
				<%= user_link match.user %><br />
				<%= "  ( #{label_name(:no_jugado)} )" if match.type_id == 4 %>
			</td>
			
			<td align="left"><%= match.scorecard_played %></td>

<% 
	if current_user.is_sub_manager_of?(@schedule.group) and match.type_id == 1 and !@schedule.played?
		
	#	(match.group_id > 0) ? home[match.user.type.name += 1] : away[match.user.type.name += 1]
		#(match.group_id > 0) ? home["technical" => home["technical"].to_i + 1] : away["technical"  => away["technical"].to_i + 1]
	#	(match.group_id > 0) ? home["physical"  => home["physical"].to_i + 1] : away["physical"  => away["physical"].to_i + 1]
		
		
%>		
		<td/>
		<td/>
		<td/>
		<td/>
		<td/>
		<td><%= link_to match.team_name(@schedule), match_team_path(:id => match.id), :title => label_name(:change_group) %></td>
<% 
	else 
%>
		<td/>
		<td/>
		<td/>
		<td/>
		<td/>
		<td><%= h match.team_name(@schedule) %></td>
<% 
	end 
	
	if @schedule.played? 
%>	
		<td><%= group_score_link @schedule if match.type_id == 1 %></td>
<%		
	end 
%>	

	<td class="name_and_date">
		<span class="date">
			<%= "#{label_name(:ago)} #{time_ago_in_words(match.status_at)}" %>
		</span>
	</td>
		


<td class="last">
<% 
if current_user == match.user or current_user.is_manager_of?(@schedule.group) and @schedule.not_played? 
	@match_type.each do |type|  
		unless type.id == match.type_id			
			
			# only manager can view option 'no_jugado'
			if type.id == 4
%>
				<%= render :partial => '/schedules/team_roster_option', 
						:locals => {:type => type, :match => match} if current_user.is_manager_of?(@schedule.group) %>
<% 			
			else
%>
				<%= render :partial => '/schedules/team_roster_option', :locals => {:type => type, :match => match} %>
<%
			end 
		end
 	end
end
%>

<%#= render :partial => 'ratings/rate', 
		   :locals => { :asset => match } unless match.user == current_user or !@schedule.played? or match.type == 1 %>

</td>
</tr>          
<% 
end 
-%>







    </table>
<%
end
%>

	




















