<% 
	counter = 0 
	roster_count = (object_counter(the_roster) > 0)

	type_id = [1, 4]
	
if roster_count 
%>
      <table class="table">
	  
        <tr> 
          <th class="first">&nbsp;</th>
          <th>&nbsp;</th>
          <th><%= label_name(:name) %></th>
          <th><%= label_name(:group) %></th>
          <th align="center" title = "<%= label_name(:games_played_full) %>"><%= label_name(:games_played) %></th>
          <th><%= @schedule.played? ? label_name(:score) : label_name(:change_at) %></th>
          <th class="last">&nbsp;</th>
        
       	<% the_roster.each do |match| -%>
        <tr>
			<td>
				<%= image_link_small match.user %>
			</td>
			
			<%  sub_manager = match.user.is_sub_manager_of?(@schedule.group)
		    	the_label =  label_name("sub_#{sub_manager}") unless sub_manager 
				the_klass = "sub_#{sub_manager}" unless sub_manager
				
				subscriber = match.user.is_subscriber_of?(@schedule.group)
			    the_label =  label_name("subscription_#{subscriber}") unless subscriber 
				the_klass = "subscription_#{subscriber}" unless subscriber 
			%>
			
			<td class="<%= the_klass %>" title = "<%= the_label %>">
				<%= counter +=1 %>.
			</td>
			
			<td>
				<%= user_link match.user %><br />
				<%= "  ( #{label_name(:no_jugado)} )" if match.type_id == 4 %>
			</td>
			
<% 
	if current_user.is_sub_manager_of?(@schedule.group) 
		unless @schedule.played? 
			if match.type_id == 1 
%>
				<td><%= link_to match.team_name(@schedule), match_team_path(:id => match.id), :title => label_name(:change_group) %></td>
<% 
			else 
%>
				<td><%= h(@schedule.group.name) %></td>
<% 
			end 
		else 
%>								
			<td><%= match.team_name(@schedule) %>&nbsp;<%#= match.win_loose_draw_label %></td>
			<td>&nbsp;&nbsp;<%= group_score_link @schedule %></td>							
<% 
		end 
	else 
%>	
		<td><%= h(match.team_name(@schedule)) %></td>
<% 
		if @schedule.played? 
%>
			<td><%= match.win_loose_draw_label %></td>
<% 		
		end 
	end 
%>	


<td align="left"><%= match.scorecard_played %></td>

<td><%= "#{label_name(:ago)} #{time_ago_in_words(match.status_at)}" %></td>

<td class="last">
<% 
if current_user == match.user or current_user.is_manager_of?(@schedule.group) and @schedule.not_played? 
	@match_type.each do |type|  
		if type.name != match.type_name			
			if current_user.is_manager_of?(@schedule.group) 
%>
				<%= render :partial => '/schedules/team_roster_option', :locals => {:type => type, :match => match} %>
<% 
			elsif match.user.is_subscriber_of?(@schedule.group)
				if !type_id.include?(type.id)
%>
					<%= render :partial => '/schedules/team_roster_option', :locals => {:type => type, :match => match} %>
<% 
				#elsif @schedule.subscription_at > Time.zone.now and type.id == 1 
%>
					<%#= render :partial => '/schedules/team_roster_option', :locals => {:type => type, :match => match} %>												
<% 
				end 
			else 
				if type.id != 1 
%>
					<%= render :partial => '/schedules/team_roster_option', :locals => {:type => type, :match => match} %>
<% 
				#elsif @schedule.non_subscription_at < Time.zone.now and type.id == 1 
%>
					<%#= render :partial => '/schedules/team_roster_option', :locals => {:type => type, :match => match} %>	
<% 
				end 			
			end 
		end
 	end
end
%>

<%#= render :partial => 'ratings/rate', 
		   :locals => { :asset => match } unless match.user == current_user or !@schedule.played? or match.type == 1 %>

</td>
</tr>          
<% 
end 
-%>
    </table>
<%
end
%>

	




















