<% 
	counter = 0 
	roster_count = (object_counter(the_roster) > 0)

	type_id = [1, 4]
	
	home = {}
	away = {}
	technical = {}
	physical = {}
		
	home["defense"] = 0
	home["center"] = 0
	home["attack"] = 0
	home["technical"] = 0
	home["physical"] = 0
	home["total"] = 0
	
	away["defense"] = 0
	away["center"] = 0
	away["attack"] = 0
	away["technical"] = 0
	away["physical"] = 0
	away["total"] = 0
	
	technical["difference"] = 0
	technical["minimum"] = 0
	technical["percentage"] = 0.0
		
	physical["difference"] = 0
	physical["minimum"] = 0
	physical["percentage"] = 0.0
	
	is_manager ||=false
	is_sub_manager = current_user.is_sub_manager_of?(@schedule.group)
	is_action = get_the_action.gsub(' ','_') == 'team_roster'
	group_games_played = @schedule.group.games_played.to_f
	
	@positions = Type.find(:all, :conditions => "table_type = 'User'", :order => "id")
	
if roster_count 
%>
      <table class="table" id="<%= get_the_action.gsub(' ','_') %>">
	  
		<tr>
		 <th class="first">&nbsp;</th>
		 <th>&nbsp;</th>
		 <th>
			<%= label_name(:name) %>
			<%  unless @schedule.played? %>			
			<%= "<br/> / #{label_name(:change_at)}" %>
			<% end -%>
		 </th>
		 <th align="center" title = "<%= label_name(:ranking_full) %>"><%= label_name(:ranking) %></th>
		 <th align="center" title = "<%= label_name(:participation_full) %>"><%= label_name(:participation) %></th>
		 <th align="center" title = "<%= label_name(:position) %>"><%= label_name(:position) %></th>
		 <th align="center" title = "<%= label_name(:profile_technical) %>"><%= label_name(:technical) %></th>
		 <th align="center" title = "<%= label_name(:profile_physical) %>"><%= label_name(:physical) %></th>
		 <th><%= label_name(:group) %></th>
		 <%= content_tag 'th', label_name(:score) if @schedule.played? %>
		 <%= content_tag('th', "", :class => 'last_roster') unless @schedule.played? %>
		</tr>

        
       	<% the_roster.each do |match| 
			is_second_team = !(match.group_id > 0)
			second_team = ""
			second_team = "second_team" if is_second_team
			puntos = "puntos"
			puntos = "second_team_puntos" if is_second_team
			name_and_date = "name_and_date"
			name_and_date = "name_and_date_second_team" if is_second_team
			
			last_roster = "last_roster"
			last_roster = "second_team_last_roster" if is_second_team
					
			coeficient_played = 100 *(match.scorecard_played.to_f / group_games_played)
	-%>
        <tr>
			<td class="<%= second_team %>" >
				<%= image_link_smaller match.user %>
			</td>
			
			<% 				
				is_subscriber = match.user.is_subscriber_of?(@schedule.group)
			    the_label =  label_name("subscription_#{is_subscriber}")
			%>
			
			<td class="<%= second_team %>" >
				<%= subscription_image_link(match.user, is_subscriber, the_label) %>&nbsp;&nbsp;&nbsp;<%= counter +=1 %>.
			</td>
			
				<td class="<%= name_and_date %>">
				<%= user_link_limit match.user %>
					<span class="date_tiny">
						<%= "#{ago(match.status_at)}" unless @schedule.played? %>
						<%= "<br />( #{label_name(:no_jugado)} )" if match.type_id == 4 %>
					</span>
			</td>
		
			<td class="<%= puntos %>" align="left"><%= match.ranking %></td>
			<td class="<%= puntos %>" align="left"><%= sprintf( "%0.00f", coeficient_played) %><%= "%" %></td>	
			
<% 		
		case match.position.name
		when "defense"
			(match.group_id > 0) ? home["defense"] += 1 : away["defense"] += 1
		when "center"
			(match.group_id > 0) ? home["center"] += 1 : away["center"] += 1
		when "attack"
			(match.group_id > 0) ? home["attack"] += 1 : away["attack"] += 1
		end
		(match.group_id > 0) ? home["technical"] += match.technical : away["technical"] += match.technical
		(match.group_id > 0) ? home["physical"] += match.physical : away["physical"] += match.physical
		(match.group_id > 0) ? home["total"] += 1 : away["total"] += 1
				
		@roster = match 
%>		
		<td class="<%= second_team %>" >
			<%= match.position_name %>
		</td>
	
		<td class="<%= second_team %>" align="center">
			<%=  match.technical %>
		</td>	
			
		<td class="<%= second_team %>" align="center">	
			<%= match.physical %>
		</td>
		
		<td class="<%= second_team %>" >
			<%= is_sub_manager ? link_to(match.team_name(@schedule), match_team_path(:id => match.id), :title => label_name(:change_group)) :  
							match.team_name(@schedule) %>
		</td>
<% 
	
	if @schedule.played? 
%>	
		<td class="<%= second_team %>" ><%= group_score_link @schedule if match.type_id == 1 %></td>
<%		
	end 
 
	unless @schedule.played?  %>
		<!-- <td class="<%= second_team %>" >
			<span class="date">
				<%#= ago(match.status_at) %>
			</span>
		</td> -->	
		<td class="<%= last_roster %>" >
<% 
	is_manager = current_user.is_manager_of?(@schedule.group) 
	
	if current_user == match.user or is_manager
		@match_type.each do |type|  
			unless type.id == match.type_id			
				if type.id == 4
%>
					<%= match_roster_change_link(match, type) if is_manager %>
<% 			
				else
%>
					<%= match_roster_change_link(match, type) %>
<%
				end 
			end
 		end
	end
end 
%>

</td>
</tr>          
<% 
end 
-%>

<%= render "schedules/team_level", :home => home, :away => away, :technical => technical, :physical => physical if is_action %>

</table>

<% 
end
%>




















