 
 
<%= error_messages_for :themessage, :header_message => t(:try_again), :themessage => t(:problem_field)  -%>

<% form_tag :action => 'update_match', :id => @schedule do %>

<%# error_messages_for :schedule %>
<%# form_for @schedule do |f| %>

<div id="form">
        <div class="create_form">
        
        <div class="step clear" id="">
        <ul>        
        <h1>
                <%= "#{@schedule.concept} - #{t(:score)}" %>
        </h1>

        <li class="username">
            <label for="entry-title"><%= t(:score) %></label>
            <%= group_link @schedule.group %>    
            <%= view_spaces %>
            <%= text_field :match, :group_score, :maxlength => 5, :size => 8 %>
            <%= view_spaces %>vs.<%= view_spaces %>
            <%= text_field :match, :invite_score, :maxlength => 5, :size => 8 %>
            <%= view_spaces %>
			<%= link_to @schedule.away_group, 
					{:controller => 'group', :action => 'show', :id => @schedule.invite_id > 0 ? @schedule.invite_id : @schedule.group_id} %>
        </li>
               
		<li class="username">
	    <label for="entry-title"><%= t(:users) %></label>
        <%= render :partial =>'match', :collection => @matches %>
        </li>

        <li class="username">
	       <label for="user_username"><%= t(:description) %></label>
	       	<%= text_area :match, :description, :cols => 40, :rows => 20, :class =>'textfield' %>   
	       <span>
	           <%= t(:event_details) %>
	       </span>
        </li>

        </ul>
        </div>
        <ul>
           <li class="submit">
                   <%= submit_tag(t(:edit_match)) %>
           </li>
        </ul>
        
        </div>
        </div>
        
<% end -%>


