<%
	the_label = label_name(:schedules)
	content_for(:title, the_label)
	
	is_my_list = (get_controller_action == "schedule_my_list")
	the_label = "#{the_label} #{label_name(:from_de)} #{h(@user.name)}" if is_my_list	
	is_my_list = is_my_list ? (@user == current_user) : true
%>

<div class="block">

  <%= render :partial => '/schedules/secondary_navigation' if is_my_list %>
  <%= render :partial => '/users/secondary_navigation' unless is_my_list %>

  <div class="content">   
  
    <h2 class="title"><%= @user == current_user ? label_name(:my_schedule) : the_label %></h2>
	
    <div class="inner">
	
	<% if object_counter(@schedules) > 0 %>
	
      <table class="table">
	  
        <tr> 
        <th class="first">&nbsp;</th>
        <th><%= label_name(:concept) %></th>
        <th><%= label_name(:group) %>&nbsp;<%#= label_name(:sport) %></th> 
        <th><%#= label_name(:matches) %>&nbsp;<%#= label_name(:gameday_at) %></th>
        <th>&nbsp;</th>	
        <th>&nbsp;</th>
        <%= "<th>&nbsp;</th>" if current_user.is_member_of?(@schedules.first.group) %> 
		<th class="last">&nbsp;</th>
		</tr>
        
        <% @schedules.each do |schedule| 
			the_sport = "#{label_name(:rosters)}:  #{schedule.convocados.count}"
			the_missing = "#{label_name(:missing)}:  #{schedule.player_limit.to_i - schedule.convocados.count}"
			the_url = team_roster_path(:id => schedule)
			show_start_rating = (current_user.is_member_of?(schedule.group) and schedule.game_played?)
			# the_users = []
			# schedule.the_roster.each {|match| the_users << match.user } 
		-%>
        <tr>
			<td>
				<%= (current_user.is_member_of?(schedule.group) or schedule.public) ? 
							schedule_image_link_small(schedule) : schedule_image_small(schedule) %>
			</td>

			<td class="name_and_date">
				<%= (current_user.is_member_of?(schedule.group) or schedule.public) ? 
							link_to(sanitize(schedule.concept), team_roster_path(:id => schedule)) : sanitize(schedule.concept) unless schedule.game_played? %>	
				<%= (current_user.is_member_of?(schedule.group) or schedule.public) ? 
										link_to(sanitize(schedule.concept), schedule_path(:id => schedule)) : sanitize(schedule.concept) if schedule.game_played? %>
				<span class="date">
					<%= nice_full_date(schedule.starts_at) %>
				</span>					
			</td>

			<td class="name_and_date">
				<%= item_name_link(schedule.group)
 %><br />
				<span class="date">
					<%= schedule.group.sport.name %>
				</span>
			</td>

			<td class="name_and_date">
				<% if schedule.game_played? %>
		        	<%= item_name_link(schedule.group) %>
					&nbsp;&nbsp;
		          	<%= schedule.home_score %>&nbsp;&nbsp;-&nbsp;&nbsp;<%= schedule.away_score %>
		          	&nbsp;&nbsp;
		          	<%= link_to h(schedule.group.second_team), group_path(schedule.group) %>
			    <% else %>				
					<span class="date">
						<%= has_left(schedule.starts_at) if Time.zone.now < schedule.starts_at %>
					</span>
				<% end %>
			</td>		


			<td class="name_and_date">			
					<%= the_sport %><br />
				<span class="date">
					<%= the_missing if Time.zone.now < schedule.starts_at %>
				</span>
			</td>
			
			<td class="">
			<%= ratings_for schedule, :show_user_rating => true, :dimension => :performance, :small => true %>&nbsp;&nbsp;
			<%= ratings_for schedule, :static, :dimension => :performance, :small => true %>
			
			</td>
			
			<td class="name_and_date">&nbsp;</td>

			<td class="last">	
				<span class="action" align="left">			
					<%= marker_link(schedule.group.marker) %>
				</span>
				<br/><br/>
				<fb:like href="haypista.com<%= the_url %>" layout="button_count" show_faces="false" action="recommend" font="arial"></fb:like>
			</td>
			
        </tr>          
        <% end -%>
      </table>

		<% end %>
		<%= render :partial => 'shared/action_bar', :locals => { :collection => @schedule } %>

		</div>
		</div>
	</div>
	

	<% content_for :sidebar, render(:partial => '/schedules/sidebar') if current_user.is_manager? -%>
