<% is_cloud = is_controller('cloud')? true : false -%>

<%
	the_label = label_name(:schedules)
	content_for(:title, the_label)
%>

<div class="block">

  <%= render :partial => '/schedules/secondary_navigation' unless is_cloud %>

  <div class="content">   
  
    <h2 class="title"><%= get_collection_label(@schedules) %></h2>
	
    <div class="inner">
	
	<% if object_counter(@schedules) > 0 %>
	
      <table class="table">
	  
        <tr> 
          <th class="first">&nbsp;</th>
          <th><%= label_name(:group) %>&nbsp;/<br />
			  <%= label_name(:gameday_at) %></th>
          <th><%= label_name(:concept) %>&nbsp;/<br />
			  <%= label_name(:sport) %></th> 
          <th><%= label_name(:marker) %><br />
		      <%= label_name(:time_zone) %></th>
          <th><%= label_name(:general_information) %></th>
		
          <th class="last">&nbsp;</th>
		</tr>
        
        <% @schedules.each do |schedule| -%>
        <tr>
          <td>
            <%= group_image_link_small schedule.group %>
          </td>
          <td>
			<%= group_link schedule.group %><br />
			<%= nice_day_date schedule.starts_at %>
          </td>
          <td>            
            <%= link_to sanitize(schedule.concept), team_roster_path(:id => schedule) %><br />
			<%= schedule.sport.name %>
          </td>
          <td>
			<%= marker_link schedule.group.marker %><br />
			<%= schedule.time_zone %>
		  </td>

			<% if schedule.game_played? %>            
				<td><%= group_score_link schedule %></td>          
			<% else %>            
			<td><%= label_name(:game_not_played) %></td>            
			<% end %>

          <td class="last">
			<% if current_user.is_manager_of?(schedule.group) %>
            	<%= link_to label_name('edit'), edit_schedule_path(schedule) unless schedule.last_season?(current_user) %><br />
			<% end %>
          </td>

        </tr>          
        <% end -%>
      </table>

		<% end %>
		<%= render :partial => 'shared/action_bar', :locals => { :collection => @schedule } %>

		</div>
		</div>
	</div>
	

	<% content_for :sidebar, render(:partial => '/schedules/sidebar') if current_user.is_manager? and  !is_cloud -%>
