<%
	the_label = label_name(:schedules)
	content_for(:title, the_label)
	
	the_control_action = get_controller_action
	
	is_my_list = (the_control_action == "schedule_my_list")
	the_label = "#{the_label} #{label_name(:from_de)} #{h(@user.name)}" if is_my_list
		
	is_my_list = is_my_list ? current_user.is_user_member_of?(@user) : true
	
	group_list = ['schedule_schedule_list', 'schedule_group_current_list', 'schedule_group_previous_list']
	group_schedule_list = (group_list.include?(the_control_action))
	
	the_label = label_name(:upcoming_schedules) if the_control_action == 'schedule_group_current_list' or the_control_action = 'schedule_index'
%>

<div class="block">

  <%= get_secondary_navigation(Schedule.new) if is_my_list and !group_schedule_list %>
  <%= get_secondary_navigation(Use.new) unless is_my_list or !group_schedule_list %>
  <%= get_secondary_navigation(@group) if group_schedule_list %>

  <div class="content">   
  
    <h2 class="title"><%= @user == current_user ? label_name(:my_schedule) : the_label %></h2>
	
    <div class="inner">
	
	<% if object_counter(@schedules) > 0 %>
	
      <table class="table">
	  
        <tr> 
			<%= content_tag :th, "&nbsp;", :class => "first" %>
			<%= content_tag :th, label_name(:concept), :class => "heading" %>
			<%= content_tag :th, label_name(:group), :class => "heading" %>
			<%= content_tag :th, label_name(:gameday_at), :class => "heading" %>
			<%= content_tag :th, label_name(:marker), :class => "heading" %>
			<%= content_tag :th, "&nbsp;", :class => "last" %>
		</tr>
        
        <% @schedules.each do |schedule| -%>
		<tr>
			<%= view_schedule_icon(schedule) %>
			<%= view_schedule_concept(schedule) %>
			<%= view_schedule_group(schedule) %>
			<%= view_schedule_played(schedule) %>
			<%= view_schedule_marker(schedule) %>
			<%= view_schedule_rating(schedule) %>
		</tr>          
        <% end -%>
      </table>

		<% end %>
		<%= render :partial => 'shared/action_bar', :locals => { :collection => @schedule } %>

		</div>
		</div>
	</div>
	
	
	<% content_for :sidebar, render(:partial => '/schedules/sidebar') if current_user.is_manager? and !group_schedule_list -%>	
	
	<% if group_schedule_list -%>
	<% content_for :sidebar, render(:partial => 'groups/sidebar_show') -%>
	<% content_for :sidebar, render(:partial => 'shared/sidebar_show_team', :locals => {:group => @group}) if current_user.is_manager_of?(@group) %>
	<% content_for :sidebar, render('shared/share_object', :group => @group, :schedule => @group.schedules.first) if @group -%>
	<% end -%>