<div class="block">

	<%= get_secondary_navigation %>

	<div class="content">  

		<h2 class="title">
			<%= "#{control_action_label} #{label_name('for')} " %>
			<%= item_name_link(@schedule.group) %>
		</h2>

		<div class="inner">
		
      <%= form_for (@schedule), :url => schedules_path, :html => { :class => :form } do |f| -%>
		<%= f.hidden_field :group_id if @group %>
        <%= render :partial => "form", :locals => {:f => f, :label_name => label_name(:create)} %>
      <% end -%>

		</div>

	</div>

</div>

