<% 
	is_user_manager = current_user.is_manager_of?(@schedule.group)
	the_label = sanitize(@schedule.concept)
	content_for(:title, sanitize(@schedule.concept))	

	show_start_rating = (current_user.is_member_of?(@schedule.group) and @schedule.game_played?)
	
	show_individual_score = (@schedule.group.is_futbol? and @schedule.played?)
	
	if show_individual_score
		@the_home_score = ""
		@the_away_score = ""
		
		@has_score = false

		@schedule.matches.find(:all, :conditions => ["group_id != 0 and goals_scored > 0"]).each do |match| 
			@the_home_score += "#{item_name_link(match.user)}&nbsp;&nbsp;-&nbsp;&nbsp;#{match.goals_scored}, " 
			@has_score = true
		end

		@schedule.matches.find(:all, :conditions => ["group_id = 0 and goals_scored > 0"]).each do |match| 
			@the_away_score += "#{item_name_link(match.user)}&nbsp;&nbsp;-&nbsp;&nbsp;#{match.goals_scored}, " 
			@has_score = true
		end
		@the_home_score = @the_home_score.chop.chop
		@the_away_score = @the_away_score.chop.chop
		
		show_individual_score = (show_individual_score and @has_score)
	end
	
%>

<div class="block">

  
  <%= render "shared/previous_next_message", :schedule => @schedule, :the_previous => @the_previous, :the_next => @the_next -%>

  <%= show_heading(the_label) %>

<div class="inner">

<!-- new table -->
<table>
<thead>

<tr>
<th colspan="2">

	<div class="description">
		<span class="q">
			<%=sanitize @schedule.description.blank? ? control_label('description_no') : @schedule.description %>
		</span>
	</div>


</th>

</tr>
</thead>

<tr>
<td valign="top" width="105">&nbsp;</td>

<td>
<table border="1">

    <tr>
      <%= content_tag :td, label_name(:concept), :class => "label" %>            
		<%= content_tag :td, sanitize(@schedule.concept), :class => get_the_action %>
    </tr>

    <% if @schedule.game_played? %>

      <tr>
        <%= content_tag :td, label_name(:group), :class => "label" %>

		<td class="<%= get_the_action%>">
          <%= item_name_link(@schedule.group) %>
          &nbsp;&nbsp;
          <%= @schedule.home_score %>&nbsp;&nbsp;-&nbsp;&nbsp;<%= @schedule.away_score %>
          &nbsp;&nbsp;
          <%= link_to h(@schedule.group.second_team), group_path(@schedule.group) %>
		</td>
      </tr>

		<% if show_individual_score %>	
			<tr>
				<%= content_tag :td, link_to(h(@schedule.home_group), @schedule.home_group), :class => "label" %>		
				<td class="<%= get_the_action%>"><%= @the_home_score %></td>		
			</tr>
			<tr>
				<%= content_tag :td, link_to(h(@schedule.away_group), @schedule.home_group), :class => "label" %>
				<td class="<%= get_the_action%>"><%= @the_away_score %></td>		
			</tr>
		<% end %>
		
		<%= tr_td_action(:game_notes, @schedule.matches.first.description) %>
	
    <% else %>

      <tr>
        <%= content_tag :td, label_name(:home_group), :class => "label" %>            
		<%= content_tag :td, item_name_link(@schedule.group), :class => get_the_action %>
      </tr>

    <% end %>

	
	
	<%= tr_td_action(:jornada, @schedule.jornada) %>
	<%= tr_td_action(:starts_at, nice_day_of_week(@schedule.starts_at)) %>
	<%= tr_td_action(:ends_at, nice_day_of_week(@schedule.ends_at)) %>
	<%= tr_td_action(:reminder_at, nice_day_of_week(@schedule.reminder_at)) unless @schedule.game_played? %>
		
	<tr>
		<%= content_tag :td,"#{label_name(:schedule_rate)}", :class => "label" %>		
		<%= content_tag :td, ratings_for(@schedule, :show_user_rating => true, :dimension => :performance, :small => true) %>
	</tr>	

	<tr>
		<%= content_tag :td,"#{label_name(:schedule_rate_average)}", :class => "label" %>
		<%= content_tag :td, ratings_for( @schedule, :static, :dimension => :performance, :small => true) %>
	</tr>
	
	<%= tr_td_action(:season, @schedule.season) %>
	<%= tr_td_action(:sport, @schedule.sport.name) %>
	<%= tr_td_action(:fee_per_game, number_to_currency(@schedule.fee_per_game)) %>
	<%= tr_td_action(:fee_per_pista, number_to_currency(@schedule.fee_per_pista)) %>
	<%= tr_td_action(:time_zone, @schedule.time_zone) %>
	
    <tr>
      <%= content_tag :td, label_name(:marker), :class => "label" %>       
      <%= content_tag :td, marker_link(@schedule.group.marker), :class => get_the_action %>
    </tr>


	<% unless @schedule.convocados.empty? %>
	<tr>
		<%= content_tag :td, "#{label_name(:convocados)}   (#{@schedule.convocados.count})", :class => "label" %>
		<%= content_tag :td, user_list(@schedule.convocados), :class => get_the_action %>
	</tr>
	<% end %>

	<% unless @schedule.last_minute.empty? %>
	<tr>
		<%= content_tag :td, "#{label_name(:last_minute)}   (#{@schedule.last_minute.count})", :class => "label" %>
		<%= content_tag :td, user_list(@schedule.last_minute), :class => get_the_action %>
	</tr>
	<% end %>
	<% unless @schedule.no_shows.empty? %>
	<tr>
		<%= content_tag :td, "#{label_name(:no_shows)}   (#{@schedule.no_shows.count})", :class => "label" %>
		<%= content_tag :td, item_list(@schedule.no_shows), :class => get_the_action %>
	</tr>
	<% end %>
	
	<% unless @schedule.no_jugado.empty? %>
	<tr>
		<%= content_tag :td, "#{label_name(:no_jugado)}   (#{@schedule.no_jugado.count})", :class => "label" %>
		<%= content_tag :td, item_list(@schedule.no_jugado), :class => get_the_action %>
	</tr>
	<% end %>

	<% 
		unless  @schedule.played? 
			
		the_label = h(label_name(@schedule.reminder, 'value'))
		the_confirmation = label_with_name('reminder', "- #{sanitize(@schedule.concept)}?") 
	%>
	<tr>
		<%= content_tag :td, label_name(:reminder), :class => "label" %>
		<%= content_tag :td, (is_user_manager ? link_to(the_label, set_reminder_path(:id => @schedule.id), 
								:confirm => the_confirmation) : the_label), 
								:class => get_the_action %>
	</tr>
		
	<% 
		the_label = h(label_name(@schedule.public, 'value'))
		the_confirmation = label_with_name('public', "- #{sanitize(@schedule.concept)}?") 
	%>
	<tr>
		<%= content_tag :td, label_name(:public), :class => "label" %>
		<%= content_tag :td, (is_user_manager ? link_to(the_label, set_public_path(:id => @schedule.id), 
								:confirm => the_confirmation) : the_label), 
								:class => get_the_action %>
	</tr>
	
	<%= tr_td_action(:player_limit, @schedule.player_limit) %>
	
	<% end %>
	
</table>

</td>
</tr>

</table>
<!-- new table -->

</div>

</div>
</div>

<% content_for :sidebar, render(:partial => '/shared/latest_payment') -%>
<% content_for :sidebar, render(:partial => '/schedules/sidebar_show') if @schedule -%>
<% content_for :sidebar, render(:partial => 'shared/share_object', :locals => {:schedule => @schedule}) if @schedule -%>