
<% 
	the_label = "#{control_action_label("#{@has_a_roster}")} #{label_name(:in)} #{sanitize(@schedule.concept)}"
	content_for(:title, sanitize(@schedule.concept))
	
	has_been_played = @schedule.played? 
	is_manager = current_user.is_manager_of?(@schedule.group)
	is_squad = get_the_action.gsub(' ','_') == 'team_roster'
	
	the_sport = ""
    the_missing = ""
    
    unless @schedule.played?
      the_sport = "#{label_name(:rosters)}:  #{@schedule.convocados.count}"
      the_missing = ", #{I18n.t(:missing)}:  #{@schedule.player_limit.to_i - @schedule.convocados.count}" if @schedule.player_limit.to_i > @schedule.convocados.count
      the_missing = ", #{I18n.t(:excess)}:  #{@schedule.convocados.count - @schedule.player_limit.to_i}" if @schedule.player_limit.to_i < @schedule.convocados.count
    end
    
	the_span = "#{the_sport} #{the_missing}"
	
	the_start_at_label = "#{nice_day_of_week(@schedule.starts_at)}<br/>#{the_span}"
	the_start_at_label = "#{the_start_at_label}#{get_cluetip(label_name(:schedule_excess_player), 'info', 
							label_name('schedule_excess_player_cluetip'), true)}" if (@the_roster.count > @schedule.player_limit and is_squad)
%>

<div class="block">
  	
    <%= render "shared/previous_next_message", :schedule => @schedule, :the_previous => @the_previous, :the_next => @the_next -%>
	<%= show_heading(the_label) %> 
	
	<div class="inner">
		
		<div class="columns"> 
				<table class="table">
				<tr>
					<%= content_tag :td, the_start_at_label, :class =>"first_left" %>
					<%= content_tag :td, match_all_my_link(@schedule, current_user, false), :class =>"last_left" %>
				</tr>
				</table>
		</div>
<% 
	if @has_a_roster
%>
		<%= render :partial => '/schedules/team_roster_box', 
					:locals => {:previous_show => @previous, :next_show => @next,  
								:schedule => @schedule, :the_roster => @the_roster, :match_type => @match_type} %>
<% 
	end 
%>
		</div>
	</div>
</div>

<% content_for :sidebar, render(:partial => '/shared/latest_payment') -%>

<% if @schedule -%>
	<% content_for(:sidebar, render("schedules/sidebar_details", :schedule => @schedule)) -%>
	<% content_for :sidebar, render(:partial => 'shared/sidebar_geo_group', :locals => {:group => @schedule.group}) if @schedule.group -%>	
	<% content_for(:sidebar, render("schedules/sidebar_show", :schedule => @schedule)) -%>
	<%# content_for(:sidebar, render('schedules/sidebar_level', :schedule => @schedule )) if is_manager -%>
	<% content_for(:sidebar, render("shared/share_object", :schedule => @schedule)) -%>
<% end %>




















