<% 
	has_group, the_cup, the_challenge, the_schedule, the_group, the_users, the_user, the_petition, the_home, the_login, the_signup, the_venue, the_message, the_controller_action , the_controller = get_header_navigation

	the_signup_link = "#{label_name(:password_service)} #{link_to(label_name(:signup), signup_path, :class => the_signup)}"
	the_signup_link = "#{the_signup_link} #{label_name(:or)} #{link_to(label_name(:log_in), login_path, :class => the_login)} #{label_name(:password_with)}"
	
	rpx_now_visible = ['home_index','user_signup' ]
	browser_id_visible = ['user_session_new']
	
	height_value = is_controller_action('user_signup') ? 360 : 300
%>

<br>

<div class="row">

	<div class="six columns">

		<% if rpx_now_visible.include?(get_controller_action) %>			
		<%= render 'utilities/rpx_now' %>			
		<% end %>


		<% if browser_id_visible.include?(get_controller_action) %>		
		<%#= render 'utilities/omniauth' %>
		<%= render 'utilities/browser_id' %>			
		<% end %>

	</div>
	
	<% if is_mobile_browser %>
		<br>
		<hr/>
		<br>
		
	<% else %>
	
	<% %>
	<div class="one columns">
		<div class="row">
			<div class="twelve columns">
				<div style="width:1px;height:<%= height_value %>px;background-color:lightgray;float:left;"></div>
			</div>
		</div>
	</div>
	
	<% end %>
	

	<div class="five columns">
		<%= render 'users/login_zurb' %>
	</div>

</div>



<br>
<hr/>

<div class="row">
	<div class="twelve columns">
		<%= content_tag :h6, "#{the_signup_link}".html_safe %>		
	</div>
</div>




