<%- 
unless classified.nil? 
	recent ||= false 
	the_label = ago(classified.created_at) 
	the_classified = classified.concept	
	the_classified = "#{classified.concept.strip[0..45]}..." if the_classified.length > 45	
	group = Group.find(classified.table_id)
-%>
	<tr>
		<td class="name_and_date">
			<%= image_link_small(group) %>
			<span class="date"><%= group_link(group) %></span>
		</td>
	</td>

	<td class="name_and_date">
		<span class="date">
			<%= classified_link(classified) %><br />
			<%= "&nbsp;&nbsp;[#{the_label}]" %>				
			<%= classified_image_link(classified)  if current_user.is_manager_of?(group)   %>				
		</span>
	</td>
	</tr>
<%- 
end 
-%>
