<%
	the_controller = get_the_controller
	the_tab_navigation = "#{the_controller}s"
	the_title = nil
	the_label_title = label_name("#{the_controller}s")
	
	is_new_item = (is_action('new') or is_action('create'))
	@new_item = nil	
	
	case the_controller
	when 'announcement'
		@new_item = @announcement if is_new_item
	
	when 'home'
		the_tab_navigation = "#{get_the_controller}"
		
	when 'match'
		the_tab_navigation = "schedules"
		
	when 'fee', 'payment', 'classified'
		the_tab_navigation = "users" if @user
		the_tab_navigation = "groups" if @group
		the_tab_navigation = "challenges" if @challenge
		the_tab_navigation = "venues" if @venue
		
	when 'scorecard'
		the_tab_navigation = "groups"
	
	when 'invitation'
		the_tab_navigation = 'messages'
		@new_item = @invitation if is_new_item
	
	when 'escuadra'
		the_tab_navigation = 'cups'
		the_title = the_controller 
	
	when 'cup'
		the_tab_navigation = 'cups'
		the_title = the_controller
		@new_item = @cup if is_new_item
	
	when 'game'
		the_tab_navigation = 'cups'
		the_title = the_controller
	
	when 'standing'
		the_tab_navigation = 'cups'
		the_title = the_controller
	
	when 'challenge'
		the_tab_navigation = 'challenges'
		@new_item = @challenge if is_new_item 
	
	when 'cast'
		the_tab_navigation = 'challenges'
		
	when 'group'
		the_title = the_controller
		@new_item = @group if is_new_item
		
	when 'schedule'
		@new_item = @schedule if is_new_item
		
	when 'venue'
		@new_item = @venue if is_new_item
		
	when 'installation'
		the_tab_navigation = "venues"
		
	when 'reservation'
			the_tab_navigation = "venues"
		
	when 'message'
		the_tab_navigation = 'messages'
		the_title = the_controller
		is_display_title = false
		@new_item = @message if is_new_item
		
	end	
	
	the_tab_navigation = 'challenges' if get_controller_action == 'standing_show_list'
	the_tab_navigation = 'cups' if get_controller_action == 'cast_list_gues'
	
	password_reset_actions = ['password_reset_new', 'password_reset_edit']
	is_password_reset = password_reset_actions.include?(get_controller_action)
	is_new_user = @user ? true : false
	the_label = label_name(:users_rpx_new) 
	@item = @user
	
	# is_display_title = (!the_title.nil? and is_action('index')  and !is_controller_action('standing_index'))	
%>

<div class="row">

	<div class="twelve columns">		

		<div class="foundation-header">
			
			<% if current_user %>
			
				<%#= render 'shared/notice_zurb', :notice =>  %>
				
			<% elsif is_new_user and !is_password_reset %>

			<%= render 'shared/new_edit_multipart_zurb', :item => @item, :the_label => the_label %>
			
			<% else %>
			
				<br />
			
				<%= content_tag :h3, link_to(app_name, root_url) %>
				<%= content_tag :h6, label_name(:modo), :class => "subheader" %>
				
				<hr />
				<br />
				
				<%= render 'home/details_zurb' unless is_password_reset %>
				<%= render 'password_resets/new_zurb' if is_password_reset %>
				
				<br />
				
			<% end %>
			
		</div>
		
		<% if current_user %>

			<dl class="nice tabs mobile hide-on-phones">	
				
					
				<% if @new_item.nil? %>
				
					<%= render "#{the_tab_navigation}/tab_navigation_zurb" unless the_tab_navigation.nil? %>
					
				<% else %>		
						
					<%= item_new(@new_item) %>
					
				<% end %>
				
			</dl>
			
			<%= set_title_class(the_label_title, the_title) if is_display_title %>
		
		<% end %>

	</div>

</div>





