<%	
	is_new_user, is_password_reset, is_ignore_label_fill, @new_item, the_tab_navigation, the_label_title, is_display_title = get_flash_details
%>

<div class="row">

	<div class="twelve columns">		

		<div class="foundation-header">
			
			
			<%= render 'shared/notice_zurb', :notice => flash %>
				
			<% if current_user %>
				
			<% elsif is_new_user and !is_password_reset %>

				<%= render "shared/header_modo" %>
				<%= render "shared/header_modo" unless is_ignore_label_fill %>					

				<%= render 'shared/new_edit_multipart_zurb', :item => @item %>
			
			<% else %>

				<%= render 'shared/personal_login' %>
				<br>
				
			<% end %>
			
		</div>
		
		<% if current_user %>

			<dl class="nice tabs">
				
				<% if @new_item.nil? %>
					<%= render "#{the_tab_navigation}/tab_navigation_zurb" unless the_tab_navigation.nil? %>	
				<% else %>		
						
					<%= item_new(@new_item) %>
					
				<% end %>
				
			</dl>
			
			<%= set_title_class(the_label_title, the_title) if is_display_title %>
		
		<% end %>

	</div>

</div>


