<div id="footer">
	<div class="block">
		
		<div class="col_wrapper"><div>
		
			<div class="link_wrapper">
				
				<ol class="horizontal_list">
					<%= content_tag 'li', link_to(label_name(:about), about_url) %>
					<%= content_tag 'li', link_to(label_name(:terms_of_use), terms_of_use_url) %>
					<%= content_tag 'li', link_to(label_name(:faq), faq_url) %>
					<%= content_tag 'li', "<a target='_blank' href='http://haypista.tumblr.com' class=''>Blog</a>".html_safe %>
					<%= content_tag 'li', link_to(label_name(:openid), openid_url) %>
					<%= content_tag 'li', mail_to(CONTACT_RECIPIENT, label_name(:contact)) %>
					
					<%#= content_tag 'li', link_to(label_name(:classifieds), root_url) %>
					<%#= content_tag 'li', link_to(label_name(:success_story), root_url) %>

					<li>
						<a href="http://facebook.com/haypista" target="_top">
							<%= image_tag('icons/facebook.gif', :alt => label_name(:follow_facebook), :title => label_name(:follow_facebook), 
							 								    :style => "height: 18px; width: 18px;") %></a>
					<li>
					<li>
						<a href="http://twitter.com/haypista" target="_top">
							<%= image_tag('icons/twitter.png', :alt => label_name(:follow_twitter), :title => label_name(:follow_twitter), 
							 								    :style => "height: 18px; width: 18px;") %></a>
					<li>
					<li>
						<a href="http://www.linkedin.com/profile/view?id=65914336" target="_top">
							<%= image_tag('icons/linkedin.png', :alt => label_name(:follow_linkedin), :title => label_name(:follow_linkedin), 
							 								    :style => "height: 18px; width: 18px;") %></a>
					<li>
					<br/>
					<br/>
				</ol>
				<br/>
				<ol class="horizontal_list">
					<li>
					<%= "#{label_name(:language)}:  " %>
					<%= render :partial => '/shared/language' %>
					</li>
				</ol>
			</div>
				
			<br/>
			<br/>
			<div class="col_wrapper"><p><%= app_name %> &copy; 2011.</p></div>
			
			<br/>			
			<%= render :partial => 'utilities/browser_detect' if development? %>
			
		</div>
	</div>

</div>
</div>