<div id="footer">

  <div class="block">
	
	<p><%= app_name %>&nbsp;&copy;&nbsp;<%= year_range(2007) %>.&nbsp;&nbsp;<%= link_to_email(label_name(:contact)) %></p>
	
  </div>    
  
</div>

<%= javascript_include_tag "ie_no_more.js" %>
<%= smack_down_ie6 %>
<% show_if_ie6 do %>
# Specific ie code

<a href="http://es-es.www.mozilla.com/">
	<img border="0" alt="Firefox" title="Firefox" src="http://sfx-images.mozilla.org/affiliates/Buttons/110x32/get.gif" />
</a>

<% end %>

