<!-- Das Footer -->

<%= render 'shared/facebook_script_zurb' %>

<footer class="row">

	<section class="three columns">
		<h6><%= "#{label_name(:about)} #{app_name}" %></h6>
		<p>		
			<%= link_to(label_name(:about), about_url) %><br/>
			<%= link_to(label_name(:terms_of_use), terms_of_use_url) %>
		</p>
	</section>

	<section class="three columns">
		<h6><%= label_name(:faq) %></h6>
		<p>	
			<%= "<a target='_blank' href='http://haypista.tumblr.com' class=''>Blog</a>".html_safe %><br/>
			<%= link_to(label_name(:faq), faq_url) %><br/>
			<%#= link_to(label_name(:openid), openid_url) %>
			<%= "#{label_name(:language)}:  #{render :partial => '/shared/language_zurb'}".html_safe %>
		</p>
	</section>
	
	<section class="four columns">
		<h6><%= "#{label_name(:about)} #{app_name}" %></h6>
		<p>
			<%= label_name(:need_quick_help) %><br/>
			<%= "#{mail_to(CONTACT_RECIPIENT, label_name(:contact_us))}".html_safe %>
		</p>

		<ul class="block-grid three-up">
			<li>
				<!-- Place this tag where you want the +1 button to render -->
				<g:plusone size="medium"></g:plusone>
				<!-- Place this render call where appropriate -->
				<script>
				(function() {
					var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
					po.src = 'https://apis.google.com/js/plusone.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
					})();
					</script>
				</li>
				<li>
					<iframe allowtransparency="true" frameborder="0" scrolling="no"
					src="http://platform.twitter.com/widgets/follow_button.html?screen_name=haypista"
					style="width:80px; height:20px;">
					</iframe>
				</li>
				<li>
					<div class="fb-like" data-href="HayPista.com" data-send="false" 
						data-layout="button_count" data-width="450" data-show-faces="false" data-action="recommend" data-font="lucida grande">
					</div>
				</li>
			</div>
		</section>		

		<div class="row">
			<div class="three columns centered">
				<h6><strong><%= app_name %> &copy; 2011.</strong></h6>
			</div>
		</div>
		
		<br/>	

		<div class="row ">
			<div class="three columns centered">
				<%#= render 'utilities/browser_detect_zurb' %>
			</div>
		</div>		
		
		
	</footer>

	<!-- /Das Footer -->