<!-- Das Footer -->

<%
	is_media = Rails.env.production?
%>

<%= render 'utilities/facebook_script_zurb' if is_media %>
<%= render 'utilities/google_plus_script_zurb' if is_media %>

<footer class="row">
	
	
	<% if is_mobile_browser %>

		<section class="three columns">
			<h5><%= label_name(:language) %></h4>
			<p>	
				<%= "#{render :partial => '/shared/language_zurb'}".html_safe %>
			</p>
		</section>


		<section class="nine columns">
			<h5><%= "#{label_name(:need_quick_help)}".html_safe %></h4>
			<p><%= "#{mail_to(CONTACT_RECIPIENT, label_name(:contact_us))}".html_safe %></p>

		</section>		

		<section class="twelve columns">
			<div class="three columns centered">
				<h4><strong><%= app_name %> &copy; <%= Time.zone.now.year %>.</strong></h4>
			</div>
		</div>
	

	<% else %>
	
	<section class="two columns">
		<h6><%= "#{label_name(:about)} #{app_name}" %></h6>
		<p>		
			<%= link_to(label_name(:about), about_url) %><br/>
			<%= link_to(label_name(:terms_of_use), terms_of_use_url) %>
		</p>
	</section>

	<section class="two columns">
		<h6><%= label_name(:faq) %></h6>
		<p>	
			<%= "<a target='_blank' href='http://haypista.tumblr.com' class=''>Blog</a>".html_safe %><br/>
			<%= link_to(label_name(:faq), faq_url) %><br/>
		</p>
	</section>

	<section class="two columns">
		<h6><%= label_name(:language) %></h6>
		<p>	
			<%= "#{render :partial => '/shared/language_zurb'}".html_safe %>
		</p>
	</section>
	
	<section class="four columns">
		<h6><%= "#{label_name(:need_quick_help)}".html_safe %></h6>
		<h6><%= "#{mail_to(CONTACT_RECIPIENT, label_name(:contact_us))}".html_safe %></h6>


		<% if is_media %>

		<ul class="block-grid three-up">
			
		<li>
			<div class="fb-like" data-href="HayPista.com" data-send="false" 
			data-layout="button_count" data-width="450" data-show-faces="false" 
			data-action="recommend" data-font="lucida grande">
			</div>
		</li>
		

		<li>
			<iframe allowtransparency="true" frameborder="0" scrolling="no"
			src="http://platform.twitter.com/widgets/follow_button.html?screen_name=haypista"
			style="width:80px; height:20px;">
			</iframe>
		</li>

		<li>
			<g:plusone size="medium"></g:plusone>
		</li>
			
		</ul>

		<% end %>
			
		</section>		

		<div class="row">
			<div class="three columns centered">
				<h6><strong><%= app_name %> &copy; <%= Time.zone.now.year %>.</strong></h6>
			</div>
		</div>
		
		<br/>	


		<% if Rails.env.development? %>
		<hr/>
		<div class="row ">
			<div class="three columns centered">
				<%= render 'utilities/browser_detect_zurb' %>
			</div>
		</div>		
		<% end %>
	
	<% end %>
		
</footer>
<!-- /Das Footer -->