<!-- Das Footer -->

<%
	is_media = Rails.env.production? ? (!is_mobile_browser) : (false)
	is_media = false
%>

<%= render 'utilities/facebook_script_zurb' if is_media %>
<%= render 'utilities/google_plus_script_zurb' if is_media %>

<footer class="row">
	
	
	<% if is_mobile_browser %>

		<section class="three columns">
			<h5><%= label_name(:language) %></h4>
			<p>	
				<%= "#{render :partial => '/shared/language_zurb'}".html_safe %>
			</p>
		</section>


		<section class="nine columns">
			<h5><%= "#{label_name(:need_quick_help)}".html_safe %></h4>
			<p><%= "#{mail_to(CONTACT_RECIPIENT, label_name(:contact_us))}".html_safe %></p>

		</section>		

		<section class="twelve columns">
			<div class="three columns centered">
				<h4><strong><%= app_name %> &copy; <%= Time.zone.now.year %>.</strong></h4>
			</div>
		</div>
	

	<% else %>
	
	<section class="two columns">
		<h6><%= "#{label_name(:about)} #{app_name}" %></h6>
		<p>		
			<%= link_to(label_name(:about), about_url) %><br/>
			<%= link_to(label_name(:howitworks), how_it_works_url) %><br/>
			<%= link_to(label_name(:terms_of_use), terms_of_use_url) %>
		</p>
		
		<%# if is_media %>		
			<br>
			<%= render 'utilities/twitter_script_zurb' %>
		<%# end %>
			
	</section>

	<section class="three columns">
		<h6><%= label_name(:faq) %></h6>
		<p>	
			<%= "<a target='_blank' href='http://haypista.tumblr.com' class=''>Blog</a>".html_safe %><br/>
			<%= link_to(label_name(:faq), faq_url) %><br/>
			<%= link_to(label_name(:persona_services), persona_url) %><br/>
		</p>
		
		<% if is_media %>	
			<div class="fb-like" data-href="HayPista.com" data-send="false" 
			data-layout="button_count" data-width="450" data-show-faces="false" 
			data-action="recommend" data-font="lucida grande">
			</div>
		<% end %>
		

		
		
	</section>

	<section class="two columns">
		<h6><%= label_name(:language) %></h6>
		<p>	
			<%= "#{render :partial => '/shared/language_zurb'}".html_safe %>
		</p>

		<% if is_media %>		
			<br>
			<g:plusone size="medium"></g:plusone>
		<% end %>
	
		
	</section>
	
	<section class="five columns">
		<h6><%= "#{label_name(:need_quick_help)}".html_safe %></h6>
		<h6><%= "#{mail_to(CONTACT_RECIPIENT, label_name(:contact_us))}".html_safe %></h6>
		
		<p></p>

		<% if is_media %>
			<br>	
			<br>
			<%= render 'utilities/linkedin_script_zurb' %>
		<% end %>
			
		</section>		

		<div class="row">
			<div class="three columns centered">
				
				<br>
				<br>
				
				<h6><strong><%= app_name %> &copy; <%= Time.zone.now.year %>.</strong></h6>
				
			</div>
		</div>
		
		<br/>	


		<% if Rails.env.development? %>
		<hr/>
		<div class="row ">
			<div class="three columns centered">
				<%= render 'utilities/browser_detect_zurb' %>
			</div>
		</div>		
		<% end %>
	
	<% end %>
		
</footer>
<!-- /Das Footer -->