<div id="footer">
	<div class="block">
		<div class="col_wrapper"><div>
			<div class="link_wrapper">
				<ol class="horizontal_list">
					<li><%= link_to label_name(:about_us), about_us_url %></li>
					<li><%= link_to label_name(:terms_of_use), terms_of_use_url %></li>
					<li><%= link_to label_name(:faq), faq_url %></li>
					<li><%= mail_to CONTACT_RECIPIENT, label_name(:contact) %></li>
					<li><a href="http://twitter.com/haypista" target="_top"><label_name(:follow_twitter)><%= label_name(:follow_twitter) %></a></li>
					<li><a href="http://twitter.com/haypista" target="_top">
						<%= image_tag('twitter.png', :alt => label_name(:follow_twitter), :title => label_name(:follow_twitter)) %>
					</a>
				</li>
			</ol>
		</div>
		<br>
		<br>
		<br>
		<p><%= app_name %>&nbsp;&copy;&nbsp;<%#= year_range(2007) %>2010.</p>
	</div>
</div>

</div>
</div>