<% 
	has_group ||= false

	if current_user 
		has_group = current_user.has_group? 
	end

	the_cup = ""
	the_challenge = ""
	the_schedule = ""
	the_group = ""
	the_users = ""
	the_user = ""
	the_petition = ""
	the_home = ""
	the_login = ""
	the_signup = ""
	the_venue = ""
	the_controller_action = ['user_list', 'user_index']
	the_controller = get_the_controller

	case the_controller
	when 'home'
		the_home = "active"
		
	when 'cup', 'game', 'escuadra'
		the_cup = "active"

	when 'group', 'classified'
		the_group = "active"

	when 'user'
		the_users = "active" if the_controller_action.include?(get_controller_action)
		the_user = "active" unless the_controller_action.include?(get_controller_action)
		if get_controller_action == 'user_petition'
			the_petition = "active" 
			the_user = ""
		end 
		
		the_signup = "active" if is_action('signup')
	
	when 'user session'
		the_login = "active" 
			
	when 'schedule', 'forum', 'match'
		the_schedule = (get_controller_action == "schedule_my_list")
		the_schedule = the_schedule ? (@user == current_user) : true
		the_schedule = the_schedule ? "active" : " "
		the_user = "active" if the_controller_action.include?(get_controller_action)
		if get_controller_action == 'schedule_schedule_list'
			the_group = "active" 
			the_schedule = ""
		end
		
	when 'challenge', 'cast'
		the_cup = "active" if is_action('list gues')
		the_challenge = "active" unless is_action('list gues')

	when 'standing'
		the_cup = "active" unless is_action('show list')
		the_challenge = "active" if is_action('show list')

	when 'blog'
		if @user
			the_user = "active"
		elsif @group
			the_group = "active"
		else @challenge
			the_challenge = "active" 
		end

	when 'fee', 'payment'
		if @item and @item.class.to_s == 'Challenge' 
			the_challenge = "active" 
		elsif @user
			the_user = "active"
		elsif @group
			the_group = "active"
		end
	
	when 'message', 'invitation'
		the_message = "active"
	
	when 'venue', "installation", "reservation"
		the_venue = "active"	
	end
%>


<div id="header" class="header">

	<ul>

		<%= link_to("", root_url, :class => "logo") %>

		<%= content_tag 'li', link_to(label_name(:home), root_url, :class => the_home) %>

		<% if current_user %>		

			<%= content_tag('li', user_link(label_name(:profile), current_user, :class => the_user)) %>
			<%= content_tag('li', link_to(label_name(:messages), messages_url, :class => the_message)) %>
			<%= content_tag 'li', link_to(label_name(:groups), groups_url, :class => the_group) %>		
			<%= content_tag 'li', link_to(label_name(:schedules), schedules_url, :class => the_schedule) if has_group %>
			<%= content_tag 'li', link_to(label_name(:venues), venues_url, :class => the_venue) %>
			<%= content_tag 'li', link_to(label_name(:cups), cups_url, :class => the_cup)  if Cup.has_official_cup? or current_user.is_maximo?  %>	
			<%= content_tag 'li', link_to(label_name(:challenges), challenges_url, :class => the_challenge) if Cup.has_official_cup? %>
			<%= content_tag 'li', link_to(label_name(:scorecards), scorecards_url, :class => get_control_active('scorecard')) %>	
			<%= content_tag 'li', link_to(label_name(:markers), markers_url, :class => get_control_active('marker')) %>
			<%= content_tag 'li', link_to(label_name(:announcements), announcements_url, :class => get_control_active('announcement')) if current_user.is_maximo? %>

			<li class="search">	
				<% form_tag search_path, :method => 'get' do %>
				<%= text_field_tag :search, h(params[:search]), :id => 'location_search_text_input', :value => "" %>
				<%= submit_tag "", :id => "searchButton" %>
				<% end -%>
			</li>

			<% if DISPLAY_USER_PETITION %>
				<%= content_tag('li', (link_to label_name(:petitions), petition_path(current_user), 
						:class => the_petition)) if current_user.has_pending_petition?(current_user) %>
			<% end -%>
			
			<%= content_tag('li', link_to(label_name(:logout), logout_path)) %>		

		<% else %>
			<%= content_tag('li', link_to(label_name(:login), login_path, :class => the_login)) %>
			<%= content_tag('li', link_to(label_name(:signup), signup_path, :class => the_signup)) %>
		<% end -%>
		
	</ul>

</div>
