<% 
	has_group, the_cup, the_challenge, the_schedule, the_group, the_users, the_user, the_petition, the_home, the_login, the_signup, 
	the_venue, the_message, the_controller_action , the_controller = get_header_navigation
	
	is_cup_visible = !is_mobile_browser
	is_cup_visible = Rails.env.development? ? false : is_cup_visible
	is_cup_visible = DISPLAY_FREMIUM_SERVICES and !is_mobile_browser
	is_venue_visible = DISPLAY_PROFESSIONAL_SERVICES and !is_mobile_browser
	is_company_visible =  true
	is_customer_visible =  Rails.env.development?
	
	# mobile options
	div_row = "<div class='row'>".html_safe
	div_three_columns = "<div class='three columns'>".html_safe
	div_nine_columns = "<div class='nine columns'>".html_safe
	div_twelve_columns = "<div class='twelve columns'>".html_safe
	div_close = "</div>".html_safe
%>


<div id="zurBar">

	<div class="row">

		<%= is_mobile_browser ? div_twelve_columns : div_three_columns %>
			<%= link_to(image_tag('haypista_logo.png', options={:style => 'height: 45px; width: 155px;', :align => 'left'}), root_url) unless is_mobile_browser %>
			<%= link_to(image_tag('haypista_logo_green.png', options={:style => 'height: 45px; width: 155px;', :align => 'left'}), root_url) if is_mobile_browser %>		
		<%= div_close %>


		<%= div_row if is_mobile_browser %>

		<%= is_mobile_browser ? div_twelve_columns : div_nine_columns %>

		<strong class="right">

			<% if current_user %>

				<%= link_to(label_name(:home), root_url, :class => the_home) %>
				<%= link_to(label_name(:groups), groups_url, :class => the_group) %>	
				<%= link_to(label_name(:schedules), schedules_url, :class => the_schedule) if has_group %>
				<%= link_to(label_name(:reservations), venues_url, :class => the_venue) if is_venue_visible %>	
				<%= link_to(label_name(:cups), cups_url, :class => the_cup) if is_cup_visible %>
				<%= link_to("#{label_name(:companies)}", companies_url) if is_company_visible %>
				<%= link_to(label_name(:messages), messages_url, :class => the_message) if has_group %>
				<%= user_link(current_user.name, current_user, :class => the_user) %>
				<%= link_to(label_name(:logout), logout_path) %>		

			<% else %>	
				<%= link_to(get_propercase("#{label_name(:for)} #{label_name(:companies)}"), for_websites_path, :class => the_login) %>
				<%= link_to(label_name(:howitworks), how_it_works_path, :class => the_login) %>
				<%= link_to(label_name(:login), login_path, :class => the_login) %>
			<% end -%>

		</strong>

		<%= div_close %>

		<%= div_close if is_mobile_browser %>


	</div>

</div>

<br>
<br>


