<% the_controller = get_the_controller %>

<p>
  <b><%= the_controller %>:</b>
  
  <% unless add_url %>
  
	<%= field %>
  
  <% else %>

<%
	case the_controller
		when 'user'
%>
			<%= user_link object %>
<% 		
		when 'group'
%>
			<%= group_link object %>
<% 		
		when 'schedule'
%>
			<%= group_link object %>
<% 		
		when 'marker'
%>
			<%= marker_link object %>			
<%
		else
	end
%>
 
  <% end %>
  
</p>