<% @invitation = Invitation.new %>

<div class="block">
	<div class="sidebar-block" class="extra">

		<%= content_tag 'h5', t(:invitations_import) %><br />
		<%= link_to(image_tag('icons/microsoft.png', options={:style => "height: 30px; width: 90px;"}) ,
		{:controller => 'invitations', :action => 'invite'}, :alt => label_name(:invitations_import)) %>
		<%= link_to(image_tag('icons/google.png', options={:style => "height: 30px; width: 90px;"}) ,
		{:controller => 'invitations', :action => 'invite'}, :alt => label_name(:invitations_import)) %>
		<%= link_to(image_tag('icons/yahoo.png', options={:style => "height: 30px; width: 90px;"}) , 
		{:controller => 'invitations', :action => 'invite'}, :alt => label_name(:invitations_import)) %>

		<%= link_to(label_name(:more) , {:controller => 'invitations', :action => 'invite'}, :class => "see-more") %>


	</div>
</div>
