<li><%= link_to label_name(:en), language_url(:id => "en") %></li>
<li><%= link_to label_name(:es), language_url(:id => "es") %></li>
<li><%= link_to label_name(:fr), language_url(:id => "fr") %></li>
<li><%= link_to label_name(:ge), language_url(:id => "ge") %></li>
<li><%= link_to label_name(:it), language_url(:id => "it") %></li>
