<% display ||= true %>
<%# display = current_user.has_group?%>

<div id="main-navigation">

<ul>
	<% if current_user %>
	<%= list_link_with_active(label_name(:home), '/') %>
	<%= list_link_with_active(label_name(:users), users_url) %>	
	<%= list_link_with_active(label_name(:groups), groups_url) %>	
	<%= list_link_with_active(label_name(:schedules), schedules_url) %>
	<%= list_link_with_active(label_name(:practices), practices_url) %>
	<%= list_link_with_active(label_name(:fees), fees_url) %>
	<%= list_link_with_active(label_name(:payments), payments_url) %>
	<%= list_link_with_active(label_name(:messages), messages_url) %>
	<%= list_link_with_active(label_name(:scorecards), scorecards_url) %>
	<%= list_link_with_active(label_name(:markers), markers_url) %>
	<% end %>
</ul>

<div class="clear"></div>

</div>