<% 
has_group ||= false
has_tournament ||= false

if current_user 
	has_group = current_user.has_group? 
	has_tournament = current_user.has_tournament?	
end
%>

<div id="main-navigation">
<ul>		
	<%= "<li />" unless current_user %>
	
	<% if current_user %>
		
		<%= content_tag 'li', link_to(label_name(:home) , '/'), :class => get_control_first('home') %>
		<%= content_tag 'li', link_to(label_name(:tournaments), tournaments_url), :class => get_control_active('tournament') if development? %>
		
		<%= content_tag 'li', link_to(label_name(:users), users_url), :class => get_control_active('user') %>
		<%= content_tag 'li', link_to(label_name(:groups), groups_url), :class => get_control_active('group') %>
		
		<%= content_tag 'li', link_to(label_name(:schedules), schedules_url), :class =>"#{get_control_active('schedule')} #{get_control_active('topic')}" if has_group %>

		<%= content_tag 'li', link_to(label_name(:messages), messages_url), :class => get_control_active('message') %>
		<%= content_tag 'li', link_to(label_name(:scorecards), scorecards_url), :class => get_control_active('scorecard') %>
		
		<%= content_tag 'li', link_to(label_name(:standings), standings_url), :class => get_control_active('standing') if development? and has_tournament %>
		
		<%= content_tag 'li', link_to(label_name(:markers), markers_url), :class => get_control_active('marker') %>
	
	<% end %>

</ul>

<div class="clear"></div>

</div>