<% 
display ||= true
display = current_user.has_group? if current_user 
the_screen ||= ""
the_screen = "#{get_the_controller}_#{get_the_action}" if development?
%>

<div id="main-navigation">

<ul>		
	<li class="<%= get_control_first('home') %>"><%= link_to(label_name(:home) , '/') %></li>
	
	<% if current_user %>
		<li class="<%= get_control_active('user') %><%#= get_control_active('entry') %>">
					<%= link_to(label_name(:users), users_url) %></li>	
		<li class="<%= get_control_active('group') %><%#= get_control_active('entry') %>">
					<%= link_to(label_name(:groups), groups_url) %></li>
				
		<% if display %>	
			<li class="<%= get_control_active('schedule') %><%= get_control_active('topic') %>">
						<%= link_to(label_name(:schedules), schedules_url) %></li>
			<li class="<%= get_control_active('practice') %><%#= get_control_active('topic') %>">
						<%= link_to(label_name(:practices), practices_url) if development? %></li>
			<li class="<%= get_control_active('fee') %>"><%= link_to(label_name(:fees), fees_url) if development? %></li>
			<li class="<%= get_control_active('payment') %>"><%= link_to(label_name(:payments), payments_url) if development? %></li>
		<% end %>
	
		<li class="<%= get_control_active('message') %>"><%= link_to(label_name(:messages), messages_url) %></li>
		<li class="<%= get_control_active('scorecard') %>"><%= link_to(label_name(:scorecards), scorecards_url) %></li>
		<li class="<%= get_control_active('marker') %>"><%= link_to(label_name(:markers), markers_url) %>
		
		<% if test? %>
			<li class="<%= get_control_active('role') %>"><%= link_to(label_name(:roles), roles_url) %>
			<li class="<%= get_control_active('sport') %>"><%= link_to(label_name(:sports), sports_url) %>
			<li class="<%= get_control_active('type') %>"><%= link_to(label_name(:type), types_url) %>
		<% end %>
		
	<% elsif production? %>
			<li class="<%= get_control_first('features') %>"><%= link_to(label_name(:features) , '/') %></li>
			<li class="<%= get_control_first('features') %>"><%= link_to(label_name(:pricing) , '/') %></li>	
	
	<% end %>
	
	<li class="active"><%= link_to the_screen, '/' %></li>
</ul>

<div class="clear"></div>

</div>