<%
	is_beta_module = ['venue', 'installation', 'reservation']
%>

<% if current_user.id == 9999 %>
	<div class="alert-box"><%= @user_agent %></div>
<% end %>

<% if flash[:notice] %>
	<div class="alert-box"><%= flash[:notice] %></div>
<% end %>


<% if flash[:success] %>
	<div class="alert-box success"><%= flash[:success] %></div>
<% end %>


<% if flash[:warning] %>
	<div class="alert-box warning"><%= flash[:warning] %></div>
<% end %>


<% if flash[:error] %>
	<div class="alert-box error"><%= flash[:error] %></div>
<% end %>


<% if is_beta_module.include?(get_the_controller) %>
	<div class="alert-box"><%= "Módulo en fase de pruebas..." %></div>
<% end %>