<%= get_secondary_navigation(schedule) %>

<div class="content">

<% 
the_action = get_the_action.gsub(" ", "_")

if is_controller("schedule")
	case the_action
	when"show"
%>
		<p><%= content_tag :b, link_to("", schedule_path(the_previous), :class => 'next_message') %></p>
		<p><%= content_tag :b, link_to("", schedule_path(the_next), :class => 'previous_message') %></p>
<% 		
	when "team_roster" 
%>
		<p><%= content_tag :b, link_to("", team_roster_path(:id => the_previous), :class => 'next_message') %></p>
		<p><%= content_tag :b, link_to("", team_roster_path(:id => the_next), :class => 'previous_message') %></p>
<% 		
	when "team_last_minute" 
%>
		<p><%= content_tag :b, link_to("", team_last_minute_path(:id => the_previous), :class => 'next_message') %></p>
		<p><%= content_tag :b, link_to("", team_last_minute_path(:id => the_next), :class => 'previous_message') %></p>
<% 		
	when "team_no_show" 
%>
		<p><%= content_tag :b, link_to("", team_no_show_path(:id => the_previous), :class => 'next_message') %></p>
		<p><%= content_tag :b, link_to("", team_no_show_path(:id => the_next), :class => 'previous_message') %></p>
<% 		
	when "team_unavailable" 
%>
		<p><%= content_tag :b, link_to("", team_unavailable_path(:id => the_previous), :class => 'next_message') %></p>
		<p><%= content_tag :b, link_to("", team_unavailable_path(:id => the_next), :class => 'previous_message') %></p>
<%		
	end
	
elsif is_controller("forum")
%>
		<p><%= content_tag :b, link_to("", forum_path(the_previous.forum), :class => 'next_message') %></p>
		<p><%= content_tag :b, link_to("", forum_path(the_next.forum), :class => 'previous_message') %></p>
<%	
end
%>

<br />
