<div class="secondary-navigation">

<ul>

<%
	case controller.controller_name
	when 'user'
		case controller.action_name
			when 'index'
%>
				<!-- index user navigation -->
				<li class="first active"><%= link_to 'List', users_path %></li>
				<li><%= link_to 'New', new_user_path %></li>
<%
			when 'new' 
%>
				<!-- new user navigation -->
				<li class="first"><%= link_to 'List', users_path  %></li>
				<li class="active"><%= link_to 'New', new_user_path %></li>
<%
			when 'edit'
%>
				<!-- edit user navigation -->
				<li class="first"><%= link_to 'List', users_path  %></li>
				<li><%= link_to 'New', new_user_path %></li>
				<li class="active"><%= link_to 'Edit', edit_user_path %></li>
<%
			when 'show'      
%>
				<!-- show user navigation -->
				<li class="first"><%= link_to 'List', users_path  %></li>
				<li><%= link_to 'New', new_user_path %></li>
				<li class="active"><%= link_to 'Show', user_path %></li>				
<%
			else
		end
%>
<%
	else
	end
%>

</ul>

<div class="clear"></div>

</div>