<% if DISPLAY_SOCIAL_MEDIA %>

<% authorize = UrlShortener::Authorize.new( APP_CONFIG['bit_ly_api']['login'], APP_CONFIG['bit_ly_api']['key']) %>
<% client = UrlShortener::Client.new(authorize) %>

<% 
	the_url = "http://haypista.com"
	the_description = label_name(:modo)
	the_name="HayPista"
	
	case get_the_controller
	when 'schedule', 'home'
		if schedule
			the_url = "http://haypista.com#{team_roster_path(:id => schedule)}"
			the_description = h("#{sanitize(schedule.name)} #{label_name(:for)} #{schedule.group.name} (#{label_name(:rosters).downcase} #{schedule.convocados.count})")	
			the_name = sanitize(schedule.name) 
		end

	when 'group'
		if group
			the_url = "http://haypista.com#{group_path(:id => group)}"
			the_description = sanitize(group.name)
			the_name = sanitize(group.name)
		end
	# else
	# 	the_url = "http://haypista.com"
	# 	the_description = label_name(:modo)
	# 	the_name="HayPista"
	end
	shorten = client.shorten(the_url) 
%>

<div class="row">
	<div class="sidebar-block" class="extra">

	<%= content_tag 'h5', t(:share) %><br />

	<div class="profile" id="mwmInfo">

		<div class="icons">
			<a target="_blank" 
					href="http://twitter.com/home?status=@haypista+<%=the_description.gsub(" ", "+") %>+<%=shorten.urls %>">					
				<%= image_tag('icons/twitter.png', :title => label_name(:share_in_twitter), :style => "height: 32px; width: 32px;", :alt => 'twitter logo') %>
			</a>
			<a target="_blank" 
					href="http://www.linkedin.com/shareArticle?mini=true&url=<%= shorten.urls %>&title=<%= the_name %>&summary=<%= the_name %>&source=http://haypista.com">
					<%= image_tag('icons/linkedin.png', :title => label_name(:share_in_linkedin), :style => "height: 32px; width: 32px;", :alt => 'linkedin logo') %>
			</a>
			<a target="_blank" href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fhaypista.com%2F&t=<%= the_description.gsub(" ", "%20") %>">
					<%= image_tag('icons/facebook.gif', :title => label_name(:share_in_facebook), :style => "height: 32px; width: 32px;", :alt => 'facebook logo') %>
			</a>
			<a target="_blank" href="http://www.tuenti.com/share?url=http%3A%2F%2Fwww.haypista.com">
					<%= image_tag('icons/tuenti.png', :title => label_name(:share_in_tuenti), :style => "height: 32px; width: 32px;", :alt => 'tuenti logo') %>
			</a>
		</div>
	</div>

	</div>
</div>
<% end %>