<% the_random = "#{rand(36**8).to_s(36)}".strip[0..5].downcase %>

<div class="block">
	<div class="sidebar-block" class="extra">

		<a href="#" onclick="toggle_visibility('<%= the_random %>');"><h5><%= the_label %></h5></a>

		<div id='<%= the_random %>' style='display:none;'>		
			<%= render :partial => "#{the_render}" %>				
		</div>
		
	</div>
</div>



<%= set_title_class(the_label) %>
<hr/>

<div class="row">
	<div class="twelve columns">
	
		body
	
	</div>
</div>

<hr/>
<br/>