<div class="block">
	<%= content_tag 'h3', label_name(:upcoming) %>
	<div class="sidebar-block">
		<p>
		
			<table class="table">

			<% 
				upcoming_schedules.each do |schedule| 
				the_sport = "#{label_name(:rosters)}:  #{schedule.convocados.count} / #{schedule.player_limit}"

				# the_missing = ""
				# the_missing = "#{label_name(:missing)}:  #{schedule.player_limit.to_i - schedule.convocados.count}" if schedule.player_limit.to_i > schedule.convocados.count
				# the_missing = "#{label_name(:excess)}:  #{schedule.convocados.count - schedule.player_limit.to_i}" if schedule.player_limit.to_i < schedule.convocados.count

				is_gameday = (schedule.starts_at.to_date == Time.zone.today)
				the_url = team_roster_path(:id => schedule)
			-%>	
			
			<tr>
				<td class="name_and_date">
					<%= (current_user.is_member_of?(schedule.group) or schedule.public) ? schedule_image_link_small(schedule) : schedule_image_small(schedule) %>
					<%= (current_user.is_member_of?(schedule.group) or schedule.public) ? link_to(sanitize(schedule.concept), 
										team_roster_path(:id => schedule)) : sanitize(schedule.concept) %><br/>
					<%= nice_day_time_wo_year_exact(schedule.starts_at) %><br/>
					<%= schedule.group.marker.city.capitalize %><br>
					<%= the_sport %><br/>	
					<%= marker_link(schedule.group.marker) %>
				</td>
			</tr>
				
			<% end -%>

			</table> 

			
		</p>
	</div>
</div>



