<div class="block">
	<%= content_tag 'h3', label_name(:upcoming) %>
	<div class="sidebar-block">
		<p>
		
			<table class="table">

			<% 
				upcoming_schedules.each do |schedule| 
				the_sport = "#{label_name(:rosters)}:  #{schedule.convocados.count} / #{schedule.player_limit}"

				is_gameday = (schedule.starts_at.to_date == Time.zone.today)
				the_url = team_roster_path(:id => schedule)
			-%>	
			
			<tr>
				<td class="name_and_date">
					<%= (is_current_member_of(schedule.group) or schedule.public) ? schedule_image_link_small(schedule) : schedule_image_small(schedule) %>
					<%= (is_current_member_of(schedule.group) or schedule.public) ? link_to(sanitize(schedule.name), 
										team_roster_path(:id => schedule)) : sanitize(schedule.name) %>,&nbsp;
					<%= item_name_link(schedule.group) %><br/>
					<%= nice_day_time_wo_year_exact(schedule.starts_at) %><br/>
					<%= the_sport %><br/>	
					<%= schedule.group.marker.city.capitalize %><br>
					<%= marker_link(schedule.group.marker) %>
				</td>
			</tr>
				
			<% end -%>

			</table> 

			
		</p>
	</div>
</div>



