<% the_label = label_name(:upcoming) %>

<div class="twelve columns">

	<%= set_content_tag(the_label) %>

	<hr></hr>
			
	<% 
		upcoming_schedules.each do |schedule| 
		the_sport = "#{label_name(:rosters)}:  #{schedule.convocados.count} / #{schedule.player_limit}".html_safe

		is_gameday = (schedule.starts_at.to_date == Time.zone.today)
		the_url = team_roster_path(:id => schedule)
		is_member = (current_user.is_member_of?(schedule.group) or schedule.public)
		
		show_member_schedule = is_member ? "#{schedule_image_link_small(schedule)} #{link_to(sanitize(schedule.concept), team_roster_path(:id => schedule))}  -  #{item_name_link(schedule.group)}" : 
										   "#{schedule_image_small(schedule)} #{sanitize(schedule.concept)}  -  #{item_name_link(schedule.group)}"
	-%>	

	<%= set_content_tag_safe(:td, show_member_schedule) %><br/>
	<%= set_content_tag_safe(:td, nice_day_time_wo_year_exact(schedule.starts_at)) %><br/>
	<%= set_content_tag_safe(:td, the_sport) %><br/>
	<%= set_content_tag_safe(:td, " #{marker_link(schedule.group.marker)}, #{schedule.group.marker.city.capitalize}") %><br/>

	<% end -%>
	
</div>



