<% 
	the_venue = h(venue.name)

	the_label = label_with_name('create_installation', venue.name)
	the_confirmation = "#{ label_name(:destroy_venue) } #{the_venue}?" 
%>

<div class="block">
	
	<h3><%= label_name(:options) %></h3>
	
	<div class="content">

		<p><%= option_image_link('installation') %>&nbsp;&nbsp;<%= link_to label_name(:installations_create), new_installation_path(:id => venue) %></p>
		<p><%= option_image_link('venue') %>&nbsp;&nbsp;<%= link_to label_name(:venues_edit), edit_venue_path(venue) %></p>  
		<!-- <p><%#= option_image_link('classified') %>&nbsp;&nbsp;<%#= link_to label_name(:classifieds_create), new_classified_path(:id => venue) %></p>
				<p><%#= option_image_link('fee') %>&nbsp;&nbsp;<%#= link_to "#{label_name(:fee_user_for_venue)} #{the_venue}", new_fee_path(:id => venue) %></p> -->
		<%# unless venue.has_installation? %>
		<!-- <p><%#= option_image_link('venue') %>&nbsp;&nbsp;<%#= link_to(the_confirmation, venue_path(venue), :method => :delete, :confirm => the_confirmation) %></p> -->
		<%# end -%>
	</div>
	
</div>
