<%# content_for :sidebar, render('/shared/upcoming_classified') unless @upcoming_classifieds.blank? -%>

<div class="block">
	<%= content_tag 'h3', label_name(:get_up_and_running) %>
	<div class="sidebar-block">
		<p><%= option_image_link('group') %>&nbsp;&nbsp;<%= option_link('group') %></p>
		<p><%= option_image_link('user_add') %>&nbsp;&nbsp;<%= link_to(label_name(:create_join_group), list_groups_url) %></p>
		<p><%= option_image_link('installation') %>&nbsp;&nbsp;<%#= link_to(label_name(:search_maps), search_map_url) %></p>
		<p><%= option_image_link('invitation') %>&nbsp;&nbsp;<%= option_link('invitation') %></p>
			
		<% if @no_linkedin_profile  and DISPLAY_LINKEDIN %>
			<p><%= option_image_link('linkedin') %>&nbsp;&nbsp;<%= option_link('auth') %></p>
		<% end -%>
		
		<p><%= option_image_link('help') %>&nbsp;&nbsp;<%= mail_to CONTACT_RECIPIENT, label_name(:help) %></p>
		
		<% if DISPLAY_HOWTO %>
		<p><%= option_image_link('classified') %>&nbsp;&nbsp;<%= link_to(label_name(:create_new_classified), groups_url) %></p>
		<p><%= option_image_link('cup') %>&nbsp;&nbsp;<%= option_link('cup') %></p>
		<p><%= option_image_link('challenge') %>&nbsp;&nbsp;<%= link_to(label_name(:create_new_challenge), cups_url) %></p>
		<p><%= option_image_link('challenge_join') %>&nbsp;&nbsp;<%= link_to(label_name(:create_join_challenge), challenges_url) %></p>	
		<p><%= option_image_link('marker') %>&nbsp;&nbsp;<%= option_link('marker') %></p>
		<% end -%>
	</div>
</div>

