<%
 if cup
	the_cup = h(cup.name)
	the_label = label_with_name('create_game', cup.name)
	the_confirmation = "#{ label_name(:cups_destroy) } #{the_cup}" 
	has_escuadras = (object_counter(cup.escuadras) > 0)
	
	final_played ||= false
	the_game = Game.final_game(@cup)
	final_played = the_game.played unless (the_game.nil? or the_game.blank?)
%>
<div class="block">
	
	<h3><%= label_name('options') %></h3>
	
	<div class="content">	
		<% 	unless final_played  %>	
		
		<%  if has_escuadras %>
		<p><%= option_image_link('schedule') %>&nbsp;&nbsp;<%= link_to label_name(:games_create), new_game_path(:id => cup) %></p>
		<% end -%>
		
		<%  if cup.official %>
		<p><%= option_image_link('group_add') %>&nbsp;&nbsp;<%= link_to label_name(:escuadras_create), new_escuadra_path(:id => cup) %></p>
		<% end -%>
		
		<% if current_user.is_manager_of?(cup) %>
		<p>
		<%= option_image_link('cup') %>&nbsp;&nbsp;
		<%= link_to(label_name(:group_stage_set), set_group_stage_url(:id => cup), :title => "#{label_name(:group_stage_set_full) }")  %>
		</p> 
		<% end %>
		
		<% unless cup.has_game? %>
		<p>
		<%= option_image_link('cup') %>&nbsp;&nbsp;<%= link_to(the_confirmation, cup_path(cup), :method => :delete, :confirm => "#{the_confirmation}?") %>
		</p>
		<% end %>
		
		<% end %>
		
		<p><%= option_image_link('cup') %>&nbsp;&nbsp;<%= link_to label_name(:cups_edit), edit_cup_path(cup)  %></p>		
	</div>
	
</div>
<% end %>