<% the_label = label_name(:get_up_and_running) %>

<div class="twelve columns">

	<%= set_content_tag(the_label) %>

	<hr></hr>

	<%= set_image_and_link(option_link('group'), 'group')%>
	<%= set_image_and_link(link_to(label_name(:create_join_group), list_groups_url), 'user_add')%>
	<%#= set_image_and_link(link_to(label_name(:search_maps), search_map_url), 'installation')%>
	<%= set_image_and_link(option_link('invitation'), 'invitation')%>
	
	<% if @no_linkedin_profile  and DISPLAY_FREMIUM_SERVICES %>
	<%= set_image_and_link(option_link('auth'), 'linkedin') if @no_linkedin_profile %>
	<% end %>
	
	<%= set_image_and_link(link_to(label_name(:create_new_classified), groups_url), 'classified') if DISPLAY_FREMIUM_SERVICES %>
	<%= set_image_and_link((mail_to CONTACT_RECIPIENT, label_name(:help)), 'help') 	if DISPLAY_FREMIUM_SERVICES %>

	<% if DISPLAY_FREMIUM_SERVICES %>
	<%= set_image_and_link(option_link('cup'), 'cup') %>
	<%= set_image_and_link(link_to(label_name(:create_new_challenge), cups_url), 'challenge') %>
	<%= set_image_and_link(link_to(label_name(:create_join_challenge), challenges_url), 'challenge_join') %>
	<%= set_image_and_link(option_link('marker'), 'marker') %>
	<% end -%>

	<hr></hr>

</div>