<% 
	the_group = h(group.name)

	the_label = label_with_name('create_schedule', group.name)
	the_confirmation = "#{ label_name(:destroy_group) } #{the_group}?" 
%>

<div class="block">
	
	<h3><%= label_name(:options) %></h3>
	
	<div class="content">

		<p><%= option_image_link('schedule') %>&nbsp;&nbsp;<%= link_to label_name(:schedules_create), new_schedule_path(:id => group) %></p>
		<p><%= option_image_link('classified') %>&nbsp;&nbsp;<%= link_to label_name(:classifieds_create), new_classified_path(:id => group) %></p>
		<p><%= option_image_link('group') %>&nbsp;&nbsp;<%= link_to label_name(:groups_edit), edit_group_path(group) %></p>  
		<p><%= option_image_link('fee') %>&nbsp;&nbsp;<%= link_to "#{label_name(:fee_user_for_group)} #{the_group}", new_fee_path(:id => group) %></p>
		<% unless group.has_schedule? %>
		<p><%= option_image_link('group') %>&nbsp;&nbsp;<%= link_to(the_confirmation, group_path(group), :method => :delete, :confirm => the_confirmation) %></p>
		<% end -%>
	</div>
	
</div>
