<div id="user-navigation">
	
<ul>
	<% if current_user %>	
		<%= content_tag('li', (link_to label_name(:petitions), petition_path(current_user), :class => 'petition')) if current_user.has_pending_petition?(current_user) %>
	<% end -%>
		
		<%= content_tag 'li', link_to(label_name(:home), root_url) %>
	
	<% if current_user %>
	
		<li><%= user_link(label_name(:profile), current_user) %></li>
		<li><%= link_to(label_name(:messages), messages_url) %></li>
		<!-- <li><%#= link_to label_name(:find_people), invitations_url %></li> -->
		<!-- <li><%#= link_to label_name(:settings), root_url %></li> -->
		<!-- <li><%#= link_to label_name(:help), root_url %></li> -->
		<li><%= link_to label_name(:logout), logout_path %></li>	
				
	<% else %>
	
		<!-- <li><%#= link_to label_name(:help), root_url %></li> -->
		<li><%= link_to label_name(:signup), signup_path %></li>
		<li><%= link_to label_name(:login), login_path, :class => "logout" %></li>
		
  <% end -%>
</ul>

<div class="clear"></div>

</div> 