<% 	
	the_column_set, discard_disqus_display, the_sidebar, the_sidebar_label, new_item_sidebar = get_wrapper_details
%>


<div class="row">

	<div class="<%= eight_twelve_columns(the_column_set) %>">
		
		<%= yield %>

		<%= render 'shared/pagination_zurb', :collection => @the_collection if @the_collection %>
		
		<% unless discard_disqus_display.include?(get_controller_action) %>
			<%= render 'utilities/disqus_display', :the_item => @schedule if @schedule %>
			<%= render 'utilities/disqus_display', :the_item => @challenge if @challenge %>
		<% end %>
		
	</div>


<% if current_user %>


	<% if  is_mobile_browser %>
	
		<br>
		<hr/>		
		<br>
	
	<% end %>
	
	<% if is_mobile_browser %>
	<div class="row">
		<div class="one columns"></div>
		<div class="eleven columns">

		<table>
		<tbody>
		<tr>
		<td>

	<% end %>
	
	
	
	  	<div class="four columns">
		<!-- SIDEBAR BEGIN -->
				
			<% unless the_sidebar.nil? %>
		
				<%= set_title_class(the_sidebar_label) %>
				
				<hr/>			
				
				<%= render 'sidebars/sidebar_create_zurb', :item => new_item_sidebar unless new_item_sidebar.nil? %>	
			
				<%= render 'sidebars/sidebar_message' %>
				
				<%= render "#{the_sidebar}/sidebar_zurb" %>	
		
				<hr/>
				<br/>		
		
			<% end %>
		
		<!-- SIDEBAR END -->
	  	</div> 

		<% if is_mobile_browser %>
		</td>
		</tr>
		</tbody>
		</table>
		
		</div>
		</div>
		<% end %>
	

<% end -%>


</div>

