<% 
	about = ['about', 'terms of use', 'privacy policy', 'faq', 'pricing', 'succes','openid']
	login_action = ['signup', 'create', 'new', 'rpx_create', 'rpx_new'] 
	login_controller =['user_sessions', 'users', ''] 
	login_session = (login_controller.include?(controller.controller_name) and login_action.include?(controller.action_name)) 
	logout =  !current_user and is_controller('home') and is_action('index') 
%>


<% if login_session %>
<%= stylesheet_link_tag 'home' %>

	<div id="box">
	  <%= yield %>    
	</div>
	<div id="wrapper">	
		<div class="clear"></div>
	</div>
	
<% elsif about.include?(get_the_action) or logout %>
<%= stylesheet_link_tag 'home' %>
	
	<div id="about">
	<h2>&nbsp;</h2> 
	  <%= yield %>    	
	</div>
	<div id="wrapper">	
		<div class="clear"></div>    
	</div>
	
<% else %>
	<div id="wrapper">	
		<div id="main">
			<%= yield %>		
		</div>	  
		
		<%= render :partial => 'shared/sidebar' %>	
		<div class="clear"></div>	
	</div>
	
<% end %>