	<h2 class="title"><%= get_collection_label(@tournaments) %></h2>

   <div class="inner">

     <table class="table">

       <tr>             
         <th class="first">&nbsp;</th>
         <th><%= label_name(:name) %>&nbsp;/<br />
		  <%= label_name(:gameday_at) %></th>
         <th><%= label_name(:manager) %>&nbsp;/<br />
		  <%= label_name(:sport) %></th>
         <th><%= label_name(:time_zone) %></th>
         <th><%= label_name(:general_information) %></th>
         <th><%= label_name(:created_at) %></th>
         <th class="last">&nbsp;</th>
       </tr>

       <% @tournaments.each do |tournament| -%>

       <tr>  
	  <td>
		<%= tournament_image_link_small tournament %>
	  </td>
	  
	  <td>
		
		<% unless @archive %>
			<%= link_to tournament.name, standing_path(:id => tournament.id) %>
		<% else %>
		<%= link_to tournament.name, show_archive_path(:id => tournament.id) %>
		<% end %>
		
	  </td>
	
	  <td>
		<%= user_list tournament.all_the_managers %><br />
		<%= tournament.sport.name %>
	  </td>

		  <td>
			<%= tournament.time_zone %>
		  </td>
               
         <td>
		<%= I18n.t(:has_tournament_users, :count => object_counter(tournament.users)) %><br />
		<%= I18n.t(:has_tournament_rounds, :count => object_counter(tournament.rounds)) %>
         </td>

         <td>
           <%#= nice_full_date tournament.created_at %>
         </td>

         <td class="last">
		<%= link_to(label_name(:send_message_to_tournament), new_message_path(:tournament_id => tournament.id)) %><br />
         </td>
       </tr>   
      
       <% end -%>

     </table>

	<%= render :partial => 'shared/action_bar', :locals => { :collection => @tournaments } %>
</div>

