<tr align="center">            
	<th class="first" title="<%= I18n.t(:ranking_full) %>"><%= I18n.t(:ranking) %></th>
	<th class="heading" align="left">&nbsp;</th>
	<th class="heading" align="left"><span><%= I18n.t(:name) %></span></th>
	<th class="heading">&nbsp;</th>
	<th class="heading">&nbsp;</th>
	<th class="heading" title="<%= I18n.t(:points_full) %>"><%= I18n.t(:points) %></th>
	<th class="heading" title="<%= I18n.t(:games_won_full) %>"><%= I18n.t(:games_won) %></th>
	<th class="heading" title="<%= I18n.t(:games_tied_full) %>"><%= I18n.t(:games_tied) %></th>
	<th class="heading" title="<%= I18n.t(:games_lost_full) %>"><%= I18n.t(:games_lost) %></th>
	
	<th class="heading" title="<%= I18n.t(:coeficient_full) %>"><%= I18n.t(:coeficient) %></th>
	<th class="heading" title="<%= I18n.t(:games_played_full) %>"><%= I18n.t(:games_played) %></th>
	<th class="heading" title="<%= I18n.t(:games_assigned_full) %>"><%= I18n.t(:games_assigned) %></th>
	<th class="heading" title="<%= I18n.t(:coeficient_full) %>"><%= I18n.t(:coeficient_points) %></th>
	<th class="last" title="<%= I18n.t(:participation_full) %>"><%= I18n.t(:participation) %></th>
</tr>
