       <tr align="center">          
	<th class="first" title="<%= I18n.t(:ranking_full) %>"><%= I18n.t(:ranking) %></th>
	<th align="left"><span><%= I18n.t(:name) %></span></th>
	<th title="<%= I18n.t(:points_full) %>"><%= I18n.t(:points) %></th>
	<th title="<%= I18n.t(:games_won_full) %>"><%= I18n.t(:games_won) %></th>
	<th title="<%= I18n.t(:games_lost_full) %>"><%= I18n.t(:games_lost) %></th>	
	<th title="<%= "#{I18n.t(:field_goal_made_full)}/#{I18n.t(:field_goal_attempt_full)}" %>">	
		<%= I18n.t(:field_goal_made) %>&nbsp;/&nbsp;<%= I18n.t(:field_goal_attempt) %></th>	
	<th title="<%= I18n.t(:field_goal_percentage_full) %>"><%= I18n.t(:field_goal_percentage) %></th>	
	<th title="<%= "#{I18n.t(:three_point_made_full)}/#{I18n.t(:three_point_attempt_full)}" %>">	
		<%= I18n.t(:three_point_made) %>&nbsp;/&nbsp;<%= I18n.t(:three_point_attempt) %></th>
	<th title="<%= I18n.t(:three_point_percentage_full) %>"><%= I18n.t(:three_point_percentage) %></th>
	<th title="<%= "#{I18n.t(:free_throw_made_full)}/#{I18n.t(:free_throw_attempt_full)}" %>">	
		<%= I18n.t(:free_throw_made) %>&nbsp;/&nbsp;<%= I18n.t(:free_throw_attempt) %></th>
	<th title="<%= I18n.t(:free_throw_percentage_full) %>"><%= I18n.t(:free_throw_percentage) %></th>
	<th title="<%= "#{I18n.t(:rebounds_offense_full)}/#{I18n.t(:rebounds_defense_full)}" %>">	
		<%= I18n.t(:rebounds_offense) %>&nbsp;/&nbsp;<%= I18n.t(:rebounds_defense) %></th>
	<th title="<%= I18n.t(:rebounds_full) %>"><%= I18n.t(:rebounds) %></th>
	<th title="<%= I18n.t(:minutes_played_full) %>"><%= I18n.t(:minutes_played) %></th>
	<th title="<%= I18n.t(:assists_full) %>"><%= I18n.t(:assists) %></th>
	<th title="<%= I18n.t(:steals_full) %>"><%= I18n.t(:steals) %></th>
	<th title="<%= I18n.t(:blocks_full) %>"><%= I18n.t(:blocks) %></th>
	<th title="<%= I18n.t(:turnovers_full) %>"><%= I18n.t(:turnovers) %></th>
	<th title="<%= I18n.t(:personal_fouls_full) %>"><%= I18n.t(:personal_fouls) %></th>
	<th title="<%= I18n.t(:assist_turnover_ratio_full) %>"><%= I18n.t(:assist_turnover_ratio) %></th>
	<th title="<%= I18n.t(:games_played_full) %>"><%= I18n.t(:games_played) %></th>
	<th title="<%= I18n.t(:games_started_full) %>"><%= I18n.t(:games_started) %></th>
</tr>

