<%
 	mailer ||= false
	switch ||= false
	escuadra = Escuadra.find(standing.item_id)
	played = standing.wins.to_i + standing.draws.to_i + standing.losses.to_i
%>

<tr>
	<td class="puntos">&nbsp;<%= standing.ranking %></td>
	<td class="equipos"><%= mailer ? "&nbsp;" : image_link_tiny(escuadra) %></td>
	<td class="equipos">
		<span>
		<% if mailer %>
		<%= link_to((escuadra.name.to_s.length > 14) ? "#{escuadra.name.to_s.strip[0..12]}..." : escuadra.name, {:host => 'haypista.com', :controller => 'escuadras', :action => 'show', :id => escuadra}) %>
		<% else %>
		<%= escuadra_link(escuadra) %>
		<% end %>
		</span>
	</td>
	<td class="puntos"><%= standing.points.round %></td>
	<td class="ganados"><%= standing.wins %></td>
	<td class="empatados"><%= standing.draws %></td>
	<td class="perdidos"><%= standing.losses %></td>
	
	<%  if @cup.is_futbol?  %>
	<td class="afavor"><%= standing.goals_for %></td>
	<td class="encontra"><%= standing.goals_against %></td>
	<td class="encontra"><%= standing.goals_for - standing.goals_against %></td>
	<% end %>
	<td class="encontra"><%= played %></td>
</tr>

