<%= stylesheet_link_tag "in_place_styles"  %>
<% inplace_error_div %>
<%
 	mailer ||= false
	switch ||= false
	escuadra = ''
	is_escuadra = (standing.item_type == "Escuadra")
	
	case standing.item_type
	when "Escuadra"
		escuadra = Escuadra.find(standing.item_id)
	when "User"
		escuadra = User.find(standing.item_id)
	else
	end
		
	played = standing.wins.to_i + standing.draws.to_i + standing.losses.to_i
	@stand = standing  
	is_manager = current_user.is_manager_of?(@cup)	
%>

<tr>
	<td class="puntos"><%= standing.ranking %>&nbsp;&nbsp;
		<%= is_manager ? in_place_text_field(:stand, :group_stage_name, {:cols => 1}) : standing.group_stage_name %>
	</td>
	<td class="equipos"><%= mailer ? "&nbsp;" : escuadra_image_link_tiny(escuadra) %></td>
	<td class="equipos">
		<span>
		<% if mailer %>
		<%= link_to((escuadra.name.to_s.length > 14) ? "#{escuadra.name.to_s.strip[0..12]}..." : escuadra.name, {:host => 'haypista.com', :controller => 'escuadras', :action => 'show', :id => escuadra}) %>
		<% else %>
		<%= escuadra_link(escuadra) %>
		<% end %>
		</span>
	</td>
	<td class="puntos"><%= standing.points.round %></td>
	<td class="ganados"><%= standing.wins if is_escuadra %></td>
	<td class="empatados"><%= standing.draws if is_escuadra %></td>
	<td class="perdidos"><%= standing.losses if is_escuadra %></td>
	
	<%  if @cup.is_futbol? and is_escuadra %>
	<td class="afavor"><%= standing.goals_for %></td>
	<td class="encontra"><%= standing.goals_against %></td>
	<td class="encontra"><%= standing.goals_for - standing.goals_against %></td>
	<% end %>
	<td class="encontra"><%= played if is_escuadra %></td>
</tr>

