<%
 	mailer ||= false
	switch ||= false
	max_points = standing.played.to_i * tournament.points_for_win.to_i
	coeficient = 0
	coeficient = 100 *(standing.points.to_f/max_points.to_f) 
%>

<tr>
	<%= content_tag 'td', standing.ranking, :class => "puntos" %>
	<%= content_tag 'td', mailer ? "&nbsp;" : image_link_tiny(standing.user), :class => "equipos" %>
		
	<td class="equipos">
		<span>
		<% if mailer %>
		<%= link_to(standing.user.name, {:host => 'haypista.com', :controller => 'users', :action => 'show', :id => standing.user}) %>
		<% else %>
		<%= user_link(standing.user) %>
		<% end %>
		</span>
	</td>

	<%= content_tag 'td', standing.points.round, :class => "puntos" %>
	<%= content_tag 'td', standing.wins, :class => "ganados" %>
	<%= content_tag 'td', standing.draws, :class => "empatados" %>
	<%= content_tag 'td', standing.losses, :class => "perdidos" %>
	<%= content_tag 'td', standing.played, :class => "last" %>
	
	
	<% 5.times.each do %>
	<%= content_tag 'td', "&nbsp;" %>
	<%= content_tag 'td', "&nbsp;" %>
	<% end %>

</tr>

