<% 	
	standings = false
	@standings.each {|card| standings = true }	
	the_label = @cup.name
	the_label = label_name(:standings)
	content_for(:title, the_label)
	
	the_challenges = ['standing_list', 'standing_show_list']	
	is_challenge_standing = the_challenges.include?("#{get_the_controller}_#{get_the_action}".gsub(' ', '_')) 
%>
<div class="block">

<% if is_challenge_standing  %>
<%= render :partial => '/challenges/secondary_navigation' %>  
<% else %>
<%= render :partial => '/cups/secondary_navigation' %>  
<% end -%>

<%
	if @standings	
%>
<div class="content">   

	<h2 class="title"><%= is_challenge_standing ? challenge_link(@challenge)  : cup_link(@cup) %></h2>

	<div class="inner">

		<table class="table" id="<%= get_the_controller.gsub(' ','_') %>">

			<% if @cup.is_futbol? 
				group_stage = 'Z'
			%>
			
			<% @standings.each do |standing| 				
				unless (group_stage == standing.group_stage_name)
					group_stage = standing.group_stage_name 
			-%>
				<%= render :partial => 'standing_futbol_label', :locals => { :group_stage => group_stage, :is_escuadra => (standing.item_type == "Escuadra")} %>
				<% end %>
			<%= render :partial => 'standing', :locals => {:standing => standing} %>
			<% end %>
			<% end %>
			
			<%  if @cup.is_basket?  %>
			<% @standing_baskets = @standings %>
			<%= render :partial => 'standing_basket_label' %>
			<%= render :partial => 'standing_basket', :collection => @standing_baskets %>       
			<% end %> 
			
			<% unless @cup.is_futbol? or @cup.is_basket? %>
			<% @standing_others = @standings %>
			<%= render :partial => 'standing_other_label' %>
			<%= render :partial => 'standing_other', :collection => @standing_others %>       
			<% end %>
			
		</table>
		
	</div>

	</div>
<% 
end 
-%>

</div>

<% if is_action('show list') %>
<% content_for :sidebar, render(:partial => 'challenges/sidebar_show') -%>

<% else %>
<% content_for :sidebar, render(:partial => 'cups/sidebar_show') -%>
<%# content_for :sidebar, render(:partial => 'shared/invite') -%>

<% end %>

<% content_for :sidebar, render(:partial => 'shared/share_object') -%>

<%  if @cup and current_user.is_manager_of?(@cup) %>

<% content_for :sidebar, render(:partial => 'cups/sidebar_cup_additional', :locals => {:cup => @cup})  -%>
<% content_for :sidebar, render(:partial => 'shared/sidebar_show_cup', :locals => {:cup => @cup})  -%>

<% end -%>


