<% 	
	standings = false
	@standings.each {|card| standings = true }	
	the_label = @cup.name
	the_label = label_name(:standings)
	content_for(:title, the_label)
%>

<div class="row">

   <%= get_secondary_navigation(Challenge.new) %>

<%
	if @standings	
%>
<div class="twelve columns">   

	<h2 class="title"><%= item_name_link(@cup)
 %></h2>

	<div class="inner">

		<%= get_class_table_id_controller %>

			<% if @cup.is_futbol? 
				group_stage = 'Z'
			%>
			
			<% @standings.each do |standing| 				
				unless (group_stage == standing.group_stage_name)
					group_stage = standing.group_stage_name 
			-%>
				<%= render :partial => 'standing_futbol_label', :locals => { :group_stage => group_stage, :is_escuadra => (standing.item_type == "Escuadra")} %>
				<% end %>
				
			<%#= render :partial => 'standing', :locals => {:standing => standing} %>
			<% end %>
			<% end %>
			
			<%  if @cup.is_basket?  %>
			<% @standing_baskets = @standings %>
			<%= render :partial => 'standing_basket_label' %>
			<%= render :partial => 'standing_basket', :collection => @standing_baskets %>       
			<% end %> 
			
			<% unless @cup.is_futbol? or @cup.is_basket? %>
			<% @standing_others = @standings %>
			<%= render :partial => 'standing_other_label' %>
			<%= render :partial => 'standing_other', :collection => @standing_others %>       
			<% end %>
			
		</table>
		
	</div>

	</div>
<% 
end 
-%>

</div>
