<% 
	the_label = "#{label_name(:group_stage_set)} #{label_name(:in)} #{sanitize(@cup.name)}"
%>

<div class="row">

	<%= get_secondary_navigation(@cup) %>

	<div class="twelve columns">   

		<h2 class="title"><%= the_label %></h2>

		<div class="inner">
		
			<table class="table">

			<tr align="left">      
				<%= content_tag :th, label_name(:ranking), :class => "first" %>
				<%= content_tag :th, label_name(:group_stage_name), :class => "heading", :align => "center" %>
				<%= content_tag :th, "&nbsp;", :class => "heading" %>
				<%= content_tag :th, label_name(:name), :class => "heading" %>
				<%= content_tag :th, "&nbsp;", :class => "last", :width => "600" %>
			</tr>
			
      <% form_for @standing, :url => standing_path(@standing), :html => { :class => :form } do |f| -%>
		
		<% @standings.each do |standing| %>
		<%= render "standings/group_stage", :f => f, :standing => standing %>
		<%- end -%>
		
		</table>  
	
		
		<br />
		<br />
		
		<div class="group navform">
			<%= submit_tag @standing.new_record? ? control_label('create') : control_label('edit'), 
					:class => "button" %> <%= label_name(:or) %> <%= link_to label_name(:cancel), standings_path %>
		</div>
		
      <% end -%>

		</div>

	</div>

</div>
