<% 	
	standings = false
	@standings.each {|card| standings = true }	
	the_label = @cup.name
	the_label = label_name(:standings)
	content_for(:title, the_label)
%>

<div class="block">

<%= render :partial => '/cups/secondary_navigation' %>  

<%
	if @standings	
%>
<div class="content">   

	<h2 class="title"><%= cup_link @cup %></h2>

	<div class="inner">

		<table class="table" id="<%= get_the_controller.gsub(' ','_') %>">

			<% if @cup.is_futbol? 
				group_stage = 'Z'
			%>
			
			<% @standings.each do |standing| 				
				unless (group_stage == standing.group_stage_name)
					group_stage = standing.group_stage_name 
			-%>
				<%= render :partial => 'standing_futbol_label', :locals => { :group_stage => group_stage} %>
				<% end %>
			<%= render :partial => 'standing', :locals => {:standing => standing} %>
			<% end %>
			<% end %>
			
			<%  if @cup.is_basket?  %>
			<% @standing_baskets = @standings %>
			<%= render :partial => 'standing_basket_label' %>
			<%= render :partial => 'standing_basket', :collection => @standing_baskets %>       
			<% end %> 
			
			<% unless @cup.is_futbol? or @cup.is_basket? %>
			<% @standing_others = @standings %>
			<%= render :partial => 'standing_other_label' %>
			<%= render :partial => 'standing_other', :collection => @standing_others %>       
			<% end %>
			
		</table>
		
	</div>

	</div>
<% 
end 
-%>

</div>

<%# content_for :sidebar, render(:partial => 'sidebar') -%>
<%# content_for :sidebar, render(:partial => 'shared/share_object', :locals => {:group => @cup}) if @cup -%>
<%# content_for :sidebar, render(:partial => 'sidebar_show') if @cup.is_futbol? -%>
<%# content_for :sidebar, render(:partial => 'sidebar_show_basket') if @cup.is_basket? -%>





