<% 
	@archive ||= false 
	@less_games = 5 
%>
<div class="block">

<%= render :partial => 'secondary_navigation' %>  

<% 	
	# @games_played = @tournament.rounds.games_played
	the_value = @tournament.use_goals?
	standings = false
	@standings.each {|card| standings = true }
	
	if standings	
%>
<div class="content">   

	<h2 class="title"><%= tournament_link @tournament %></h2>

	<div class="inner">
			
		<% @tournament.rounds.each do |round| 					
		   		if round.meets.count > 0
					@standings = round.standings
		%>
			
		<table class="table" id="<%= get_the_controller.gsub(' ','_') %>">

			<h4 class="title"><%= round_link round %></h4><br />
			
			<tr>
				<%= content_tag 'th', label_name(:ranking), :class => "first", :title => label_name(:ranking_full) %>
				<%= content_tag 'th', "&nbsp;" %>
				<%= content_tag 'th', content_tag(:span, label_name(:name)) %>
								
				<%= content_tag 'th', label_name(:points), :title => label_name(:points_full) %>
				<%= content_tag 'th', label_name(:games_won), :title => label_name(:games_won_full) %>
				<%= content_tag 'th', label_name(:games_tied), :title => label_name(:games_tied_full) %>
				<%= content_tag 'th', label_name(:games_lost), :title => label_name(:games_lost_full) %>
								
				<%= content_tag 'th', label_name(:games_played), :title => label_name(:games_played_full), :class => "last" %>
			</tr>
			
				<%= render :partial => 'standing', :collection => @standings, 
							:locals => {:tournament => @tournament, :games_played => @games_played, :less_games => @less_games} %>        
			
		</table><br />
		
		<% 
				end
			end 
		-%>
		
	</div>
	</div>
<% 
end 
-%>

</div>

<% content_for :sidebar, render(:partial => 'sidebar_show') -%>





