<table class="table">

<% 
	upcoming_schedules.each do |schedule| 
	the_sport = "#{label_name(:rosters)}:  #{schedule.convocados.count}"
	
	the_missing = ""
	the_missing = "#{label_name(:missing)}:  #{schedule.player_limit.to_i - schedule.convocados.count}" if schedule.player_limit.to_i > schedule.convocados.count
	the_missing = "#{label_name(:excess)}:  #{schedule.convocados.count - schedule.player_limit.to_i}" if schedule.player_limit.to_i < schedule.convocados.count
	
	is_gameday = (schedule.starts_at.to_date == Time.zone.today)
	the_url = team_roster_path(:id => schedule)
-%>		
	<tr>
		<td>
			<%= (current_user.is_member_of?(schedule.group) or schedule.public) ? schedule_image_link_small(schedule) : schedule_image_small(schedule) %>
		</td>

		<td>
			<%= (current_user.is_member_of?(schedule.group) or schedule.public) ? link_to(sanitize(schedule.name), team_roster_path(:id => schedule)) : sanitize(schedule.name) %>
		</td>

		<td class="name_and_date">
			<%= item_name_link(schedule.group) %><br />
			<span class="date">
				<%= schedule.group.sport.name %>
			</span>
		</td>

		<td class="name_and_date">
			<%= nice_day_time_wo_year(schedule.starts_at) %><br />
			<span class="date">
				<%= has_left(schedule.starts_at) if Time.zone.now < schedule.starts_at %>
			</span>
		</td>		

		<td class="name_and_date">
			<%= the_sport %><br />
			<span class="date">
				<%= the_missing %>
			</span>
		</td>
	
		<td class="last">
			<%= marker_link(schedule.group.marker) %>			
		</td>

	</tr>
	<% end -%>

</table> 






