

<div id="home">

	<div class="announce">
		<h1><strong><%= label_name(:modo) %></strong></h1>
	</div>
	<div class="features">
		<div class="left" >
			<%= RPXNow.embed_code(APP_CONFIG['rpx_api']['realm'],rpx_token_sessions_url, :language => I18n.locale)  if SHOW_RPX_NOW %>
		</div>
		<div class="right">	
			<div class="headline">
				<div class="words">
					<h1><%= label_name(:get_rolling) %></h1>
				</div>
				<br/>
				<div class="tour">						
					<h3><strong><%= label_name(:what_is_haypista) %></strong></h3>
					<p><%= "#{app_name} #{label_name(:what_is_haypista_details)}" %></p>						
				</div>
			</div>
		</div>
	</div>
</div>
