<%= stylesheet_link_tag 'home' %>

<div id="home">

	<div class="announce">
		<h1><%= label_name(:modo) %></h1>
	</div>
	<div class="features">
		<div class="site">
			<div class="left">
				<div class="headline">
					<div class="words">
						<h1><%= label_name(:get_rolling) %></h1>
					</div>
					<div class="tour">						
						<h1><%= link_to label_name(:signup), signup_path %></h1>						
					</div>
				</div>
				<h3><%= label_name(:what_is_haypista) %></h3>
				<p><%= label_name(:what_is_haypista_details) %></p>
			</div>
			<div class="right">				
				<h3><%= label_name(:how_does_haypista) %></h3>
				<p><%= label_name(:how_does_haypista_details) %></p>
				<h3><%= label_name(:what_other_haypista) %></h3>
				<p><%= label_name(:what_other_haypista_details) %></p>
			</div>
		</div>
	</div>
	<%= render :partial => 'screens' %>
</div>
