<div class="screens">
	<h2><%= label_name(:help_amateur) %></h2>
	<ul class="site">
		<li class="screenshot">
			<p><b><%= label_name(:upcoming_schedules) %></b><br/>
			Al entrar, puedes ver los próximos eventos de tu equipo, y actividades de tus compañeros...</p>
			<%= link_to(image_tag("screens/upcoming.png"), :controller => 'home', :action => 'upcoming') %>
		</li>

		<li class="screenshot">
			<p><b><%= label_name(:users) %></b><br/>
			Puedes ver todos tus compañeros de equipo y sus perfiles..</p>
			<%= link_to(image_tag("screens/player.png"), users_url) %>
		</li>

		<li class="screenshot">
			<p><b><%= label_name(:groups) %></b><br/>
			Todos los equipos a los que perteneces se pueden ver aquí...</p>
			<%= link_to(image_tag("screens/team.png"), groups_url) %>			
		</li>

		<li class="screenshot">
			<p><b><%= label_name(:schedules) %></b><br/>
			Muestra la lista de los proximos eventos,e incluso anteriores eventos...</p>
			<%= link_to(image_tag("screens/event.png"), schedules_url) %>
		</li>

		<li class="screenshot">
			<p><b><%= label_name(:scorecards) %></b><br/>
			Los resultados de cada evente permite mantener la clasificación de tu equipo...</p>
			<%= link_to(image_tag("screens/scorecard.png"), scorecards_url) %>
		</li>

		<li class="screenshot">
			<p><b><%= label_name(:markers) %></b><br/>
			Permite visualizar un mapa donde puedes ver centros deportivos señalados...</p>
			<%= link_to(image_tag("screens/map.png"), markers_url) %>
		</li>

	</ul>
</div>