 <% 
the_description = sanitize(item.description)
the_description = "#{the_description.to_s.strip[0..60]}..." if the_description.to_s.length > 60
the_description = the_description.gsub(" ", "<wbr> ")
the_challenge = sanitize(item.name)
 
final_played ||= false
the_game = Game.final_game(item.cup)
final_played = the_game.played unless (the_game.nil? or the_game.blank?)
-%>
 <tr>  	
	<td class="name_and_date">
		<%= item_image_link_small(item.all_the_managers.first) %>
	</td>

	<td class="name_and_date">
		<%= item_name_link(item) %><br/>
		<span class="date">
			<%= item.cup.name %>
		</span>
	</td>

	<td class="name_and_date">
		<%= user_list item.all_the_managers %><br />
		<span class="date">
			<%= item.time_zone %>
		</span>
	</td>

	<td class="name_and_date">
		<%= I18n.t(:has_challenge_users, :count => object_counter(item.users)) %><br />
		<span class="date">
			<%= the_description %>
		</span>
	</td>

	<td class="name_and_date">
		<%= link_to(label_name(:points_full), show_list_standings_path(:id => item)) %>
		<span class="date">
		</span>
	</td>

      <td class="last">
		<span class="action">
			<% unless final_played %>
			<% if current_user.is_member_of?(item) %>
				<%= link_to("#{label_name(:invitations_your_friend)} #{the_challenge}", new_invitation_url(:challenge_id => item)) %><br />
			<% 
			  	else
					unless current_user.has_item_petition?(current_user, item) 
			%> 
				<%= join_item_link_to(current_user, item) %>
			<% 	end 
			   end
			-%>
			<% end -%>
			
		</span>
      </td>
 </tr>   
