<div class="secondary-navigation">

<ul>
	<li class="<%= get_first_active %>"><%= link_to(label_name(:home) , '/') %></li>
<% 
if current_user 
%>
	<li class="<%= get_active('home_upcoming_schedule') %>">
			<%= link_to label_name(:upcoming_schedule) , :controller => 'home', :action => 'upcoming_schedule' unless upcoming_schedules.empty? %>
	</li>

	<li class="<%= get_active('home_current_messages') %>">
			<%= link_to label_name(:messages_inbox) , :controller => 'messages', :action => 'index' if current_user.has_unread_messages? %>
	</li>
			
	<% if current_user.has_pending_petition?(current_user) %>
	<li class="<%= get_active('user_petition') %>">
		<%= link_to(label_name(:petitions), petition_path(:id => current_user)) %>
	</li>	
	<% end %>			
<% 
end 
%>
</ul>

<div class="clear"></div>

</div>
