<div class="secondary-navigation">

<ul>
	<li class="<%= get_first_active %>"><%= link_to(label_name(:home) , '/') %></li>
<% 
if current_user 
%>
	<li class="<%= get_active('home_upcoming') %>">
		<%= link_to label_name(:upcoming) , :controller => 'home', :action => 'upcoming' if @upcoming %>
	</li>
	
	<% unread_count = current_user.unread_messages_count %>
	<%  if unread_count > 0 %>	
		<li class="message">
			<%= link_to label_name(:messages_inbox) , :controller => 'messages', :action => 'index' %>			
		</li>		
		<li><div class="comment-bubble"><%= unread_count %></div></li>
	<% end %>		
<% 
end 
%>
</ul>

<div class="clear"></div>

</div>
