<%
	the_manager = nil
	request_image = ""
	request_link = ""

	item_link = ""
	item_image = ""

	item_group_link = ""

	the_label = ""
	four_spaces = ".&nbsp;&nbsp;&nbsp;&nbsp;"

	first_icon = ""
	the_icon = ""
	
	the_match = matches.first

	request_image = item_image_link_small(the_match.user)
	request_link = item_name_link(the_match.user)

	first_icon = match_image_link(the_match)
	the_icon = match_image_link(the_match, the_match.schedule.sport.icon)

	item_group_link = item_name_link(the_match.schedule.group)

	is_member = current_user.is_member_of?(the_match.schedule.group)
	
	
	the_label = %(#{I18n.t(:passed_to)} #{the_match.type_name} #{I18n.t(:in)})
	
	the_links = ""	
	matches.each do |match|
		the_links = %(#{the_links} #{is_member ? match_roster_link(match) : sanitize(match.schedule.concept)}, )
	end
	
	the_links = %(#{the_links.chop.chop})	
	the_label = %(#{the_label} #{the_links})
%>	
<tr>
	<td class="first_home">
		<%= request_image %>
	</td>
	<td class="name_and_date">
		<%= first_icon %> <%= request_link %> <%= "#{the_label.downcase}." %>
		<span class="date">
			<%= the_icon %>&nbsp;&nbsp;<%= ago(the_match.created_at) %>
			
			<% unless item_group_link == "" %>
				&nbsp;&nbsp;<%= "&nbsp;&nbsp;#{item_group_link}" %>
			<% end -%>
				
		</span>
	</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>			  
	<td class="last">&nbsp;</td>	

</tr>






