<table class="table">

<% 
	# @match_type = Match.get_match_type
	
	upcoming_schedules.each do |schedule| 
-%>		
	<tr>
		<%= view_schedule_icon(schedule) %>
		<%= view_schedule_concept(schedule) %>
		<%= view_schedule_group(schedule) %>
		<%= view_schedule_played(schedule) %>
		<%= view_schedule_marker(schedule) %>
		<%= view_schedule_rating(schedule) %>
	</tr>
	<% end -%>

</table> 






