<div class="row">

	<div class="twelve columns">

		<%= set_title_class(the_label, 'cup') %>

		<table>

			<% upcoming_cups.each do |cup| -%>		
			<tr>
				<%= view_cup_name(cup) %>
				<%= view_cup_user(cup) %>
				<%= view_cup_starts_at(cup) %>
				<%= view_cup_rating(cup) %>
			</tr>
			<% end -%>

		</table>

	</div>

</div>