<table class="table">

<% @upcoming_meets.each do |meet| 
	the_sport = "#{label_name(:rosters)}:  #{meet.convocados.count}"
	-%>		
	<tr>
		<td>
			<%= current_user.is_tour_member_of?(meet.tournament) ? meet_image_link_small(meet) : meet_image_small(meet) %>
		</td>

		<td>
			<%= current_user.is_tour_member_of?(meet.tournament) ? meet_link(meet) : sanitize(meet.concept) %>
		</td>

		<td>
			<%= tournament_link meet.tournament %><br />
			<%= label_name(:tournament) %>
		</td>

		<td>
			<%= nice_day_of_week(meet.starts_at) %> 
			<% unless production? %>
			<br />
			<p> <em style="color: rgb(153, 153, 153);">
				<%= label_name(:your_meet) %>&nbsp;<%= nice_day_of_week(meet.starts_at.in_time_zone(Time.zone)) %><br />
			</em></p>
			<% end %>

		</td>	

		<td class="last">
			<%= the_sport %>
		</td>

	</tr>
	<% end -%>

</table> 






