<% the_sport = label_name(:join_cup) %>		


<%= set_title_class(the_label, 'events') %>

<div class="row">
	<div class="twelve columns">

		<table>

			<% upcoming_cups.each do |cup| -%>		
			<tr>
			
				<td>
					<%= item_image_name_link_small(cup) %>
				</td>

				<td>
					<%= item_name_link cup %><br />
					<span class="date">
					<%= cup.sport.name %>
					</span>
				</td>

				<td>
					<%= nice_day_of_week(cup.starts_at) %><br />
					<span class="date">
					<%= has_left(cup.starts_at) if Time.zone.now < cup.starts_at %>
					</span>
				</td>		

				<td>
					<%  if cup.official %>
					<%= (cup.starts_at < Time.zone.now) ? link_to(label_name(:challenges_shows), challenges_url) : link_to(the_sport, challenges_url) %>
					<%= "<br/>#{link_to(label_name(:challenges_create), new_challenge_path(:id => cup))}".html_safe  unless (cup.starts_at < Time.zone.now) %>
					<% end %>
				</td>

				<td>
					&nbsp;
				</td>
				
			</tr>
			<% end -%>

		</table>
	</div>
</div>

