<%
	#Barometer.google_geocode_key = APP_CONFIG['google_api']['key']
	#Barometer.config = { 1 => [:google, :yahoo], 2 => :wunderground }
%>
<table class="table">
<% 
	upcoming_games.each do |game| 
	the_sport = ""
	the_missing = ""
	#is_gameday = (game.starts_at.to_date == Time.zone.today)
	
	#if is_gameday		
		#barometer = Barometer.new(game.cup.time_zone)
	    #weather = barometer.measure
	#end
-%>		
	<tr>
		<td>
			<%= game_image_link_small(game) %>
		</td>

		<td>
			<%= game_link game %>
		</td>

		<td class="name_and_date">
			<%= cup_link game.cup %><br />
			<span class="date">
				<%= game.cup.sport.name %>
			</span>
		</td>

		<td class="name_and_date">
			<%= nice_day_of_week(game.starts_at) %><br />
			<span class="date">
				<%= has_left(game.starts_at) if Time.zone.now < game.starts_at %>
			</span>
		</td>		

		<td class="name_and_date">
			<%= the_sport %><br />
			<span class="date">
				<%= the_missing %>
			</span>
		</td>

		<td class="name_and_date">
			<%# if is_gameday  %>
			<%#= image_tag('weather_rain.png', options={:style => "height: 20px; width: 20px;"}) if weather.wet? %>
			<%#= image_tag('weather_sun.png', options={:style => "height: 20px; width: 20px;"}) if weather.sunny? %>
			<%#= image_tag('weather_clouds.png', options={:style => "height: 20px; width: 20px;"}) if weather.windy? %>
			<%#= image_tag('weather_clouds.png', options={:style => "height: 20px; width: 20px;"}) if weather.day? %>
			<%#= image_tag('weather_clouds.png', options={:style => "height: 20px; width: 20px;"}) if weather.night? %>
			<%# end -%>
			<%#= marker_link(game.cup.marker) %><br/>
			<span class="date">		
			<%#= "#{weather.tomorrow.high.c}°C / #{weather.tomorrow.low.c}°C" if is_gameday %>
			</span>
		</td>
		
	

		
		<td class="last">
			&nbsp;
		</td>

	</tr>
	<% end -%>

</table> 






