<table class="table">
<% 
	upcoming_games.each do |game| 
	the_sport = ""
	the_missing = ""
-%>		
	<tr>
		<td>
			<%= game_image_link_small(game) %>
		</td>
		<td>
			<%= game_link game %>
		</td>
		<td class="name_and_date">
			<%= cup_link game.cup %><br />
			<span class="date">
				<%= game.cup.sport.name %>
			</span>
		</td>
		<td class="name_and_date">
			<%= nice_day_of_week(game.starts_at) %><br />
			<span class="date">
				<%= has_left(game.starts_at) if Time.zone.now < game.starts_at %>
			</span>
		</td>
		<td class="name_and_date">
			<%= the_sport %><br />
			<span class="date">
				<%= the_missing %>
			</span>
		</td>
		<td class="name_and_date">
		</td>		
		<td class="last">
			&nbsp;
		</td>
	</tr>
<% 
	end 
-%>
</table> 






