<table class="table">

<% upcoming_schedules.each do |schedule| 
	the_sport = "#{label_name(:rosters)}:  #{schedule.convocados.count}"
	the_missing = "#{label_name(:missing)}:  #{schedule.player_limit.to_i - schedule.convocados.count}"
	-%>		
	<tr>
		<td>
			<%= current_user.is_member_of?(schedule.group) ? schedule_image_link_small(schedule) : schedule_image_small(schedule) %>
		</td>

		<td>
			<%= current_user.is_member_of?(schedule.group) ? 
						link_to(sanitize(schedule.concept), team_roster_path(:id => schedule)) : sanitize(schedule.concept) %>
		</td>

		<td class="name_and_date">
			<%= group_link schedule.group %><br />
			<span class="date">
				<%= schedule.group.sport.name %>
			</span>
		</td>

		<td class="name_and_date">
			<%= nice_day_of_week(schedule.starts_at) %><br />
			<span class="date">
				<%= has_left(schedule.starts_at) if Time.zone.now < schedule.starts_at %>
			</span>
		</td>		

		<td class="name_and_date">
			<%= the_sport %><br />
			<span class="date">
				<%= the_missing %>
			</span>
		</td>
		
		<td>
			<%= content_tag :td, marker_link(schedule.group.marker), :class => get_the_action %>
		</td>
		
		<td class="last">
			&nbsp;
		</td>

	</tr>
	<% end -%>

</table> 






