

<div class="row">
	<div class="twelve columns">

		<table>

<% upcoming_games.each do |game| 
	
	no_team = (game.home_id.nil? or game.away_id.nil?) 
	no_ranking = (game.home_ranking.nil? or game.away_ranking.nil? or game.home_stage_name.nil? or game.away_stage_name.nil? and game.type_name == 'FirstGame') 
	the_finals = (game.type_name == 'SubsequentGame' or game.type_name == 'FinalGame')	
	
-%>		
<tr>
	<%= set_content_tag_safe(:td, item_image_link_smaller(game.cup), 'name_and_date') %>
	<%= set_content_tag_safe(:td, "#{item_name_link(game.cup)} <br /> #{item_name_link(game)}", 'name_and_date') %>
	<%= set_content_tag_safe(:td, "#{nice_day_time_wo_year(game.starts_at)} <br /> #{has_left(game.starts_at) if (Time.zone.now < game.starts_at)}", 'name_and_date') %>
	<%= set_content_tag_safe(:td, "#{no_team ? '' : escuadra_image_link_smaller(game.home)}", 'name_and_date') %>
	<%= set_content_tag_safe(:td, "#{no_team ? '' : escuadra_link(game.home)}", 'name_and_date') %>
	<%= set_content_tag_safe(:td, " vs. ", 'name_and_date') %>
	<%= set_content_tag_safe(:td, "#{no_team ? '' : escuadra_link(game.away)}", 'name_and_date') %>
	<%= set_content_tag_safe(:td, "#{no_team ? '' : escuadra_image_link_smaller(game.away)}", 'name_and_date') %>
</tr>
<% end -%>

		</table>
	</div>
</div>


