<div class="block">

	<%= render :partial => 'secondary_info' %>

	<!-- <div class="content">   

		<h2 class="title"><%= label_name(:what_is_haypista) %></h2>

		<div class="inner">

			<ul>
				<li>* HayPista es una herramienta web para ayudarte a organizar un group de amigos para practicar  a web de negocios, grupo y software de gestión de evento diseñado para los propietarios, administradores y organizadores.</li><br/>
				<li>* HayPista ™ le ayuda a gestionar personas, los horarios, la comunicación, y los pagos.</li><br/>
				<li>* HayPista le ahorrará tiempo, mientras que energizante a todos los que trabajamos, no importa qué tipo de negocio, el equipo o evento que usted está manejando. Siga lellendo para saber más o regístrate ahora.</li><br/>
			</ul>

			<ul type="square">
				<li>* Bienvenido a <strong>HayPista</strong>, una red social para conectar a la gente a jugar al fútbol.</li><br/>
				<li>* Si usted es un jugador que busca un pick-up del juego, utiliza nuestra búsqueda para encontrar los juegos en su área.</li><br/>
				<li>* Si usted tiene un juego regular y está buscando jugadores, calendario de su juego con nosotros para que los jugadores puedan encontrar.</li><br/>
				<li>* Publicar boletines para contratar a sus compañeros de equipo, encontrar socios, promover una liga, o aprender acerca de los deportes.</li><br/>
				<li>* Administre sus equipos, eventos y ligas online, con equipo electrónico, las listas, personas que hagan reservaciones y más!</li>
			</ul>

			<br />				
			<ul>
				<li><strong>Explorar</strong>&nbsp; Recibir resultados en vivo, calendarios y noticias personalizadas.</li>
			</ul>
			<br />

			<ul>
				<li><strong>Conectar</strong>&nbsp;Comunicarte con amigos y otros aficionados al fútbol de todo el mundo</li>
			</ul>
			<br />

			<ul>
				<li><strong>Compartir</strong>&nbsp;Los blogs más recientes, últimas noticias, fotos, videos, las transferencias, los pronósticos y los debates.</li>
			</ul>
		</p>


		<p>
			<%= label_name(:question_or_comment) %>
			<a href="mailto:support@HayPista.com">
				<%= label_name(:drop_us_a_note) %>
			</a>
		</p>


		<%#= render :partial => 'details' %>


	</div> -->


	<%= render :partial => 'details' %>
</div>




