<div id="home">

	<div class="announce">
		<h1><strong><%= label_name(:faq) %></strong></h1>
	</div>

	<div class="features">

		<%= content_tag 'h3', label_name(:faq_how_can_help) %>
		<%= content_tag 'p', label_name(:faq_helps_organize) %>
		<%= content_tag 'P', label_name(:faq_keep_track) %>
		<%= content_tag 'P', label_name(:faq_manage_payment) %>
		<%= content_tag 'P', label_name(:faq_event_wall) %>
		<%= content_tag 'P', label_name(:faq_teammate_message) %>
		<%= content_tag 'P', label_name(:faq_scorecard_statistics) %>
		<%= content_tag 'P', label_name(:faq_sport_center_area) %>

		<br/>
		<p>
			<%= label_name(:question_or_comment) %>
			<a href="mailto:support@HayPista.com">
				<%= label_name(:drop_us_a_note) %>
			</a>
		</p>

	</div>
</div>
