<div id="home">
	
	<div class="announce">
		<%= content_tag 'h4', "#{label_name(:faq)}" %>		
	</div>
	
	<hr/>
	<br/>
	
	<div class="features">
		<%= content_tag 'h5', label_name(:faq_how_can_help) %><br/>
		<%= content_tag 'p', label_name(:faq_helps_organize) %>
		<%= content_tag 'P', label_name(:faq_keep_track) %>
		<%= content_tag 'P', label_name(:faq_manage_payment) %>
		<%= content_tag 'P', label_name(:faq_event_wall) %>
		<%= content_tag 'P', label_name(:faq_teammate_message) %>
		<%= content_tag 'P', label_name(:faq_scorecard_statistics) %>
		<%= content_tag 'P', label_name(:faq_sport_center_area) %>
		
		<hr/>

	</div>
</div>