<%= javascript_include_tag "lightbox" %>
<%= stylesheet_link_tag    "lightbox" %>


<script type="text/javascript">
$(function() {
	$('#gallery a').lightBox();
});
</script>

<style type="text/css">
/* jQuery lightBox plugin - Gallery style */
#gallery {	}
#gallery ul { list-style: none; }
#gallery ul li { display: inline; }
#gallery ul img {	}
#gallery ul a:hover img {
	color: #fff;
}
#gallery ul a:hover { color: #fff; }
</style>


<%
	# 1. haypista-la-mejor-forma-de-acceder.png
	# 2. haypista-eventos.png
	# 3. haypista-evento-jornada-convocados.png
	# 4. haypista-jornada-evento-comentarios.png
	# 5. haypista-evento-resultados.png
	# 6. haypista-evento-clasificacion.png

	the_size = "580x280"

	the_mejor_forma_de_acceder = "#{DEFAULT_AMAZON_S3_IMAGES_URL}haypista-la-mejor-forma-de-acceder.png"
	the_eventos = "#{DEFAULT_AMAZON_S3_IMAGES_URL}haypista-eventos.png"
	the_evento_jornada_convocados = "#{DEFAULT_AMAZON_S3_IMAGES_URL}haypista-evento-jornada-convocados.png"
	the_jornada_evento_comentarios = "#{DEFAULT_AMAZON_S3_IMAGES_URL}haypista-jornada-evento-comentarios.png"
	the_evento_resultados = "#{DEFAULT_AMAZON_S3_IMAGES_URL}haypista-evento-resultados.png"
	the_evento_clasification = "#{DEFAULT_AMAZON_S3_IMAGES_URL}haypista-evento-clasificacion.png"
%>






<div class="row">
	<div class="twelve columns">

		<div class="announce">
			<%= content_tag 'h4', "#{label_name(:howitworks)}" %>		
		</div>

		<hr/>
		<br/>

		<div id="gallery">
			<ul>
				<li>

					<div class="row">
						<div class="six columns">				
							<%= content_tag_safe(:h4, label_name(:faq_acceso_facil)) %>
							<%= "Acceso facil y seguro para acceder a los servicios." %>
						</div>
						<div class="six columns">
							<%= link_to( image_tag(the_mejor_forma_de_acceder, :size => the_size), the_mejor_forma_de_acceder ) %>
						</div>
					</div>

					<hr/>
					<br>

					<div class="row">
						<div class="four columns">				
							<%= content_tag_safe(:h4, "Infórmate") %>
							<%= "Infórmate de todos los eventos de tu equipo: cuáles serán los próximos encuentros y si vas a participar en ellos." %>
						</div>
						<div class="eight columns">
							<%= link_to( image_tag(the_eventos, :size => the_size), the_eventos ) %>
						</div>
					</div>
					<hr/>
					<br>


					<div class="row">
						<div class="four columns">				
							<%= content_tag_safe(:h4, "Conoce") %>
							<%=  "Conoce qué jugadores están convocados para un partido, y su nivel de participación. También sabrás si puedes contactar con él a través de whatsapp, para que podáis solucionar rápidamente imprevistos de última hora." %>
						</div>
						<div class="eight columns">
							<%= link_to( image_tag(the_evento_jornada_convocados, :size => the_size), the_evento_jornada_convocados ) %>
						</div>
					</div>
					<hr/>
					<br>

					<div class="row">
						<div class="four columns">				
							<%= content_tag_safe(:h4, "Comunicate") %>
							<%= "Comunicate con tus compañeros de equipo: puedes avisar de incidencias y cambios de última hora, comentar el último encuentro o intercambiar opiniones sobre el próximo rival." %>
						</div>
						<div class="eight columns">
							<%= link_to( image_tag(the_jornada_evento_comentarios, :size => the_size), the_jornada_evento_comentarios ) %>
						</div>
					</div>
					<hr/>
					<br>

					<div class="row">
						<div class="four columns">				
							<%= content_tag_safe(:h4, "Apunta") %>
							<%= "Apunta los resultados del ultimo partido." %>
						</div>
						<div class="eight columns">
							<%= link_to( image_tag(the_evento_resultados, :size => the_size), the_evento_resultados ) %>
						</div>
					</div>
					<hr/>
					<br>

					<div class="row">
						<div class="four columns">				
							<%= content_tag_safe(:h4, "Sigue") %>
							<%= "Sigue los resultados de tu equipo, con el resultado individual de cada jugador." %>
						</div>
						<div class="eight columns">
							<%= link_to( image_tag(the_evento_clasification, :size => the_size), the_evento_clasification, :class => "lightbox_trigger" ) %>
						</div>
					</div>

					<hr/>
					<br>

				</li>
			</ul>
		</div>

	</div>
</div>





