<% 
if current_user
	the_label = label_name(:latest_activities)
	content_for(:title, the_label)
%> 
	<div class="block">
		
		<%= get_secondary_navigation %>
		
		<div class="content">   
			<h2 class="title"><%= label_name(:latest_activities) %></h2>
			<div class="inner">	
					
			<%= get_class_table_id_controller %>
				
				<% @items. each do |item| %>								
				<%= render "home/upcoming_home", :teammate => item unless (item.class.to_s == 'Teammate') %>
				<%= render "users/petition_box", :teammate => item if (item.class.to_s == 'Teammate') %>	
				<% end %>
				
			</table>
			
			</div>
		</div>
	</div>
	<% content_for :sidebar, render('/shared/sidebar_howto') -%>
	<% content_for :sidebar, render('/shared/sidebar_index') -%>
	<% content_for :sidebar, render('shared/completeness', :user => current_user) unless current_user.percent_complete == 100 -%>
	<% content_for :sidebar, render('/shared/sidebar_information') -%>
<% 
else 
%>
	<%= render 'home/details' %>	
<% 
end 
-%>