<% 
if current_user
	
	the_label = label_name(:latest_activities)
	content_for(:title, the_label)
%> 
	<div class="block">
		<%= render :partial => 'secondary_navigation' -%>
		<div class="content">   
			<h2 class="title"><%= label_name(:latest_activities) %></h2>
			<div class="inner">	
					
			<table class="table" id="<%= get_the_controller.gsub(' ','_') %>">

				<tr>             
					<th class="first">&nbsp;</th>
					<th>&nbsp;<%= label_name(:latest_activities) %></th>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
					<th class="last">&nbsp;</th>
				</tr>
				
				<%= render :partial => '/users/petition_box', :locals => {:teammates => @latest_teammates} unless @latest_teammates.empty? %>
				<%= render :partial => 'upcoming_home', :locals => {:teammates => @latest_schedules} unless @latest_schedules.empty? %>
				<%= render :partial => 'upcoming_home', :locals => {:teammates => @latest_groups} unless @latest_groups.empty? %>
				<%= render :partial => 'upcoming_home', :locals => {:teammates => @latest_cups} unless @latest_cups.empty? %>
				<%= render :partial => 'upcoming_home', :locals => {:teammates => @latest_challenges} unless @latest_challenges.empty? %>
				<%= render :partial => 'upcoming_home', :locals => {:teammates => @latest_matches} unless @latest_matches.empty? %>
				<%= render :partial => 'upcoming_home', :locals => {:teammates => @latest_games} unless @latest_games.empty? %>
				
			</table>
			
			</div>
		</div>
	</div>
	<% content_for :sidebar, render(:partial => '/shared/sidebar_index') -%>
<% 
else 
%>
	<%= render :partial => 'details' %>	
<% 
end 
-%>