<div id="home">
	<div class="announce">
		<h1><strong><%= label_name(:faq_acceso_con_tu_cuenta) %></strong></h1>
	</div>
	<div class="features">
		<%= content_tag 'h3', label_name(:faq_why_use_your_account) %>
		<%= content_tag 'p', label_name(:faq_registration_ease) %>
		<%= content_tag 'h3', label_name(:faq_what_is_your_account) %>
		<%= content_tag 'p', label_name(:faq_why_use_your_account_description) %>
		<%= content_tag 'h3', label_name(:faq_why_your_account_is_secure) %>
		<%= content_tag 'p', label_name(:faq_why_your_account_is_secure_description) %>						
	</div>
</div>