<%  
unless upcoming_schedules.empty? 
%> 

<div class="block">

  <%= render :partial => 'secondary_navigation' %>   
  
  <div class="content">   
  
    <h2 class="title"><%= control_action_label %></h2>
	
    <div class="inner">
	
      <table class="table">
		
        <% @upcoming_schedules.each do |schedule| 
			the_sport = "#{label_name(:rosters)}:  #{schedule.convocados.count}"
		-%>		
			<tr>
			  <td>
				<%= schedule_image_link_small(schedule) %>
			  </td>
		  
			  <td>
				<%= current_user.is_member_of?(schedule.group) ? schedule_link(schedule) : schedule.concept %>
			  </td>
			  
			  <td>
				<%= group_link schedule.group %>
			  </td>
			  
			  <td>
				<%= nice_day_of_week(schedule.starts_at) %> 
				<% unless production? %>
	                <br />
					<p> <em style="color: rgb(153, 153, 153);">
					<%= label_name(:your_schedule) %>&nbsp;<%= nice_day_of_week(schedule.starts_at.in_time_zone(Time.zone)) %><br />
					<%= schedule.starts_at.localtime() %><br />
					<%= schedule.starts_at.utc %>
					</em></p>
	             <% end %>
					<%#  (schedule.starts_at != schedule.starts_at.in_time_zone(Time.zone))  %>
	       
			  </td>	
			  
			<td class="last">
				<%= the_sport %>
			</td>
			
			</tr>
        <% end -%>
		
      </table>
	  <%#= render :partial => 'shared/action_bar', :locals => { :schedule => @upcoming_schedules } %>
	  

	
    </div>
	
  </div>
  
</div>

<% content_for :search, render(:partial => 'shared/search') -%>

<% content_for :sidebar, render(:partial => 'sidebar') -%>

<% 
end
%>





