<%  
	the_label = label_name(:upcoming)
	content_for(:title, the_label)
%> 

<div class="block">

  <%= get_secondary_navigation %>
  
  <div class="content">   
  
 	<%= show_heading(@upcoming ? the_label : label_name(:upcoming_no)) %>

    <div class="inner">

	<%= render :partial => "home/all_upcoming_schedules", :locals => {:upcoming_schedules => @upcoming_schedules} %>

    </div>

    <div class="inner">

	<%= render :partial => "home/upcoming_cup", :locals => {:upcoming_cups => @upcoming_cups} %>

    </div>

    <div class="inner">

	<%= render :partial => "home/upcoming_game", :locals => {:upcoming_games => @upcoming_games} %>
	
    </div>

  </div> 
</div>

<% content_for :sidebar, render(:partial => 'home/sidebar_home') -%>






