<% 
	final_played ||= false
	the_game = Game.final_game(@cup)
	final_played = the_game.played unless (the_game.nil? or the_game.blank?)
%>

<h2 class="title"><%= get_collection_label(@escuadras) %></h2>

<div class="inner">
	
	<%= get_class_table_id_controller %> 

	  <tr>   
		<%= content_tag :th, "&nbsp;", :class => "first" %>
		<%= content_tag :th, label_name(:name), :class => "heading" %>
		<%= content_tag :th, "&nbsp;", :class => "heading" %>
		<%= content_tag :th, "&nbsp;", :class => "heading" %>
		<%= content_tag :th, "&nbsp;", :class => "heading" %>	
		<%= content_tag :th, "&nbsp;", :class => "last" %>
	  </tr>

	  <% @escuadras.each do |escuadra| 
			the_label = label_name(:escuadras_destroy)
			the_confirmation = "#{ the_label }?" 			
		-%>
	  <tr>  
			<td>
				<%= escuadra_image_link_smaller(escuadra) %>
			</td>

			<td class="name_and_date">
				<%= escuadra_link(escuadra) %>
			</td>

			<td>&nbsp;</td>

			<td>&nbsp;</td>

			<td class="name_and_date">&nbsp;</td>

	       <td class="last">
				<span class="action">
					<% if current_user.is_manager_of?(@cup) and !final_played %>
					<span class="action">
						<%= link_to label_name(:escuadras_edit), edit_escuadra_path(escuadra) %><br/>
						<%= link_to(the_label, escuadra_path(escuadra), :method => :delete, :confirm => the_confirmation) %>	
					</span>
					<% end -%>
					
				</span>
	       </td>
	  </tr>   
 
	  <% end -%>

	</table>	
	
	<%= render :partial => 'shared/action_bar', :locals => { :collection => @escuadras } %>

</div>