<%
		the_label = label_name(:escuadras)
		content_for(:title, the_label)
		
		final_played ||= false
		the_game = Game.final_game(@cup)
		final_played = the_game.played unless (the_game.nil? or the_game.blank?)	
		has_items = (object_counter(@cup.escuadras) > 0)
%>

<% if has_items %>

<%= render('shared/index_total_header_zurb', :items => @escuadras) %>

<div class="row">
	<div class="twelve columns"> 

		<table>
			<thead>
				<tr>             
					<%= set_content_tag_safe(:th, "&nbsp;") %>
					<%= set_content_tag_safe(:th, "#{label_name(:group)}") %>
					<%= set_content_tag_safe(:th, "&nbsp;") %>
					<%= set_content_tag_safe(:th, "&nbsp;") %>
					<%= set_content_tag_safe(:th, "&nbsp;") %>
					<%= set_content_tag_safe(:th, "&nbsp;") %>
				</tr>
			</thead>

			<tbody>

				<% @escuadras.each do |escuadra| -%>		
				<%= render 'escuadras/escuadra_full_zurb', 
				:escuadra => escuadra, 
				:final_played => final_played, 
				:display_icons => true %> 
				<% end -%>

			</tbody>
		</table>

	</div>
</div>

<% end %>








