<% 
	is_user_manager = (current_user.is_manager_of?(@escuadra))
%>

<div class="block">

  <%= render :partial => '/cups/secondary_navigation' %>   
  
  <div class="content">
	        
  <h2 class="title"><%= @escuadra.name %></h2>

    <div class="inner">

	<!-- new table -->
	<table>
	<thead>

	<tr>
	<th colspan="2">
		<div class="description">
			<span class="q">
				<%=sanitize @escuadra.description.blank? ? control_label('description_no') : @escuadra.description %>
			</span>
		</div>
	</th>

	</tr>
	</thead>

	<tr>
	<td valign="top" width="105"><%= escuadra_show_photo(@escuadra, current_user) %></td>

	<td>
	<table border="1">
		
		<%= tr_td_action(:name, @escuadra.name) %>
		<%#= tr_td_action(:sports, @escuadra.sport.name) %>
		<%#= tr_td_action(:time_zone, @escuadra.time_zone) %>
		<%#= tr_td_action(:starts_at, nice_day_of_week(@escuadra.starts_at)) %>
		<%#= tr_td_action(:ends_at, nice_day_of_week(@escuadra.ends_at)) %>
		<%#= tr_td_action(:deadline_at, nice_day_of_week(@escuadra.deadline_at)) %>
		<%#= tr_td_action(:escuadras, t(:has_cup_escuadras, :count => @escuadra.escuadras.count)) %>
		<%#= tr_td_action(:games, t(:has_cup_games, :count => @escuadra.games.count)) %>	
		
		<tr>
			<%#= content_tag :td, link_to(label_name(:standing), standing_path(:id => @escuadra)), :class => "label" %>
		</tr>

	   <tr>
	     <%#= content_tag :td, cup_list(@escuadra.escuadras), :class => get_the_action %>
	   </tr>
	   <tr>
		<%#= render :partial => '/shared/show_images', :locals => {:collection => @escuadra.escuadras} %>			
	   </tr>	

		</table>

	</td>
	</tr>

	</table>
	<!-- new table -->


			 
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar_show') -%>