<%- unless activity.item.nil? -%>

<div id="partylist">
	<table class="message_rows" id="">
		<tbody>
			<tr class="" id="">
				<td class="msg_icon">
					&nbsp;
				</td>
				<td class="checkbox_toggle">
					&nbsp;
				</td>
				<td class="profile_pic">
					<%= link_to image_tag(activity.user.the_avatar, 
							options={:style => "height: 35px; width: 35px;"}), user_path(activity.user) %>
				</td>
				<td class="name_and_date">
					<span class="name">						    
					      <span class="label">&nbsp;</span>
					      <%= user_link activity.user, :class => "url fn" %>										
						
					</span>
					<span class="date">
						<%= "#{t(:ago)} #{time_ago_in_words(activity.created_at).capitalize}" %>
					</span>
				</td>
				<td class="subject">
					<div class="subject_wrap">
						<%- recent ||= false -%>
						<%= feed_message(activity, recent) %>
					</div>
				</td>
				<td class="">				

					<%- if current_user == activity.user -%>
					<%= link_to(image_tag("icons/comment_delete.png", :class => 'actioner'), 
								activity_path(activity), :method => :delete, 
														 :confirm => %(#{t(:delete_activity)}?),
														 :title => t(:delete_activity)) %>
					<%- end -%>
					
				</td>
			</tr>
		</tbody>
	</table>
</div>
<% end %>