<% if @current_user == @user and (!current_user.requested_managers.empty? or !current_user.pending_managers.empty?) %>

<% unless user.requested_managers.empty? %>    
<% Teammate.find(:all, :conditions => ["manager_id = ? and status = 'pending'", user.id]).each do |teammate| %>
<div id="partylist">
	<table class="message_rows" id="">
		<tbody>
			<tr class="">
				<td class="profile_pic">
					<%= image_link teammate.user %>
				</td>
				<td class="name_and_date">
					<span class="name">
						<%= user_link teammate.user %>
					</span>
					<span class="date">
						<%= nice_day_of_week teammate.created_at%>
					</span>
				</td>
				<td class="subject">
					<div class="subject_wrap">
						<%= t :petition_to_join %>
						<div class="snippet_wrap">
							<%= group_link teammate.group %>
						</div>
					</div>
				</td>
				<td class="">
					<%= link_to t(:accept), {:controller => 'teammate', :action => 'accept', :id => teammate.id} %>&nbsp;/&nbsp;
			        <%= link_to "#{t :deny}", {:controller => 'teammate', :action => 'decline', :id => teammate.id} %>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<% end %>
<% end %>

<% unless user.pending_managers.empty?  %>   
<% Teammate.find(:all, :conditions => ["user_id = ? and status = 'pending'", user.id]).each do |teammate| %>
<div id="partylist">
	<table class="message_rows" id="">
		<tbody>
			<tr class="">
				<td class="profile_pic">
					&nbsp;
				</td>
				<td class="name_and_date">
					<span class="name">
						<%= group_link teammate.group %>
					</span>
					<span class="date">
						<%= nice_day_of_week teammate.created_at%>
					</span>
				</td>
				<td class="subject">
					<div class="subject_wrap">
						<%= t :you_petition_to_join %>
					</div>
				</td>
				<td class="">
					<%= link_to t(:cancel_petition), {:controller => 'teammate', 
		            :action => 'decline', :id => teammate.id}, :confirm => t(:cancel_a_petition) %>      
			
				</td>
			</tr>
		</tbody>
	</table>
</div>

<% end %>
<% end %>

<% end %>