<% is_manager = @user.my_managers(current_user) %>

<div class="left">

<%= render :partial => 'show_details', :locals => {:is_manager => is_manager} %>

<%= render :partial => '/teammates/join', :locals => {:user => @user} if @current_user == @user %>

<% unless @scorecard.empty? %>
<div class="header withedit"><h2><%= t :scorecards %></h2><div>&nbsp;</div></div>
<%= render :partial => '/layouts/share/scoreboard', :locals => {:collection => @scorecard} %>
<div class=""><div>&nbsp;</div></div>
<% end %>

<% @user.groups.each do |group| %>
<%= render :partial => '/layouts/share/show_schedule', :locals => {:group => group} %>
<%= render :partial => '/layouts/share/people_table', :locals => {:users => group.users, :group => group} %>  
<% end %>

<%= render :partial => '/user/show_rpx', :locals => {:user => @user} if @current_user == @user and @user.openid_login %>

</div>

</div>