<%= render :partial => '/shared/content_pagination' %>

<% display = is_action('search') ? false : true %>

<% @users.each do |user| 
	
	theManager = false
	user.groups.each do |group| 
 		theManager = user.is_manager_of?(group) unless theManager
	end
 %>

  <div id="partylist">          
    <br/>
    <div class="partyrow">  
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
          <tr>
            <td class="tunaimage" width="100">				
				<%= link_to image_tag(user.the_avatar, options={:style => "height: 55px; width: 55px;"}), user_path(user) %>
			</td>

            <td class="info">
              <table class="infotable" border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody>                      
                  <tr valign="top">
                    <td class="eventtitle" colspan="2">
                      <h3><%= @non_member ? user.name : user_link(user) %></h3>
                    </td>
                  </tr>

					<% if (user.groups.count > 0) %>

					<tr valign="top">
						<td class="label"><%= t(:groups) %>:</td>
						<td><%=  group_list(user.groups) %></td>
					</tr>

					<% if theManager %>
					<tr valign="top">
						<td class="label"><%= t(:manager) %>:</td>
						<td>
						<% user.groups.each do |group| %>
						<%= group.name if user.is_manager_of?(group) %>
						<% end %>
						</td>
					</tr>
					<% end %>
					
					<% end %>

                  <tr valign="top">
                    <td class="label"><%= t(:t_zone) %>:</td>
                    <td><%= user.time_zone %></td>
                  </tr>

                  <tr valign="top">
                    <td class="label"><%= t(:member_since) %>:</td>
                    <td><%= nice_day_of_week user.created_at %></td>
                  </tr>
                  
                  <tr valign="top">
                    <td class="label"><%= t(:user_last_login) %>:</td>
                    <td><%= nice_day_of_week user.last_logged_at %></td>
                  </tr>

				<% if current_user.has_role?('maximo') %>
				<tr valign="top">
					<td class="label"><%= t(:beta_code) %>:</td>
					<td><%= user.beta_code %></td>
				</tr>
				<% end %>
                  
                </tbody>
              </table>
            </td>

        	<td class="actions" nowrap="nowrap">
        	<%= render :partial => '/layouts/share/general_action', :locals => {:collection => user} %>
			</td>

          </tr>              
        </tbody>
      </table>
    </div>
  </div>

<% end %>