<script type="text/javascript"
        charset="utf-8"
        id="__openidselector"
        src="https://www.idselector.com/selector/2fbfbb22c468eb1e17451f792c70c8458166d5ae"></script>

<div id="content" class="clearfix">
  <div class="title_header"><%= image_tag('logoMain.png') %></div>

  <div class="bar clearfix tab_bar"><div id="tabs"><h1><%= :sign_new_user  %></h1></div></div>
  <div class="editor_panel clearfix"><br/>

        <%= error_messages_for t(:user), :header_message => :try_again , :message => :problem_field   -%>
	<% form_for t(:user), :url => users_path do |f| -%>

      <table class="editor" border="0" cellspacing="0">
        <tbody>

          <tr class="text name">
            <td class="label" id="label_name">
              <a href='<%= NEW_OPENID_URL %>'>
                <img src='../../images/openid-large.png' width='133' height='50' alt='OpenID' border='0' />
              </a>
              &nbsp;&nbsp;</td>
            <td><%= text_field_tag t(:openid_url), params[:openid_url] || params['openid.identity'], :class => 'inputtext' %></td>
          </tr>

          <%= render :partial => '/layouts/buttons' %>
          
          <%= render :partial => '/layouts/share/steps_to_join' %>

        </tbody>
      </table>
    <% end %>

  </div>
</div>
<br/>