<% myOpenID = RPXNow.mappings(current_user.id, APP_CONFIG['rpx_api']['key']) %>

<h1>
	<%= t :your_openid %>
</h1>
<p>
	<%= t :myopenid_association %>
</p>
<h2>
	<%= t :current_accounts %>
</h2>
<table id="current_accounts">
	<thead>
		<tr>
			<th>
				<%= t :type_account %>
			</th>
			<th>
				<%= t :name_account %>
			</th>
			<th class="remove">
				<%= t :destroy %>?
			</th>
		</tr>
	</thead>
	<tbody>		
	<% if myOpenID.length > 0 %>
		<% myOpenID.each do |identifier| 	%>
		<tr>
			<td>
				<%= image_tag('mixx/auth-openid-tiny.gif') if identifier.include?('myopenid.com') %>
				<%= image_tag('mixx/auth-live-tiny.gif') if identifier.include?('live.com') %>
				<%= image_tag('mixx/auth-facebook-tiny.gif') if identifier.include?('facebook.com') %>
				<%= image_tag('mixx/auth-google-tiny.gif') if identifier.include?('google.com') %>
				<%= image_tag('mixx/auth-yahoo-tiny.gif') if identifier.include?('yahoo.com') %>
				<%= image_tag('mixx/auth-myspace-tiny.gif') if identifier.include?('myspace.com') %>			
			</td>
			<td>
				<%= h(identifier) %>
			</td>
			<td class="remove"><%= link_to t(:destroy), :controller => :rpx, :action => "remove_openid", :openid => identifier %></td>
		</tr>
		<% end %>
	<% end %>
	</tbody>
</table>
	<p>
		<%= t(:myopenid_select) %>
	</p>

<h2>
	<%=RPXNow.popup_code("#{t(:add_openid)  }",APP_CONFIG['rpx_api']['realm'], rpx_token_sessions_url, :language=>'es') %>	
</h2>
