<%
	the_label = label_name(:customer)
	content_for(:title, the_label)
	has_items = (object_counter(@customers) > 0)
%>


<% if has_items %>

<%= render('shared/index_total_header_zurb', :items => @customers) %>

<div class="row">
	<div class="twelve columns"> 

		<table>
			<thead>
				<tr>             
					<%= set_content_tag_safe(:th, label_name(:coeficient_points)) %>
					<%= set_content_tag_safe(:th, "#{label_name(:name)}") %>
					<%= set_content_tag_safe(:th, "telefono") %>
					<%= set_content_tag_safe(:th, "provincia") %>
					<%= set_content_tag_safe(:th, "email") %>
					<%= set_content_tag_safe(:th, label_name(:user)) %>
				</tr>
			</thead>

			<tbody>

				<% @customers.each do |customer| -%>		
				<tr>  
					<%= set_content_tag_safe(:td, "#{customer.id}") %>
					<%= set_content_tag_safe(:td, "#{customer.name}") %>
					<%= set_content_tag_safe(:td, "#{customer.phone}") %>
					<%= set_content_tag_safe(:td, "#{customer.city.name}") %>
					<%= set_content_tag_safe(:td, "#{customer.email}") %>
					<%= set_content_tag_safe(:td, "#{customer.user.name}") %>
				</tr>
				<% end -%>

			</tbody>
		</table>

	</div>
</div>

<% end %>


<%= render 'shared/no_items_to_display' unless has_items %>

