<div class="group">
  <%= f.label :email_addresses, label_name('email_addresses'), :class => :label %>
  <%= f.text_area :email_addresses, :class => 'textfield' %>
  <span class="description"><%= label_name('email_addresses', 'description') %></span>
</div>

<div class="group">
  <%= f.label :message, label_name(:message), :class => :label %>
  <%= f.text_area :message, :class => 'textfield' %>
	<br />
  <span class="description"><%= label_name('message', 'description') %></span>
</div>


<div class="group">
	<label for="user_username"><%#= label_name(:users) unless @recipient %></label>	
</div>

<div class="group">
	
	<fieldset id="roster">
	
	</fieldset>
	
</div>	

<div class="group">
</div>

<div class="clear"></div> 

<div class="group navform">
	<%= submit_tag @invitation.new_record? ? control_label('create') : control_label('edit'), 
	:class => "button" %> <%= label_name(:or) %> <%= link_to label_name(:cancel), invitations_path %>
</div>
