<div class="group">
  <%= f.label :email_addresses, label_name('email_addresses'), :class => :label %>
  <%= f.text_area :email_addresses, :class => 'text_area' %>
  <span class="description"><%= label_name('email_addresses', 'description') %></span>
</div>

<div class="group">
  <%= f.label :message, label_name(:message), :class => :label %>
  <%= f.text_area :message, :class => 'text_area' %>
	<br />
  <span class="description"><%= label_name('message', 'description') %></span>
</div>


<div class="group">
	<label for="user_username"><%#= label_name(:users) unless @recipient %></label>	
</div>

<div class="group">
	
	<fieldset id="roster">
	
	<%# if @scorecard 
		@schedule = @scorecard
	%>
	<%#= render :partial => '/messages/recipient_roster', :locals => {:schedule => @schedule, :checked => check } %>
	<%#= render :partial => '/messages/recipient_list', :locals => {:recipients => @recipients, :checked => check } %>
	<%#= hidden_field :scorecard, :id %>
	
	<%# elsif @match %>
	<%#= render :partial => '/messages/recipient_roster', :locals => {:schedule => @schedule, :checked => check } %>
	<%#= hidden_field :match, :id %>
	<%#= hidden_field :schedule, :id %>

	<%# elsif @schedule %>
	<%#= render :partial => '/messages/recipient_roster', :locals => {:schedule => @schedule, :checked => check } %>
	<%#= hidden_field :schedule, :id %>
	
	<%# elsif @recipient %>
	<%#= hidden_field :recipient, :id %>
	
	<%# else %>
	<%#= render :partial => '/messages/recipient_list', :locals => {:recipients => @recipients, :checked => check } %>
	<%# end %>
	
	</fieldset>
	
</div>	

<div class="group">
	<%#= render :partial => '/shared/check_radio_button' unless @recipient %>
</div>

<div class="clear"></div> 

<div class="group navform">
	<%= submit_tag @invitation.new_record? ? control_label('create') : control_label('edit'), 
	:class => "button" %> <%= label_name(:or) %> <%= link_to label_name(:cancel), invitations_path %>
</div>
