<% full_invitation ||= false 
	the_invitation = invitation.message
	the_invitation = "#{the_invitation.strip[0..55]}..." if the_invitation.length > 55 and !full_invitation
%>
<tr>
	<td>
		<%= image_link_small invitation.user %>
	</td>
	<td class="name_and_date">
			<span class="label"><%= label_name(:to) %>:</span>
			<%= invitation.recipient %>
			<br />
			<span class="label"><%= label_name(:from) %>:</span>
			<%= user_link invitation.sender %>
		
		<br />
		<span class="date">
			<%= nice_day_of_week(invitation.created_at) %>
		</span>
	</td>
	
	<td>
		<span class=""></span>
	</td>
	<td class="last">
		<%= link_to image_tag("icons/email_delete.png"), invitation_path(invitation), 
															:method => :delete, 
															:confirm => %(#{label_name(:invitation_delete) }?),
															:title => label_name(:invitation_delete) %>
	</td>
</tr>


