<div class="row">

	<div class="twelve column">   

		<h2 class="title">
			<%= label_name(:select_contacts) %>
		</h2>

		<div class="inner">

			<% counter ||= 0 %>
			
			<div class="group">
				<%= render :partial => '/shared/check_radio_button_zurb' if @contacts %>
			</div>
			<br/>
		
		<fieldset id="roster">
			<%= get_class_table_id_action %>

				<tr>
					<%= set_content_tag_safe(:th, "&nbsp;", "first") %>
					<%= content_tag :th, label_name(:name), :class => "heading" %>
					<%= content_tag :th, label_name(:email), :class => "heading" %>	
					<%= set_content_tag_safe(:th, "&nbsp;", "last") %>
				</tr>
				
				<%= form_for (@invitation), :url => invite_contact_url, :html => { :class => :form } do |f| -%>
				<% @no_users.each do |contact| -%>
				<tr>
					<td class="first"><%= counter +=1 %>.</td>

					<td><input type="checkbox" name="emails[]" id="email_<%= contact[:email] %>" value="<%= contact[:email] %>" />
							<%= contact[:name] %>
					</td>
					<td>&nbsp;&nbsp;<%= contact[:email] %></td>
					<td>&nbsp;</td>
				</tr>          
				<% end -%>
				
				

				<div class="group navform">
					<%= submit_tag control_label('create'), 
							:class => "button" %> <%= label_name(:or) %> <%= link_to label_name(:cancel), invitations_path %>
				</div><br />
				
				<% end -%>
				
			</table>
			
			</fieldset>

		</div>
	</div>
</div>





