<div class="block">

    

  <%= render :partial => '/users/secondary_navigation' %>

	<div class="content">   

		<h2 class="title">
			<%= label_name(:select_contacts) %>
		</h2>

		<div class="inner">

			<% counter ||= 0 %>
		
		<fieldset id="roster">
			<table class="table" id="<%= get_the_action.gsub(' ','_') %>">

				<tr>
					<th class="first">&nbsp;</th>
					<th><%= label_name(:name) %></th>
					<th><%= label_name(:email) %></th>
					<th class="last">&nbsp;</th>
				</tr>
				
				<% form_for :invitation, :url => invite_contact_url, :html => { :class => :form } do |f| -%>
				<% @no_users.each do |contact| -%>
				<tr>
					<td class="first"><%= counter +=1 %>.</td>

					<td><input type="checkbox" name="emails[]" id="email_<%= contact[:email] %>" value="<%= contact[:email] %>" />
							<%= contact[:name] %>
					</td>
					<td>&nbsp;&nbsp;<%= contact[:email] %></td>
					<td class="last">&nbsp;</td>
				</tr>          
				<% end -%>
				
				<div class="clear"></div> 

				<div class="group navform">
					<%= submit_tag control_label('create'), 
							:class => "button" %> <%= label_name(:or) %> <%= link_to label_name(:cancel), invitations_path %>
				</div><br />
				
				<% end -%>
				
			</table>
			
			</fieldset>
			
			<div class="group">
				<%= render :partial => '/shared/check_radio_button' if @contacts %>
			</div>

		</div>
	</div>
</div>





