<%
	the_label = label_name(:invitations)
	content_for(:title, the_label)
	has_items = (object_counter(@invitations) > 0)
%>


<% if has_items %>

	<%= render('shared/index_total_header_zurb', :items => @games) %>

	<div class="row">
		<div class="twelve columns"> 

			<table>
				<thead>
					<tr>             
						<%= set_content_tag_safe(:th, label_name(:casts_group_matches)) %>
						<%= set_content_tag_safe(:th, "&nbsp;") %>
						<%= set_content_tag_safe(:th, "&nbsp;") %>
						<%= set_content_tag_safe(:th, "&nbsp;") %>
						<%= set_content_tag_safe(:th, "&nbsp;") %>
						<%= set_content_tag_safe(:th, "&nbsp;") %>
						<%= set_content_tag_safe(:th, "&nbsp;") %>
						<%= set_content_tag_safe(:th, "&nbsp;") %>
					</tr>
				</thead>

				<tbody>

					<% @games.each do |game| -%>		
					<%= render 'games/game_full_zurb', :game => game, :display_icons => true %> 
					<% end -%>
					
						<%= render :partial => 'invitation_zurb', :collection => @invitations %>

				</tbody>
			</table>

		</div>
	</div>

<% end %>


<%= render 'shared/no_items_to_display' unless has_items %>



