<div class="block" id="block-forms-2"> 

	  <%= get_secondary_navigation(Message.new) %>  
  
  <div class="content"> 
  
	<h2 class="title">
		<%= "#{label_name(:invitation)} "  %>

		<%  if @schedule %>
			<%= "#{label_name(:to)} #{schedule_link @schedule}"  %>

		<%  elsif @group %>
			<%= "#{label_name(:to)} #{item_name_link(@group)
}"  %>

		<%  elsif @challenge %>
			<%= "#{label_name(:to)} #{item_name_link(@challenge)
}"  %>

		<%  elsif @cup %>
			<%= "#{label_name(:to)} #{item_name_link(@cup)
}"  %>

		<% end %>
	</h2>
	
	<div class="inner"> 
	
	  <%= form_for (@invitation), :url => invitations_path, :html => { :class => :form } do |f| -%>
	  
		<%= hidden_field :schedule, :id %>
		<%= hidden_field :group, :id %>
		<%= hidden_field :challenge, :id %>
		<%= hidden_field :cup, :id %>
	
		<div class="columns"> 
		
		  <div class="column left"> 
		  
			<div class="group">
			  <%= f.label :email_addresses, label_name('email_addresses'), :class => :label %>
			  <%= f.text_area :email_addresses, :class => 'textfield' %><br />
			  <span class="description"><%= label_name('email_addresses', 'description') %></span>
			</div> 
			
			<div class="group">
			  <%= f.label :message, label_name(:message), :class => :label %>
			  <%= f.text_area :message, :class => 'textfield' %><br />
			  <span class="description"><%= label_name('message', 'description') %></span>
			</div>
			
		  </div> 
		  
		  <div class="column right"> 
	
		  </div> 
		  
		</div> 
		
		<div class="clear"></div> 
		
		<div class="group navform">
			<%= submit_tag control_label('create'), :class => "button" %> 
		</div>
		
	  <% end %>
	  
	</div> 
	
  </div> 
  
</div>
