<h2 class="title"><%= get_collection_label(@venues) %></h2>

<div class="inner">
	
	<table class="table">

	  <tr>     
		<%= content_tag :th, "&nbsp;", :class => "first" %>
		<%= content_tag :th, "#{label_name(:name)}<br />#{label_name(:time_zone)}", :class => "heading" %>
		<%= content_tag :th, "#{label_name(:manager)}<br />#{label_name(:marker)}", :class => "heading" %>
		<%= content_tag :th, label_name(:general_information), :class => "heading" %>
		<%= content_tag :th, "&nbsp;", :class => "last" %>
	  </tr>

	  <% @venues.each do |venue|  	
		-%>
	  <tr>  
			<td>
				<%= item_image_link_small(venue) %>
			</td>

			<td class="name_and_date">
				<%= item_name_link(venue) %>
				<span class="date">
					<%= nice_simple_time_at(venue.starts_at) %> - <%= nice_simple_time_at(venue.ends_at) %>
				</span>
			</td>

			<td class="name_and_date">
				<%= item_list(venue.all_the_managers) %><br />
				<span class="date">
				<%= marker_link(venue.marker) %>
				</span>
			</td>

			  <td class="name_and_date">
				<%= I18n.t(:has_venue_installations, :count => object_counter(venue.installations)) %><br />
				<span class="date">										
					<%#= I18n.t(:has_group_schedules, :count => object_counter(venue.installations)) %>
				</span>
			  </td>

		       <td class="last">
					<span class="action" align="left">
						<%= option_image_small_link('message') %>&nbsp;&nbsp;<%= link_to(label_name(:send_message_to), new_message_path(:venue_id => venue)) %><br />								
						<% if current_user.is_manager_of?(venue) %> 
							<strong><%= option_image_small_link('installation') %>&nbsp;&nbsp;
									<%= link_to label_name(:installations_create), new_installation_path(:id => venue) %></strong>
				        <% end %>
					</span>
		       </td>
	  </tr>   
 
	  <% end -%>

	</table>	
	
	<%= render :partial => 'shared/action_bar', :locals => { :collection => @venues } %>

</div>