<%
	the_label = label_name(:venues)
	content_for(:title, the_label)
	has_items = (object_counter(@venues) > 0)
%>


<% if has_items %>

<%= render('shared/index_total_header_zurb', :items => @venues) %>

<table>
	<thead>
		<tr>             
			<%= set_content_tag_safe(:th, "&nbsp;") %>
			<%= set_content_tag_safe(:th, "#{label_name(:name)}") %>
			<%= set_content_tag_safe(:th, "#{label_name(:installations)}") %>
			<%= set_content_tag_safe(:th, "&nbsp;") %>

		</tr>
	</thead>

	<tbody>

		<% @venues.each do |venue| -%>		
		<%= render 'venues/venue_full_zurb', :venue => venue, :display_icons => true %> 
		<% end -%>

	</tbody>
</table>

<% end %>


