<% 
	is_user_manager = (current_user.is_manager_of?(@venue))
%>

<div class="block">

  <%= get_secondary_navigation(@venue) %> 
  
  <div class="content">
	        
  <h2 class="title"><%= h(@venue.name) %></h2>

  <div class="inner">
	
		<div class="description">
      <span class="q">
				<%=sanitize @venue.description.blank? ? control_label('description_no') : limit_item_link_length(@venue.description, 50) %>
			</span>
    </div>

		<div class="columns"> 
			<div class="column left"> 
				<div class="description">
                   <%= image_tag @venue.thumbnail %>
                 </div>
			</div>
		</div>
	
	<table>

	<tr>
	<td>		
		<table border="0">
			<%= tr_td_action(:name, @venue.name) %>
			<tr>
				<%= content_tag :td, label_name(:manager), :class => "label" %>
				<%= content_tag :td, user_list(@venue.all_the_managers), :class => get_the_action %>
			</tr>
			<tr>
				<%= content_tag :td, label_name(:marker), :class => "label" %>
				<%= content_tag :td, marker_link(@venue.marker), :class => get_the_action %>
			</tr>
			<%= tr_td_action(:time_zone,  "#{nice_simple_time_at(@venue.starts_at)} - #{nice_simple_time_at(@venue.ends_at)}" ) %>
			<%= tr_td_action(:city, @venue.marker.city) %>

			
			
			<% first = true %>
			<% @venue.installations.each do |installation| %>
			
			<tr>
				<%= content_tag :td, label_name(:installation), :class => "label" if first %>
				<%= content_tag :td, "&nbsp;&nbsp;", :class => "label" unless first %>
				<%= content_tag :td, "#{item_name_link(installation)}, 
								#{nice_simple_time_at(installation.starts_at)} -  
								#{nice_simple_time_at(installation.ends_at)}", :class => get_the_action %>				
				<%#= content_tag :td, link_to(label_name(:edit), edit_installation_path(:id => installation)), :class => get_the_action if current_user.is_manager_of?(@venue) %>
			</tr>
			
			<% 
				first = false
				end 
			-%>
			
			<tr>
				<%= content_tag :td, label_name(:description), :class => "label" %>
				<%= content_tag :td, sanitize(@venue.description), :class => get_the_action %>	
			</tr>

		</table>
	</td>
	</tr>
	</table>

			 
    </div>
  </div>
</div>

<%= render 'venues/sidebar_venue' %>



