<% 
	is_user_manager = (is_current_manager_of(@venue)) 
	is_member = is_current_member_of(@venue) 
	first = true 	
%>

<%= render 'shared/show_description_zurb', :item => @venue %>
	

<table>
	<tbody>
		<tr>
			<td>

				<div class="three columns">
					<%= image_tag @venue.photo %>
				</div>

				<div class="nine columns">

					<%= render_show_detail_zurb(:name, item_name_link(@venue)) %>
					<%= render_show_detail_zurb(:city, @venue.marker.city) %>
					<%= render_show_detail_zurb(:time_zone,  "#{nice_simple_time_at(@venue.starts_at)} - #{nice_simple_time_at(@venue.ends_at)}") %>
					<%= render_show_detail_zurb(:marker, marker_link(@venue.marker)) %>
					
					<%	@venue.installations.each do |installation| 
						the_label = first ? 'installations' : 'blank'
						first = false
						the_reservation_link = link_to(installation.name, reservations_path(:id => installation))
						%>		
						<%= render_show_detail_zurb(the_label, the_reservation_link) %>

					<% end %>

				</div>		

			</td>	
		</tr>
	</tbody>
</table>