<tr>
	<td>
		<%= image_link_small comment.user %>
	</td>

	<td>
		<span class="label"><%= label_name(:from) %>:</span>
		<%= user_link comment.user %>	
		<span class="date_created_at">
			<%= nice_full_date(comment.created_at) %>
		</span>
	</td>
	<td>
		<span class="">							
			<%=sanitize comment.body %>							
		</span>
	</td>
	<td>
		<%#= comment_image_link(comment) %>
	</td>
</tr>