<div class="columns"> 

  <div class="column left"> 

  <div class="group">
    <%= f.label :name, label_name('concept'), :class => :label %>
    <%= f.text_field :name, :class => 'textfield' %>
  </div>

  <div class="group">
    <%= f.label :home_id, label_name('escuadras'), :class => :label %>
   	<%= f.select(:home_id, @cup.the_escuadras, {:selected => @game.home_id, :include_blank => true}) %>&nbsp;&nbsp;vs.&nbsp;&nbsp;
   	<%= f.select(:away_id, @cup.the_escuadras, {:selected => @game.away_id, :include_blank => true}) %><br />
  </div>

  <div class="group">
    <%= f.label :starts_at, label_name('starts_at'), :class => :label %>
    <%= f.datetime_select :starts_at, :class => 'datetime_select' %><br />
    <span class="description"><%= label_name('starts_at', 'description') %></span>
  </div>

  <div class="group">
    <%= f.label :ends_at, label_name('ends_at'), :class => :label %>
    <%= f.datetime_select :ends_at, :class => 'datetime_select' %><br />
    <span class="description"><%= label_name('ends_at', 'description') %></span>
  </div>

  <div class="group">
    <%= f.label :reminder_at, label_name('reminder_at'), :class => :label %>
    <%= f.datetime_select :reminder_at, :class => 'datetime_select' %><br />
    <span class="description"><%= label_name('reminder_at', 'description') %></span>
  </div>

  <!-- <div class="group">
    <%#= f.label :deadline_at, label_name('deadline_at'), :class => :label %>
    <%#= f.datetime_select :deadline_at, :class => 'datetime_select' %><br />
    <span class="description"><%#= label_name('deadline_at', 'description') %></span>
  </div> -->

  </div> 

  <div class="column right"> 

  <div class="group">
    <%= f.label :jornada, label_name('jornada'), :class => :label %>
    <%= f.text_field :jornada, :class => 'textscore' %><br />
    <span class="description"><%= label_name('jornada', 'description') %></span>
  </div>

  <div class="group">
    <%= f.label :type_name, label_name(:round), :class => :label %>
   	<%= f.select(:type_name, Game.game_type, {:selected => @game.type_name, :include_blank => false}) %><br />
    <!-- <span class="description"><%#= label_name('type_name', 'description') %></span> -->
  </div>


  <% if (@game.type_name == 'FirstGame') %>
	<div class="group">
		<div class="column left">
			<div class="group">
				<%= f.label :home_ranking, label_name('home_ranking'), :class => :label %>
				<%= f.text_field :home_ranking, :class => 'textscore' %><br/>
				<span class="description"><%= label_name('stages', 'description') %></span>
			</div>
		</div>
		<div class="column right">
			<div class="group">
			<%= f.label :home_stage_name, label_name('home_stage_name'), :class => :label %>
			<%= f.text_field :home_stage_name, :class => 'textscore' %><br/>
			<span class="description"><%= label_name('stages', 'description') %></span>
			</div>
		</div>
	</div> 

	<div class="group">
		<div class="column left"> 

			<div class="group">
				<%= f.label :away_ranking, label_name('away_ranking'), :class => :label %>
				<%= f.text_field :away_ranking, :class => 'textscore' %><br/>
				<span class="description"><%= label_name('stages', 'description') %></span>
			</div>

		</div>
		<div class="column right">

			<div class="group">			
			<%= f.label :away_stage_name, label_name('away_stage_name'), :class => :label %>
			<%= f.text_field :away_stage_name, :class => 'textscore' %><br/>
			<span class="description"><%= label_name('stages', 'description') %></span>
			</div>

		</div>
	</div>
	<% end -%>

  <% if the_maximo %>
	<div class="group">
		<%= f.label :points_for_single, label_name(:points_for_single), :class => :label %>
		<%= f.text_field :points_for_single, :class => 'textscore' %><br />
		<span class="description"><%= label_name('points_for_single', 'description') %></span>
	</div>

	<div class="group">
		<%= f.label :points_for_double, label_name(:points_for_double), :class => :label %>
		<%= f.text_field :points_for_double, :class => 'textscore' %><br />
		<span class="description"><%= label_name('points_for_double', 'description') %></span>
	</div>
	
	<div class="group">
		<%= f.label :points_for_single_draw, label_name(:points_for_single_draw), :class => :label %>
		<%= f.text_field :points_for_draw, :class => 'textscore' %><br />
		<span class="description"><%= label_name('points_for_single_draw', 'description') %></span>
	</div>

	<div class="group">
		<%= f.label :points_for_single_goal_difference, label_name(:points_for_single_goal_difference), :class => :label %>
		<%= f.text_field :points_for_goal_difference, :class => 'textscore' %><br />
		<span class="description"><%= label_name('points_for_single_goal_difference', 'description') %></span>
	</div>


	<div class="group">
		<%= f.label :points_for_single_goal_total, label_name(:points_for_single_goal_total), :class => :label %>
		<%= f.text_field :points_for_goal_total, :class => 'textscore' %><br />
		<span class="description"><%= label_name('points_for_single_goal_total', 'description') %></span>
	</div>

	<div class="group">
		<%= f.label :points_for_single_winner, label_name(:points_for_single_winner), :class => :label %>
		<%= f.text_field :points_for_winner, :class => 'textscore' %><br />
		<span class="description"><%= label_name('points_for_single_winner', 'description') %></span>
	</div>
	<% end -%>
	
  </div> 

</div>

<%= f.hidden_field :cup_id %>
	
<div class="clear"></div> 

<div class="group navform">
	<%= submit_tag @game.new_record? ? control_label('create') : control_label('edit'), 
			:class => "button" %> <%= label_name(:or) %> <%= link_to label_name(:cancel), games_url(:id => @cup) %>
</div>
