
<%= the_form.hidden_field :cup_id %>


<%= set_form_label(the_form, :name) %>
<%= set_form_text_field(the_form, :name, 'input-text') %><br />

<%= the_form.label :home_id, label_name('escuadras'), :class => :label %>
<%= set_form_select(the_form, :home_id, @cup.the_escuadras, @game.home_id) %>
<%= set_form_select(the_form, :away_id, @cup.the_escuadras, @game.away_id) %><br/>


<%= set_form_label(the_form, :starts_at) %>
<div class="row">
	<div class="three columns">
	<%= the_form.text_field :starts_at_date, :id => 'starts_at_datepicker', 
							:class => 'small input-text', 
							:value => @game.starts_at.strftime("%d-%m-%Y") %>
	</div>
	
	<div class="three columns">
		<%= the_form.text_field :starts_at_time, :id => 'starts_at_timepicker', 
								:class => 'small input-text', 
								:value => @game.starts_at.strftime("%H:%M") %>
	</div>
	
	<div class="three columns">
		<%= the_form.text_field :ends_at_time, :id => 'ends_at_timepicker', 
								:class => 'small input-text', 
								:value => @game.ends_at.strftime("%H:%M") %>
	</div>
	
	<div class="three columns"></div>
	
</div>

<br>


<% if @cup.official %>

<%= set_form_label(the_form, :jornada) %>
<%= set_form_text_field(the_form, :jornada, 'small input-text', true) %><br />


<%= set_form_label(the_form, :type_name, :round) %>
<%= the_form.select(:type_name, Game.game_type, {:selected => @game.type_name, :include_blank => false}) %><br /><br/>


<%# if (@game.type_name == 'FirstGame') %>

<%= set_form_label(the_form, :home_ranking) %>
<%= set_form_text_field(the_form, :home_ranking, 'small input-text', true) %><br/>



<%= set_form_label(the_form, :home_stage_name) %>
<%= set_form_text_field(the_form, :home_stage_name, 'small input-text', true) %><br/>


<%= set_form_label(the_form, :away_ranking) %>
<%= set_form_text_field(the_form, :away_ranking, 'small input-text', true) %><br/>


<%= set_form_label(the_form, :away_stage_name) %>
<%= set_form_text_field(the_form, :away_stage_name, 'small input-text', true) %><br/>

<%# end -%>

<%# if the_maximo %>

<%#= set_form_label(the_form, :points_for_single) %>
<%#= set_form_text_field(the_form, :points_for_single, 'small input-text', true) %>


<%= set_form_label(the_form, :points_for_double) %>
<%= set_form_text_field(the_form, :points_for_double, 'small input-text', true) %><br />


<%= set_form_label(the_form, :points_for_single_draw) %>
<%= set_form_text_field(the_form, :points_for_draw, 'small input-text', true) %><br />


<%= set_form_label(the_form, :points_for_single_goal_difference) %>
<%= set_form_text_field(the_form, :points_for_goal_difference, 'small input-text', true) %><br />


<%= set_form_label(the_form, :points_for_single_goal_total) %>
<%= set_form_text_field(the_form, :points_for_goal_total, 'small input-text', true) %><br />


<%= set_form_label(the_form, :points_for_single_winner) %>
<%= set_form_text_field(the_form, :points_for_winner, 'small input-text', true) %><br />

<% end -%>

</div>



<%= render 'utilities/datepicker' %>
<%= render 'utilities/timepicker' %>