<%
	is_manager = is_current_manager_of(@cup)
	the_label = label_name(:games_destroy)
	the_confirmation = "#{ the_label }?"
	@the_game = game

	no_team = (game.home_id.nil? or game.away_id.nil?) 
	no_ranking = (game.home_ranking.nil? or game.away_ranking.nil? or game.home_stage_name.nil? or game.away_stage_name.nil? and game.type_name == 'FirstGame') 
	the_finals = (game.type_name == 'SubsequentGame' or game.type_name == 'FinalGame')

	the_previous = []
	if the_finals
		previous_games = Game.find(:all, :conditions => ["next_game_id = ?", game.id])
		previous_games.each {|the_game| the_previous << the_game.jornada}
	end
	
	the_game_name = game.name.gsub('Group Stage', '')
	has_result = (!game.home_score.nil? and !game.away_score.nil?)
	
 	show_third_place = (the_game_name != 'Third Place')
	show_third_place = true if the_maximo
%>

<% if show_third_place %>

<tr>
	<%#= set_content_tag_safe(:td, "#{the_game_name} - ##{game.jornada}") %>
	<%= set_content_tag_safe(:td, "#{the_game_name}") %>
	<%= set_content_tag_safe(:td, no_team ? "" : escuadra_image_link_smaller(game.home)) %>


  <td>
  	<%= escuadra_link(game.home) unless no_team %>
  	<%= "#{game.home_ranking} #{game.home_stage_name}<br/>".html_safe if no_team %>
	<%= "W#{the_previous[0]}" if (the_previous.length > 0) and no_team %>

  </td>

  <td align="center">
  	<%=  (game.game_played?) ? game_score_link(game) : "  -  " %> 
  </td>


  <td>
  	<%= escuadra_link(game.away) unless no_team %>
  	<%= "#{game.away_ranking} #{game.away_stage_name}<br/>".html_safe if no_team %>
	<%= "W#{the_previous[1]}" if (the_previous.length > 0) and no_team %>
  </td>

	<%= set_content_tag_safe(:td, no_team ? "" : escuadra_image_link_smaller(game.away)) %>

	
   <td>
		<% if is_manager %>
		<span class="action">					
			<%= link_to label_name(:matches), set_score_url(:id => game) unless no_team %><br/>
			<%= link_to label_name(:games_edit), edit_game_path(game) %>	
		</span>
		<% end -%>
   </td>

	<%= set_content_tag_safe(:td, !has_result ? nice_date_wo_year(game.starts_at) : "&nbsp;")  %> 

</tr>     
<% end %>