<%
	the_label = is_action('index') ? label_name(:group_stage) : label_name(:group_round)
	content_for(:title, the_label)	
%>

<div class="row">
	 
	<div class="twelve column">  
			<% if object_counter(@games) > 0 %>
				
				<%= render('shared/index_total_header_zurb', :items => @games) %>

				<div class="row">
					<div class="twelve columns"> 

						<table>
						  	<thead>
							<tr>             
								<%= set_content_tag_safe(:th, label_name(:casts_group_matches)) %>
								<%= set_content_tag_safe(:th, "&nbsp;") %>
								<%= set_content_tag_safe(:th, "&nbsp;") %>
								<%= set_content_tag_safe(:th, "&nbsp;") %>
								<%= set_content_tag_safe(:th, "&nbsp;") %>
								<%= set_content_tag_safe(:th, "&nbsp;") %>
								<%= set_content_tag_safe(:th, "&nbsp;") %>
								<%= set_content_tag_safe(:th, "&nbsp;") %>
							</tr>
							</thead>

						<tbody>

							<% @games.each do |game| -%>		
								<%= render 'games/game_full_zurb', :game => game, :display_icons => true %> 
						  	<% end -%>

						</tbody>
						</table>

					</div>
				</div>

			
				
			<% end %>
	</div>	
</div>



