<% 
	is_user_manager = current_user.is_manager_of?(@game.cup)
	# the_label = sanitize(@game.cup.name)
	the_label = ""
	# content_for(:title, sanitize(@game.cup.name))
%>

<div class="block">

  <%#= render :partial => '/shared/previous_next_message' %>

  <%= show_heading(the_label) %>

<div class="inner">

<!-- new table -->
<table>
<thead>

<tr>
<th colspan="2">

	<div class="description">
		<span class="q">
			<%#=sanitize @game.description.blank? ? control_label('description_no') : @game.description %>
		</span>
	</div>


</th>

</tr>
</thead>

<tr>
<td valign="top" width="105">&nbsp;</td>

<td>
<table border="1">

    <tr>
      <%= content_tag :td, label_name(:concept), :class => "label" %>            
		<%#= content_tag :td, sanitize(@game.cup.name), :class => get_the_action %>
    </tr>

    <%# if @game.game_played? %>

      <tr>
        <%= content_tag :td, label_name(:cup), :class => "label" %>

		<td class="<%= get_the_action%>">
          <%#= cup_link @game.cup %>
          &nbsp;&nbsp;
          <%= @game.home_score %>&nbsp;&nbsp;-&nbsp;&nbsp;<%= @game.away_score %>
          &nbsp;&nbsp;
          <%#= link_to h(@game.cup.second_team), cup_path(@game.cup) %>
		</td>
      </tr>
    <%# else %>

      <tr>
        <%= content_tag :td, label_name(:home_cup), :class => "label" %>            
		<%#= content_tag :td, cup_link(@game.cup), :class => get_the_action %>
      </tr>

    <%# end %>

	<%= tr_td_action(:starts_at, nice_day_of_week(@game.starts_at)) %>
	<%= tr_td_action(:ends_at, nice_day_of_week(@game.ends_at)) %>
	<%= tr_td_action(:reminder_at, nice_day_of_week(@game.reminder_at)) %>
	

</table>

</td>
</tr>

</table>
<!-- new table -->

</div>

</div>
</div>

<%# content_for :sidebar, render(:partial => '/games/sidebar_show') if @game -%>
<%# content_for :sidebar, render(:partial => '/shared/latest_payment') -%>
<%# content_for :sidebar, render(:partial => 'shared/share_object', :locals => {:game => @game}) if @game -%>