<%= set_form_label(the_form, :name) %>
<%= set_form_text_field(the_form, :name, 'large input-text', true) %><br/>

<%= set_form_label(the_form, :url) %>
<%= set_form_text_field(the_form, :url, 'large input-text', true) %><br/>

<%= set_form_label(the_form, :city) %>
<%= the_form.select(:city_id, City.city_name, {:selected => @company.city_id, :include_blank => false}) %><br/><br/>

<% unless is_edit %>

<fieldset>
	<span><STRONG><%= label_name(:group) %></STRONG></span>
	<hr/>
	<%= fields_for(@group, :html => { :multipart => true, :class => 'nice'  }) do |the_fields| %>
		<%= render "groups/form_zurb", :the_form => the_fields, :is_edit => is_edit %>
	<% end %>
</fieldset>

<% end %>
