<% 
	is_user_manager = (is_current_manager_of(@company)) 
	is_member = is_current_member_of(@company) 
	first_branch = true

	the_head = "<script type=\"text/javascript\" src=\"#{@company.url}/widget\"></script>"
	the_body = "<div id=\"haypistawidget\"></div>"
	
	the_controller = get_the_controller	
	
	the_label = label_name("timetables_no")
	the_label += " #{label_name(:put)} #{I18n.t(:create).downcase} #{label_name(:timetable).downcase} #{label_name(:for)} "

	the_first_team_link = true
	the_team_link = ""

	has_group_timetable = false
	
	@company.branches.each do |branch| 
		is_group_branch_manager = (current_user.is_manager_of?(branch))
		
		if is_group_branch_manager 
			branch.groups.each do |group|
				has_group_timetable = Timetable.item_timetable(group).count > 0
				
				the_team_link += ", " unless the_first_team_link
				unless has_group_timetable
					the_first_team_link = false
					the_team_link += "#{link_to(group.name, new_timetable_url(:group_id => group))} " 
				end
			end
		end
		
	end
%>



<% unless the_first_team_link %>

<hr/>
<%= coztent_tag :h6, "#{the_label} #{the_team_link}".html_safe, :class => "subheader" %>
<hr/>

<% end %>

	
<%= content_tag 'h4', label_name(:widget_javascript) %>
<hr/>

<div class="row">
	<div class="twelve columns">

		<br/>
		<%= content_tag 'p', h("#{label_name(:widget_head)}") %>

		<table>
			<tbody>
				<tr>
					<td>
						<%= h("<!-- HayPista Widget HEAD javascript -->") %><br/>
						<%= the_head %><br/>
						<%= h("<!-- HayPista Widget HEAD javascript-->") %>
					</td>
				</td>
			</tbody>
		</table>


		<br/>
		<%= content_tag 'p', h("#{label_name(:widget_body)}") %>

		<table>
			<tbody>
				<tr>
					<td>
						<%= h("<!-- HayPista Widget BODY javascript -->") %><br/>
						<%= the_body %><br/>
						<%= h("<!-- HayPista Widget BODY javascript-->") %>

					</td>
				</td>
			</tbody>
		</table>

		<br/>			
		<%= content_tag 'p', "#{label_name(:widget_each_page_haypista)}" %>

	</div>
</div>

