<% 
	is_user_manager = (is_current_manager_of(@company)) 
	is_member = is_current_member_of(@company) 
	first_branch = true
	
	the_controller = get_the_controller	
	
	the_label = label_name("timetables_no")
	the_label += " #{label_name(:put)} #{I18n.t(:create).downcase} #{label_name(:timetable).downcase} #{label_name(:for)} "

	the_first_team_link = true
	the_team_link = ""

	has_group_timetable = false
	
	@company.branches.each do |branch| 
		is_group_branch_manager = (current_user.is_manager_of?(branch))
		
		if is_group_branch_manager 
			branch.groups.each do |group|
				has_group_timetable = Timetable.item_timetable(group).count > 0
				
				the_team_link += ", " unless the_first_team_link
				unless has_group_timetable
					the_first_team_link = false
					the_team_link += "#{link_to(group.name, new_timetable_url(:group_id => group))} " 
				end
			end
		end
		
	end
%>


<% unless the_first_team_link %>

<hr/>
<%= content_tag :h6, "#{the_label} #{the_team_link}".html_safe, :class => "subheader" %>
<hr/>

<% end %>

<table>
	<tbody>
		<tr>
			<td>

				<div class="two columns">
					<%= image_tag @company.photo %>
				</div>

				<div class="ten columns">

					<%= render_show_detail_zurb(:company, @company.name) %>
					<%= render_show_detail_zurb(:city, @company.city.name) %>
					<%= render_show_detail_zurb(:url, @company.url) %>
					<%#= render_show_detail_zurb(:time_zone,  "#{nice_simple_time_at(@company.starts_at)} - #{nice_simple_time_at(@company.ends_at)}") %>
					
					<% @company.branches.each do |branch| 
						the_label = first_branch ? 'branch' : 'blank'
						the_branch_link = link_to(branch.name, branch_url(:id => branch))
						first_branch = false
						first_group = true
					%>	
						<hr/>
							<%= render_show_detail_zurb(the_label, branch.name) unless @company.public %>
						
						<% branch.groups.each do |group| 
							the_label = first_group ? 'group' : 'blank'
							the_label = 'group' 
							first_group = false
							the_group_link = link_to(group.name, branch_url(:id => group))
							first_branch = true
							first_timetable = true
						%>
						
							<%= "<hr/>".html_safe unless @company.public %>
							<%= render_show_detail_zurb(the_label, the_group_link) %>
							
							<%#= content_tag(:h6, "#{label_name(:timetables)}".html_safe, :class => "subheader") %> 
							
							<% Timetable.item_timetable(group).each do |timetable| 
								the_label = first_timetable ? 'timetable' : 'blank'

								the_timetable = "#{label_name(timetable.type.name)}, #{nice_simple_time_at(timetable.starts_at)} - #{nice_simple_time_at(timetable.ends_at)}"
								first_timetable = false
							%>
								<%= render_show_detail_zurb(the_label, the_timetable) %>
							<% end %>
							
							<%= "<hr/>".html_safe if first_timetable %>
							
						<% end %>
						
					<% end %>

				</div>		

			</td>	
		</tr>
	</tbody>
</table>
