<div class="columns"> 

  <div class="column left"> 

	  <div class="group">
	    <%= f.label :concept, label_name('concept'), :class => :label %>
	    <%= @reservation.name %>
	  </div>

	  <div class="group">
	    <%= f.label :starts_at, label_name('starts_at'), :class => :label %>
		<%= nice_day_of_week(@reservation.starts_at) %>
	  </div>

	  <div class="group">
	    <%= f.label :ends_at, label_name('ends_at'), :class => :label %>
		<%= nice_day_of_week(@reservation.ends_at) %>
	  </div>

	  <div class="group">
	    <%= f.label :fee_per_pista, label_name('fee_per_pista'), :class => :label %>
	    <%= @reservation.fee_per_pista %>
	  </div>

	  <div class="group">
	    <%= f.label :fee_per_lighting, label_name('fee_per_lighting'), :class => :label %>
	    <%= @reservation.fee_per_lighting %>
	  </div>

	  <div class="group">
	    <%= f.label :description, label_name('description'), :class => :label %>
	    <%= f.text_area :description, :class => 'textfield' %><br />
	    <span class="description"><%= label_name('description') %></span>
	  </div>

  </div> 

</div>

<%= f.hidden_field :installation_id %>
<%= f.hidden_field :venue_id %>
<%= f.hidden_field :block_token %>

<div class="clear"></div> 

<div class="group navform">
	<%= submit_tag @reservation.new_record? ? control_label('create') : control_label('edit'), 
			:class => "button" %> <%= label_name(:or) %> <%= link_to label_name(:cancel), reservations_path %>
</div>
