<%= stylesheet_link_tag 'fullcalendar/fullcalendar' %>
<%= stylesheet_link_tag 'fullcalendar/fullcalendar.print', :media => 'print' %>
<%= javascript_include_tag "jquery/jquery-1.5.2.min" %>
<%= javascript_include_tag "jquery/jquery-ui-1.8.11.custom.min" %>
<%= javascript_include_tag "fullcalendar/fullcalendar.min" %>


<script type='text/javascript'>
	$(document).ready(function() {
	
		var date = new Date();
		var the_date = date.getDate();
		var the_month = date.getMonth();
		var the_year = date.getFullYear();
		
		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month, agendaWeek, agendaDay'
			},
			titleFormat:  {
			    month: 'MMMM yyyy',                             // September 2009
			    week: "d MMM[ yyyy]{ '&#8212;'[ d] MMM yyyy}", // 7 Sep - 13 SEP 2009
			    day: 'dddd, d MMM, yyyy'                  // Tuesday, 8 Sep, 2009
			},
			buttonText:  {
			    prev:     '&nbsp;&#9668;&nbsp;',  // left triangle
			    next:     '&nbsp;&#9658;&nbsp;',  // right triangle
			    prevYear: '&nbsp;&lt;&lt;&nbsp;', // <<
			    nextYear: '&nbsp;&gt;&gt;&nbsp;', // >>
			    today:    "<%= I18n.t('today') %>",
			    month:    "<%= I18n.t('month') %>",
			    week:     "<%= I18n.t('week') %>",
			    day:      "<%= I18n.t('day') %>"
			}, 	
			columnFormat: {
			    month: 'ddd',    // Mon
			    week: 'ddd d/MMM', // Mon 9/7
			    day: 'dddd d/MMM'  // Monday 9/7
			}, 	
			timeFormat: {
			    agenda: 'H:mm{ - H:mm}', // 5:00 - 6:30
				'': 'H(:mm)' // uppercase H for 24-hour clock
			},	
			axisFormat: 'HH:00',
			defaultView: 'agendaWeek',
			dayNames:  ["<%= I18n.t('Sunday') %>", "<%= I18n.t('Monday') %>", "<%= I18n.t('Tuesday') %>", "<%= I18n.t('Wednesday') %>", 
						"<%= I18n.t('Thursday') %>", "<%= I18n.t('Friday') %>", "<%= I18n.t('Saturday') %>"],			
			dayNamesShort:	["<%= I18n.t('Sun') %>", "<%= I18n.t('Mon') %>", "<%= I18n.t('Tue') %>", "<%= I18n.t('Wed') %>", 
							 "<%= I18n.t('Thu') %>", "<%= I18n.t('Fri') %>", "<%= I18n.t('Sat') %>"],
			monthNames:  ["<%= I18n.t('January') %>", "<%= I18n.t('February') %>", "<%= I18n.t('March') %>", "<%= I18n.t('April') %>", 
			              "<%= I18n.t('May') %>", "<%= I18n.t('June') %>", "<%= I18n.t('July') %>", "<%= I18n.t('August') %>",
						  "<%= I18n.t('September') %>", "<%= I18n.t('October') %>", "<%= I18n.t('November') %>", "<%= I18n.t('December') %>"],
			monthNamesShort:  ["<%= I18n.t('Jan_short') %>", "<%= I18n.t('Feb_short') %>", "<%= I18n.t('Mar_short') %>", "<%= I18n.t('Apr_short') %>", 
						 "<%= I18n.t('May_short') %>", "<%= I18n.t('Jun_short') %>", "<%= I18n.t('Jul_short') %>", "<%= I18n.t('Aug_short') %>",
						 "<%= I18n.t('Sep_short') %>", "<%= I18n.t('Oct_short') %>", "<%= I18n.t('Nov_short') %>", "<%= I18n.t('Dec_short') %>"],
			allDaySlot: false,
			firstDay: 1,
			firstHour: 8,
			lastHour: 0,
			minTime: '<%= nice_simple_time_at(@venue_min_max_timetable.starts_at) %>',
			maxTime: '<%= nice_simple_time_at(@venue_min_max_timetable.ends_at) %>',
			events: [			
				<% the_events.each do |event| %>
					{
						title: '<%= event[0] %>',
						start: new Date(the_year, the_month, the_date+<%= event[9] %>, <%= event[3] %>, <%= event[4] %>),
						end: new Date(the_year, the_month, the_date+<%= event[9] %>, <%= event[5] %>, <%= event[6] %>),
						allDay: false,
						url: '<%= event[10] %>',
						color: '<%= event[11] %>',    // an option!
					    textColor: '<%= event[12] %>'  // an option!
					},
				<% end -%>
			]
		});		
	});
</script>

<div id='calendar'></div>