<table class="Cuadrante" border="0">
	<tbody>
		<tr>			
			<td class="ColPista">
				<div class="ColPistaCab">
					<span>
						<br/>
						<% if is_holiday %>
							<% if  holiday_hour %> 
								<%= link_to label_name(:holidays_closed), set_holiday_closed_path(:block_token => block_token, :venue_id => @venue) %>
								<br/>
								<%= link_to label_name(:holidays_none), set_holiday_none_path(:block_token => block_token, :venue_id => @venue) %>
							<% else %>
								<%= link_to label_name(:Holidays_open), set_holiday_open_path(:block_token => block_token, :venue_id => @venue) %>
								<br/>
								<%= link_to label_name(:holidays_none), set_holiday_none_path(:block_token => block_token, :venue_id => @venue) %>
							<% end %>

						<% else %>	
								<%= link_to label_name(:Holidays_open), set_holiday_open_path(:block_token => block_token, :venue_id => @venue) %>
								<br/>
								<%= link_to label_name(:holidays_closed), set_holiday_closed_path(:block_token => block_token, :venue_id => @venue) %>
								
						<% end -%>
					</span>
				</div>		
			</td>
		</tr>
	</tbody>
</table>
