<% if is_current_member_of(@group)  or is_current_manager_of(@group)  %>

<div class="row">

	
	
<div class="twelve columns">
<%	
	if is_current_member_of(@group) %> 
		
			<%= option_image_link('message') %>
			<%= link_to label_name(:send_message_to), new_message_path(:group_id => @group, :roster_id => @schedule) %>
		
		
			<%= option_image_link('invitation') %>
			<%= link_to(label_name(:invitations_create_schedule) , new_invitation_url(:schedule_id => @schedule)) %>
		
		
		<% unless @schedule.played? %>
		
			<%= option_image_link('classified') %>
			<%#= link_to(label_name(:post_pre_match), forum_path(@schedule.forum, :schedule_id => @schedule)) %>
		
		
			<%= option_image_link('schedule')  %>
			<%= link_to label_name(:send_pre_match), new_message_path(:schedule_id => @schedule) %>
		
		<% end -%>
		
		<% if @schedule.played? %>
		
			<%= option_image_link('schedule') %>
			<%= link_to label_name(:send_match), new_message_path(:match_id => @schedule.matches.first) %>
		
		<% end -%>
		
		
			<%= option_image_link('scorecard') %>
			<%= link_to label_name(:send_scorecard), new_message_path(:scorecard_id => @schedule) %>
		
<% 
	end 
	
	if is_current_manager_of(@group) and !is_controller('forum')
		the_confirmation = "#{ label_name(:destroy_schedule) } #{ label_name(:from) } #{@group.name}?" 
		unless @schedule.last_season?(current_user)
%> 
		<%= option_image_link('schedule') %>  link_to control_label('create'), new_schedule_path(:id => @schedule.group) %>
<%
		end
%>
		
		<%= option_image_link('schedule') %>
		<%= link_to control_label('edit'), edit_schedule_path(@schedule) unless @schedule.last_season?(current_user) %>
		  
		
		<%  if get_the_controller != 'topic' and !@schedule.played? %> 
		
		<%= option_image_link('schedule') %>
		<%= link_to control_label('destroy'), schedule_path(@schedule), :method => :delete, :confirm => label_name(:are_you_sure) %>
		
		<% end -%>
		
		<% unless @schedule.last_season?(current_user)  %>
		
		<%= option_image_link('schedule') %>
		<%= link_to label_name(:matches), edit_match_path(@schedule.matches.first)  %>
		
		<% end -%>
<% 
	end 
%>
</div>
	
</div>
<% end -%>