<% 
	is_user_manager = current_user.is_manager_of?(@reservation.venue)
	the_label = sanitize(@reservation.name)
	content_for(:title, sanitize(@reservation.name))		
%>

<div class="block">

  
  <%#= render "shared/previous_next_message", :reservation => @reservation, :the_previous => @the_previous, :the_next => @the_next -%>

  <%= show_heading(the_label) %>

<div class="inner">


<table>
<thead>

<tr>
<th colspan="2">

	<div class="description">
		<span class="q">
			<%=sanitize @reservation.description.blank? ? control_label('description_no') : @reservation.description %>
		</span>
	</div>


</th>

</tr>
</thead>

<tr>
<td valign="top" width="105">&nbsp;</td>

<td>
<table>

    <tr>
      <%= content_tag :td, label_name(:concept), :class => "label" %>            
		<%= content_tag :td, sanitize(@reservation.name), :class => get_the_action %>
    </tr>
	
	<%= tr_td_action(:starts_at, nice_day_of_week(@reservation.starts_at)) %>
	<%= tr_td_action(:ends_at, nice_day_of_week(@reservation.ends_at)) %>
	<%= tr_td_action(:reminder_at, nice_day_of_week(@reservation.reminder_at)) %>
	<%= tr_td_action(:sport, @reservation.installation.sport.name) %>
	<%= tr_td_action(:fee_per_pista, number_to_currency(@reservation.fee_per_pista)) %>
	<%= tr_td_action(:fee_per_lighting, number_to_currency(@reservation.fee_per_lighting)) %>
	
    <tr>
      <%= content_tag :td, label_name(:marker), :class => "label" %>       
      <%= content_tag :td, marker_link(@reservation.installation.marker), :class => get_the_action %>
    </tr>

	<% 
		the_label = h(label_name(@reservation.reminder, 'value'))
		the_confirmation = label_with_name('reminder', "- #{sanitize(@reservation.name)}?") 
	%>
	<tr>
		<%= content_tag :td, label_name(:reminder), :class => "label" %>
		<%= content_tag :td, (is_user_manager ? link_to(the_label, set_reminder_path(:id => @reservation.id), 
								:confirm => the_confirmation) : the_label), 
								:class => get_the_action %>
	</tr>
		
	<% 
		the_label = h(label_name(@reservation.public, 'value'))
		the_confirmation = label_with_name('public', "- #{sanitize(@reservation.name)}?") 
	%>
	<tr>
		<%= content_tag :td, label_name(:public), :class => "label" %>
		<%= content_tag :td, (is_user_manager ? link_to(the_label, set_public_path(:id => @reservation.id), 
								:confirm => the_confirmation) : the_label), 
								:class => get_the_action %>
	</tr>
	
</table>

</td>
</tr>

</table>


</div>

</div>
</div>

<% content_for :sidebar, render(:partial => '/shared/latest_payment') -%>
<%# content_for :sidebar, render(:partial => '/reservations/sidebar_show') if @reservation -%>
<% content_for :sidebar, render(:partial => 'shared/share_object', :locals => {:reservation => @reservation}) if @reservation -%>