<% 
	is_user_manager = current_user.is_manager_of?(@reservation.venue)
	the_label = sanitize(@reservation.concept)
	content_for(:title, sanitize(@reservation.concept))		

	the_reservation_label = h(label_name(@reservation.reminder, 'value'))
	the_reservation_confirmation = label_with_name('reminder', "- #{sanitize(@reservation.concept)}?")
	the_public_label = h(label_name(@reservation.public, 'value'))
	the_public_confirmation = label_with_name('public', "- #{sanitize(@reservation.concept)}?") 
%>


<%= render 'shared/show_description_zurb', :item => @reservation %>
	
	
<div class="row">

	<div class="twelve columns"> 
		
		<table>
		<tbody>
		<tr>
		<td>
			
		<%= render_show_detail_zurb(:concept, sanitize(@reservation.concept) %>
		<%= render_show_detail_zurb(:starts_at, nice_day_of_week(@reservation.starts_at)) %>
		<%= render_show_detail_zurb(:ends_at, nice_day_of_week(@reservation.ends_at)) %>
		<%= render_show_detail_zurb(:reminder_at, nice_day_of_week(@reservation.reminder_at)) %>
		<%= render_show_detail_zurb(:sport, @reservation.installation.sport.name) %>
		<%= render_show_detail_zurb(:fee_per_pista, number_to_currency(@reservation.fee_per_pista)) %>
		<%= render_show_detail_zurb(:fee_per_lighting, number_to_currency(@reservation.fee_per_lighting)) %>
		<%= render_show_detail_zurb(:marker, marker_link(@reservation.installation.marker) %>

		<%= render_show_detail_zurb(:reminder, 
		(is_user_manager ? link_to(the_reservation_label, set_reminder_path(:id => @reservation.id), 
		:confirm => the_reservation_confirmation) : the_reservation_label)  %>

		<%= render_show_detail_zurb(:public, 
		(is_user_manager ? link_to(the_public_label, set_public_path(:id => @reservation.id),
		:confirm => the_public_confirmation) : the_public_label) %>

		
		</td>	
		</tr>
		</tbody>
		</table>
		
	</div>
</div>






