<% 
	is_company_manager = is_current_manager_of(company)  
	the_group_link = ""
	first_website_label = "<STRONG>#{label_name(:websites)}</STRONG><br/>"
	first_group_label = "<STRONG>#{label_name(:groups)}</STRONG><br/>"

	the_branch_name_url = "#{branch.name}"
	the_branch_link = "#{first_website_label}#{the_branch_link} #{link_to(the_branch_name_url, branch.url, :target => '_blank')} <br/>#{branch.url}"
	
	branch.groups.each do |group|
		the_group_link = "#{first_group_label}#{the_group_link} #{item_name_link(group)} <br/>"
		first_group_label = ""
	end
	
	six_or_nine_columns = is_company_manager ? "six columns" : "nine columns" 
	
	the_div_hr = ""
	the_div_hr = "border-bottom:solid 1px #ccc;"
%>


<div class="three columns">
</div>

	
<div class="<%= six_or_nine_columns %>" style="<%= the_div_hr %>">

	
	<%= "#{the_branch_link}".html_safe %><br/><br/>
	<%= "#{the_group_link}".html_safe %>
	
	<%#= "#{label_name(:url)}: #{the_branch_link}".html_safe %>
	<%#= "#{label_name(:website)}: #{the_group_link}".html_safe %>
	
</div>


<% if is_company_manager %>

	<br/>
	<div class="three columns">
			<%= set_form_create_id_image_link(Group.new, :branch_id, branch, :group_new) %>
	</div>

<% end %>


