<%
	the_description = sanitize(challenge.description)
	the_description = "#{the_description.to_s.strip[0..60]}..." if the_description.to_s.length > 60
	the_description = the_description.gsub(" ", "<wbr> ")
	the_challenge = sanitize(challenge.name)
	 
	final_played ||= false
	the_game = Game.final_game(challenge.cup)
	final_played = the_game.played unless (the_game.nil? or the_game.blank?)
	-%>
<tr>  	
		<td>
			<%= item_image_link_small(challenge.all_the_managers.first) %>
		</td>

		<td>
			<%= item_name_link(challenge) %><br/>
			<span class="date">
				<%= challenge.cup.name %>
			</span>
		</td>

		<td>
			<%= user_list challenge.all_the_managers %><br />
			<span class="date">
				<%= challenge.time_zone %>
			</span>
		</td>

		<td>
			<%= I18n.t(:has_challenge_users, :count => object_counter(challenge.users)) %><br />
			<span class="date">
				<%= the_description %>
			</span>
		</td>

		<td>
			<%= link_to(label_name(:points_full), show_list_standings_path(:id => challenge)) %>
			<span class="date">
			</span>
		</td>

	 <% if display_icons %>
     <td>
			<span class="action">
				<% unless final_played %>
				<% if is_current_member_of(challenge) %>
					<%= link_to("#{label_name(:invitations_your_friend)} #{the_challenge}", new_invitation_url(:challenge_id => challenge)) %><br />
				<% 
				  	else
						unless has_current_item_petition(challenge) 
				%> 
					<%= join_item_link_to(current_user, challenge) %>
				<% 	end 
				   end
				-%>
				<% end -%>
				
			</span>
     </td>
	<% end -%>
</tr>