<% 
	full_classified ||= false 
	the_description = classified.description	
	the_description = "#{the_description.strip[0..140]}..." if the_description.length > 140 and !full_classified
%>
<tr>
	<td>
		<%= image_link_small(group) %>
	</td>

	<td class="name_and_date">
		<span class="label"><%#= "#{label_name(:from)}:  " %></span>
			<%= group_link(group) %>
			<br />
		<span class="label"><%= "#{label_name(:dates)}:  " %></span>
		<span class="date">
			<%= nice_full_date(classified.starts_at) %>&nbsp;-&nbsp;<%= nice_full_date(classified.ends_at) %>
		</span>
	</td>

	<td>
		<span class="">
			<%#= link_to h(classified.name), classified unless full_classified %><br />
			<span class="">
				<%=sanitize the_description %>							
			</span>
		</span>
	</td>
	<td class="last">
		<%#= render :partial => 'action', :locals => {:classified => classified, :group => group} if full_classified %>		
		<%= classified_image_link(classified)  if full_classified and current_user.is_manager_of?(group)   %>
	</td>
</tr>


