
<%= set_title_class(get_collection_label(challenges)) %>

<div class="inner">
	
	<table>

	  <tr> 
		<%= set_content_tag_safe(:th, "&nbsp;", "first") %>
		<%= content_tag :th, label_name(:name), :class => "heading" %>
		<%= content_tag :th, label_name(:manager), :class => "heading" %>
		<%= content_tag :th, label_name(:general_information), :class => "heading" %>
		<%= content_tag :th, "&nbsp;", :class => "heading" %>	
		<%= set_content_tag_safe(:th, "&nbsp;", "last") %>
	  </tr>

	  <% challenges.each do |challenge| 
		<%= render 'cups/cup_full_zurb', :cup => cup, :display_icons => true %>
	  <% end -%>

	</table>	
	
	<%= render 'shared/action_bar_zurb', :locals => { :collection => challenges } %>

</div>