<% the_label = @classified.concept %>


<%= render 'shared/show_description_zurb', :item => @classified %>
	
<%= link_to "", classified_path(:id => @next), :class => 'previous_classified' if @next %>
<%= link_to "", classified_path(:id => @previous), :class => 'next_classified' if @previous %>

<div class="row">

	<div class="twelve columns"> 
		
		<table>
		<tbody>
		<tr>
		<td>
			
		<%= render_show_detail_zurb(:name, item_name_link(@classified)) %>
		<%= render "classifieds/classified_zurb", :group => @group, :full_classified => true %>
		
		</td>	
		</tr>
		</tbody>
		</table>
		
	</div>
</div>





