<div class="block">

  <%= get_secondary_navigation(@group) %>
  
  <div class="content">
	<p>
		<b><%= link_to "", classified_path(:id => @next), :class => 'previous_classified' if @next %></b>
	</p>
	<p>
		<b><%= link_to "", classified_path(:id => @previous), :class => 'next_classified' if @previous %></b>
	</p>
	<br />
	
	<h2 class="title"><%= h(@classified.concept) %></h2>
	
	<div class="inner">
		<table class="table">
			<%= render "classifieds/classified", :group => @group, :full_classified => true %>
		</table>
	</div>
  </div>
</div>


<%# content_for :sidebar, render(:partial => '/groups/sidebar_show') -%>
<% content_for :sidebar, render("groups/sidebar_show", :group => @group) %>