  <div class="group">
    <%= f.label :concept, label_name('concept'), :class => :label %>
    <%= f.text_field :concept, :class => 'text_field' %><br />
    <span class="description"><%= label_name('concept', 'description') %></span>
  </div>

  <div class="group">
    <%= f.label :starts_at, label_name('starts_at'), :class => :label %>
    <%= f.datetime_select :starts_at, :class => 'datetime_select' %><br />
    <span class="description"><%= label_name('starts_at', 'description') %></span>
  </div>

  <div class="group">
    <%= f.label :ends_at, label_name('ends_at'), :class => :label %>
    <%= f.datetime_select :ends_at, :class => 'datetime_select' %><br />
    <span class="description"><%= label_name('ends_at', 'description') %></span>
  </div>

  <div class="group">
    <%= f.label :reminder, label_name('reminder'), :class => :label %>
    <%= f.check_box :reminder, :class => 'check_box' %>
    <span class="description"><%= label_name('reminder', 'description') %></span>
  </div>

<!-- <div class="group">
	<%#= f.label :time_zone, label_name('time_zone'), :class => :label %>
	<%#= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %><br />
	<span class="description"><%#= label_name('time_zone', 'description') %></span>
</div> -->

  <!-- <div class="group">
    <%#= f.label :sport_id, label_name('sport'), :class => :label %>
   	<%#= f.select(:sport_id, Sport.sport_name, {:selected => @group.sport_id, :include_blank => true}) %>
    <span class="description"><%#= label_name('sport', 'description') %></span>
  </div> -->

  <div class="group">
    <%= f.label :marker_id, label_name('marker'), :class => :label %>
    <%= f.select(:marker_id, Marker.marker_name, 
	{:selected => @group.marker_id, :include_blank => true})%>&nbsp;<%= link_to label_name(:create_marker), new_marker_url %><br />
    <span class="description"><%= label_name('marker', 'description') %></span>
  </div>

  <div class="group">
    <%= f.label :player_limit, label_name('player_limit'), :class => :label %>
    <%= f.text_field :player_limit, :class => 'textscore' %><br />
    <span class="description"><%= label_name('player_limit', 'description') %></span>
  </div>

  <div class="group">
    <%= f.label :public, label_name('public'), :class => :label %>
    <%= f.check_box :public, :class => 'check_box' %>
    <span class="description"><%= label_name('public', 'description') %></span>
  </div>

  <div class="group">
    <%= f.label :description, label_name('description'), :class => :label %>
    <%= f.text_area :description, :class => 'text_area' %><br />
    <span class="description"><%= label_name('description') %></span>
  </div>

  <div class="group">
    <%= f.label :user, label_name('user'), :class => :label %>
    <%= f.text_field :user_id, :class => 'text_field' %>
    <span class="description"><%= label_name('user', 'description') %></span>
  </div>

  <div class="group">
    <%= f.label :public, label_name('public'), :class => :label %>
    <%= f.check_box :public, :class => 'check_box' %>
    <span class="description"><%= label_name('public', 'description') %></span>
  </div>

<%= render :partial => 'roster_list', 
:locals => {:label => t(:roster), :practice => @practice, :recipients => @recipients, :checked => true } %>

<%= f.hidden_field :group_id %>
<%= f.hidden_field :sport_id %>
<%= f.hidden_field :time_zone %>

<div class="clear"></div> 

<div class="group navform">
	<%= submit_tag @practice.new_record? ? control_label('create') : control_label('edit'), 
			:class => "button" %> <%= label_name(:or) %> <%= link_to label_name(:cancel), practices_path %>
</div>
  