
  <div class="group">
    <%= f.label :name, "Name", :class => :label %>
    <%= f.text_field :name, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :meet_id, "Meet_id", :class => :label %>
    <%= f.text_field :meet_id, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :user_id, "User_id", :class => :label %>
    <%= f.text_field :user_id, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :user_score, "User_score", :class => :label %>
    <%= f.text_field :user_score, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :played, "Played", :class => :label %>
    <%= f.check_box :played, :class => 'check_box' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :one_x_two, "One_x_two", :class => :label %>
    <%= f.text_field :one_x_two, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :user_x_two, "User_x_two", :class => :label %>
    <%= f.text_field :user_x_two, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :type_id, "Type_id", :class => :label %>
    <%= f.text_field :type_id, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :status_at, "Status_at", :class => :label %>
    <%= f.datetime_select :status_at, :class => 'datetime_select' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :deleted_at, "Deleted_at", :class => :label %>
    <%= f.datetime_select :deleted_at, :class => 'datetime_select' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :archive, "Archive", :class => :label %>
    <%= f.check_box :archive, :class => 'check_box' %>
    <span class="description">Ex: a simple text</span>
  </div>
        
<div class="group navform">
  <input type="submit" class="button" value="Save &rarr;" /> or <%= link_to 'Cancel', clashes_path %>
</div>