<% 
@goles = [1, 2, 3, 4, 5] 
@meet ||= @clash.meet
@clashes ||= @meet.the_roster
%>

<div class="block">

	<%= render :partial => '/tournaments/secondary_navigation' %>   

	<div class="content">   

		<h2 class="title"><%= round_link @meet.round %></h2>
		<br />

		<div class="inner">
		
      <% form_for @clash, :url => clash_path(@clash), :html => { :class => :form } do |f| -%>

		<div class="group">
		
			<%= f.label :score, label_name(:score), :class => :label %><br />
		
			<table>
				<%= render :partial =>'clash', :collection => @clashes, :locals => {:first_team => false} %>
			</table>
						
		</div>
		<br />

		<div class="group">
			<%= f.label :description, "Description", :class => :label %>
			<%= f.text_area :description, :class => 'textfield' %>
		</div>	
		<br />	
		
		<div class="clear"></div> 
		<br />
		<br />
		<div class="round navform">
			<%= submit_tag @clash.new_record? ? control_label('create') : control_label('edit'), 
					:class => "button" %> <%= label_name(:or) %> <%= link_to label_name(:cancel), clashes_path %>
		</div>
		
      <% end -%>

		</div>

	</div>

</div>

<!-- end of the line -->