<div class="block">
  <div class="secondary-navigation">
    <ul>
      <li class="first"><%= link_to 'List', clashes_path  %></li>
      <li><%= link_to 'New', new_clash_path %></li>
      <li class="active"><%= link_to 'Show', clash_path %></li>
    </ul>
    <div class="clear"></div>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b>Name:</b>
          <%= @clash.name %>
        </p>

        <p>
          <b>Meet_id:</b>
          <%= @clash.meet_id %>
        </p>

        <p>
          <b>User_id:</b>
          <%= @clash.user_id %>
        </p>

        <p>
          <b>User_score:</b>
          <%= @clash.user_score %>
        </p>

        <p>
          <b>Played:</b>
          <%= @clash.played %>
        </p>

        <p>
          <b>One_x_two:</b>
          <%= @clash.one_x_two %>
        </p>

        <p>
          <b>User_x_two:</b>
          <%= @clash.user_x_two %>
        </p>

        <p>
          <b>Type_id:</b>
          <%= @clash.type_id %>
        </p>

        <p>
          <b>Status_at:</b>
          <%= @clash.status_at %>
        </p>

        <p>
          <b>Deleted_at:</b>
          <%= @clash.deleted_at %>
        </p>

        <p>
          <b>Archive:</b>
          <%= @clash.archive %>
        </p>
      <%= link_to 'Edit', edit_clash_path(@clash) %>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>