<% if current_user.is_member_of?(@schedule.group) or current_user.is_member_of?(@schedule.group_visit) %>

  <% unless @schedule.convocados.empty? %>
    <tr class="text game">
      <td class="label"><%= "#{t :rosters }"%>:</td>
    </tr>
    <%= render :partial => '/layouts/share/form_roster_box', :locals => {:schedule => @schedule, :the_roster => @schedule.the_roster} %>
  <% end %>

  <% unless @schedule.last_minute.empty? %>
    <tr class="text game">
      <td class="label"><%= "#{t :last_minute }"%>:</td>
    </tr>
    <%= render :partial => '/layouts/share/form_roster_box', :locals => {:schedule => @schedule, :the_roster => @schedule.the_last_minute} %>
  <% end %>

  <% unless @schedule.no_shows.empty? %>
    <tr class="text game">
      <td class="label"><%= "#{t :no_shows }"%>:</td>
    </tr>
    <%= render :partial => '/layouts/share/form_roster_box', :locals => {:schedule => @schedule, :the_roster => @schedule.the_no_show} %>
  <% end %>

<% end %>