<% counter = 0 %>

<tr class="text game">
  <td class="label">&nbsp;</td>    
  <td>    
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tbody>
        <% the_roster.each do |match| %>  
            <tr>
              <td class="leagueheaderright">
                <input type="checkbox" id="<%= counter += 1 %>" name="user_ids[]" value="<%= match.user.id %>">&nbsp;&nbsp;<%= counter %>.&nbsp;&nbsp;
                <% unless @schedule.played? %>
                    <%= nav_action(match.user.name, 'match', 'set_team', match.id, t(:change_group)) %></td>
              		<td class="leagueheaderright">
						<%= nav_action(match.team_name(@schedule), 'match', 'set_team', match.id, t(:change_group)) if match.type_id == 1 %>
					</td>  
             
                <% else %>
                    <%= nav_show(match.user.name, 'user', match.user.id) %></td>
               		<td class="leagueheaderright"><%= match.team_name(@schedule) %></td>  
		            <td class="leagueheaderright"><%= match.win_loose_draw_label  %></td>
                <% end %>
            </tr>   
        <% end %>
                    
      </tbody>
    </table>    
  </td>
</tr>

<tr>
  <td>&nbsp;</td>
  <td><div class="divider" style="">&nbsp;</div></td>
</tr>