<% if current_user.has_role?('member', group) %>

<div class="header withedit"><h2><%= t(:users) %></h2>
  <div><%= nav_show(group.name, 'group', group.id) %></div>
</div>
<div class="subheader clearfix">
  <h3>
    <div style="float: left;"><%= t(:has_group_users, :count => users.count) %></div>
    <div style="float: right;">&nbsp;</div>
  </h3>
</div>

<div class="box clearfix">
  <table class="people_table" border="0" cellpadding="0" cellspacing="2" width="100%">
    <tbody>
      <tr>
        <% counter = 0
        users.each do |user| 
          counter += 1
        %>                      
        
          <% if counter > 5 %>
            <% counter = 1 %>
          </tr>
          <tr>
          <% end %>
                
          <td width="20%">
            <% if current_user.is_member?  %>
              <%= nav_show(image_tag(user.the_avatar, options={:style => "height: 50px; width: 50px;"}), 'user', user.id) %><br>
              <%= nav_show(user.name, 'user', user.id) %>
            <% else %>
              <%= image_tag(user.the_avatar, options={:style => "height: 50px; width: 50px;"}) %>
              <%= user.name %>                         
            <% end %>
          </td>                    
        <% end %>
      </tr>
    </tbody>
  </table>
</div> 

<% end %>