<% if current_user.has_role?('member', group) %>

	<% previous_events = group.schedule_played %>

	<% unless count_objects(previous_events) == 0 %>
		<div class="header withedit"><h2><%= t(:previous_schedules) %></h2>
		  <div><%= nav_show(group.name, 'group', group.id) %></div>
		</div>

		<div class="box clearfix">
		  <table class="info_table" border="0" cellspacing="0">
		    <caption><%= t(:previous_schedule) %></caption>
		    <tbody>
		      <% group.schedule_played.each do |schedule| %>
      
				<tr>
				<td class="label"><%= t(:name)%></td>
				<td>
					<div style="float: left;">
		     	   	<%= nav_show(schedule.concept, 'schedule', schedule.id) %>
			     	</div>
			     	<div style="float: right;">
		         	<%= link_to t(:archive), {:controller => 'match', :action => 'archive', :id => schedule.id}, :confirm => t(:cancel_a_petition)  if display %>      
		     		</div>
			</td>
			</tr>
   
		        <%= data_wrap(t(:starts_at_match), nice_day_of_week(schedule.starts_at)) %>              
		        <%= data_wrap(t(:marker), nav_show(schedule.marker.name, 'marker', schedule.marker.id)) %> 
		        <%= data_wrap(t(:matches), "#{schedule.group.name}     #{schedule.matches.first.group_score}  :  #{schedule.matches.first.invite_score}   " +
		            (schedule.is_invite? ? schedule.invite_group.name : schedule.group.second_team))
		      %>
	  
		        <%= data_wrap(t(:rosters) , list_objects(schedule.convocados)) unless schedule.convocados.empty? %>
		        <%= data_wrap(t(:last_minute) , list_objects(schedule.last_minute)) unless schedule.last_minute.empty? %>
		        <%= data_wrap(t(:no_shows) , list_objects(schedule.no_shows)) unless schedule.no_shows.empty? %>
             
		        <tr>
		          <td>&nbsp;</td>
		          <td><div class="divider" style="">&nbsp;</div></td>
		        </tr>
      
		      <% end %>
		    </tbody>
		  </table>
		</div>
	<% end %>
<% end %>