<style type="text/css">
	#status a{
		float:right;
		display:block;
		list-style:none;
		margin:0px;
		padding:0px;
		padding-right:8px;
		font-size:10px;
		color: lightgray;}
	#status a:hover{
		background:#5c75aa;
	}
	
	.scorecard{
	/*	float:right;*/
/*		display:block;*/
	/*	list-style:none;*/
	/*	margin:5px;*/
		padding:2px;
	/*	padding-right:5px;*/
		font-size:11px;
		color: black;
	/*	vertical-align:top;*/
		text-align: right;
	}

</style>

<% counter = 0 %>

<div class="box clearfix">

	<table class="people_table" border="0" cellpadding="0" cellspacing="2" width="100%">
		<tbody>
			<tr>
				<td class="eventtitle" colspan="2">
					<table class="people_table" border="0" cellpadding="0" cellspacing="2" width="100%" border= "solid 1px black">

						<tbody>
							<tr>

								<td class="eventtitle" colspan="2">
									<% the_roster.each do |match| %>

									<tr valign="top">
										<td class="label"><%= counter += 1 %>.</td>
										<td class="label"><%= nav_show(match.user_name, 'user', match.user_id) %></td>
										<td class="label">

											<% if current_user.is_sub_manager_of?(schedule.group) %>
											
												<%  unless schedule.played?  %>
												
													<% if match.type_id == 1 %>
														<%= nav_action(match.team_name(schedule), 'match', 'set_team', match.id, t(:change_group)) %>
													<% else %>
														<%= schedule.group.name %>
													<% end %>
													
												<% else %>
												
													<%= match.team_name(schedule) %>
												<td class="label"><%= match.win_loose_draw_label %></td>
												
												<% end %>

											<% else %>
											

												<%= match.team_name(schedule) %>
												<% if schedule.played? %>
												<td class="label"><%= match.win_loose_draw_label %></td>
												<% end %>

											<% end %>
										</td>
										<td><div id="status"><%= link_to nice_day_of_week(match.updated_at) %></div></td>
										
										<% if current_user == match.user or current_user.is_manager_of?(schedule.group) and schedule.not_played?  %>

											<% match_type.each do |type|  %>
										
												<% if type.name != match.type_name %>
												
														<td>
															<div id="status">
																<%= link_to(globalite_l("#{type.name}"),
																{:controller => 'match', :action => 'set_status', :id => match.id, :type => type.id}, 
																:title => "#{t :change_roster_status } #{t(:to) } #{globalite_l("#{type.name}")}", 
																:confirm => "#{t :change_roster_status } #{t(:to) } #{globalite_l("#{type.name}")}?") if schedule.not_played? %>
															</div>
														</td>
												
												<% end %>
											
											<% end %>

										<% end %>


									</tr>

									<% end %>

								</td>



							</tr>
						</tbody>
					</table>
				</td>
				<td class="eventtitle" colspan="2">
					<table class="" border="0" cellpadding="0" cellspacing="2" width="100%">
						<tbody>
							<tr>

								<td class="eventtitle" colspan="2">
									<% the_roster.each do |match| %>

									<tr valign="top">										

										<% if current_user.is_sub_manager_of?(schedule.group) %>
										<td class="scorecard" title="<%= t(:games_played_full) %>"><%= "#{match.scorecard_played}" %></td>
										<% end %>

									</tr>

									<% end %>

								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</div>

