<div class="block">

	<h3><%= label_name(get_the_controller, 'options') %></h3>
	
<ul class="navigation">
<%	
	if current_user.is_member_of?(@tournament)  %> 
		<li><%= link_to label_name(:send_message_to_meet), new_message_path(:meet_id => @meet) %></li>		
		<li><%= link_to(label_name(:invitations_create_meet) , new_invitation_url(:meet_id => @meet)) %></li>
<% 
	end 
	
	if current_user.is_sub_manager_of?(@tournament) %> 
		<li><%= link_to label_name(:send_pre_clash), new_message_path(:meet_id => @meet) unless @meet.played? %></li>
		<li><%= link_to label_name(:send_clash), new_message_path(:clash_id => @meet.clashes.first) if @meet.played? %></li>
		<li><%= link_to label_name(:send_scorecard), new_message_path(:scorecard_id => @meet) %></li>
<% 
	end 
	
	if current_user.is_manager_of?(@tournament) 
		the_confirmation = "#{ label_name(:destroy_meet) } #{ label_name(:from) } #{@meet.concept}?" 
%> 
		<li><%= link_to control_label('create'), new_meet_path(:id => @meet.id) %></li>
		<li><%= link_to control_label('edit'), edit_meet_path(@meet) %></li>  
		<%  unless get_the_controller == 'topic' %> 
		<li><%= link_to control_label('destroy'), meet_path(@meet), :method => :delete, 
					:confirm => label_name(:are_you_sure) unless @meet.played? %></li>
		<% end %>
		<li><%= link_to label_name(:clashes), edit_clash_path(@meet.clashes.first.id) %></li>
<% 
	end 
%>
</ul>
	
</div>