<%	
	the_action = ['tour list', 'tour roster', 'tour no show', 'tour last minute', 'tour unavailable']

	is_convocado ||= false
	is_tournament ||= false
	
	is_convocado = the_action.include?(get_the_action) 	
%>

<div class="block">
	<h3><%= label_name(get_the_controller, 'options') %></h3>	
<ul class="navigation">
<%	
	if current_user.is_tour_member_of?(@tournament)  %> 
		<%= content_tag 'li', link_to(label_name(:send_message_to_meet), new_message_path(:meet_id => @meet)) %>
		<%= content_tag 'li', link_to(label_name(:invitations_create_meet) , new_invitation_url(:meet_id => @meet)) unless is_convocado %>
<% 
	end 
	
	if current_user.is_sub_manager_of?(@tournament) %> 
		<%= content_tag 'li', link_to(label_name(:send_pre_clash), new_message_path(:meet_id => @meet)) unless @meet.played? or !is_convocado %>
		<%= content_tag 'li', link_to(label_name(:send_clash), new_message_path(:clash_id => @meet.clashes.first)) if @meet.played? %>
		<%#= content_tag 'li', link_to(label_name(:send_standing), new_message_path(:standing_id => @meet.round)) %>
<% 
	end 
	
	if current_user.is_manager_of?(@tournament) 
		the_confirmation = "#{ label_name(:destroy_meet) } #{ label_name(:from) } #{@meet.concept}?" 
%> 
		<%= content_tag 'li', link_to(control_label('create'), new_meet_path(:id => @meet.round)) unless is_convocado %>
		<%= content_tag 'li', link_to(control_label('edit'), edit_meet_path(@meet)) unless is_convocado %>
		
		<%  unless get_the_controller == 'topic' %> 
		<%= content_tag 'li', link_to(control_label('destroy'), meet_path(@meet), :method => :delete, 
					:confirm => label_name(:are_you_sure)) unless @meet.played? or is_convocado %>
		<% end %>
		
		<%= content_tag 'li', link_to(label_name(:clashes), edit_clash_path(@meet.clashes.first)) unless is_convocado %>
<% 
	end 
%>
</ul>
	
</div>