<% 
	counter = 0 
	roster_count = (object_counter(the_roster) > 0)

	type_id = [1, 4]
		
	is_manager = current_user.is_manager_of?(@tournament)
	is_sub_manager = current_user.is_sub_manager_of?(@tournament)
	
	@positions = Type.find(:all, :conditions => "table_type = 'User'", :order => "id")
	@tournament = @meet.tournament
	
if roster_count 
%>
	<table class="table" id="<%= get_the_action.gsub(' ','_') %>">
	<tr>
		<%= content_tag 'th', "&nbsp;", :class => "first" %>
		<%= content_tag 'th', "&nbsp;" %>
		<%= content_tag 'th', label_name(:name) %>
		<%= content_tag 'th', label_name(:change_at), :align => "center", :title => label_name(:change_at) %>
		<%= content_tag 'th', label_name(:change_your_roster_status), :align => "center", 
										 :title => label_name(:change_your_roster_status), :class => "last" %>
	</tr>
        
       	<% the_roster.each do |clash| 
			subscriber = clash.user.is_subscriber_of?(@tournament)
		    the_label =  label_name("subscription_#{subscriber}") unless subscriber 
			the_klass = "subscription_#{subscriber}" unless subscriber
			@roster = clash	
		-%>
        <tr>
			<td><%= image_link_smaller clash.user %></td>			
			<td class="<%= the_klass %>" title = "<%= the_label %>"><%= counter +=1 %>.</td>			
			<td>
				<%= user_link clash.user %><br />
				<%= "( #{label_name(:no_jugado)} )" if clash.type_id == 4 %>
			</td>			
			
			<td class="name_and_date">
				<span class="date">
					<%= ago(clash.status_at) %>
				</span>
			</td>
		
			<td class="last">
			<% 
			if current_user == clash.user or current_user.is_manager_of?(@tournament) 
				@clash_type.each do |type|  
					unless type.id == clash.type_id			
			
						# only manager can view option 'no_jugado'
						if type.id == 4
			%>
							<%= render :partial => '/meets/tour_roster_option', 
									:locals => {:type => type, :clash => clash} if current_user.is_manager_of?(@tournament) %>
			<% 			
						else
			%>
							<%= render :partial => '/meets/tour_roster_option', :locals => {:type => type, :clash => clash} %>
			<%
						end 
					end
			 	end
			end
			%>
			</td>
			<% 5.times.each do %>
			<%= content_tag 'td', "&nbsp;" %>
			<%= content_tag 'td', "&nbsp;" %>
			<% end %>
</tr>          
<% 
end 
-%>

</table>

<% 
end
%>

	




















