<% 
	is_user_manager = current_user.is_manager_of?(@meet.round)
%>


<div class="block">

  <%= render :partial => '/tournaments/secondary_navigation' %>   
  
  <div class="content">
	<p>
		<b><%= link_to "", meet_path(@next), :class => 'previous_message' if @next %></b>
	</p>
	<p>
		<b><%= link_to "", meet_path(@previous), :class => 'next_message' if @previous %></b>
	</p>
	<br />
  <h2 class="title"><%=sanitize(@meet.concept) %></h2>


<div class="inner">

<!-- new table -->
<table>
<thead>

<tr>
<th colspan="2">

	<div class="description">
		<span class="q">
			<%=sanitize @meet.description.blank? ? control_label('description_no') : @meet.description %>
		</span>
	</div>


</th>

</tr>
</thead>

<tr>
<td valign="top" width="105">&nbsp;</td>

<td>
<table border="1">

    <tr>
      <%= content_tag :td, label_name(:concept), :class => "label" %>            
		<%= content_tag :td, sanitize(@meet.concept), :class => get_the_action %>
    </tr>

    <% if @meet.game_played? %>

      <tr>
        <%= content_tag :td, label_name(:round), :class => "label" %>

		<td class="<%= get_the_action%>">
          <%#= round_link @meet.round %>
          &nbsp;&nbsp;
          <%#= @meet.home_score %>&nbsp;&nbsp;-&nbsp;&nbsp;<%#= @meet.away_score %>
          &nbsp;&nbsp;
          <%#= link_to h(@meet.round.second_team), round_path(@meet.round) %>
		</td>
      </tr>
    <% else %>

      <tr>
        <%= content_tag :td, label_name(:home_round), :class => "label" %>            
		<%= content_tag :td, round_link(@meet.round), :class => get_the_action %>
      </tr>

    <% end %>

	
	<%#= tr_td_action(:game_notes, @meet.matches.first.description) if @meet.played? %>
	<%= tr_td_action(:jornada, @meet.jornada) %>
	<%= tr_td_action(:starts_at, nice_day_of_week(@meet.starts_at)) %>
	<%= tr_td_action(:ends_at, nice_day_of_week(@meet.ends_at)) %>
	<%#= tr_td_action(:season, @meet.season) %>
	<%= tr_td_action(:sport, @meet.sport_name) %>
	<%#= tr_td_action(:fee_per_tour, number_to_currency(@meet.fee_per_tour)) %>
	<%= tr_td_action(:time_zone, @meet.time_zone) %>
	
    <tr>
      <%= content_tag :td, label_name(:marker), :class => "label" %>       
      <%= content_tag :td, marker_link(@meet.marker), :class => get_the_action %>
    </tr>


	<% unless @meet.convocados.empty? %>
	<tr>
		<%= content_tag :td, "#{label_name(:convocados)}   (#{@meet.convocados.count})", :class => "label" %>
		<%= content_tag :td, user_list(@meet.convocados), :class => get_the_action %>
	</tr>
	<% end %>

	<% unless @meet.last_minute.empty? %>
	<tr>
		<%= content_tag :td, "#{label_name(:last_minute)}   (#{@meet.last_minute.count})", :class => "label" %>
		<%= content_tag :td, user_list(@meet.last_minute), :class => get_the_action %>
	</tr>
	<% end %>
	<% unless @meet.no_shows.empty? %>
	<tr>
		<%= content_tag :td, "#{label_name(:no_shows)}   (#{@meet.no_shows.count})", :class => "label" %>
		<%= content_tag :td, user_list(@meet.no_shows), :class => get_the_action %>
	</tr>
	<% end %>
	
	<% unless @meet.no_jugado.empty? %>
	<tr>
		<%= content_tag :td, "#{label_name(:no_jugado)}   (#{@meet.no_jugado.count})", :class => "label" %>
		<%= content_tag :td, user_list(@meet.no_jugado), :class => get_the_action %>
	</tr>
	<% end %>

	<%= tr_td_action(:player_limit, @meet.player_limit) %>
	
	<% 
		the_label = h(label_name(@meet.public, 'value'))
		the_confirmation = label_with_name('public', "- #{sanitize(@meet.concept)}?") 
	%>
	<tr>
		<%= content_tag :td, label_name(:public), :class => "label" %>
		<%= content_tag :td, (is_user_manager ? link_to(the_label, set_public_path(:id => @meet.id), 
								:confirm => the_confirmation) : the_label), 
								:class => get_the_action %>
	</tr>
	
	<%#= tr_td_action(:season_ends_at, nice_day_date(@meet.season_ends_at)) %>

</table>

</td>
</tr>

</table>
<!-- new table -->

</div>

	

</div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar_show') -%>