


<%= the_form.hidden_field :user_id %>



<div class="row">
  <div class="large-4 columns">

	<%= set_form_label(the_form, :surveys_ubicacion, '', true) %>
	<%= set_form_text_field(the_form, :ubicacion, 'small input-text', true) %>
	
  </div>
  <div class="large-4 columns">

	<%= set_form_label(the_form, :surveys_superficie, '', true) %>
	<%= set_form_text_field(the_form, :superficie, 'small input-text', true) %>
	
  </div>
  <div class="large-4 columns">

	<%= set_form_label(the_form, :surveys_expositor, '', true) %>
	<%= set_form_text_field(the_form, :expositor, 'small input-text', true) %>

  </div>
</div>

<div class="row">
  <div class="large-4 columns">

	<%= set_form_label(the_form, :surveys_duracion, '', true) %>
	<%= set_form_text_field(the_form, :duracion, 'small input-text', true) %>

  </div>
  <div class="large-4 columns">

	<%= set_form_label(the_form, :surveys_horario, '', true) %>
	<%= set_form_text_field(the_form, :horario, 'small input-text', true) %>

  </div>

  <div class="large-4 columns">

	<%= set_form_label(the_form, :surveys_cursos, '', true) %>
	<%= set_form_text_field(the_form, :cursos, 'small input-text', true) %>

  </div>

</div>



<div class="row">
  <div class="large-4 columns">

	<%= set_form_label(the_form, :surveys_demonstracion, '', true) %>
	<%= set_form_text_field(the_form, :demostracion, 'small input-text', true) %>

  </div>
  <div class="large-4 columns">

	<%= set_form_label(the_form, :surveys_consurso, '', true) %>
	<%= set_form_text_field(the_form, :concurso, 'small input-text', true) %>

  </div>

  <div class="large-4 columns">

	<%= set_form_label(the_form, :surveys_organizacion, '', true) %>
	<%= set_form_text_field(the_form, :organizacion, 'small input-text', true) %>

  </div>

</div>


<%= set_form_label(the_form, :surveys_expectativa, '', true) %>
<%= set_form_text_field(the_form, :expectativa, 'small input-text', true) %>


<%= set_form_label(the_form, :description) %>
<%= set_form_text_area(the_form, :comentario, true) %>
