<%
	the_label = label_name(:survey)
	content_for(:title, the_label)
	has_items = (object_counter(@surveys) > 0)
	
	the_ubicacion = 0
	the_superficie = 0
	the_expositor = 0
	the_duracion = 0
	the_horario = 0
	the_cursos = 0
	the_demostracion = 0
	the_concurso = 0
	the_organizacion = 0
	the_expectativa = 0
	the_counter = 0
%>


<% if has_items %>

<%= render('shared/index_total_header_zurb', :items => @surveys) %>

<div class="row">
	<div class="twelve columns"> 

		<table>
			<thead>
				<tr>             
					<%= set_content_tag_safe(:th, label_name(:coeficient_points)) %>
					<%= set_content_tag_safe(:th, "values") %>
					<%= set_content_tag_safe(:th, label_name(:description)) %>
					<%= set_content_tag_safe(:th, label_name(:user)) %>
				</tr>
			</thead>

			<tbody>

				<% @surveys.each do |survey| 
					the_survey_values = "ubicacion: #{survey.ubicacion} "
					the_survey_values = "#{the_survey_values}<br/>superficie #{survey.superficie} "
					the_survey_values = "#{the_survey_values}<br/>expositor #{survey.expositor} "
					the_survey_values = "#{the_survey_values}<br/>duracion #{survey.duracion} "
					the_survey_values = "#{the_survey_values}<br/>horario #{survey.horario} "
					the_survey_values = "#{the_survey_values}<br/>cursos #{survey.cursos} "
					the_survey_values = "#{the_survey_values}<br/>demostracion #{survey.demostracion} "
					the_survey_values = "#{the_survey_values}<br/>concurso #{survey.concurso} "
					the_survey_values = "#{the_survey_values}<br/>organizacion #{survey.organizacion} "
					the_survey_values = "#{the_survey_values}<br/>expectativa #{survey.expectativa} ".html_safe
					
					the_ubicacion += survey.ubicacion
					the_superficie += survey.superficie
					the_expositor += survey.expositor
					the_duracion += survey.duracion
					the_horario += survey.horario
					the_cursos += survey.cursos
					the_demostracion += survey.demostracion
					the_concurso += survey.concurso
					the_organizacion += survey.organizacion
					the_expectativa += survey.expectativa
					
					the_counter += 1
					
					
				-%>		
				<tr>  
					<%= set_content_tag_safe(:td, "#{survey.id}") %>
					<%= set_content_tag_safe(:td, the_survey_values) %>
					<%= set_content_tag_safe(:td, "#{survey.comentario}") %>
					<%= set_content_tag_safe(:td, "#{survey.user.name}") %>
				</tr>
				<% end -%>
				
				<% the_totals = "#{the_ubicacion} #{the_superficie} #{the_expositor}  #{the_duracion}  #{the_horario} #{the_cursos} #{the_demostracion} #{the_concurso} #{the_organizacion} #{the_expectativa}".html_safe %>
				<% the_averages = "#{the_ubicacion/the_counter} #{the_superficie/the_counter} #{the_expositor/the_counter}  #{the_duracion/the_counter}  #{the_horario/the_counter} #{the_cursos/the_counter} #{the_demostracion/the_counter} #{the_concurso/the_counter} #{the_organizacion/the_counter} #{the_expectativa/the_counter}".html_safe %>
				


			</tbody>
		</table>
		
				
		<table>
			<thead>
				<!-- <tr>             
					<%#= set_content_tag_safe(:th, "&nbsp;") %>
					<%#= set_content_tag_safe(:th, the_totals) %>
					<%#= set_content_tag_safe(:th, "&nbsp;") %>
					<%#= set_content_tag_safe(:th, "&nbsp;") %>
				</tr> -->
				<tr>             
					<%= set_content_tag_safe(:th, "&nbsp;") %>
					<%= set_content_tag_safe(:th, the_averages) %>
					<%= set_content_tag_safe(:th, "&nbsp;") %>
					<%= set_content_tag_safe(:th, "&nbsp;") %>
				</tr>
			</thead>
		</table>
					

	</div>
</div>

<% end %>


<%= render 'shared/no_items_to_display' unless has_items %>

