<% 
	user_flag = false
	group_flag = false
	schedule_flag = false
	
	debit_link, debit_object = payment_debit(payment)
	credit_link, credit_object = payment_credit(payment)
	item_link, item_object = payment_item(payment)	
%>

<tr> 
	<td class="first">
		<%= image_link_small debit_object %>
	</td>
		
	<td class="name_and_date">
		<span class="label"><%= label_name(:from) %>:</span>
		<%= debit_link %><br/>
		<% unless credit_link.blank? %>
		<span class="label"><%= label_name(:to) %>:</span>
		<%= credit_link %><br/>
		<% end %>
		</span>
		<span class="date">			
		<%= ago(payment.created_at) %>
		</span>
	</td>

	<td>
		<%= item_link %>
	</td>

	<td><%#= h(payment.concept) %></td>
	<td><%= number_to_currency(payment.debit_amount) %></td>
	
   <td class="last">
	<span class="action">
		<% if current_user.is_manager_of?(credit_object) or current_user.is_manager_of?(item_object) and !is_action('complete') %> 
			<%= link_to label_name(:payments_edit), edit_payment_path(:id => payment, :group_id => payment.credit_id) %><br />
			<%= link_to label_name(:payments_destroy), payment_path(payment), :method => :delete, :confirm => %(#{label_name(:payments_destroy) }?) %>	
        <% end %>
	</span>
   </td>
</tr>
