<div class="block">

  <%= render :partial => 'secondary_navigation' if current_user %>  
          
  <div class="content">  
	        
    <h2 class="title"><%= get_collection_label(@payments) %></h2>

    <div class="inner">
	
	<% if @payments.count > 0 %>
	
      <table class="table">
	
        <tr>             
          <th class="first">ID</th>
          <th>Concept</th>
          <th>Created at</th>
          <th class="last">&nbsp;</th>
        </tr>
		
        <% @payments.each do |payment| -%>
		
        <tr>
          <td>
            <%= payment.id %>
          </td>
          <td>
            <%= link_to payment.concept, payment_path(payment) %>
          </td>
          <td>
            <%= payment.created_at %>
          </td>

          <td class="last">
            <%= link_to label_name(:show), payment_path(payment) %> |
            <%= link_to label_name(:edit), edit_payment_path(payment) %> |
            <%= link_to label_name(:destroy), payment_path(payment), :method => :delete, :confirm => label_name(:are_you_sure) %>
          </td>
        </tr>   
       
        <% end -%>

      </table>

	<% end %>
	<%= render :partial => 'shared/action_bar', :locals => { :collection => @payment } %>

	</div>
	</div>
</div>
<% content_for :sidebar, render(:partial => 'sidebar') -%>