<% 
	debit_link, debit_object = fee_debit(@fee)
	item_link, item_object = fee_item(@fee)
%>
<div class="block">

	  <%= get_secondary_navigation(User.new) %>

	<div class="content">  
		
		<h2 class="title"><%= control_action_label %><%= " #{label_name(:from)} #{debit_link} #{label_name(:to)} " %><%= item_link %></h2>

		<div class="inner">
		
	      <%= form_for (@payment), :url => payments_path, :html => { :class => :form } do |f| -%>		
			<%= f.hidden_field :fee_id %>
	        <%= render :partial => "form", :locals => {:f => f} %>
	      <% end -%>

		</div>

	</div>

</div>
