<%
debit_link, debit_object = fee_debit(@fee)
%>
<div class="block">

	<%= render :partial => '/users/secondary_navigation' %>

	<div class="content">  

		<h2 class="title"><%= control_action_label %><%= " #{label_name(:from)} #{debit_link}" %></h2>

		<div class="inner">
		
      <% form_for :payment, :url => payments_path, :html => { :class => :form } do |f| -%>		
		<%= hidden_field :fee, :id %>
        <%= render :partial => "form", :locals => {:f => f} %>
      <% end -%>

		</div>

	</div>

</div>
