<div class="block">

  <%= render :partial => 'secondary_navigation' %>   
  
  <div class="content">
    <div class="inner">

	<p>
	  <b><%= label_name(:concept) %>:</b>
	  <%=h @payments.concept%>
	</p>

        <p>
          <b><%= label_name(:debit_amount) %>:</b>
          <%=h @payments.debit_amount %>
        </p>

        <p>
          <b><%= label_name(:credit_amount) %>:</b>
          <%=h @payments.credit_amount %>
        </p>

        <p>
          <b><%= label_name(:description) %>:</b>
          <%=h @payments.description %>
        </p>

        <p>
          <b><%= label_name(:table_type) %>:</b>
          <%=h @payments.table_type %>
        </p>

        <p>
          <b><%= label_name(:table_id) %>:</b>
          <%=h @payments.table_id %>
        </p>

        <p>
          <b><%= label_name(:payment_type) %>:</b>
          <%=h @payments.type_id %>
        </p>
  
    </div>
  </div>
</div>

<%# content_for :sidebar, render(:partial => 'sidebar_show') -%>