<div class="block">

  <%= render :partial => 'cups/secondary_navigation' %>  
  
  <div class="content">
    <div class="inner">

	<p>
	  <b><%= label_name(:name) %>:</b>
	  <%=h @stage.name %>
	</p>
	
        <p>
          <b><%= label_name(:cup) %>:</b>
          <%=h @stage.cup_id %>
        </p>

        <p>
          <<b><%= label_name(:home_stage_name) %>:</b>
          <%= @stage.home_stage_name %>
        </p>

        <p>
          <b><%= label_name(:home_ranking) %>:</b>
          <%= @stage.home_ranking %>
        </p>

        <p>
          <<b><%= label_name(:away_stage_name) %>:</b>
          <%= @stage.away_stage_name %>
        </p>

        <p>
          <b><%= label_name(:away_ranking) %>:</b>
          <%= @stage.away_ranking %>
        </p>
  
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar_show') -%>
   