<td><%= match_form.text_field :minutes_played, :class => 'text_tiny_score' %></td>
<td><%= match_form.text_field :field_goal_made, :class => 'text_tiny_score' %></td>
<td><%= match_form.text_field :field_goal_attempt, :class => 'text_tiny_score' %></td>
<td><%= match_form.text_field :three_point_made, :class => 'text_tiny_score' %></td>		
<td><%= match_form.text_field :three_point_attempt, :class => 'text_tiny_score' %></td>
<td><%= match_form.text_field :free_throw_made, :class => 'text_tiny_score' %></td>	
<td><%= match_form.text_field :free_throw_attempt, :class => 'text_tiny_score' %></td>
<td><%= match_form.text_field :rebounds_offense, :class => 'text_tiny_score' %></td>
<td><%= match_form.text_field :rebounds_defense, :class => 'text_tiny_score' %></td>		
<td><%= match_form.text_field :assists, :class => 'text_tiny_score' %></td>		
<td><%= match_form.text_field :steals, :class => 'text_tiny_score' %></td>		
<td><%= match_form.text_field :blocks, :class => 'text_tiny_score' %></td>	
<td><%= match_form.text_field :turnovers, :class => 'text_tiny_score' %></td>
<td><%= match_form.text_field :personal_fouls, :class => 'text_tiny_score' %></td>	
<td>&nbsp;</td>
<td><%= match_form.check_box :started %></td>
