<td>
<%= set_form_text_field(match_form, :minutes_played, 'small input-text') %>
<%= set_form_text_field(match_form, :field_goal_made, 'small input-text') %>
<%= set_form_text_field(match_form, :field_goal_attempt, 'small input-text') %>
<%= set_form_text_field(match_form, :three_point_made, 'small input-text') %>		
<%= set_form_text_field(match_form, :three_point_attempt, 'small input-text') %>
<%= set_form_text_field(match_form, :free_throw_made, 'small input-text') %>	
<%= set_form_text_field(match_form, :free_throw_attempt, 'small input-text') %>
<%= set_form_text_field(match_form, :rebounds_offense, 'small input-text') %>
<%= set_form_text_field(match_form, :rebounds_defense, 'small input-text') %>		
<%= set_form_text_field(match_form, :assists, 'small input-text') %>		
<%= set_form_text_field(match_form, :steals, 'small input-text') %>		
<%= set_form_text_field(match_form, :blocks, 'small input-text') %>	
<%= set_form_text_field(match_form, :turnovers, 'small input-text') %>
<%= set_form_text_field(match_form, :personal_fouls, 'small input-text') %>	
<%= match_form.check_box :started %>
</td>
