<% 
	new_or_existing = match.new_record? ? 'new' : 'existing' 
	prefix = "match[match_attributes][]" 
%>
	  
<!-- field_for start -->		
<% 
fields_for prefix, match do |match_form| 
	if (first_team == (@schedule.group_id == match.group_id))
-%>
	<tr>
		<td valign="top" width="180">
			<%= image_link_small match.user %>&nbsp;&nbsp;&nbsp;&nbsp;<%= user_link match.user %>
		</td>
		<td>
			<%= match_form.text_field :goals_scored, :class => 'textscore' %>

			<%= match_form.text_field :goals_scored, :class => 'textscore' %>
		</td>		
		<td>
		<%= match_form.text_field :field_goal_attempt, :class => 'textscore' %>	

	    <%= match_form.text_field :field_goal_made,           :class => 'textscore' %>	

	    <%= match_form.text_field :free_throw_attempt, :class => 'textscore' %>	

	    <%= match_form.text_field :free_throw_made,           :class => 'textscore' %>	

	    <%= match_form.text_field :three_point_attempt,      :class => 'textscore' %>	

	    <%= match_form.text_field :three_point_made,          :class => 'textscore' %>	

	    <%= match_form.text_field :rebounds,                   :class => 'textscore' %>	

	    <%= match_form.text_field :rebounds_defense,           :class => 'textscore' %>	

	    <%= match_form.text_field :rebounds_offense,           :class => 'textscore' %>	
   
	    <%= match_form.text_field :minutes_played,             :class => 'textscore' %>	
		</td>		
		<td>

	    <%= match_form.text_field :assists,                    :class => 'textscore' %>	
		</td>		
		<td>
	    <%= match_form.text_field :steals,                     :class => 'textscore' %>	
		</td>		
		<td>
	    <%= match_form.text_field :blocks,                     :class => 'textscore' %>	
		</td>		
		<td>
	    <%= match_form.text_field :turnovers,                  :class => 'textscore' %>	
		</td>		
		<td>
	    <%= match_form.text_field :personal_fouls,             :class => 'textscore' %>	
		</td>		
		<td>

	    <%= match_form.check_box :game_started %>	
		</td>	
	</tr>
<%
 	end
end 
-%>
	
<!-- field_for end -->

