
<% 
	new_or_existing = match.new_record? ? 'new' : 'existing' 
	prefix = "match[match_attributes][]" 
	the_technical = [1, 2, 3, 4, 5]
	the_physical = [1, 2, 3, 4, 5]

	fields_for prefix, match do |match_form| 
-%>
	<tr>
		<td class="first">&nbsp;</td>
	    <td><%= image_link_small(match.user) %></td>
		<td><%= user_link(match.user) %></td>
		<td><%= match_form.select(:position_id, positions.map {|e| [I18n.t(e.name), e.id] }) %></td>
		<td><%= match_form.select(:technical, the_technical, {:selected => match.technical, :include_blank => false}) %></td>
		<td><%= match_form.select(:physical, the_physical, {:selected => match.physical, :include_blank => false}) %></td>
	    <td class="last" width="400">&nbsp;</td>
	</tr>
<%
	end 
-%>



