
<% 
	new_or_existing = match.new_record? ? 'new' : 'existing' 
	prefix = "match[match_attributes][]" 

	fields_for prefix, match do |match_form| 
-%>
	<tr>
		<td class="first">&nbsp;</td>
	    <td><%= image_link_small(match.user) %></td>
		<td><%= user_link(match.user) %></td>
		<td><%= match_form.select(:position_id, positions.map {|e| [I18n.t(e.name), e.id] }) %></td>
		<td><%= match_form.text_field :technical, :class => 'textscore' %></td>
		<td><%= match_form.text_field :physical, :class => 'textscore' %></td>
	    <td class="last" width="400">&nbsp;</td>
	</tr>
<%
	end 
-%>



