<%#= f.label :goals_scored, label_name(:score), :class => :label %>
<div class="columns"> 
	
	<h4 class="title"><%#= "#{@schedule.home_group} vs. #{@schedule.away_group}" %></h4>
		
	<div class="column left"> 
		
		<table>					
			<% 
				new_or_existing = match.new_record? ? 'new' : 'existing' 
				prefix = "match[match_attributes][]" 
			 
				fields_for prefix, match do |match_form| 
			-%>
			<tr>
			<td valign="top" width="200">
				<%= image_link_small match.user %>&nbsp;&nbsp;&nbsp;&nbsp;<%= user_link match.user %>
			</td>		
			<td>&nbsp;&nbsp;<td/>	
			<td><%= match_form.select(:position_id, positions.map {|e| [I18n.t(e.name), e.id] }) %></td>
			<td><%= match_form.text_field :technical, :class => 'textscore' %></td>
			<td><%= match_form.text_field :physical, :class => 'textscore' %></td>
			</tr>
			<%
			end 
			-%>
		</table>

	</div> 

	<div class="column right"></div> 

</div>

