<%= f.label :goals_scored, label_name(:score), :class => :label %><br /><br />
<div class="columns"> 
	
	<h4 class="title"><%= "#{@schedule.home_group} vs. #{@schedule.away_group}" %></h4>
		
	<div class="column left"> 
		
		<table class="table" id="<%= get_the_controller.gsub(' ','_') %>">
			
		<%= render :partial => 'match_basket_label' if @is_basket %>
		<%= render :partial => 'match_futbol_label' unless @is_basket %>
			
		</table>
		
		<div class="columns"> 
			
			<div class="column left"> 
				<table>					
					<%= render :partial =>'match', :collection => @matches, :locals => {:first_team => true} %>
				</table>
			</div>
			<div class="column right">
				<table>
					<%= render :partial =>'match', :collection => @matches, :locals => {:first_team => false} unless @is_basket %>
				</table>
			</div>
		</div>
	
	</div> 

	<div class="column right">
	</div> 

</div>

