<% 
@futbol = [1, 2, 3, 4, 5] 
@basket = [7]
@schedule ||= @match.schedule
@matches ||= @schedule.the_roster
%>

<div class="block">

	<%= render :partial => '/schedules/secondary_navigation' %>

	<div class="content">   

		<h2 class="title"><%= "#{group_link @schedule.group} vs. #{@schedule.away_group}" %></h2>
		<br />

		<div class="inner">
		
      <% form_for @match, :url => match_path(@match), :html => { :class => :form } do |f| -%>

		<div class="group">
			<%= f.label :score, label_name(:score), :class => :label %><br />
			
			<%= group_link @schedule.group %>&nbsp;&nbsp;
			
			<%= f.text_field :group_score, :class => 'textscore'  -%>&nbsp;&nbsp;vs.&nbsp;&nbsp;
			
			<%= f.text_field :invite_score, :class => 'textscore'  -%>&nbsp;&nbsp;
			
			<%= @schedule.away_group %>
		</div>
		<br />

		<div class="group">
			<%= f.label :description, "Description", :class => :label %>
			<%= f.text_area :description, :class => 'textfield' %>
		</div>	
		<br />	

		
		<% if @futbol.include?(@schedule.group.sport_id) or @basket.include?(@schedule.group.sport_id) %>		
			<%= render :partial => '/matches/sport', :locals => {:f => f} %>
		<% end %>
		
		<div class="clear"></div> 
		<br />
		<br />
		<div class="group navform">
			<%= submit_tag @match.new_record? ? control_label('create') : control_label('edit'), 
					:class => "button" %> <%= label_name(:or) %> <%= link_to label_name(:cancel), matches_path %>
		</div>
		
      <% end -%>

		</div>

	</div>

</div>

<!-- end of the line -->