<% 
	@schedule ||= @match.schedule
	@matches ||= @schedule.the_roster

	@is_futbol = @schedule.group.is_futbol?

	the_label = "#{item_name_link(@schedule.group)} vs. #{@schedule.away_group} <br/><p style='font-size:small;'>#{label_name(:score)}</p>"
	@item = @match
	
	the_button_class = "small white nice button radius"
	new_or_existing = 'existing'
	the_second_label = "<p style='font-size:small;'>#{label_name(:goals_scored_full)}</p>"
%>

<%#= set_title_class(the_label) %>
<!-- <hr/> -->

<div class="row">
	<div class="twelve columns">  
				
      <%= form_for (@item), :url => match_path(@item), :html => { :class => :form , :class => 'nice' } do |the_form| -%>



			<table>
			<tbody>
				<tr>
					<td><%= item_name_link(@schedule.group) %</td>
					<td><%= set_form_text_field(the_form, :group_score, 'smaller input-text', true) %></td>	
					<%= set_content_tag_safe(:td, " vs. ") %>
					<td><%= set_form_text_field(the_form, :invite_score, 'smaller input-text', true) %></td>
					<td><%= @schedule.away_group %></td>
				</tr>
			</tbody>
			</table>
		
		
			<%= item_name_link(@schedule.group) %>&nbsp;&nbsp;
			<%= set_form_text_field(the_form, :group_score, 'small input-text', true) %>&nbsp;&nbsp;vs.&nbsp;&nbsp;
			<%= set_form_text_field(the_form, :invite_score, 'small input-text', true) %>&nbsp;&nbsp;
			<%= @schedule.away_group %>

			
			<br/><br/>
			<hr/>
			<%= set_title_class(the_second_label) %>
			<hr/>

		
			<div class="row">
				<div class="twelve columns">  


					<% @matches.each do |match| 
							prefix = "match[match_attributes][]" 
					%>

						
						<%# if DISPLAY_FREMIUM_SERVICES %>
						
							<%= fields_for prefix, match do |match_form|  %>
						
							<%
								@user = match.user
								the_link = "#{image_link_small(@user)}    #{user_link(@user)}"
							%>
								<tr>
									<%= set_content_tag_safe(:td, the_link) %>
									<%= set_form_text_field(match_form, :goals_scored, 'small input-text') %><br />
								</tr>
							<%	end -%>
						
						<%# end %>
						
					<% end %>

				</div> 
			</div>
		
		<br/><br/>
		<%= submit_tag(label_name(:save), :class => the_button_class) %>
		
		
      <% end -%>


	</div>
</div>
