<% the_label = label_with_name('note', sanitize(@schedule.name)) %>


	<%= render "shared/previous_next_message_zurb", :schedule => @schedule, :the_previous => @the_previous, :the_next => @the_next -%>



	<div class="inner">

		<h5 class="title"><%= label_name(:write_comment) %></h5>

		<%= form_for (@comment), :url => comments_path, :html => { :class => :form } do |f| -%>
		<br />
		<%= f.text_area :body, :class => 'text_message' -%>	
		<br />
		<br />

		<%= submit_tag label_name(:share),  :class => "button" %> <%= label_name(:or) %> <%= link_to label_name(:cancel), forum_path(@forum) %>

		<%= hidden_field :blog, :id %>
		<%= hidden_field :forum, :id %>
		<% end -%>

		<div class="clear"></div>

	</table>			

</div>
</div>


