<div class="block">

  <%= render :partial => 'secondary_navigation' %>   
  
  <div class="content">
    <div class="inner">

        <p>
          <b><%= label_name(:concept) %>:</b>
          <%=h @match.schedule.concept %>
        </p>

        <p>
          <b><%= label_name(:user) %>:</b>
          <%=h @match.user.name %>
        </p>

        <p>
          <b><%= label_name(:group) %>:</b>
          <%=h @match.group.name %>
        </p>

        <p>
          <b><%= label_name(:invite) %>:</b>
          <%=h @match.invite.name %>
        </p>

        <p>
          <b><%= label_name(:group_score) %>:</b>
          <%=h @match.group_score %>
        </p>

        <p>
          <b><%= label_name(:invite_score) %>:</b>
          <%=h @match.invite_score %>
        </p>

        <p>
          <b><%= label_name(:goals_scored) %>:</b>
          <%=h @match.goals_scored %>
        </p>

        <p>
          <b><%= label_name(:roster_position) %>:</b>
          <%=h @match.roster_position %>
        </p>

        <p>
          <b><%= label_name(:played) %>:</b>
          <%=h @match.played %>
        </p>

        <p>
          <b><%= label_name(:available) %>:</b>
          <%=h @match.available %>
        </p>

        <p>
          <b><%= label_name(:match_type) %>:</b>
          <%=h @match.type_id %>
        </p>
  
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar_show') -%>