
  <div class="group">
    <%= f.label :concept, label_name('concept'), :class => :label %>
    <%= f.text_field :name, :class => 'text_field' %>
    <span class="description"><%= label_name('name', 'description') %></span>
  </div>

  <div class="group">
    <%= f.label :concept, label_name('concept'), :class => :label %>
    <%= f.text_field :authorizable_type, :class => 'text_field' %>
    <span class="description"><%= label_name('name', 'description') %></span>
  </div>

  <div class="group">
    <%= f.label :concept, label_name('concept'), :class => :label %>
    <%= f.text_field :authorizable_id, :class => 'text_field' %>
    <span class="description"><%= label_name('name', 'description') %></span>
  </div>
