<div class="row">
	<h3><%= label_name(:options) %></h3>
	
	<div class="twelve columns">
		
	<% if @user.can_modify?(current_user) %>		
		<p><%= option_image_link('user') %>&nbsp;&nbsp;<%= link_to label_name(:edit_my_user), edit_user_path(@user) %></p>
	<% else %>
		<p><%= option_image_link('message') %>&nbsp;&nbsp;<%= link_to label_name(:send_message_to), new_message_path(@user) %></p>
	<% end %>


<% 
current_user.groups.each do |group| 
	
	if @user.is_not_member_of?(group) or if current_user.is_manager_of?(group)
		# the_label = label_with_name('add_to_group', group.name)
		# the_confirmation = "#{label_name(:petition_to_join)} #{@user.name} #{label_name(:to) } #{group.name}?"
%> 
		<p>
		<%= option_image_link('user_add') %>&nbsp;&nbsp;<%= manage_item_link_to(@user, group) %>
		<%#= link_to(the_label, manage_join_path(:id => group.id, :teammate => @user.id), :confirm => the_confirmation) %></p>
<% 
	elsif current_user.is_manager_of?(group) 
		# the_label = label_with_name('fire_from_item', group.name)
		# the_confirmation = "#{label_name(:fire_from_item)} #{group.name} #{label_name(:to)} #{@user.name}?"
%> 
		<p><%= option_image_link('user_remove') %>&nbsp;&nbsp;<%= leave_item_link_to(@user, group) %>
		<%#= link_to(the_label, fire_path(:id => group.id, :leave => @user.id), :confirm => the_confirmation) %>
		</p>
<% 
		unless @user.is_sub_manager_of?(group) 
			the_label = label_with_name('add_sub_manager', group.name)
			the_confirmation = "#{label_name(:add_sub_manager)} #{label_name(:to) } #{@user.name} #{label_name(:to) } #{group.name}?"
%>		
			<p><%= link_to(the_label , set_sub_manager_path(:id => @user.id, :group => group.id), :confirm => the_confirmation) %></p>
<% 
		else
			the_label = label_with_name('remove_sub_manager', group.name)
			the_confirmation = "#{label_name(:remove_sub_manager)} #{label_name(:to) } #{@user.name} #{label_name(:to) } #{group.name}?"
%>					
			<p><%= link_to(the_label, remove_sub_manager_path(:id => @user.id, :group => group.id), 
										:confirm => the_confirmation) if @user != current_user %></p>			
<% 
		end 
	
		unless @user.is_subscriber_of?(group) 
			the_label = label_with_name('add_subscription', group.name)
			the_confirmation = "#{label_name(:add_subscription)} #{label_name(:to) } #{@user.name} #{label_name(:to) } #{group.name}?"
%>
			<p><%= link_to(the_label, set_subscription_path(:id => @user.id, :group => group.id), :confirm => the_confirmation) %></p> 	
<% 
		else
			the_label = label_with_name('remove_subscription', group.name)
			the_confirmation = "#{label_name(:remove_subscription) } #{label_name(:to) } #{@user.name} #{label_name(:to) } #{group.name}?" 
%>		
			<p><%= link_to(the_label, remove_subscription_path(:id => @user.id, :group => group.id), :confirm => the_confirmation) %></p> 	
<% 
		end 
 
		unless @user.is_moderator_of?(group)
			the_label = label_with_name('add_moderator', group.name)
			the_confirmation = "#{label_name(:add_moderator)} #{label_name(:to) } #{@user.name} #{label_name(:to) } #{group.name}?" 
%>
			<p><%= link_to(the_label, set_moderator_path(:id => @user.id, :group => group.id), :confirm => the_confirmation) %></p>
<% 
		else 
			the_label = label_with_name('remove_moderator', group.name)
			the_confirmation = "#{label_name(:remove_moderator)} #{label_name(:to) } #{@user.name} #{label_name(:to) } #{group.name}?"
%>		
			<p><%= link_to(the_label,remove_moderator_path(:id => @user.id, :group => group.id), :confirm => the_confirmation) %></p>
<% 
		end  
	end 
end 
%>

</div>
	
</div>