<div class="block">

  <%= get_secondary_navigation %>  

  <div class="content">   
  
    <h2 class="title"><%= get_collection_label(@roles) %></h2>
	
    <div class="inner">
	
      <table class="table">
	  
        <tr>         
			<%= set_content_tag_safe(:th, "&nbsp;", "first") %>
			<%= content_tag :th, label_name(:name), :class => "heading" %>
			<%= content_tag :th, label_name(:created_at), :class => "heading" %>	
			<%= set_content_tag_safe(:th, "&nbsp;", "last") %>
        </tr>
        <% @roles.each do |role| -%>
        <tr>
          <td>
            <%= role.id %>
          </td>
          <td>
            <%= link_to role.name, role_path(role) %>
          </td>
          <td>
            <%= role.created_at %>
          </td>
          <td class="last">
            <%= link_to label_name(:show), role_path(role) %> |
            <%= link_to label_name(:edit), edit_role_path(role) %> |
            <%= link_to label_name(:destroy), role_path(role), :method => :delete, :confirm => label_name(:are_you_sure) %>
          </td>
        </tr>          
		        <% end -%>

		      </table>
			  <%= render :partial => 'shared/action_bar_zurb', :locals => { :collection => @role } %>

		    </div>

		  </div>

		</div>

		<% content_for :sidebar, render(:partial => 'sidebar_zurb') -%>