<div class="block">

  <%= render :partial => 'secondary_navigation' %>   
  
  <div class="content">
    <div class="inner">

	<p>
	  <b><%= label_name(:name) %>:</b>
	  <%=h @role.name %>
	</p>

        <p>
          <b><%= label_name(:authorizable_type) %>:</b>
          <%= @role.authorizable_type %>
        </p>

        <p>
          <b><%= label_name(:authorizable_id) %>:</b>
          <%= @role.authorizable_id %>
        </p>
  
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar_show') -%>