<% 
	the_label, the_content, has_been_played, is_manager, is_squad, the_sport, the_missing, the_span, the_start_at_label = get_team_roster 
	the_label = @schedule.name
	
	is_prematch_visible = is_action("team roster")
%>

<h4 class="title" style="clear:both">
	<img align="" alt="Events" src="/assets/icons/events.png" style="height: 16px; width: 16px;">  
	<%=@schedule.name%>
</h4>

<div class="row">
	<div class="twelve columns">
		<table>
			<td>
				<%if @schedule.ismock %>
				
				<%=@schedule.name%>
				
				<%else%>
				
				<%=link_to(sanitize(limit_url_length(@schedule.name, 25)), 
				   widget_event_details_path(:event_id => @schedule))%>
				
				<%end%>
				
				<br>
				<%=set_content_tag_safe('span', "#{get_missing_detail(@schedule)}", 'date')%>
			</td>
			
			<td class="name_and_date">
				<%=@schedule.group.name%>
				<br>
				<span class="date"><%=@schedule.sport.name%></span>
			</td>
			
			<td class="name_and_date">
				<%=nice_day_time_wo_year_exact(@schedule.starts_at)%>
				<br>
				<span class="date"><%=get_installation_name(@schedule)%></span>
			</td>
			
			<td>
				<%= get_event_options(@schedule) %>
			</td>
		</table>
	</div>
</div>

<div class="row">
	<div class="twelve columns">

	<% if @has_a_roster %>
		
			<%= render 'widget/partials/team_roster_box', 
					   	:previous_show => @previous, 
						:next_show => @next, 
						:schedule => @schedule, 
						:the_roster => @the_roster, 
						:match_type => @match_type %>
	
	<% end -%>
	
	
	<%= render('schedules/team_roster_prematch_teams', 
		:the_start_at_label => the_start_at_label, 
		:the_roster => @the_roster) if is_prematch_visible %>
	

	</div>
</div>