<div class="columns"> 

  <div class="column left"> 	

  <div class="group">
    <%= f.label :name, label_name('name'), :class => :label %>
    <%= f.text_field :name, :class => 'textfield' %>
  </div>

  <div class="group">
	  <%= f.label :time_zone, label_name('time_zone'), :class => :label %>
	  <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %><br />
	  <span class="description"><%= label_name('time_zone', 'description') %></span>
  </div>

  <div class="group">
	<%= f.label :automatic_petition, label_name('automatic_petition'), :class => :label %>
	<%= f.check_box :automatic_petition, :class => 'check_box' %>
	<span class="description"><%= label_name('automatic_petition', 'description') %></span>
  </div>

  <div class="group">
    <%= f.label :description, label_name('description'), :class => :label %>
    <%= f.text_area :description, :class => 'textfield' %><br />
    <span class="description"><%= label_name('description') %></span>
  </div>

  <div class="group">
    <%= f.label :conditions, label_name('conditions'), :class => :label %>
    <%= f.text_area :conditions, :class => 'textfield' %><br />
    <span class="description"><%= label_name('conditions') %></span>
  </div>

  </div> 

  <div class="column right"> 

  </div> 

</div>
<%= f.hidden_field :cup_id %>
        
<div class="clear"></div> 

<div class="challenge navform">
	<%= submit_tag @challenge.new_record? ? label_name('create') : control_label('edit'), 
			:class => "button" %> <%= label_name(:or) %> <%= link_to label_name(:cancel), challenges_path %>
</div>