<h2 class="title"><%= get_collection_label(challenges) %></h2>

<div class="inner">
	
	<table class="table">

	  <tr> 
		<%= content_tag :th, "&nbsp;", :class => "first" %>
		<%= content_tag :th, label_name(:name), :class => "heading" %>
		<%= content_tag :th, label_name(:manager), :class => "heading" %>
		<%= content_tag :th, label_name(:general_information), :class => "heading" %>
		<%= content_tag :th, "&nbsp;", :class => "heading" %>	
		<%= content_tag :th, "&nbsp;", :class => "last" %>
	  </tr>

	  <% challenges.each do |challenge| 
		<%= render 'cups/cup_full', :cup => cup, :display_icons => true %>
	  <% end -%>

	</table>	
	
	<%= render :partial => 'shared/action_bar', :locals => { :collection => challenges } %>

</div>