<h2 class="title"><%= get_collection_label(@challenges) %></h2>

<div class="inner">
	
	<table class="table">

	  <tr>             
	    <th class="first">&nbsp;</th>
	    <th><%= label_name(:name) %>&nbsp;/<br />
			  <%#= label_name(:gameday_at) %></th>
	    <th><%= label_name(:manager) %>&nbsp;/<br />
			  <%= label_name(:sport) %></th>
	    <th><%= label_name(:time_zone) %></th>
	    <th><%= label_name(:general_information) %></th>
	    <th><%#= label_name(:last_game_played) %></th>
	    <th class="last">&nbsp;</th>
	  </tr>

	  <% @challenges.each do |challenge| 
		#cast = Cast.last_cast_challenge_played(challenge)
		-%>

	  <tr>  
			<td>
				<%= cup_image_link_small challenge.cup %>
			</td>

			<td class="name_and_date">
				<%= challenge_link(challenge) %>
				<span class="date">
					<%#= nice_day_time challenge.gameday_at %>
				</span>
			</td>

			<td>
				<%= user_list challenge.all_the_managers %><br />
				<%#= challenge.cup.sport.name %>
			</td>

			<td>
				<%= challenge.time_zone %>
			</td>

			<td>
				<%= I18n.t(:has_challenge_users, :count => object_counter(challenge.users)) %><br />
				<%= I18n.t(:has_challenge_casts, :count => object_counter(challenge.casts)) %>
			</td>

			<td class="name_and_date">
				<%= link_to(label_name(:standing), standing_path(:id => challenge)) %>
				<span class="date">
					<%#= nice_full_date(cast.starts_at) unless cast.nil? %> 
				</span>
			</td>

	       <td class="last">
				<span class="action">
					<% if current_user.is_member_of?(challenge) %>
						<%= link_to(label_name(:send_message), new_message_path(:challenge_id => challenge)) %><br />
					<% else %>
						<%= link_to(label_name(:send_message), new_message_path(:id => challenge.all_the_managers.first)) %><br />
				
					<% 	# unless current_user.has_pending_petition?(current_user) 
						unless current_user.has_challenge_petition?(current_user, challenge) 
							the_label = label_with_name('add_to_challenge', challenge.name)
							the_confirmation = "#{ label_name(:petition_to_join_challenge) } #{current_user.name} #{ label_name(:to) } #{challenge.name}?"
					%> 
							<%= link_to(the_label, join_team_path(:id => challenge, :teammate => current_user), :confirm => the_confirmation) %>
					<% 	end 
					   end
					-%>
				
					<% if current_user.is_manager_of?(challenge) %> 
						<%= link_to label_name(:casts_create), new_cast_path(:id => challenge)  %><br />
			        <% end %>
					
				</span>
	       </td>
	  </tr>   
 
	  <% end -%>

	</table>	
	
	<%= render :partial => 'shared/action_bar', :locals => { :collection => @challenges } %>

</div>