<%
	final_played ||= false
	the_game = Game.final_game(@challenge.cup)
	final_played = the_game.played unless (the_game.nil? or the_game.blank?)
	can_edit_challenge = (current_user.is_manager_of?(@challenge) and !final_played)
	can_edit_challenge = the_maximo ? true : can_edit_challenge
	is_member_or_maximo = is_current_member_of(@challenge) 
	is_member_or_maximo = the_maximo ? true : is_member_or_maximo
		
	the_controller_action = ['cast_index', 'cast_edit', 'cast_list', 'challenge_show', 'cast_list_guess_user','standing_show_list']
	can_edit = the_controller_action.include?(get_controller_action)
%>


<div class="row">

<div class="twelve columns">

<% if is_member_or_maximo
		the_challenge = sanitize(@challenge.name)
		the_confirmation = label_with_name(:do_leave_challenge, "#{the_challenge}?")

		# @casts = Cast.current_casts(current_user, @challenge)
		# @casts.each {|cast| can_edit = true  if (current_user == cast.user and cast.starts_at >= HOURS_BEFORE_GAME)	}
%>
		<%= set_form_create_id_image_link(Message.new, :challenge_id, @challenge.id, :send_message_to) %>		
		<%= set_form_create_id_image_link(Invitation.new, :challenge_id, @challenge, :invitations_create_challenge) %>
		<%= set_image_and_link(link_to(label_name(:challenges_edit), edit_challenge_path(@challenge)), 'challenge') if can_edit_challenge %>
		<%= set_image_and_link(link_to(label_name(:casts_edit), edit_cast_path(@challenge)), 'challenge') if can_edit and !final_played %>

<% 
	else
%>		
		<%= set_form_create_id_image_link(Message.new, :id, @challenge.all_the_managers.first, :send_message_to) %>
		
<%		unless has_current_item_petition(@challenge) %> 			
			<%= "#{option_image_link('user_add')} ***  #{join_item_link_to(current_user, @challenge, true)}" %>			
<% 		end 
	end
%>
</div>

</div>



<%#= render 'challenges/sidebar_show_zurb' unless is_right_guess %>
<%#= render  'shared/sidebar_show_final_played_zurb' -%>
<%#= render  'shared/sidebar_show_cup', :cup => @cup if current_user.is_manager_of?(@cup) -%>