<div class="block">

<h3><%= label_name(:options) %></h3>

<ul class="navigation">
<% 
	if current_user.is_member_of?(@challenge) 
		the_confirmation = label_with_name(:do_leave_challenge, "#{@challenge.name}?")
%>
		<li><%= link_to(label_name(:send_message_to_challenge), new_message_path(:challenge_id => @challenge.id)) %></li>
		<li><%= link_to(label_name(:invitations_create_challenge) , new_invitation_url(:challenge_id => @challenge)) %></li>	
		<li><%= link_to label_name(:send_scorecard), new_message_path(:scorecard_id => @challenge.schedules.first) unless @challenge.schedules.blank? %></li>
<% 
	else
%>
		<li><%= link_to(label_name(:send_message_to_challenge), new_message_path(:id => @challenge.all_the_managers.first)) %></li>
<%
		unless current_user.has_challenge_petition?(current_user, @challenge)
			the_label = label_with_name('add_to_challenge', @challenge.name)
			the_confirmation = "#{ label_name(:petition_to_join_challenge) } #{current_user.name} #{ label_name(:to) } #{@challenge.name}?"
%> 
			<li><%= link_to(the_label, join_team_path(:id => @challenge, :teammate => current_user), :confirm => the_confirmation) %></li>
<% 
		end 
	end
%>
</ul>

</div>