<%
	the_label = label_name(:challenges)
	content_for(:title, the_label)
%>
<div class="row">
	
	<div class="twelve column">  
			<% if object_counter(@challenges) > 0 %>
				
				<%= set_title_class(get_collection_label(@challenges)) %>

				<div class="inner">

					<table>

					  <tr> 
						<%= set_content_tag_safe(:th, "&nbsp;") %>
						<%= set_content_tag_safe(:th, label_name(:name))%>
						<%= set_content_tag_safe(:th, label_name(:manager))%>
						<%= set_content_tag_safe(:th, label_name(:general_information))%>
						<%= set_content_tag_safe(:th, "&nbsp;") %>	
						<%= set_content_tag_safe(:th, "&nbsp;") %>
					  </tr>

					  <% @challenges.each do |challenge| %>
						<%= render 'challenges/challenge_full_zurb', :challenge => challenge, :display_icons => true %>
					  <% end -%>

					</table>	

					<%#= render 'shared/action_bar_zurb', :locals => { :collection => @challenges } %>

				</div>
				
			<% else %>
				
				<% the_label =  label_name(:challenges_options_without) %>

				<%= set_title_class(the_label) %>

				<div class="inner">
					<p>
						<span class="large">*&nbsp;&nbsp;
							<%= link_to("#{label_name(:you_can)} #{label_name(:create_your_own)} #{label_name(:challenge).downcase}", cups_url) %>
						</span>
					</p>
					<p>
						<span class="large">*&nbsp;&nbsp;
							<%= link_to("#{label_name(:you_can)} #{label_name(:to_join_challenge)}", list_challenges_path) %>
						</span>
					</p>
				</div>
			
			<% end %>
	</div>	
</div>
