<% 
	is_user_manager = (is_current_manager_of(@challenge))
	is_user_member = (is_current_member_of(@challenge))
	content_for(:title, @challenge.name)
	
	final_played ||= false
	the_game = Game.final_game(@challenge.cup)
	final_played = the_game.played unless (the_game.nil? or the_game.blank?)
	
	the_petition_label = h(label_name(@challenge.automatic_petition, 'value'))
	
%>


<%= render 'shared/show_description_zurb', :item => @challenge %>
	
	
<div class="row">

	<div class="twelve columns"> 
		
		<table>
		<tbody>
		<tr>
		<td>
		<%= render_show_detail_zurb(:name, item_name_link(@challenge)) %>
		<%= render_show_detail_zurb(:manager, user_list(@challenge.all_the_managers)) %>
		<%= render_show_detail_zurb(:automatic_petition, (is_user_manager ? link_to(the_petition_label, set_group_auto_path(:id => @challenge)) : the_petition_label)) %>

		<%= render_show_detail_zurb(:participants, t(:has_challenge_users, :count => @challenge.active_users.count)) %>
		<%#= render_show_detail_zurb(:points_full, link_to(label_name(:points_full) , show_list_standings_path(:id => @challenge))) %>
		<%= render_show_detail_zurb(:conditions, @challenge.conditions) %>
		<%= render_show_detail_zurb(:users, render('/shared/show_images_zurb', :collection => @challenge.users)) if is_user_member %>
		
		</td>	
		</tr>
		</tbody>
		</table>
		
	</div>
</div>


