
<% posts.each do |post| -%>
<tr>  
	<td>
		<%= image_link_small post.user %>		
	</td>

	<td class="name_and_date">
		
		<span class="label"><%= label_name(:from) %>:</span>
		<%= user_link post.user %>
				
		<span class="date">
			<%= nice_day_of_week(post.created_at) %>
		</span>
	</td>
	
	<td>				
		<%=h post.body %>			
	</td>
	
	
	<td class="last">
		<%#= render :partial => 'action', :locals => {:post => post} %>
	</td>
</tr>
<% end -%>

 