<% title "Posts" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for posts in @posts %>
    <tr>
      <td><%=h posts.name %></td>
      <td><%= link_to "Show", posts %></td>
      <td><%= link_to "Edit", edit_posts_path(posts) %></td>
      <td><%= link_to "Destroy", posts, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Posts", new_posts_path %></p>
