<% 
	# balance_due =  (current_user.is_manager_of?(fee.group) and @fee.debit_amount.to_f > @payment.actual_payment.to_f) 

	user_flag = false
	group_flag = false
	schedule_flag = false
	
	debit_link, debit_object = fee_debit(fee)
	credit_link, credit_object = fee_credit(fee)
	item_link, item_object = fee_item(fee)
	
%>

<tr>  
	<td>
		<%= image_link_small debit_object %>
	</td>
		
	<td class="name_and_date">
		<span class="label"><%= label_name(:from) %>:</span>
		<%= debit_link %><br/>
		<% unless credit_link.blank? %>
		<span class="label"><%= label_name(:to) %>:</span>
		<%= credit_link %><br/>
		<% end %>
		</span>
		<span class="date">			
		<%= "#{label_name(:ago)} #{time_ago_in_words(fee.created_at)}" %>
		</span>
	</td>

	<td>
		<%= link_to h(fee.concept), new_payment_path(:fee_id => fee.id), :title => label_name(:payment_for_bill) %>
	</td>

	<td><%= number_to_currency(fee.debit_amount) %></td>
	
    <td class="last">
		<span class="action">
			<% if current_user.is_manager_of?(credit_object) or current_user.is_manager_of?(item_object)%> 
				<%= link_to label_name(:fees_edit), edit_fee_path(:id => fee, :group_id => fee.credit_id) %><br />
				<%= link_to label_name(:fees_destroy), fee_path(fee), :method => :delete, :confirm => %(#{label_name(:fees_destroy) }?) %>	
	        <% end %>
		</span>
    </td>
</tr>
