<% 
	debit_link, debit_object = fee_debit(fee)
	credit_link, credit_object = fee_credit(fee)
	item_link, item_object = fee_item(fee)

	current_debit =  number_to_currency(fee.debit_amount.to_f)
	# current_credit = number_to_currency(@debit_payment.debit_amount.to_f + @credit_payment.credit_amount.to_f) 	
	# is_unpayed = fee.debit_amount.to_f > @debit_payment.debit_amount.to_f + @credit_payment.credit_amount.to_f

	is_complete = get_controller_action == 'fee_complete'
%>

<tr>  
	<td class="first">
		<%= (is_complete ? image_link_small(debit_object) : image_link_small(credit_object)) if is_new_debit %>
	</td>
	
	<td class="name_and_date">
		<% if is_new_debit %>
		<% unless debit_link.blank? %>
		<span class="label"><%= label_name(:to).upcase %>:&nbsp;&nbsp;</span>
		<%= debit_link %><br/>
		<% end %>
		<span class="date">
			<%#= nice_full_date(fee.created_at) %>
		</span>
		<% end -%>
	</td>

	<td><%= item_link %></td>
	<td><%= current_debit %></td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	
    <td class="last">
		<%= render "fees/fee_box", :fee => fee if is_new_debit %>
    </td>
</tr>
