<% 
total_fees = 0.0
total_payments = 0.0

users.each do |user| 
	has_fees = false
	current_debit, current_crebit, total_debit_amount, total_credit_amount, fee_debit_id = 0.0,  0.0,  0.0,  0.0,  0

    fees = []
    payments = []

	fees, payments, debit_fee, debit_payment = fee_group_user(group, user, user.is_subscriber_of?(group))

	total_debit_amount = debit_fee.debit_amount
	total_credit_amount = debit_payment.debit_amount

	total_owe = total_debit_amount.to_f - total_credit_amount.to_f
	payment_due = total_owe > 0.0

	total_fees += total_debit_amount
	total_payments += total_credit_amount

	total_debit_amount =  number_to_currency(total_debit_amount)
	total_credit_amount =  number_to_currency(total_credit_amount)
	total_owe = number_to_currency(total_owe)
	
	number_of_fees = 0
	fees.each {|fee| number_of_fees += 1}	
	has_charges = (number_of_fees > 0)
	
	if has_charges
		
	credit_link, credit_object = fee_credit(fees.first)
	the_label = "subscription_#{user.is_subscriber_of?(group)}"
	
-%>	
	<tr>
	  <td><%= image_link_small(user) %></td>			  
	  <td class="name_and_date">
		<%= user_link(user) %>
		<span class="date"><%= h(credit_object.name) %><br/><%= label_name(the_label) %></span>
	  </td>
	  	 
	  <td class="name_and_date">
		<% fees.each do |fee| 					
			item_link, item_object = fee_item(fee)
		%>
			<%= item_link %>					
			<span class="date">&nbsp;<%= h(fee.name) if fee.item.class.to_s != "Schedule" %></span>
		<% end -%>
	  </td>
	<td class="name_and_date">
		<%  					
			fees.each do |fee| 	
			current_debit =  number_to_currency(fee.debit_amount.to_f)
		%>
			<%= current_debit %>
			<span class="date">&nbsp;</span>
		<% end -%>
	</td>	
	<td class="name_and_date">
		<%
			payments.each do |payment| 	
			current_crebit =  number_to_currency(payment.debit_amount.to_f)
		%>
			<%= current_crebit %>
			<span class="date">&nbsp;</span>
		<% end -%>
	</td>
	
	<td>&nbsp;</td>
	<td><%= total_debit_amount %></td>			
	<td><%= total_credit_amount %></td>
	<td><%= total_owe %></td>
	
	  <td class="last">
		<span class="action">	
			<%= link_to label_name(:send_message_to), new_message_path(:id => user.id) %>
			<%= render "fees/fee_box_zurb", :fee => fees.first, :payment_due => payment_due, :user => user, :group => group %>
		</span>
      </td>	
	</tr>
<% 
	end
end

has_charges = (total_fees > 0)

total_fees =  number_to_currency(total_fees)
total_payments =  number_to_currency(total_payments)
total_fee_payments = number_to_currency(total_fees.to_f - total_payments.to_f)

if has_charges
-%>
	<tr>  
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>			
	<tr>   
		<%= set_content_tag_safe(:th, "&nbsp;", "first") %>
		<%= content_tag :th, "&nbsp;", :class => "heading" %>
		<%= content_tag :th, "&nbsp;", :class => "heading" %>
		<%= content_tag :th, "&nbsp;", :class => "heading" %>
		<%= content_tag :th, "&nbsp;", :class => "heading" %>
		<%= content_tag :th, "&nbsp;", :class => "heading" %>
		<%= content_tag :th, label_name(:debit_total), :class => "heading" %>
		<%= content_tag :th, label_name(:credit_total), :class => "heading" %>
		<%= content_tag :th, label_name(:pending), :class => "heading" %>
		<%= set_content_tag_safe(:th, "&nbsp;", "last") %>
	</tr>
	
	<tr>  
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td align="left"><%= total_fees %></td>
		<td align="left"><%= total_payments %></td>
		<td align="left"><%= total_fee_payments %></td>
	   	<td class="last">&nbsp;</td>
	</tr>
<%
end
-%>