<% 
	debit_link, debit_object = fee_debit(fee)
	credit_link, credit_object = fee_credit(fee)
	item_link, item_object = fee_item(fee)
%>

<tr>  
	<td class="first">
		<%= image_link_small debit_object %>
	</td>
	<td class="name_and_date">
		<% unless credit_link.blank? %>
		<span class="label"><%= label_name(:from) %>:</span>
		<%= credit_link %><br/>
		<% end %>
		</span>
		<span class="label"><%= label_name(:to) %>:</span>
		<%= debit_link %><br/>
		<span class="date">			
		<%= ago(fee.created_at) %>
		</span>
	</td>

	<td>
		<%= item_link %>
	</td>

	<td><%= number_to_currency(fee.debit_amount) %></td>
	<td><%#= number_to_currency(fee.debit_amount) %></td>
	
    <td class="last">
		<span class="action">
			<% if current_user.is_manager_of?(credit_object) or current_user.is_manager_of?(item_object) and !is_action('complete') %> 
            	<%= link_to label_name(:send_message_to), new_message_path(:id => fee.debit_id) %><br />
				<%  unless @debit_fee.debit_amount.to_f == (@debit_payment.debit_amount.to_f + @credit_payment.credit_amount.to_f) %>
				<%= link_to  label_name(:payment_for_bill), new_payment_path(:id => fee) %><br />
				<%= link_to label_name(:fees_edit), edit_fee_path(:id => fee) %><br />
				<%= link_to label_name(:fees_destroy), fee_path(fee), :method => :delete, :confirm => %(#{label_name(:fees_destroy) }?) %>	
				<% end %>
	        <% end %>
		</span>
    </td>
</tr>
