<div class="columns"> 

	  <div class="column left"> 	

		<div class="group">
		  <%= f.label :concept, label_name('concept'), :class => :label %>
		  <%= f.text_field :concept, :class => 'textfield', :value => control_description(:concept) %>
		</div>

		<div class="group">
			<%= f.label :debit_amount, label_name('debit_amount'), :class => :label %>
			<%= f.text_field :debit_amount, :class => 'textscore' %><br />
			<span class="description"><%= label_name('debit_amount', 'description') %></span>
		</div>

		<div class="group">
		  <%= f.label :description, label_name('description'), :class => :label %>
		  <%= f.text_area :description, :class => 'textfield' %><br />
		  <span class="description"><%= label_name('description') %></span>
		</div>

		<div class="group navform">
			<%= submit_tag @fee.new_record? ? control_label('create') : control_label('edit'), 
					:class => "button" %> <%= label_name(:or) %> <%= link_to label_name(:cancel), fees_path %>
		</div>

	</div> 

	<div class="column right"> 
			
	<% if @fee.new_record? %>
		<%= render :partial => "/messages/message_item_list", :locals => {:recipients => @recipients, :subscription => true} %>
	<% end %>
	
	</div>

</div>

<div class="clear"></div> 