<div class="group">
  <%= f.label :concept, label_name('concept'), :class => :label %>
  <%= f.text_field :concept, :class => 'text_field' %>
  <span class="description"><%= label_name('concept', 'description') %></span>
</div>

<div class="group">
  <%= f.label :description, label_name('description'), :class => :label %>
  <%= f.text_area :description, :class => 'text_area' %>
  <span class="description"><%= label_name('description') %></span>
</div>

<div class="group">
      <%= f.label :fee_from, label_name('fee_from'), :class => :label %>
  <%= select(:fee, :debit_id, 
  Type.find(:all, :conditions => ["table_type = 'Payment'"], :order => "name").collect {|p| [ (p.name), p.id ] }, 
    {:include_blank => true}) %>
	<span class="description"><%= label_name('fee_from', 'description') %></span>
</div>

<div class="group">
  <%= f.label :fee_to, label_name('fee_to'), :class => :label %>
  <%= select(:fee, :credit_id,
  Type.find(:all, :conditions => ["table_type = 'Payment'"], :order => "name").collect {|p| [ (p.name), p.id ] }, 
    {:include_blank => true}) %>
	<span class="description"><%= label_name('fee_to', 'description') %></span>
</div>

<div class="group">
	<%= f.label :payed, label_name('payed'), :class => :label %>
	<%= f.check_box :payed, :class => 'text_field' %>
	<span class="description"><%= label_name('payed', 'description') %></span>
</div>



<div class="clear"></div> 

<div class="group navform"><%= submit_tag @group.new_record? ? control_label('create') : control_label('edit'), 
	<%= submit_tag @fee.new_record? ? control_label('create') : control_label('edit'), 
			:class => "button" %> <%= label_name(:or) %> <%= link_to label_name(:cancel), fees_path %>
</div>