<div class="secondary-navigation">

<ul>
	
	<li class="<%= get_first_class %>"><%= link_to(control_label('index') , fees_path) %></li>
	<li class="<%= get_active('list') %>"><%= link_to(control_label('list') , fee_list_path) %></li>
	<li class="<%= get_active('create') %>"><%= link_to(control_label('create') , new_fee_path) %></li>

</ul>

<div class="clear"></div>

</div>