<div class="block">

<h3><%= label_name(get_the_controller, 'options') %></h3>

<ul class="navigation">
<% 
	display_actions ||= false
	if current_user.is_member_of?(group) 
		the_confirmation = "#{ label_name(:do_leave_group) } #{group.name}?"
%>
		<li><%= link_to(label_name(:send_message_to_group), new_message_path(:group_id => group.id) %> 
		<li><%= link_to(label_name(:leave_group), leave_team_path(:id => group.id, :teammate => current_user.id), 
													:confirm => the_confirmation) if display_actions %></li>
<% 
	else 
		the_label = label_with_name('add_to_group', group.name)
		the_confirmation = "#{ label_name(:petition_to_join_group) } #{@user.name} #{ label_name(:to) } #{group.name}?"
%> 
		<li><%= link_to(the_label, join_team_path(:id => group.id, :teammate => current_user.id), :confirm => the_confirmation) %></li>
<% 
	end 

	if current_user.is_manager_of?(group)
		the_label = label_with_name('create_schedule', group.name)
		the_confirmation = "#{ label_name(:destroy_group) } #{ label_name(:to) } #{group.name}?" 
%> 
		<li><%= link_to(control_label('new'), new_schedule_path(:id => group.id) %></li>                       
		<li><%= link_to(control_label('edit'), edit_group_path(group)) if current_user.is_manager_of?(group) %></li>  
		<li><%= link_to(control_label('destroy'), destroy_group_path(group), 
												:confirm => the_confirmation) if group.has_schedule?(group) and display_actions %></li>
<% 
	end 
%>
</ul>

</div>

<%= render :partial => '/f/sidebar_show_team' if @user == current_user or current_user.has_role?('manager') %>