<%
	the_label = label_name(:fees)
	content_for(:title, the_label)
	
	the_controller_action = ['fee_due']
	only_payment_due = the_controller_action.include?(get_controller_action)
	has_items = (object_counter(@users) > 0)
%>


<% if has_items %>

<%= render('shared/index_total_header_zurb', :items => @escuadras) %>

<div class="row">
	<div class="twelve columns"> 

		<table>
			<thead>
				<tr>             
					<%= set_content_tag_safe(:th, "&nbsp;") %>
					<%= set_content_tag_safe(:th, "#{label_name(:name)}<br/>#{label_name(:group)}") %>
					<%= set_content_tag_safe(:th, label_name(:concept)) %>
					<%= set_content_tag_safe(:th, label_name(:debits)) %>
					<%= set_content_tag_safe(:th, label_name(:credits)) %>
					<%= set_content_tag_safe(:th, "&nbsp;") %>
					<%= set_content_tag_safe(:th, label_name(:debit_total)) %>
					<%= set_content_tag_safe(:th, label_name(:credit_total)) %>
					<%= set_content_tag_safe(:th, label_name(:pending)) %>
				</tr>
			</thead>

			<tbody>

				<% @the_groups.each do |group| %>
				<%= render 'fees/fee_list_zurb', :users => @users, :group => group %>
				<% end %>

			</tbody>
		</table>

	</div>
</div>

<% end %>


<%= render 'shared/no_items_to_display' unless has_items %>