<% 
@group = Group.find(@fee.credit_id) 

# get subscription and non subscription users
@non_subscriptions = []
@subscriptions = []
@group.the_subscriptions.each do |subs|
  @subscriptions << subs.user_id 
end 

# users who do not have subscriptions
@group.users.each do |user|
  @non_subscriptions << user.id unless @subscriptions.include?(user.id)
end

@user_subscription = User.find(:all, :conditions => ["id in (?)", @subscriptions], :order => 'name')
@user_non_subscription = User.find(:all, :conditions => ["id in (?)", @non_subscriptions], :order => 'name')

%>

<div class="block">

  <%= render :partial => '/groups/secondary_navigation' %>

	<div class="content">  

		<h2 class="title"><%= "#{control_action_label} #{label_name('for')} " %><%= group_link @group %></h2>

		<div class="inner">

			<% form_for :fee, :url => fees_path, :html => { :class => :form } do |f| -%>
			<%= f.hidden_field :credit_id %>
			<%= f.hidden_field :credit_type %>
			<%= render :partial => "form", :locals => {:f => f} %>
			<% end -%>

		</div>

	</div>

</div>