<% 
	@group = Group.find(@fee.credit_id) 
%>

<div class="block">

  <%= get_secondary_navigation(@group) %>

	<div class="content">  

		<h2 class="title"><%= "#{control_action_label} #{label_name('for')} " %><%= item_name_link(@group)
 %></h2>

		<div class="inner">

			<% form_for :fee, :url => fees_path, :html => { :class => :form } do |f| -%>
			<%= f.hidden_field :credit_id %>
			<%= f.hidden_field :credit_type %>
			<%= render :partial => "form", :locals => {:f => f} %>
			<% end -%>

		</div>

	</div>

</div>