<div class="block">
  <div class="secondary-navigation">
    <ul>
      <li class="first"><%= link_to 'List', fees_path  %></li>
      <li><%= link_to 'New', new_fee_path %></li>
      <li class="active"><%= link_to 'Show', fee_path %></li>
    </ul>
    <div class="clear"></div>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b>Concept:</b>
          <%= @fee.concept %>
        </p>

        <p>
          <b>Description:</b>
          <%= @fee.description %>
        </p>

        <p>
          <b>Actual_fee:</b>
          <%= @fee.actual_fee %>
        </p>

        <p>
          <b>Payed:</b>
          <%= @fee.payed %>
        </p>

        <p>
          <b>Table_type:</b>
          <%= @fee.table_type %>
        </p>

        <p>
          <b>Table_id:</b>
          <%= @fee.table_id %>
        </p>

        <p>
          <b>Schedule_id:</b>
          <%= @fee.schedule_id %>
        </p>

        <p>
          <b>Group_id:</b>
          <%= @fee.group_id %>
        </p>

        <p>
          <b>User_id:</b>
          <%= @fee.user_id %>
        </p>

        <p>
          <b>Match_id:</b>
          <%= @fee.match_id %>
        </p>

        <p>
          <b>Archive:</b>
          <%= @fee.archive %>
        </p>

        <p>
          <b>Deleted_at:</b>
          <%= @fee.deleted_at %>
        </p>
      <%= link_to 'Edit', edit_fee_path(@fee) %>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>