<div id="header">
	
	<div id="logo"><p><%= image_tag('basegif.gif', options={:style => "height: 50px; width: 135px;"}) %></p></div>
	
	<% unless logged_in? %>	
	<div id="NavOne">
		<ul>
		    <li><%= link_to_unless_current t(:home), home_url %></li>
		    <li><%= link_to_unless_current t(:groups), groups_url %></li>
		    <li><%= link_to_unless_current t(:schedules), schedules_url %></li>
		    <li><%= link_to_unless_current t(:help), help_url %></li>
		    <li><%= link_to_unless_current t(:log_in), sessions_url %></li>
		</ul>
	</div>
	<% else %>
		<%= render :partial => '/layouts/vcard/vcard_profile' %>
	<% end %>

</div> <!-- end header -->