<% user_has_group = (current_user.groups.count > 0) %>

<div id="mainNav">
 	<ul>
	<%= content_tag('li', link_to(t(:home), '/')) %>
	<%= content_tag('li', link_to(t(:users), users_url)) %>	
	<%= content_tag('li', link_to(t(:groups), groups_url)) %>	
	<%= content_tag('li', link_to(t(:schedules), schedules_url)) if user_has_group %>
	<%= content_tag('li', link_to(t(:messages), messages_url)) %>
	<%= content_tag('li', link_to(t(:scorecards), scorecards_url)) if user_has_group %>
	<%= content_tag('li', link_to(t(:markers), markers_url)) %>
	</ul>
</div>  <!-- end mainNav -->