<% 
is_signup = is_action('signup')
is_not_user_signup = get_controller_action != 'user_signup'
%>

<div class="rpx">

	<fieldset class="left">
		<div class="group">		
			<div class="left"> 		  
				<label><%= field_label_name(:email) %></label>					
			</div>		  
			<div class="right"> 		  
				&nbsp;&nbsp;<%= f.text_field :email, :class => 'username text' %>	
			</div> 		  
		</div>
		<div class="group">		
			<div class="left"> 		  
				<label><%= field_label_name(:password) %></label>	
			</div>		  
			<div class="right"> 		  
				&nbsp;&nbsp;<%= f.text_field :password, :class => 'username text' %>	
			</div> 		  
		</div>
		
		<% if is_signup %>
		
			<div class="group">		
				<div class="left"> 	
					<label><%= field_label_name(:password_confirmation) %></label>			
				</div>		  
				<div class="right"> 		  
					&nbsp;&nbsp;<%= f.text_field :password_confirmation, :class => 'username text' %>	
				</div> 		  
			</div>


		<% elsif controller.action_name == 'rpx_new' or is_action('create') %>
		<% else %>

		<!-- <div class="group">	
			<div class="left">&nbsp;</div>	
			<div class="right"> 		  
				<%#= f.check_box :remember_me %>&nbsp;&nbsp;<%#= f.label(label_name(:remember_me), field_label_name(:remember_me), :class => :label) %>		
			</div>	  
		</div> -->

		<div class="group">
			<div class="left">&nbsp;</div>
			<div class="right">
				<%= link_to(label_name(:password_forgotten), :controller => 'password_resets', :action => 'new') if is_not_user_signup %>
			</div>
		</div>

		<% end %>
				

		<div class="group navform"> 
			<%= submit_tag the_label, :class => "button" %>	 
		</div>
	</fieldset>	
	
</div> 