<div class="group">		
	<label><%= field_label_name(:email) %></label><%= f.text_field :email, :class => 'username text' %>	
	<br/>
	<br/>

	<label><%= field_label_name(:password) %></label><%= f.password_field :password, :class => 'username text' %>
	<br/>
	<br/>
	<br/>

	<label>&nbsp;</label><%= link_to(label_name(:password_forgotten), :controller => 'password_resets', :action => 'new') %>
	<br/>
	<br/>

	<div class="group navform" align="">
		<%= submit_tag the_label, :class => "button" %>	 
	</div>		
</div>