<%
	the_label = is_action('index') ? label_name(:group_stage) : label_name(:group_round)
	content_for(:title, the_label)
	is_manager = current_user.is_manager_of?(@cup)	

	new_or_existing = 'existing' 
	prefix = "cast[cast_attributes][]" 
%>


<div class="block">

  <%= get_secondary_navigation(@challenge) %>

  <div class="content">   
  
    <h2 class="title"><%= the_label %></h2>
	
    <div class="inner">
	
      <%= get_class_table_id_controller %>
	  
        <tr> 
			<%= content_tag :th, label_name(:jornada), :class => "first" %>
			<%= content_tag :th, "#{label_name(:name)}<br />#{label_name(:gameday_at)}", :class => "heading" %>
			<%= content_tag :th, "", :class => "heading" %>
			<%= content_tag :th, "", :class => "heading" %>
			<%= content_tag :th, "", :class => "heading" %>
			<%= content_tag :th, label_name(:matches), :class => "heading" %>
			<%= content_tag :th, "", :class => "heading" %>
			<%= content_tag :th, "", :class => "heading" %>
			<%= content_tag :th, "", :class => "heading" %>	
			<%= set_content_tag_safe(:th, "&nbsp;", "last") %>
		</tr>
        
		<%= form_for (@cast), :url => cast_path(@cast), :html => { :class => :form } do |f| -%>

		
        <% @casts.each do |cast| 
			the_label = label_name(:casts_destroy)
			the_confirmation = "#{ the_label }?"
			@the_cast = cast
			no_team = (cast.home_id.nil? or cast.away_id.nil?)  
			can_edit = (current_user == cast.user and cast.starts_at >= HOURS_BEFORE_GAME and !cast.game.played?)	
			
			no_team = (cast.home_id.nil? or cast.away_id.nil?) 
			no_ranking = (cast.home_ranking.nil? or cast.away_ranking.nil? or 
						  cast.home_stage_name.nil? or cast.away_stage_name.nil? and cast.type_name == 'FirstGame') 
						
			the_finals = (cast.type_name == 'SubsequentGame' or cast.type_name == 'FinalGame')
			
			the_previous = []
			if the_finals
				previous_games = Game.find(:all, :conditions => ["next_game_id = ?", cast.game_id])
				previous_games.each {|the_game| the_previous << the_game.jornada}
			end
		-%>
		
			<% fields_for prefix, cast do |cast_form| -%>
		
        	<tr>	
	          <td class="first">
				<%= cast.jornada %>
	          </td>

			<td class="name_and_date">
				<%= cast.concept %>
				<span class="date">
					<%= nice_day_of_week(cast.starts_at) %><br/>
				</span>
				<span class="date">
				<%= nice_day_of_week(HOURS_BEFORE_GAME) if can_edit %><br/>
				</span>
				<span class="date">
					<%= has_left(cast.starts_at) if can_edit %>
				</span>
			</td>

	          <td>            
	            <%= escuadra_image_link_smaller cast.home unless no_team %>
	          </td>

			  <td class="name_and_date">
			  	<%= escuadra_link cast.home unless no_team %>
			  <span class="date">
			  	<%= "#{cast.home_ranking} #{cast.home_stage_name}<br/>" unless no_ranking %>
				<%= "W#{the_previous[0]}" if (the_previous.length > 0) %>
			  </span>
			  </td>

			  <td>
				<% if can_edit %>
				<%= cast_form.text_field :home_score, :class => 'text_tiny_score', :align => "center" %>
				<% else %>
				<%= cast.home_score %>
				<% end -%>
			  </td>
			
			  <td al>&nbsp;vs.&nbsp;</td>

			  <td>
				<% if can_edit %>
				<%= cast_form.text_field :away_score, :class => 'text_tiny_score', :align => "center" %>
				<% else %>
				<%= cast.away_score %>
				<% end -%>
			  </td>

			  <td class="name_and_date">
			  	<%= escuadra_link cast.away unless no_team %>
			  <span class="date">
			  	<%= "#{cast.away_ranking} #{cast.away_stage_name}<br/>" unless no_ranking %>
				<%= "W#{the_previous[1]}" if (the_previous.length > 0) %>
			  </span>
			  </td>

			  <td>
	            <%= escuadra_image_link_smaller cast.away unless no_team %>
			  </td>
			
		      <td class="last">&nbsp;</td>

	        </tr>          
        
			<% end -%>

		<% end -%>
		
		<%= get_class_table_id_controller %>

	        <tr>

			<%= submit_tag @challenge.new_record? ? control_label('create') : control_label('edit'), 
					:class => "button" %> <%= label_name(:or) %> <%= link_to label_name(:cancel), challenges_path %>
		
		</tr>
		</table>
		
		<% end -%>
		
      </table>

	
		</div>
		</div>
	</div>

<% content_for :sidebar, render(:partial => 'challenges/sidebar_show') -%>