<%
	the_label = label_name(:casts)
	content_for(:title, the_label)
	has_items = (object_counter(@casts) > 0)
	
	content_for(:title, the_label)
	is_manager = is_current_manager_of(@cup)
	is_right_guess = is_action('list gues')
%>

<div class="row">
	 
	<div class="twelve column">  
			<% if has_items %>
				
				<%= render('shared/index_total_header_zurb', :items => @casts) %>

				<div class="row">
					<div class="twelve columns"> 

						<table>
						  	<thead>
							<tr>
								<%= set_content_tag_safe(:th, label_name(:casts_group_matches)) %>
								<%= set_content_tag_safe(:th, label_name(:user)) %>
								<%= set_content_tag_safe(:th, "&nbsp;") %>
								<%= set_content_tag_safe(:th, "&nbsp;") %>
								<%= set_content_tag_safe(:th, "&nbsp;") %>
								<%= set_content_tag_safe(:th, "&nbsp;") %>
								<%= set_content_tag_safe(:th, "&nbsp;") %>
								<%= set_content_tag_safe(:th, label_name(:points)) %>								
							</tr>
							</thead>

						<tbody>

							<% @casts.each do |cast| -%>	
								<%= render 'casts/cast_full_zurb', :cast => cast, :display_icons => true %> 
						  	<% end -%>

						</tbody>
						</table>

					</div>
				</div>
				
			<% end %>
	</div>	
</div>

<%= render 'shared/no_items_to_display' unless has_items %>

