<!DOCTYPE html>	

<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="es"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="es"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="es"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="es"> <!--<![endif]-->

<head>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="Generator" content="HayPista" />
	<meta name="Origen" content="HayPista" />
	<meta name="Author" content="HayPista" />
	<meta name="Locality" content="Spain" />	
	<meta name="Language" content="es" />
	<meta name="title" content="<%= page_title %>.  <%= I18n.t(:modo_key_title) %>" />
	<meta name="description" content="<%= I18n.t(:modo) %>">		
	<meta name="keywords" content="<%= I18n.t(:modo_keywords) %>"/> 

	<meta name="vw96.objectype" content="Document" />
	<meta name="resource-type" content="Document" />
	<meta name="distribution" content="all" />
	<meta name="robots" content="all" />
	<meta name="revisit-after" content="7 days" />
	<meta name="google-site-verification" content="qyTyrJH8o08Ur15mr5hUYjVNyWcbfQatF3yar3Ry2ws" />
	<meta name="google-site-verification" content="OJzCfMpdsascUFtDoxXJpZGEIsjXjKG1691P1FC5pIc" />

	<title><%= page_title %></title>

	<link rel="image_src" href="http://haypista.com/images/haypista.png" />
	<link  rel="apple-touch-icon" href="../../apple-touch-icon.png" />
	<link rel="home" href="http://www.haypista.com">
	<%= favicon_link_tag %>
  

	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>

	<%#= stylesheet_link_tag "foundation" %>
	<%= javascript_include_tag "foundation" %>
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
	<script src="https://browserid.org/include.js" type="text/javascript"></script>
	
		
	<!-- Included CSS Files -->
	<%= stylesheet_link_tag 'zurb/grid' %>
	<%= stylesheet_link_tag 'zurb/forms' %>
	<%= stylesheet_link_tag 'zurb/presentation' %>
	<%= stylesheet_link_tag 'zurb/app' %>
	<%= stylesheet_link_tag 'standard_form' %>
	<%= stylesheet_link_tag 'mobile' if is_mobile_browser %>

	<!--[if lt IE 9]>
		<link rel="stylesheet" href="../../stylesheets/zurb/ie.css">
	<![endif]-->
	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>

<body id="-page" class="">

	<%= render 'shared/header_zurb' %>

	<div class="container">
		
		<%= render 'shared/flash_zurb' %>
		<%= render 'shared/wrapper_zurb' %>	
		<%= render 'shared/footer_zurb' %>
		
	</div>

	<%= render :partial => 'utilities/google_analytics' %>
	
</body>

</html>
