<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" id="loading" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8">
    <meta name="Author" content="HayPista">
    <meta http-equiv="Content-Language" content="es">
    <meta name="ROBOTS" content="ALL">
    <meta name="keywords" content="pista, partido, futbol, soccer, football, deportes, padel, tennis, golf, gameday">
    <meta name="description" content="HayPista te quiere ayudar a organizar tu equipo o encontrar donde jugar...">
    <meta name="DC.title" content="HayPista">
    <link rel="home" href="http://www.haypista.com">
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico">
    
    <title><%= app_name %><%= " | #{current_user.name}" if current_user %></title>

	<%= stylesheet_link_tag 'application' %>
	<%= stylesheet_link_tag 'web_app_theme', 'themes/djime-cerulean/style' %>
	<%#= stylesheet_link_tag 'web_app_theme', 'themes/bec-green/style' %>
</head>
<body>
  <div id="container">
	
	<% login_action = ['signup', 'create', 'new', 'rpx_create', 'rpx_new'] %>
	<% login_controller =['user_sessions', 'users', ''] %>	
	<% login_session = (login_controller.include?(controller.controller_name) and login_action.include?(controller.action_name)) %>
  
	<%= render :partial => "shared/header" %>	
	<%= render :partial => "shared/wrapper" unless login_session %>	
	<%= render :partial => "shared/box" if login_session %>	
	
  </div>
  
  <%= render :partial => 'utilities/uservoice' %>
  <%= render :partial => 'utilities/browser_detect' %>
</body>
</html>
