<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" id="loading" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
	
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"?> 
	<meta http-equiv="Content-Language" content="es"/>
	
	<title><%= page_title %></title>
	
	<meta name="Author" content="HayPista"/> 
	<!-- <meta name="title" content="HayPista" /> -->
	
	<meta name="title" content="<%= page_title %>" />
	<meta name="keywords" content="hay, pistas, polideportivo, deportivo, convocado, futbol, deportes, deportivas, fútbol sala, fútbol, padel, golf, jornada, tenis, tennis "/> 
	<meta name="description" content="HayPista te quiere ayudar a organizar tu equipo o encontrar donde jugar..." />
	<meta name="description" content="<%= page_description %>" />
	<meta name="vw96.objectype" content="Document" />
	<meta name="resource-type" content="Document" />
	<meta name="distribution" content="all" />
	<meta name="robots" content="all" />
	<meta name="revisit" content="15 days" />
	
	<link rel="image_src" href="thumbnail_image" / >
	
	
	
	<link rel="image_src" href="../images/facebook.png" />
	
	<link rel="home" href="http://www.haypista.com">
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico">
    
	<%= stylesheet_link_tag 'reset', 'web_app_theme', 'haypista' %>
	<%= stylesheet_link_tag 'application' %>
	<%= stylesheet_link_tag get_the_action if is_action('show') %>
	
	<%= javascript_include_tag :defaults %>
	<%= ajaxful_rating_style %>
	
</head>
<body>
	<script type="text/javascript">
	<!--
	    function toggle_visibility(id) {
	       var e = document.getElementById(id);
	       if(e.style.display == 'block')
	          e.style.display = 'none';
	       else
	          e.style.display = 'block';
	    }
	//-->
	</script>
	
  <div id="container">
	
	<% about = ['about u', 'terms of use', 'privacy policy', 'faq']%>
	<% login_action = ['signup', 'create', 'new', 'rpx_create', 'rpx_new'] %>
	<% login_controller =['user_sessions', 'users', ''] %>	
	<% login_session = (login_controller.include?(controller.controller_name) and login_action.include?(controller.action_name)) %>
	<% logout =  !current_user and is_controller('home') and is_action('index') %>
  
	<%= render :partial => "shared/header" %>
	
	<% if login_session %>
		<%= render :partial => "shared/box" %>
	<% elsif about.include?(get_the_action) %>
		<%= render :partial => "shared/about" %>
	<% elsif logout %>
		<%= render :partial => "shared/about" %>
	<% else %>
		<%= render :partial => "shared/wrapper" %>	
	<% end %>
	
  	<%#= javascript_include_tag "ie_no_more.js" %>
	<%#= smack_down_ie6 %>
	
  </div>

  <%= render :partial => 'utilities/uservoice' %> 
  <%= render :partial => 'utilities/secure_site' unless current_user %>

  <%#= render :partial => 'utilities/browser_detect' if development? %>
	
</body>
</html>
