<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="<%= I18n.locale %>" id="loading" xml:lang="<%= I18n.locale %>" xmlns="http://www.w3.org/1999/xhtml">
  <head>
	
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"?> 
	<meta http-equiv="Content-Language" content="<%= I18n.locale %>"/>
	
	<title><%= page_title %></title>
		
	<meta name="Author" content="HayPista"/> 	
	<meta name="title" content="<%= page_title %>.  <%= I18n.t(:modo_key_title) %>" />
	<meta name="description" content="<%= I18n.t(:modo) %>">		
	<meta name="keywords" content="<%= I18n.t(:modo_keywords) %>"/> 
	
	<meta name="vw96.objectype" content="Document" />
	<meta name="resource-type" content="Document" />
	<meta name="distribution" content="all" />
	<meta name="robots" content="all" />
	<meta name="revisit" content="15 days" />
	<meta name="google-site-verification" content="qyTyrJH8o08Ur15mr5hUYjVNyWcbfQatF3yar3Ry2ws" />
	<meta name="google-site-verification" content="OJzCfMpdsascUFtDoxXJpZGEIsjXjKG1691P1FC5pIc" />
		
	<link rel="image_src" href="http://haypista.com/images/haypista.png" />
	<link  rel="apple-touch-icon" href="/apple-touch-icon.png" />
	<link rel="home" href="http://www.haypista.com">
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico">
		
	<%= javascript_include_tag :defaults %>	
	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
	<%= ajaxful_rating_style %>
	<%= ajaxful_rating_script %>
	
	<%= javascript_include_tag 'jquery.google-analytics', 'jquery.notifyBar', 'jquery.cluetip', 'jquery.hoverIntent' %>
	<%= javascript_include_tag 'jquery.clearinput' %>
	<%= javascript_include_tag 'application' %>	
	<%= javascript_include_tag "ie_no_more.js" %>
	
	<%= stylesheet_link_tag 'primary' %>
	
	<%= render :partial => 'utilities/google_analytics' %>	
</head>
<body>	
	<% show_ajax_rating = ['home_upcoming', 'schedule_index', 'schedule_my_list', 'schedule_list'] %>

	<%= render :partial => 'utilities/visible_script' %>		
	<%= render :partial => 'shared/flash', :locals => {:flash => flash } %>

	<div id="container">

		<%= smack_down_ie6 %>

		<% hide_if_ie6 do %>
		<%= render :partial => "utilities/ie_better_image" %>

		<%= render :partial => 'shared/header_navigation' %>

		<%= render :partial => "shared/notice" if current_user %>

		<%= render :partial => "shared/wrapper" %>	
		<%= render :partial => "shared/footer" %>
		<% end %>

		<% show_if_ie6 do %>
		<%= render :partial => "utilities/ie_nomore" %>
		<% end %>

	</div>

	<%= render :partial => 'shared/share_google' if DISPLAY_GOOGLE_PLUS %>
	<%= render :partial => 'utilities/browser_detect' if development? %>
	
</body>
</html>
